{
  "swagger": "2.0",
  "security": [
    {
      "basicAuthentication": []
    }
  ],
  "securityDefinitions": {
    "basicAuthentication": {
      "type": "basic"
    }
  },
  "x-sap-shortText": "API to access the data for apprentice management",
  "x-servers": [{
    "url": "https://{api-server}/odata/v2",
    "description": "OData APIs for the SuccessFactors Data Centers",
    "templates": {
      "api-server": {
        "description": "SuccessFactors Data Center host",
        "default": "apisalesdemo8.successfactors.com"
      }
    }
  }],
  "info": {
    "title": "Apprentice Management",
    "version": "1.0",
    "description": "API to access apprentice management related data. \n\n You can find your company's API server in [List of API Servers in SAP SuccessFactors.](https://help.sap.com/viewer/d599f15995d348a1b45ba5603e2aba9b/LATEST/en-US/af2b8d5437494b12be88fe374eba75b6.html)"
  },
  "externalDocs": {
    "description": "Apprentice Management on SAP Help Portal",
    "url": "https://help.sap.com/docs/SAP_SUCCESSFACTORS_PLATFORM/d599f15995d348a1b45ba5603e2aba9b/341d883c7b8b4709a569e9cc0d22d25a.html"
  },
  "schemes": [
    "https"
  ],
  "host": "sandbox.api.sap.com",
  "basePath": "/successfactors/odata/v2",
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "tags": [
    {
      "name": "Apprentice Event Type"
    },
    {
      "name": "Department Apprentice Detail"
    },
    {
      "name": "Apprentice School"
    },
    {
      "name": "Apprentice Group"
    },
    {
      "name": "Apprentice School Event"
    },
    {
      "name": "Apprentice Practical Training Event"
    },
    {
      "name": "Apprentice Internal Training Event"
    },
    {
      "name": "Apprentice"
    }
  ],
  "definitions": {
    "odata.error": {
      "type": "object",
      "required": [
        "error"
      ],
      "properties": {
        "error": {
          "$ref": "#/definitions/odata.error.main"
        }
      }
    },
    "odata.error.main": {
      "type": "object",
      "required": [
        "code",
        "message"
      ],
      "properties": {
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "target": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/odata.error.detail"
          }
        },
        "innererror": {
          "type": "object",
          "description": "The structure of this object is service-specific"
        }
      }
    },
    "odata.error.detail": {
      "type": "object",
      "required": [
        "code",
        "message"
      ],
      "properties": {
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "target": {
          "type": "string"
        }
      }
    },
    "SFOData.ApprenticeEventType": {
      "type": "object",
      "properties": {
        "apprenticeEventTypeCategory": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        },
        "createdBy": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 100
        },
        "createdDateTime": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "eventTypeDescription_de_DE": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        },
        "eventTypeDescription_defaultValue": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        },
        "eventTypeDescription_en_DEBUG": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        },
        "eventTypeDescription_en_GB": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        },
        "eventTypeDescription_en_US": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        },
        "eventTypeDescription_es_ES": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        },
        "eventTypeDescription_fr_FR": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        },
        "eventTypeDescription_ja_JP": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        },
        "eventTypeDescription_ko_KR": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        },
        "eventTypeDescription_localized": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        },
        "eventTypeDescription_nl_NL": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        },
        "eventTypeDescription_pt_BR": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        },
        "eventTypeDescription_pt_PT": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        },
        "eventTypeDescription_ru_RU": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        },
        "eventTypeDescription_zh_CN": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        },
        "eventTypeDescription_zh_TW": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        },
        "externalCode": {
          "type": "string",
          "maxLength": 128
        },
        "lastModifiedBy": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 100
        },
        "lastModifiedDateTime": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "mdfSystemRecordStatus": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        }
      },
      "title": "ApprenticeEventType"
    },
    "SFOData.DepartmentApprenticeDetail": {
      "type": "object",
      "properties": {
        "Department_effectiveStartDate": {
          "type": "string",
          "example": "/Date(1492098664000)/"
        },
        "Department_externalCode": {
          "type": "string",
          "maxLength": 32
        },
        "apprenticeDepartmentLocation": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        },
        "createdBy": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 100
        },
        "createdDateTime": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "decentralTrainerUserId": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 100
        },
        "externalCode": {
          "type": "string",
          "format": "int64"
        },
        "lastModifiedBy": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 100
        },
        "lastModifiedDateTime": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "maxNumberOfApprentices": {
          "type": [
            "string",
            "null"
          ],
          "format": "int64"
        },
        "mdfSystemRecordStatus": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        },
        "noteField": {
          "type": [
            "string",
            "null"
          ]
        }
      },
      "title": "DepartmentApprenticeDetail"
    },
    "SFOData.ApprenticeSchool": {
      "type": "object",
      "properties": {
        "createdBy": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 100
        },
        "createdDateTime": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "externalCode": {
          "type": "string",
          "maxLength": 128
        },
        "lastModifiedBy": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 100
        },
        "lastModifiedDateTime": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "mdfSystemRecordStatus": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        },
        "schoolContactPerson": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        },
        "schoolDescription": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 128
        },
        "schoolLocation": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        }
      },
      "title": "ApprenticeSchool"
    },
    "SFOData.ApprenticeGroup": {
      "type": "object",
      "properties": {
        "createdBy": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 100
        },
        "createdDateTime": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "externalCode": {
          "type": "string",
          "maxLength": 128
        },
        "groupDescription": {
          "type": [
            "string",
            "null"
          ]
        },
        "groupName": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 128
        },
        "lastModifiedBy": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 100
        },
        "lastModifiedDateTime": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "mdfSystemRecordStatus": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        }
      },
      "title": "ApprenticeGroup"
    },
    "SFOData.ApprenticeSchoolEvent": {
      "type": "object",
      "properties": {
        "createdBy": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 100
        },
        "createdDate": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "createdDateTime": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "endDateAndTime": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "eventName": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 128
        },
        "eventType": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 128
        },
        "externalCode": {
          "type": "string",
          "maxLength": 128
        },
        "isAllDayEvent": {
          "type": [
            "boolean",
            "null"
          ]
        },
        "lastModifiedBy": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 100
        },
        "lastModifiedDate": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "lastModifiedDateTime": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "lastModifiedDateWithTZ": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "mdfSystemEffectiveEndDate": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "mdfSystemEffectiveStartDate": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "mdfSystemEntityId": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        },
        "mdfSystemObjectType": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        },
        "mdfSystemRecordId": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        },
        "mdfSystemRecordStatus": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        },
        "mdfSystemStatus": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        },
        "mdfSystemTransactionSequence": {
          "type": [
            "string",
            "null"
          ],
          "format": "int64"
        },
        "mdfSystemVersionId": {
          "type": [
            "string",
            "null"
          ],
          "format": "int64"
        },
        "note": {
          "type": [
            "string",
            "null"
          ]
        },
        "school": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 128
        },
        "shareStatus": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        },
        "startDateAndTime": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "assignedApprentices": {
          "title": "Related Collection(SFOData.Apprentice)",
          "type": "object",
          "properties": {
            "results": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SFOData.Apprentice"
              }
            }
          }
        },
        "eventTypeNav": {
          "$ref": "#/definitions/SFOData.ApprenticeEventType"
        },
        "schoolNav": {
          "$ref": "#/definitions/SFOData.ApprenticeSchool"
        }
      },
      "title": "ApprenticeSchoolEvent"
    },
    "SFOData.ApprenticePracticalTrainingEvent": {
      "type": "object",
      "properties": {
        "createdBy": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 100
        },
        "createdDate": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "createdDateTime": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "department": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 128
        },
        "endDateAndTime": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "eventName": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 128
        },
        "eventType": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 128
        },
        "externalCode": {
          "type": "string",
          "maxLength": 128
        },
        "isAllDayEvent": {
          "type": [
            "boolean",
            "null"
          ]
        },
        "lastModifiedBy": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 100
        },
        "lastModifiedDate": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "lastModifiedDateTime": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "lastModifiedDateWithTZ": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "mdfSystemEffectiveEndDate": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "mdfSystemEffectiveStartDate": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "mdfSystemEntityId": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        },
        "mdfSystemObjectType": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        },
        "mdfSystemRecordId": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        },
        "mdfSystemRecordStatus": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        },
        "mdfSystemStatus": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        },
        "mdfSystemTransactionSequence": {
          "type": [
            "string",
            "null"
          ],
          "format": "int64"
        },
        "mdfSystemVersionId": {
          "type": [
            "string",
            "null"
          ],
          "format": "int64"
        },
        "note": {
          "type": [
            "string",
            "null"
          ]
        },
        "shareStatus": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        },
        "startDateAndTime": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "assignedApprentices": {
          "title": "Related Collection(SFOData.Apprentice)",
          "type": "object",
          "properties": {
            "results": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SFOData.Apprentice"
              }
            }
          }
        },
        "eventTypeNav": {
          "$ref": "#/definitions/SFOData.ApprenticeEventType"
        }
      },
      "title": "ApprenticePracticalTrainingEvent"
    },
    "SFOData.ApprenticeInternalTrainingEvent": {
      "type": "object",
      "properties": {
        "createdBy": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 100
        },
        "createdDate": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "createdDateTime": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "endDateAndTime": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "eventName": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 128
        },
        "eventType": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 128
        },
        "externalCode": {
          "type": "string",
          "maxLength": 128
        },
        "isAllDayEvent": {
          "type": [
            "boolean",
            "null"
          ]
        },
        "lastModifiedBy": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 100
        },
        "lastModifiedDate": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "lastModifiedDateTime": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "lastModifiedDateWithTZ": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "learningItem": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        },
        "location": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        },
        "mdfSystemEffectiveEndDate": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "mdfSystemEffectiveStartDate": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "mdfSystemEntityId": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        },
        "mdfSystemObjectType": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        },
        "mdfSystemRecordId": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        },
        "mdfSystemRecordStatus": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        },
        "mdfSystemStatus": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        },
        "mdfSystemTransactionSequence": {
          "type": [
            "string",
            "null"
          ],
          "format": "int64"
        },
        "mdfSystemVersionId": {
          "type": [
            "string",
            "null"
          ],
          "format": "int64"
        },
        "note": {
          "type": [
            "string",
            "null"
          ]
        },
        "shareStatus": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        },
        "startDateAndTime": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "assignedApprentices": {
          "title": "Related Collection(SFOData.Apprentice)",
          "type": "object",
          "properties": {
            "results": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SFOData.Apprentice"
              }
            }
          }
        },
        "eventTypeNav": {
          "$ref": "#/definitions/SFOData.ApprenticeEventType"
        }
      },
      "title": "ApprenticeInternalTrainingEvent"
    },
    "SFOData.Apprentice": {
      "type": "object",
      "properties": {
        "activeStatus": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        },
        "assignedAddSupervisor": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 100
        },
        "assignedGroup": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 128
        },
        "assignedSchool": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 128
        },
        "createdBy": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 100
        },
        "createdDateTime": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "endDate": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "endDateDataForReference": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "lastModifiedBy": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 100
        },
        "lastModifiedDateTime": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "mdfSystemRecordStatus": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 255
        },
        "name": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 128
        },
        "note": {
          "type": [
            "string",
            "null"
          ]
        },
        "startDate": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "startDateForReference": {
          "type": [
            "string",
            "null"
          ],
          "example": "/Date(1492098664000)/"
        },
        "user": {
          "type": "string",
          "maxLength": 100
        },
        "year": {
          "type": [
            "string",
            "null"
          ],
          "maxLength": 4
        },
        "assignedGroupNav": {
          "$ref": "#/definitions/SFOData.ApprenticeGroup"
        },
        "assignedSchoolNav": {
          "$ref": "#/definitions/SFOData.ApprenticeSchool"
        }
      },
      "title": "Apprentice"
    }
  },
  "paths": {
    "/ApprenticeEventType": {
      "get": {
        "summary": "Get entities from ApprenticeEventType",
        "tags": [
          "Apprentice Event Type"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/top"
          },
          {
            "$ref": "#/parameters/skip"
          },
          {
            "$ref": "#/parameters/search"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/count"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string",
              "enum": [
                "apprenticeEventTypeCategory",
                "apprenticeEventTypeCategory desc",
                "createdBy",
                "createdBy desc",
                "createdDateTime",
                "createdDateTime desc",
                "eventTypeDescription_de_DE",
                "eventTypeDescription_de_DE desc",
                "eventTypeDescription_defaultValue",
                "eventTypeDescription_defaultValue desc",
                "eventTypeDescription_en_DEBUG",
                "eventTypeDescription_en_DEBUG desc",
                "eventTypeDescription_en_GB",
                "eventTypeDescription_en_GB desc",
                "eventTypeDescription_en_US",
                "eventTypeDescription_en_US desc",
                "eventTypeDescription_es_ES",
                "eventTypeDescription_es_ES desc",
                "eventTypeDescription_fr_FR",
                "eventTypeDescription_fr_FR desc",
                "eventTypeDescription_ja_JP",
                "eventTypeDescription_ja_JP desc",
                "eventTypeDescription_ko_KR",
                "eventTypeDescription_ko_KR desc",
                "eventTypeDescription_localized",
                "eventTypeDescription_localized desc",
                "eventTypeDescription_nl_NL",
                "eventTypeDescription_nl_NL desc",
                "eventTypeDescription_pt_BR",
                "eventTypeDescription_pt_BR desc",
                "eventTypeDescription_pt_PT",
                "eventTypeDescription_pt_PT desc",
                "eventTypeDescription_ru_RU",
                "eventTypeDescription_ru_RU desc",
                "eventTypeDescription_zh_CN",
                "eventTypeDescription_zh_CN desc",
                "eventTypeDescription_zh_TW",
                "eventTypeDescription_zh_TW desc",
                "externalCode",
                "externalCode desc",
                "lastModifiedBy",
                "lastModifiedBy desc",
                "lastModifiedDateTime",
                "lastModifiedDateTime desc",
                "mdfSystemRecordStatus",
                "mdfSystemRecordStatus desc"
              ]
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string",
              "enum": [
                "apprenticeEventTypeCategory",
                "createdBy",
                "createdDateTime",
                "eventTypeDescription_de_DE",
                "eventTypeDescription_defaultValue",
                "eventTypeDescription_en_DEBUG",
                "eventTypeDescription_en_GB",
                "eventTypeDescription_en_US",
                "eventTypeDescription_es_ES",
                "eventTypeDescription_fr_FR",
                "eventTypeDescription_ja_JP",
                "eventTypeDescription_ko_KR",
                "eventTypeDescription_localized",
                "eventTypeDescription_nl_NL",
                "eventTypeDescription_pt_BR",
                "eventTypeDescription_pt_PT",
                "eventTypeDescription_ru_RU",
                "eventTypeDescription_zh_CN",
                "eventTypeDescription_zh_TW",
                "externalCode",
                "lastModifiedBy",
                "lastModifiedDateTime",
                "mdfSystemRecordStatus"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "schema": {
              "type": "object",
              "title": "Wrapper",
              "properties": {
                "d": {
                  "type": "object",
                  "title": "Collection of ApprenticeEventType",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/SFOData.ApprenticeEventType"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/error"
          }
        }
      },
      "post": {
        "summary": "Add new entity to ApprenticeEventType",
        "tags": [
          "Apprentice Event Type"
        ],
        "parameters": [
          {
            "name": "ApprenticeEventType",
            "in": "body",
            "description": "New entity",
            "schema": {
              "$ref": "#/definitions/SFOData.ApprenticeEventType"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created entity",
            "schema": {
              "title": "Created ApprenticeEventType",
              "type": "object",
              "properties": {
                "d": {
                  "$ref": "#/definitions/SFOData.ApprenticeEventType"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/error"
          }
        }
      }
    },
    "/ApprenticeEventType('{externalCode}')": {
      "get": {
        "summary": "Get entity from ApprenticeEventType by key",
        "tags": [
          "Apprentice Event Type"
        ],
        "parameters": [
          {
            "name": "externalCode",
            "in": "path",
            "required": true,
            "description": "key: externalCode",
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string",
              "enum": [
                "apprenticeEventTypeCategory",
                "createdBy",
                "createdDateTime",
                "eventTypeDescription_de_DE",
                "eventTypeDescription_defaultValue",
                "eventTypeDescription_en_DEBUG",
                "eventTypeDescription_en_GB",
                "eventTypeDescription_en_US",
                "eventTypeDescription_es_ES",
                "eventTypeDescription_fr_FR",
                "eventTypeDescription_ja_JP",
                "eventTypeDescription_ko_KR",
                "eventTypeDescription_localized",
                "eventTypeDescription_nl_NL",
                "eventTypeDescription_pt_BR",
                "eventTypeDescription_pt_PT",
                "eventTypeDescription_ru_RU",
                "eventTypeDescription_zh_CN",
                "eventTypeDescription_zh_TW",
                "externalCode",
                "lastModifiedBy",
                "lastModifiedDateTime",
                "mdfSystemRecordStatus"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "schema": {
              "title": "ApprenticeEventType",
              "type": "object",
              "properties": {
                "d": {
                  "$ref": "#/definitions/SFOData.ApprenticeEventType"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/error"
          }
        }
      },
      "put": {
        "summary": "Update entity in ApprenticeEventType",
        "tags": [
          "Apprentice Event Type"
        ],
        "parameters": [
          {
            "name": "externalCode",
            "in": "path",
            "required": true,
            "description": "key: externalCode",
            "type": "string"
          },
          {
            "name": "ApprenticeEventType",
            "in": "body",
            "description": "New property values",
            "schema": {
              "title": "Modified ApprenticeEventType",
              "type": "object",
              "properties": {
                "d": {
                  "$ref": "#/definitions/SFOData.ApprenticeEventType"
                }
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/responses/error"
          }
        }
      },
      "delete": {
        "summary": "Delete entity from ApprenticeEventType",
        "tags": [
          "Apprentice Event Type"
        ],
        "parameters": [
          {
            "name": "externalCode",
            "in": "path",
            "required": true,
            "description": "key: externalCode",
            "type": "string"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/responses/error"
          }
        }
      }
    },
    "/DepartmentApprenticeDetail": {
      "get": {
        "summary": "Get entities from DepartmentApprenticeDetail",
        "tags": [
          "Department Apprentice Detail"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/top"
          },
          {
            "$ref": "#/parameters/skip"
          },
          {
            "$ref": "#/parameters/search"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/count"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string",
              "enum": [
                "Department_effectiveStartDate",
                "Department_effectiveStartDate desc",
                "Department_externalCode",
                "Department_externalCode desc",
                "apprenticeDepartmentLocation",
                "apprenticeDepartmentLocation desc",
                "createdBy",
                "createdBy desc",
                "createdDateTime",
                "createdDateTime desc",
                "decentralTrainerUserId",
                "decentralTrainerUserId desc",
                "externalCode",
                "externalCode desc",
                "lastModifiedBy",
                "lastModifiedBy desc",
                "lastModifiedDateTime",
                "lastModifiedDateTime desc",
                "maxNumberOfApprentices",
                "maxNumberOfApprentices desc",
                "mdfSystemRecordStatus",
                "mdfSystemRecordStatus desc",
                "noteField",
                "noteField desc"
              ]
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string",
              "enum": [
                "Department_effectiveStartDate",
                "Department_externalCode",
                "apprenticeDepartmentLocation",
                "createdBy",
                "createdDateTime",
                "decentralTrainerUserId",
                "externalCode",
                "lastModifiedBy",
                "lastModifiedDateTime",
                "maxNumberOfApprentices",
                "mdfSystemRecordStatus",
                "noteField"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "schema": {
              "type": "object",
              "title": "Wrapper",
              "properties": {
                "d": {
                  "type": "object",
                  "title": "Collection of DepartmentApprenticeDetail",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/SFOData.DepartmentApprenticeDetail"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/error"
          }
        }
      },
      "post": {
        "summary": "Add new entity to DepartmentApprenticeDetail",
        "tags": [
          "Department Apprentice Detail"
        ],
        "parameters": [
          {
            "name": "DepartmentApprenticeDetail",
            "in": "body",
            "description": "New entity",
            "schema": {
              "$ref": "#/definitions/SFOData.DepartmentApprenticeDetail"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created entity",
            "schema": {
              "title": "Created DepartmentApprenticeDetail",
              "type": "object",
              "properties": {
                "d": {
                  "$ref": "#/definitions/SFOData.DepartmentApprenticeDetail"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/error"
          }
        }
      }
    },
    "/DepartmentApprenticeDetail(Department_effectiveStartDate={Department_effectiveStartDate},Department_externalCode='{Department_externalCode}',externalCode={externalCode})": {
      "get": {
        "summary": "Get entity from DepartmentApprenticeDetail by key",
        "tags": [
          "Department Apprentice Detail"
        ],
        "parameters": [
          {
            "name": "Department_effectiveStartDate",
            "in": "path",
            "required": true,
            "description": "key: Department_effectiveStartDate",
            "type": "string"
          },
          {
            "name": "Department_externalCode",
            "in": "path",
            "required": true,
            "description": "key: Department_externalCode",
            "type": "string"
          },
          {
            "name": "externalCode",
            "in": "path",
            "required": true,
            "description": "key: externalCode",
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string",
              "enum": [
                "Department_effectiveStartDate",
                "Department_externalCode",
                "apprenticeDepartmentLocation",
                "createdBy",
                "createdDateTime",
                "decentralTrainerUserId",
                "externalCode",
                "lastModifiedBy",
                "lastModifiedDateTime",
                "maxNumberOfApprentices",
                "mdfSystemRecordStatus",
                "noteField"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "schema": {
              "title": "DepartmentApprenticeDetail",
              "type": "object",
              "properties": {
                "d": {
                  "$ref": "#/definitions/SFOData.DepartmentApprenticeDetail"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/error"
          }
        }
      },
      "put": {
        "summary": "Update entity in DepartmentApprenticeDetail",
        "tags": [
          "Department Apprentice Detail"
        ],
        "parameters": [
          {
            "name": "Department_effectiveStartDate",
            "in": "path",
            "required": true,
            "description": "key: Department_effectiveStartDate",
            "type": "string"
          },
          {
            "name": "Department_externalCode",
            "in": "path",
            "required": true,
            "description": "key: Department_externalCode",
            "type": "string"
          },
          {
            "name": "externalCode",
            "in": "path",
            "required": true,
            "description": "key: externalCode",
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "DepartmentApprenticeDetail",
            "in": "body",
            "description": "New property values",
            "schema": {
              "title": "Modified DepartmentApprenticeDetail",
              "type": "object",
              "properties": {
                "d": {
                  "$ref": "#/definitions/SFOData.DepartmentApprenticeDetail"
                }
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/responses/error"
          }
        }
      },
      "delete": {
        "summary": "Delete entity from DepartmentApprenticeDetail",
        "tags": [
          "Department Apprentice Detail"
        ],
        "parameters": [
          {
            "name": "Department_effectiveStartDate",
            "in": "path",
            "required": true,
            "description": "key: Department_effectiveStartDate",
            "type": "string"
          },
          {
            "name": "Department_externalCode",
            "in": "path",
            "required": true,
            "description": "key: Department_externalCode",
            "type": "string"
          },
          {
            "name": "externalCode",
            "in": "path",
            "required": true,
            "description": "key: externalCode",
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/responses/error"
          }
        }
      }
    },
    "/ApprenticeSchool": {
      "get": {
        "summary": "Get entities from ApprenticeSchool",
        "tags": [
          "Apprentice School"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/top"
          },
          {
            "$ref": "#/parameters/skip"
          },
          {
            "$ref": "#/parameters/search"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/count"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string",
              "enum": [
                "createdBy",
                "createdBy desc",
                "createdDateTime",
                "createdDateTime desc",
                "externalCode",
                "externalCode desc",
                "lastModifiedBy",
                "lastModifiedBy desc",
                "lastModifiedDateTime",
                "lastModifiedDateTime desc",
                "mdfSystemRecordStatus",
                "mdfSystemRecordStatus desc",
                "schoolContactPerson",
                "schoolContactPerson desc",
                "schoolDescription",
                "schoolDescription desc",
                "schoolLocation",
                "schoolLocation desc"
              ]
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string",
              "enum": [
                "createdBy",
                "createdDateTime",
                "externalCode",
                "lastModifiedBy",
                "lastModifiedDateTime",
                "mdfSystemRecordStatus",
                "schoolContactPerson",
                "schoolDescription",
                "schoolLocation"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "schema": {
              "type": "object",
              "title": "Wrapper",
              "properties": {
                "d": {
                  "type": "object",
                  "title": "Collection of ApprenticeSchool",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/SFOData.ApprenticeSchool"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/error"
          }
        }
      },
      "post": {
        "summary": "Add new entity to ApprenticeSchool",
        "tags": [
          "Apprentice School"
        ],
        "parameters": [
          {
            "name": "ApprenticeSchool",
            "in": "body",
            "description": "New entity",
            "schema": {
              "$ref": "#/definitions/SFOData.ApprenticeSchool"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created entity",
            "schema": {
              "title": "Created ApprenticeSchool",
              "type": "object",
              "properties": {
                "d": {
                  "$ref": "#/definitions/SFOData.ApprenticeSchool"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/error"
          }
        }
      }
    },
    "/ApprenticeSchool('{externalCode}')": {
      "get": {
        "summary": "Get entity from ApprenticeSchool by key",
        "tags": [
          "Apprentice School"
        ],
        "parameters": [
          {
            "name": "externalCode",
            "in": "path",
            "required": true,
            "description": "key: externalCode",
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string",
              "enum": [
                "createdBy",
                "createdDateTime",
                "externalCode",
                "lastModifiedBy",
                "lastModifiedDateTime",
                "mdfSystemRecordStatus",
                "schoolContactPerson",
                "schoolDescription",
                "schoolLocation"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "schema": {
              "title": "ApprenticeSchool",
              "type": "object",
              "properties": {
                "d": {
                  "$ref": "#/definitions/SFOData.ApprenticeSchool"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/error"
          }
        }
      },
      "put": {
        "summary": "Update entity in ApprenticeSchool",
        "tags": [
          "Apprentice School"
        ],
        "parameters": [
          {
            "name": "externalCode",
            "in": "path",
            "required": true,
            "description": "key: externalCode",
            "type": "string"
          },
          {
            "name": "ApprenticeSchool",
            "in": "body",
            "description": "New property values",
            "schema": {
              "title": "Modified ApprenticeSchool",
              "type": "object",
              "properties": {
                "d": {
                  "$ref": "#/definitions/SFOData.ApprenticeSchool"
                }
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/responses/error"
          }
        }
      },
      "delete": {
        "summary": "Delete entity from ApprenticeSchool",
        "tags": [
          "Apprentice School"
        ],
        "parameters": [
          {
            "name": "externalCode",
            "in": "path",
            "required": true,
            "description": "key: externalCode",
            "type": "string"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/responses/error"
          }
        }
      }
    },
    "/ApprenticeGroup": {
      "get": {
        "summary": "Get entities from ApprenticeGroup",
        "tags": [
          "Apprentice Group"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/top"
          },
          {
            "$ref": "#/parameters/skip"
          },
          {
            "$ref": "#/parameters/search"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/count"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string",
              "enum": [
                "createdBy",
                "createdBy desc",
                "createdDateTime",
                "createdDateTime desc",
                "externalCode",
                "externalCode desc",
                "groupDescription",
                "groupDescription desc",
                "groupName",
                "groupName desc",
                "lastModifiedBy",
                "lastModifiedBy desc",
                "lastModifiedDateTime",
                "lastModifiedDateTime desc",
                "mdfSystemRecordStatus",
                "mdfSystemRecordStatus desc"
              ]
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string",
              "enum": [
                "createdBy",
                "createdDateTime",
                "externalCode",
                "groupDescription",
                "groupName",
                "lastModifiedBy",
                "lastModifiedDateTime",
                "mdfSystemRecordStatus"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "schema": {
              "type": "object",
              "title": "Wrapper",
              "properties": {
                "d": {
                  "type": "object",
                  "title": "Collection of ApprenticeGroup",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/SFOData.ApprenticeGroup"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/error"
          }
        }
      },
      "post": {
        "summary": "Add new entity to ApprenticeGroup",
        "tags": [
          "Apprentice Group"
        ],
        "parameters": [
          {
            "name": "ApprenticeGroup",
            "in": "body",
            "description": "New entity",
            "schema": {
              "$ref": "#/definitions/SFOData.ApprenticeGroup"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created entity",
            "schema": {
              "title": "Created ApprenticeGroup",
              "type": "object",
              "properties": {
                "d": {
                  "$ref": "#/definitions/SFOData.ApprenticeGroup"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/error"
          }
        }
      }
    },
    "/ApprenticeGroup('{externalCode}')": {
      "get": {
        "summary": "Get entity from ApprenticeGroup by key",
        "tags": [
          "Apprentice Group"
        ],
        "parameters": [
          {
            "name": "externalCode",
            "in": "path",
            "required": true,
            "description": "key: externalCode",
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string",
              "enum": [
                "createdBy",
                "createdDateTime",
                "externalCode",
                "groupDescription",
                "groupName",
                "lastModifiedBy",
                "lastModifiedDateTime",
                "mdfSystemRecordStatus"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "schema": {
              "title": "ApprenticeGroup",
              "type": "object",
              "properties": {
                "d": {
                  "$ref": "#/definitions/SFOData.ApprenticeGroup"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/error"
          }
        }
      },
      "put": {
        "summary": "Update entity in ApprenticeGroup",
        "tags": [
          "Apprentice Group"
        ],
        "parameters": [
          {
            "name": "externalCode",
            "in": "path",
            "required": true,
            "description": "key: externalCode",
            "type": "string"
          },
          {
            "name": "ApprenticeGroup",
            "in": "body",
            "description": "New property values",
            "schema": {
              "title": "Modified ApprenticeGroup",
              "type": "object",
              "properties": {
                "d": {
                  "$ref": "#/definitions/SFOData.ApprenticeGroup"
                }
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/responses/error"
          }
        }
      },
      "delete": {
        "summary": "Delete entity from ApprenticeGroup",
        "tags": [
          "Apprentice Group"
        ],
        "parameters": [
          {
            "name": "externalCode",
            "in": "path",
            "required": true,
            "description": "key: externalCode",
            "type": "string"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/responses/error"
          }
        }
      }
    },
    "/ApprenticeSchoolEvent": {
      "get": {
        "summary": "Get entities from ApprenticeSchoolEvent",
        "tags": [
          "Apprentice School Event"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/top"
          },
          {
            "$ref": "#/parameters/skip"
          },
          {
            "$ref": "#/parameters/search"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/count"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string",
              "enum": [
                "createdBy",
                "createdBy desc",
                "createdDate",
                "createdDate desc",
                "createdDateTime",
                "createdDateTime desc",
                "endDateAndTime",
                "endDateAndTime desc",
                "eventName",
                "eventName desc",
                "eventType",
                "eventType desc",
                "externalCode",
                "externalCode desc",
                "isAllDayEvent",
                "isAllDayEvent desc",
                "lastModifiedBy",
                "lastModifiedBy desc",
                "lastModifiedDate",
                "lastModifiedDate desc",
                "lastModifiedDateTime",
                "lastModifiedDateTime desc",
                "lastModifiedDateWithTZ",
                "lastModifiedDateWithTZ desc",
                "mdfSystemEffectiveEndDate",
                "mdfSystemEffectiveEndDate desc",
                "mdfSystemEffectiveStartDate",
                "mdfSystemEffectiveStartDate desc",
                "mdfSystemEntityId",
                "mdfSystemEntityId desc",
                "mdfSystemObjectType",
                "mdfSystemObjectType desc",
                "mdfSystemRecordId",
                "mdfSystemRecordId desc",
                "mdfSystemRecordStatus",
                "mdfSystemRecordStatus desc",
                "mdfSystemStatus",
                "mdfSystemStatus desc",
                "mdfSystemTransactionSequence",
                "mdfSystemTransactionSequence desc",
                "mdfSystemVersionId",
                "mdfSystemVersionId desc",
                "note",
                "note desc",
                "school",
                "school desc",
                "shareStatus",
                "shareStatus desc",
                "startDateAndTime",
                "startDateAndTime desc"
              ]
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string",
              "enum": [
                "createdBy",
                "createdDate",
                "createdDateTime",
                "endDateAndTime",
                "eventName",
                "eventType",
                "externalCode",
                "isAllDayEvent",
                "lastModifiedBy",
                "lastModifiedDate",
                "lastModifiedDateTime",
                "lastModifiedDateWithTZ",
                "mdfSystemEffectiveEndDate",
                "mdfSystemEffectiveStartDate",
                "mdfSystemEntityId",
                "mdfSystemObjectType",
                "mdfSystemRecordId",
                "mdfSystemRecordStatus",
                "mdfSystemStatus",
                "mdfSystemTransactionSequence",
                "mdfSystemVersionId",
                "note",
                "school",
                "shareStatus",
                "startDateAndTime"
              ]
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string",
              "enum": [
                "*",
                "assignedApprentices",
                "eventTypeNav",
                "schoolNav"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "schema": {
              "type": "object",
              "title": "Wrapper",
              "properties": {
                "d": {
                  "type": "object",
                  "title": "Collection of ApprenticeSchoolEvent",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/SFOData.ApprenticeSchoolEvent"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/error"
          }
        }
      },
      "post": {
        "summary": "Add new entity to ApprenticeSchoolEvent",
        "tags": [
          "Apprentice School Event"
        ],
        "parameters": [
          {
            "name": "ApprenticeSchoolEvent",
            "in": "body",
            "description": "New entity",
            "schema": {
              "$ref": "#/definitions/SFOData.ApprenticeSchoolEvent"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created entity",
            "schema": {
              "title": "Created ApprenticeSchoolEvent",
              "type": "object",
              "properties": {
                "d": {
                  "$ref": "#/definitions/SFOData.ApprenticeSchoolEvent"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/error"
          }
        }
      }
    },
    "/ApprenticeSchoolEvent('{externalCode}')": {
      "get": {
        "summary": "Get entity from ApprenticeSchoolEvent by key",
        "tags": [
          "Apprentice School Event"
        ],
        "parameters": [
          {
            "name": "externalCode",
            "in": "path",
            "required": true,
            "description": "key: externalCode",
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string",
              "enum": [
                "createdBy",
                "createdDate",
                "createdDateTime",
                "endDateAndTime",
                "eventName",
                "eventType",
                "externalCode",
                "isAllDayEvent",
                "lastModifiedBy",
                "lastModifiedDate",
                "lastModifiedDateTime",
                "lastModifiedDateWithTZ",
                "mdfSystemEffectiveEndDate",
                "mdfSystemEffectiveStartDate",
                "mdfSystemEntityId",
                "mdfSystemObjectType",
                "mdfSystemRecordId",
                "mdfSystemRecordStatus",
                "mdfSystemStatus",
                "mdfSystemTransactionSequence",
                "mdfSystemVersionId",
                "note",
                "school",
                "shareStatus",
                "startDateAndTime"
              ]
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string",
              "enum": [
                "*",
                "assignedApprentices",
                "eventTypeNav",
                "schoolNav"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "schema": {
              "title": "ApprenticeSchoolEvent",
              "type": "object",
              "properties": {
                "d": {
                  "$ref": "#/definitions/SFOData.ApprenticeSchoolEvent"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/error"
          }
        }
      },
      "put": {
        "summary": "Update entity in ApprenticeSchoolEvent",
        "tags": [
          "Apprentice School Event"
        ],
        "parameters": [
          {
            "name": "externalCode",
            "in": "path",
            "required": true,
            "description": "key: externalCode",
            "type": "string"
          },
          {
            "name": "ApprenticeSchoolEvent",
            "in": "body",
            "description": "New property values",
            "schema": {
              "title": "Modified ApprenticeSchoolEvent",
              "type": "object",
              "properties": {
                "d": {
                  "$ref": "#/definitions/SFOData.ApprenticeSchoolEvent"
                }
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/responses/error"
          }
        }
      },
      "delete": {
        "summary": "Delete entity from ApprenticeSchoolEvent",
        "tags": [
          "Apprentice School Event"
        ],
        "parameters": [
          {
            "name": "externalCode",
            "in": "path",
            "required": true,
            "description": "key: externalCode",
            "type": "string"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/responses/error"
          }
        }
      }
    },
    "/ApprenticePracticalTrainingEvent": {
      "get": {
        "summary": "Get entities from ApprenticePracticalTrainingEvent",
        "tags": [
          "Apprentice Practical Training Event"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/top"
          },
          {
            "$ref": "#/parameters/skip"
          },
          {
            "$ref": "#/parameters/search"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/count"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string",
              "enum": [
                "createdBy",
                "createdBy desc",
                "createdDate",
                "createdDate desc",
                "createdDateTime",
                "createdDateTime desc",
                "department",
                "department desc",
                "endDateAndTime",
                "endDateAndTime desc",
                "eventName",
                "eventName desc",
                "eventType",
                "eventType desc",
                "externalCode",
                "externalCode desc",
                "isAllDayEvent",
                "isAllDayEvent desc",
                "lastModifiedBy",
                "lastModifiedBy desc",
                "lastModifiedDate",
                "lastModifiedDate desc",
                "lastModifiedDateTime",
                "lastModifiedDateTime desc",
                "lastModifiedDateWithTZ",
                "lastModifiedDateWithTZ desc",
                "mdfSystemEffectiveEndDate",
                "mdfSystemEffectiveEndDate desc",
                "mdfSystemEffectiveStartDate",
                "mdfSystemEffectiveStartDate desc",
                "mdfSystemEntityId",
                "mdfSystemEntityId desc",
                "mdfSystemObjectType",
                "mdfSystemObjectType desc",
                "mdfSystemRecordId",
                "mdfSystemRecordId desc",
                "mdfSystemRecordStatus",
                "mdfSystemRecordStatus desc",
                "mdfSystemStatus",
                "mdfSystemStatus desc",
                "mdfSystemTransactionSequence",
                "mdfSystemTransactionSequence desc",
                "mdfSystemVersionId",
                "mdfSystemVersionId desc",
                "note",
                "note desc",
                "shareStatus",
                "shareStatus desc",
                "startDateAndTime",
                "startDateAndTime desc"
              ]
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string",
              "enum": [
                "createdBy",
                "createdDate",
                "createdDateTime",
                "department",
                "endDateAndTime",
                "eventName",
                "eventType",
                "externalCode",
                "isAllDayEvent",
                "lastModifiedBy",
                "lastModifiedDate",
                "lastModifiedDateTime",
                "lastModifiedDateWithTZ",
                "mdfSystemEffectiveEndDate",
                "mdfSystemEffectiveStartDate",
                "mdfSystemEntityId",
                "mdfSystemObjectType",
                "mdfSystemRecordId",
                "mdfSystemRecordStatus",
                "mdfSystemStatus",
                "mdfSystemTransactionSequence",
                "mdfSystemVersionId",
                "note",
                "shareStatus",
                "startDateAndTime"
              ]
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string",
              "enum": [
                "*",
                "assignedApprentices",
                "eventTypeNav"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "schema": {
              "type": "object",
              "title": "Wrapper",
              "properties": {
                "d": {
                  "type": "object",
                  "title": "Collection of ApprenticePracticalTrainingEvent",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/SFOData.ApprenticePracticalTrainingEvent"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/error"
          }
        }
      },
      "post": {
        "summary": "Add new entity to ApprenticePracticalTrainingEvent",
        "tags": [
          "Apprentice Practical Training Event"
        ],
        "parameters": [
          {
            "name": "ApprenticePracticalTrainingEvent",
            "in": "body",
            "description": "New entity",
            "schema": {
              "$ref": "#/definitions/SFOData.ApprenticePracticalTrainingEvent"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created entity",
            "schema": {
              "title": "Created ApprenticePracticalTrainingEvent",
              "type": "object",
              "properties": {
                "d": {
                  "$ref": "#/definitions/SFOData.ApprenticePracticalTrainingEvent"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/error"
          }
        }
      }
    },
    "/ApprenticePracticalTrainingEvent('{externalCode}')": {
      "get": {
        "summary": "Get entity from ApprenticePracticalTrainingEvent by key",
        "tags": [
          "Apprentice Practical Training Event"
        ],
        "parameters": [
          {
            "name": "externalCode",
            "in": "path",
            "required": true,
            "description": "key: externalCode",
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string",
              "enum": [
                "createdBy",
                "createdDate",
                "createdDateTime",
                "department",
                "endDateAndTime",
                "eventName",
                "eventType",
                "externalCode",
                "isAllDayEvent",
                "lastModifiedBy",
                "lastModifiedDate",
                "lastModifiedDateTime",
                "lastModifiedDateWithTZ",
                "mdfSystemEffectiveEndDate",
                "mdfSystemEffectiveStartDate",
                "mdfSystemEntityId",
                "mdfSystemObjectType",
                "mdfSystemRecordId",
                "mdfSystemRecordStatus",
                "mdfSystemStatus",
                "mdfSystemTransactionSequence",
                "mdfSystemVersionId",
                "note",
                "shareStatus",
                "startDateAndTime"
              ]
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string",
              "enum": [
                "*",
                "assignedApprentices",
                "eventTypeNav"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "schema": {
              "title": "ApprenticePracticalTrainingEvent",
              "type": "object",
              "properties": {
                "d": {
                  "$ref": "#/definitions/SFOData.ApprenticePracticalTrainingEvent"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/error"
          }
        }
      },
      "put": {
        "summary": "Update entity in ApprenticePracticalTrainingEvent",
        "tags": [
          "Apprentice Practical Training Event"
        ],
        "parameters": [
          {
            "name": "externalCode",
            "in": "path",
            "required": true,
            "description": "key: externalCode",
            "type": "string"
          },
          {
            "name": "ApprenticePracticalTrainingEvent",
            "in": "body",
            "description": "New property values",
            "schema": {
              "title": "Modified ApprenticePracticalTrainingEvent",
              "type": "object",
              "properties": {
                "d": {
                  "$ref": "#/definitions/SFOData.ApprenticePracticalTrainingEvent"
                }
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/responses/error"
          }
        }
      },
      "delete": {
        "summary": "Delete entity from ApprenticePracticalTrainingEvent",
        "tags": [
          "Apprentice Practical Training Event"
        ],
        "parameters": [
          {
            "name": "externalCode",
            "in": "path",
            "required": true,
            "description": "key: externalCode",
            "type": "string"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/responses/error"
          }
        }
      }
    },
    "/ApprenticeInternalTrainingEvent": {
      "get": {
        "summary": "Get entities from ApprenticeInternalTrainingEvent",
        "tags": [
          "Apprentice Internal Training Event"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/top"
          },
          {
            "$ref": "#/parameters/skip"
          },
          {
            "$ref": "#/parameters/search"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/count"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string",
              "enum": [
                "createdBy",
                "createdBy desc",
                "createdDate",
                "createdDate desc",
                "createdDateTime",
                "createdDateTime desc",
                "endDateAndTime",
                "endDateAndTime desc",
                "eventName",
                "eventName desc",
                "eventType",
                "eventType desc",
                "externalCode",
                "externalCode desc",
                "isAllDayEvent",
                "isAllDayEvent desc",
                "lastModifiedBy",
                "lastModifiedBy desc",
                "lastModifiedDate",
                "lastModifiedDate desc",
                "lastModifiedDateTime",
                "lastModifiedDateTime desc",
                "lastModifiedDateWithTZ",
                "lastModifiedDateWithTZ desc",
                "learningItem",
                "learningItem desc",
                "location",
                "location desc",
                "mdfSystemEffectiveEndDate",
                "mdfSystemEffectiveEndDate desc",
                "mdfSystemEffectiveStartDate",
                "mdfSystemEffectiveStartDate desc",
                "mdfSystemEntityId",
                "mdfSystemEntityId desc",
                "mdfSystemObjectType",
                "mdfSystemObjectType desc",
                "mdfSystemRecordId",
                "mdfSystemRecordId desc",
                "mdfSystemRecordStatus",
                "mdfSystemRecordStatus desc",
                "mdfSystemStatus",
                "mdfSystemStatus desc",
                "mdfSystemTransactionSequence",
                "mdfSystemTransactionSequence desc",
                "mdfSystemVersionId",
                "mdfSystemVersionId desc",
                "note",
                "note desc",
                "shareStatus",
                "shareStatus desc",
                "startDateAndTime",
                "startDateAndTime desc"
              ]
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string",
              "enum": [
                "createdBy",
                "createdDate",
                "createdDateTime",
                "endDateAndTime",
                "eventName",
                "eventType",
                "externalCode",
                "isAllDayEvent",
                "lastModifiedBy",
                "lastModifiedDate",
                "lastModifiedDateTime",
                "lastModifiedDateWithTZ",
                "learningItem",
                "location",
                "mdfSystemEffectiveEndDate",
                "mdfSystemEffectiveStartDate",
                "mdfSystemEntityId",
                "mdfSystemObjectType",
                "mdfSystemRecordId",
                "mdfSystemRecordStatus",
                "mdfSystemStatus",
                "mdfSystemTransactionSequence",
                "mdfSystemVersionId",
                "note",
                "shareStatus",
                "startDateAndTime"
              ]
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string",
              "enum": [
                "*",
                "assignedApprentices",
                "eventTypeNav"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "schema": {
              "type": "object",
              "title": "Wrapper",
              "properties": {
                "d": {
                  "type": "object",
                  "title": "Collection of ApprenticeInternalTrainingEvent",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/SFOData.ApprenticeInternalTrainingEvent"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/error"
          }
        }
      },
      "post": {
        "summary": "Add new entity to ApprenticeInternalTrainingEvent",
        "tags": [
          "Apprentice Internal Training Event"
        ],
        "parameters": [
          {
            "name": "ApprenticeInternalTrainingEvent",
            "in": "body",
            "description": "New entity",
            "schema": {
              "$ref": "#/definitions/SFOData.ApprenticeInternalTrainingEvent"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created entity",
            "schema": {
              "title": "Created ApprenticeInternalTrainingEvent",
              "type": "object",
              "properties": {
                "d": {
                  "$ref": "#/definitions/SFOData.ApprenticeInternalTrainingEvent"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/error"
          }
        }
      }
    },
    "/ApprenticeInternalTrainingEvent('{externalCode}')": {
      "get": {
        "summary": "Get entity from ApprenticeInternalTrainingEvent by key",
        "tags": [
          "Apprentice Internal Training Event"
        ],
        "parameters": [
          {
            "name": "externalCode",
            "in": "path",
            "required": true,
            "description": "key: externalCode",
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string",
              "enum": [
                "createdBy",
                "createdDate",
                "createdDateTime",
                "endDateAndTime",
                "eventName",
                "eventType",
                "externalCode",
                "isAllDayEvent",
                "lastModifiedBy",
                "lastModifiedDate",
                "lastModifiedDateTime",
                "lastModifiedDateWithTZ",
                "learningItem",
                "location",
                "mdfSystemEffectiveEndDate",
                "mdfSystemEffectiveStartDate",
                "mdfSystemEntityId",
                "mdfSystemObjectType",
                "mdfSystemRecordId",
                "mdfSystemRecordStatus",
                "mdfSystemStatus",
                "mdfSystemTransactionSequence",
                "mdfSystemVersionId",
                "note",
                "shareStatus",
                "startDateAndTime"
              ]
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string",
              "enum": [
                "*",
                "assignedApprentices",
                "eventTypeNav"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "schema": {
              "title": "ApprenticeInternalTrainingEvent",
              "type": "object",
              "properties": {
                "d": {
                  "$ref": "#/definitions/SFOData.ApprenticeInternalTrainingEvent"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/error"
          }
        }
      },
      "put": {
        "summary": "Update entity in ApprenticeInternalTrainingEvent",
        "tags": [
          "Apprentice Internal Training Event"
        ],
        "parameters": [
          {
            "name": "externalCode",
            "in": "path",
            "required": true,
            "description": "key: externalCode",
            "type": "string"
          },
          {
            "name": "ApprenticeInternalTrainingEvent",
            "in": "body",
            "description": "New property values",
            "schema": {
              "title": "Modified ApprenticeInternalTrainingEvent",
              "type": "object",
              "properties": {
                "d": {
                  "$ref": "#/definitions/SFOData.ApprenticeInternalTrainingEvent"
                }
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/responses/error"
          }
        }
      },
      "delete": {
        "summary": "Delete entity from ApprenticeInternalTrainingEvent",
        "tags": [
          "Apprentice Internal Training Event"
        ],
        "parameters": [
          {
            "name": "externalCode",
            "in": "path",
            "required": true,
            "description": "key: externalCode",
            "type": "string"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/responses/error"
          }
        }
      }
    },
    "/Apprentice": {
      "get": {
        "summary": "Get entities from Apprentice",
        "tags": [
          "Apprentice"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/top"
          },
          {
            "$ref": "#/parameters/skip"
          },
          {
            "$ref": "#/parameters/search"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/count"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string",
              "enum": [
                "activeStatus",
                "activeStatus desc",
                "assignedAddSupervisor",
                "assignedAddSupervisor desc",
                "assignedGroup",
                "assignedGroup desc",
                "assignedSchool",
                "assignedSchool desc",
                "createdBy",
                "createdBy desc",
                "createdDateTime",
                "createdDateTime desc",
                "endDate",
                "endDate desc",
                "endDateDataForReference",
                "endDateDataForReference desc",
                "lastModifiedBy",
                "lastModifiedBy desc",
                "lastModifiedDateTime",
                "lastModifiedDateTime desc",
                "mdfSystemRecordStatus",
                "mdfSystemRecordStatus desc",
                "name",
                "name desc",
                "note",
                "note desc",
                "startDate",
                "startDate desc",
                "startDateForReference",
                "startDateForReference desc",
                "user",
                "user desc",
                "year",
                "year desc"
              ]
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string",
              "enum": [
                "activeStatus",
                "assignedAddSupervisor",
                "assignedGroup",
                "assignedSchool",
                "createdBy",
                "createdDateTime",
                "endDate",
                "endDateDataForReference",
                "lastModifiedBy",
                "lastModifiedDateTime",
                "mdfSystemRecordStatus",
                "name",
                "note",
                "startDate",
                "startDateForReference",
                "user",
                "year"
              ]
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string",
              "enum": [
                "*",
                "assignedGroupNav",
                "assignedSchoolNav"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "schema": {
              "type": "object",
              "title": "Wrapper",
              "properties": {
                "d": {
                  "type": "object",
                  "title": "Collection of Apprentice",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/SFOData.Apprentice"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/error"
          }
        }
      },
      "post": {
        "summary": "Add new entity to Apprentice",
        "tags": [
          "Apprentice"
        ],
        "parameters": [
          {
            "name": "Apprentice",
            "in": "body",
            "description": "New entity",
            "schema": {
              "$ref": "#/definitions/SFOData.Apprentice"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created entity",
            "schema": {
              "title": "Created Apprentice",
              "type": "object",
              "properties": {
                "d": {
                  "$ref": "#/definitions/SFOData.Apprentice"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/error"
          }
        }
      }
    },
    "/Apprentice('{user}')": {
      "get": {
        "summary": "Get entity from Apprentice by key",
        "tags": [
          "Apprentice"
        ],
        "parameters": [
          {
            "name": "user",
            "in": "path",
            "required": true,
            "description": "key: user",
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string",
              "enum": [
                "activeStatus",
                "assignedAddSupervisor",
                "assignedGroup",
                "assignedSchool",
                "createdBy",
                "createdDateTime",
                "endDate",
                "endDateDataForReference",
                "lastModifiedBy",
                "lastModifiedDateTime",
                "mdfSystemRecordStatus",
                "name",
                "note",
[...]
