{
	"swagger": "2.0",
	"security": [
        {
            "basicAuthentication": []
        }
    ],
    "securityDefinitions": {
        "basicAuthentication": {
            "type": "basic"
        }
    },
	"x-sap-shortText":"API to maintain the general background information of an employee",
	"x-servers": [{
		"url": "https://{api-server}/odata/v2",
		"description": "OData APIs for the SuccessFactors Data Centers",
		"templates": {
			"api-server": {
				"description": "SuccessFactors Data Center host",
				"default": "apisalesdemo8.successfactors.com"
			}
		}
	},
		{
			"url":"https://sandbox.api.sap.com/successfactorsfoundation/odata/v2",
			"description":"Sandbox URL"
		}
	],
	"info": {
		"title": "Employee Profile",
		"version": "1.0",
		"description": "You can use these APIs to maintain the general background information of an employee, including education and outside work experiences.\n\n You can find your company's API server in [List of API Servers in SAP SuccessFactors.](https://help.sap.com/viewer/d599f15995d348a1b45ba5603e2aba9b/LATEST/en-US/af2b8d5437494b12be88fe374eba75b6.html)"
	},
	"externalDocs": {
		"description": "Employee Profile on SAP Help Portal",
		"url": "https://help.sap.com/docs/SAP_SUCCESSFACTORS_PLATFORM/d599f15995d348a1b45ba5603e2aba9b/c508d8543026442d88457f3654b4e91d.html"
	},
	"schemes": ["https"],
	"host": "sandbox.api.sap.com",
	"basePath": "/successfactors/odata/v2",
	"consumes": ["application/json"],
	"produces": ["application/json"],
	"tags": [{
		"name": "BackgroundCommunity"
	},
	{
		"name": "BackgroundCourses"
	},
	{
		"name": "BackgroundBenefitselection"
	},
	{
		"name": "BackgroundOutsideWorkExperience"
	},
	{
		"name": "BackgroundPromotability"
	},
	{
		"name": "BackgroundFsaelection"
	},
	{
		"name": "BackgroundCompensation"
	},
	{
		"name": "BackgroundMemberships"
	},
	{
		"name": "BackgroundDocuments"
	},
	{
		"name": "BackgroundFuncExperience"
	},
	{
		"name": "BackgroundTalentPool"
	},
	{
		"name": "UserBadges"
	},
	{
		"name": "BackgroundGoogledocs"
	},
	{
		"name": "BackgroundAwards"
	},
	{
		"name": "BackgroundEducation"
	},
	{
		"name": "BackgroundMobility"
	},
	{
		"name": "BackgroundVarPayEmpHistData"
	},
	{
		"name": "BackgroundInsideWorkExperience"
	},
	{
		"name": "BackgroundPreferredNextMove"
	},
	{
		"name": "BadgeTemplates"
	},
	{
		"name": "EPPublicProfile"
	},
	{
		"name": "BackgroundLanguages"
	},
	{
		"name": "BackgroundSysScoreCardDevelopmentObjectivesPortlet"
	},
	{
		"name": "BackgroundTalentPoolcorp"
	},
	{
		"name": "EPCustomBackgroundPortlet"
	},
	{
		"name": "BackgroundSpecialAssign"
	},
	{
		"name": "BackgroundCertificates"
	},
	{
		"name": "BackgroundVarPayEmpHistDataECSource"
	},
	{
		"name": "BackgroundLeadExperience"
	},
	{
		"name": "TrendDataSysOverallPerformance"
	},
	{
		"name": "TrendDataSysOverallPotential"
	},
	{
		"name": "TrendDataSysOverallObjective"
	},
	{
		"name": "TrendDataSysOverallCompetency"
	},
	{
		"name": "TrendDataSysOverallCustom1"
	},
	{
		"name": "TrendDataSysOverallCustom2"
	}],
	"definitions": {
		"odata.error": {
			"type": "object",
			"required": ["error"],
			"properties": {
				"error": {
					"$ref": "#/definitions/odata.error.main"
				}
			}
		},
		"odata.error.main": {
			"type": "object",
			"required": ["code",
			"message"],
			"properties": {
				"code": {
					"type": "string"
				},
				"message": {
					"type": "string"
				},
				"target": {
					"type": "string"
				},
				"details": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/odata.error.detail"
					}
				},
				"innererror": {
					"type": "object",
					"description": "The structure of this object is service-specific"
				}
			}
		},
		"odata.error.detail": {
			"type": "object",
			"required": ["code",
			"message"],
			"properties": {
				"code": {
					"type": "string"
				},
				"message": {
					"type": "string"
				},
				"target": {
					"type": "string"
				}
			}
		},
		"SFOData.Background_Community": {
			"type": "object",
			"properties": {
				"backgroundElementId": {
					"type": "string",
					"format": "int64"
				},
				"bgOrderPos": {
					"type": "string",
					"format": "int64"
				},
				"endDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"name": {
					"type": "string"
				},
				"role": {
					"type": ["string",
					"null"]
				},
				"startDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"userId": {
					"type": "string"
				}
			},
			"title": "Background_Community"
		},
		"SFOData.Background_Courses": {
			"type": "object",
			"properties": {
				"backgroundElementId": {
					"type": "string",
					"format": "int64"
				},
				"bgOrderPos": {
					"type": "string",
					"format": "int64"
				},
				"course": {
					"type": "string"
				},
				"endDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"institution": {
					"type": ["string",
					"null"]
				},
				"instructionType": {
					"type": ["string",
					"null"]
				},
				"lastModifiedDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"length": {
					"type": "string"
				},
				"userId": {
					"type": "string"
				}
			},
			"title": "Background_Courses"
		},
		"SFOData.Background_Benefitselection": {
			"type": "object",
			"properties": {
				"backgroundElementId": {
					"type": "string",
					"format": "int64"
				},
				"bgOrderPos": {
					"type": "string",
					"format": "int64"
				},
				"dental": {
					"type": "string"
				},
				"depdisability": {
					"type": "string"
				},
				"depgender": {
					"type": "string"
				},
				"depname": {
					"type": "string"
				},
				"depnationalid": {
					"type": "string"
				},
				"depsmoke": {
					"type": "string"
				},
				"depstudent": {
					"type": "string"
				},
				"endDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"health": {
					"type": "string"
				},
				"lastModifiedDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"relation": {
					"type": "string"
				},
				"userId": {
					"type": "string"
				}
			},
			"title": "Background_Benefitselection"
		},
		"SFOData.Background_OutsideWorkExperience": {
			"type": "object",
			"properties": {
				"backgroundElementId": {
					"type": "string",
					"format": "int64"
				},
				"bgOrderPos": {
					"type": "string",
					"format": "int64"
				},
				"businessType": {
					"type": ["string",
					"null"]
				},
				"employer": {
					"type": "string"
				},
				"employerAddress": {
					"type": ["string",
					"null"]
				},
				"employerCity": {
					"type": ["string",
					"null"]
				},
				"employerContact": {
					"type": ["string",
					"null"]
				},
				"employerCountry": {
					"type": ["string",
					"null"]
				},
				"employerEmail": {
					"type": ["string",
					"null"]
				},
				"employerPhone": {
					"type": ["string",
					"null"]
				},
				"employerState": {
					"type": ["string",
					"null"]
				},
				"employerZip": {
					"type": ["string",
					"null"]
				},
				"endDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"presentEmployer": {
					"type": "string"
				},
				"startDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"startTitle": {
					"type": "string"
				},
				"userId": {
					"type": "string"
				}
			},
			"title": "Background_OutsideWorkExperience"
		},
		"SFOData.Background_Promotability": {
			"type": "object",
			"properties": {
				"backgroundElementId": {
					"type": "string",
					"format": "int64"
				},
				"bgOrderPos": {
					"type": "string",
					"format": "int64"
				},
				"comment": {
					"type": ["string",
					"null"]
				},
				"function": {
					"type": "string"
				},
				"lastModifiedDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"level": {
					"type": "string"
				},
				"timeframe": {
					"type": "string"
				},
				"userId": {
					"type": "string"
				}
			},
			"title": "Background_Promotability"
		},
		"SFOData.Background_Fsaelection": {
			"type": "object",
			"properties": {
				"backgroundElementId": {
					"type": "string",
					"format": "int64"
				},
				"bgOrderPos": {
					"type": "string",
					"format": "int64"
				},
				"fsabalance": {
					"type": ["string",
					"null"]
				},
				"fsacontributions": {
					"type": ["string",
					"null"]
				},
				"fsaelectionamount": {
					"type": ["string",
					"null"]
				},
				"fsafundsout": {
					"type": ["string",
					"null"]
				},
				"fsaplan": {
					"type": ["string",
					"null"]
				},
				"fsarepayment": {
					"type": ["string",
					"null"]
				},
				"lastModifiedDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"userId": {
					"type": "string"
				}
			},
			"title": "Background_Fsaelection"
		},
		"SFOData.Background_Compensation": {
			"type": "object",
			"properties": {
				"backgroundElementId": {
					"type": "string",
					"format": "int64"
				},
				"bgOrderPos": {
					"type": "string",
					"format": "int64"
				},
				"compaRatio": {
					"type": ["number",
					"string",
					"null"],
					"format": "double",
					"example": 3.14
				},
				"curSalary": {
					"type": ["string",
					"null"]
				},
				"finSalary": {
					"type": ["string",
					"null"]
				},
				"jobTitle": {
					"type": ["string",
					"null"]
				},
				"lastModifiedDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"lumpSum": {
					"type": ["number",
					"string",
					"null"],
					"format": "double",
					"example": 3.14
				},
				"merit": {
					"type": ["string",
					"null"]
				},
				"options": {
					"type": ["integer",
					"null"],
					"format": "int32"
				},
				"pmRating": {
					"type": ["string",
					"null"]
				},
				"stock": {
					"type": ["integer",
					"null"],
					"format": "int32"
				},
				"sysCompTemplateName": {
					"type": ["string",
					"null"]
				},
				"sysReviewEndDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"sysReviewStartDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"totalComp": {
					"type": ["string",
					"null"]
				},
				"userId": {
					"type": "string"
				}
			},
			"title": "Background_Compensation"
		},
		"SFOData.Background_Memberships": {
			"type": "object",
			"properties": {
				"backgroundElementId": {
					"type": "string",
					"format": "int64"
				},
				"bgOrderPos": {
					"type": "string",
					"format": "int64"
				},
				"endDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"organization": {
					"type": "string"
				},
				"role": {
					"type": ["string",
					"null"]
				},
				"startDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"userId": {
					"type": "string"
				}
			},
			"title": "Background_Memberships"
		},
		"SFOData.Background_Documents": {
			"type": "object",
			"properties": {
				"DocName": {
					"type": ["string",
					"null"]
				},
				"attachment": {
					"type": "integer",
					"format": "int32"
				},
				"backgroundElementId": {
					"type": "string",
					"format": "int64"
				},
				"bgOrderPos": {
					"type": "string",
					"format": "int64"
				},
				"lastModifiedDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"userId": {
					"type": "string"
				}
			},
			"title": "Background_Documents"
		},
		"SFOData.Background_FuncExperience": {
			"type": "object",
			"properties": {
				"backgroundElementId": {
					"type": "string",
					"format": "int64"
				},
				"bgOrderPos": {
					"type": "string",
					"format": "int64"
				},
				"comments": {
					"type": ["string",
					"null"]
				},
				"experience": {
					"type": "string"
				},
				"lastModifiedDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"userId": {
					"type": "string"
				},
				"years": {
					"type": "integer",
					"format": "int32"
				}
			},
			"title": "Background_FuncExperience"
		},
		"SFOData.Background_TalentPool": {
			"type": "object",
			"properties": {
				"backgroundElementId": {
					"type": "string",
					"format": "int64"
				},
				"bgOrderPos": {
					"type": "string",
					"format": "int64"
				},
				"lastModifiedDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"startDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"talentPoolComments": {
					"type": ["string",
					"null"]
				},
				"talentPoolStatus": {
					"type": ["string",
					"null"]
				},
				"talentPoolitem": {
					"type": "string"
				},
				"userId": {
					"type": "string"
				}
			},
			"title": "Background_TalentPool"
		},
		"SFOData.UserBadges": {
			"type": "object",
			"properties": {
				"badgeCreatorName": {
					"type": ["string",
					"null"]
				},
				"badgeId": {
					"type": ["integer",
					"null"],
					"format": "int32"
				},
				"badgeInstanceId": {
					"type": "integer",
					"format": "int32"
				},
				"badgeTitle": {
					"type": ["string",
					"null"]
				},
				"comment": {
					"type": ["string",
					"null"]
				},
				"creatorUserID": {
					"type": ["string",
					"null"]
				},
				"lastModified": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"photo": {
					"type": ["string",
					"null"],
					"format": "base64url"
				},
				"userId": {
					"type": "string"
				}
			},
			"title": "UserBadges"
		},
		"SFOData.Background_Googledocs": {
			"type": "object",
			"properties": {
				"backgroundElementId": {
					"type": "string",
					"format": "int64"
				},
				"bgOrderPos": {
					"type": "string",
					"format": "int64"
				},
				"documentName": {
					"type": ["string",
					"null"]
				},
				"documenturl": {
					"type": "string"
				},
				"lastModifiedDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"lastmodifieddate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"userId": {
					"type": "string"
				}
			},
			"title": "Background_Googledocs"
		},
		"SFOData.Background_Awards": {
			"type": "object",
			"properties": {
				"backgroundElementId": {
					"type": "string",
					"format": "int64"
				},
				"bgOrderPos": {
					"type": "string",
					"format": "int64"
				},
				"description": {
					"type": ["string",
					"null"]
				},
				"institution": {
					"type": ["string",
					"null"]
				},
				"issueDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"name": {
					"type": "string"
				},
				"userId": {
					"type": "string"
				}
			},
			"title": "Background_Awards"
		},
		"SFOData.Background_Education": {
			"type": "object",
			"properties": {
				"backgroundElementId": {
					"type": "string",
					"format": "int64"
				},
				"bgOrderPos": {
					"type": "string",
					"format": "int64"
				},
				"degree": {
					"type": ["string",
					"null"]
				},
				"degreeDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"endDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"major": {
					"type": ["string",
					"null"]
				},
				"school": {
					"type": ["string",
					"null"]
				},
				"schoolAddress": {
					"type": ["string",
					"null"]
				},
				"schoolCity": {
					"type": ["string",
					"null"]
				},
				"schoolCountry": {
					"type": ["string",
					"null"]
				},
				"schoolState": {
					"type": ["string",
					"null"]
				},
				"schoolType": {
					"type": ["string",
					"null"]
				},
				"schoolZip": {
					"type": ["string",
					"null"]
				},
				"startDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"userId": {
					"type": "string"
				}
			},
			"title": "Background_Education"
		},
		"SFOData.Background_Mobility": {
			"type": "object",
			"properties": {
				"backgroundElementId": {
					"type": "string",
					"format": "int64"
				},
				"bgOrderPos": {
					"type": "string",
					"format": "int64"
				},
				"lastModifiedDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"location": {
					"type": ["string",
					"null"]
				},
				"userId": {
					"type": "string"
				},
				"willingness": {
					"type": "string"
				}
			},
			"title": "Background_Mobility"
		},
		"SFOData.Background_VarPayEmpHistData": {
			"type": "object",
			"properties": {
				"backgroundElementId": {
					"type": "string",
					"format": "int64"
				},
				"basis": {
					"type": ["number",
					"string",
					"null"],
					"format": "double",
					"example": 3.14
				},
				"businessGoalCode": {
					"type": ["string",
					"null"]
				},
				"country": {
					"type": ["string",
					"null"]
				},
				"currencyCode": {
					"type": ["string",
					"null"]
				},
				"department": {
					"type": ["string",
					"null"]
				},
				"division": {
					"type": ["string",
					"null"]
				},
				"endDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"incentivePlanCode": {
					"type": ["string",
					"null"]
				},
				"jobTitle": {
					"type": ["string",
					"null"]
				},
				"lastModifiedDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"location": {
					"type": ["string",
					"null"]
				},
				"payGrade": {
					"type": ["string",
					"null"]
				},
				"salary": {
					"type": ["string",
					"null"]
				},
				"startDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"tgtPct": {
					"type": ["number",
					"string",
					"null"],
					"format": "double",
					"example": 3.14
				},
				"userId": {
					"type": "string"
				},
				"varPayProgramName": {
					"type": "string"
				}
			},
			"title": "Background_VarPayEmpHistData"
		},
		"SFOData.Background_InsideWorkExperience": {
			"type": "object",
			"properties": {
				"backgroundElementId": {
					"type": "string",
					"format": "int64"
				},
				"bgOrderPos": {
					"type": "string",
					"format": "int64"
				},
				"department": {
					"type": ["string",
					"null"]
				},
				"endDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"startDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"title": {
					"type": ["string",
					"null"]
				},
				"userId": {
					"type": "string"
				}
			},
			"title": "Background_InsideWorkExperience"
		},
		"SFOData.Background_PreferredNextMove": {
			"type": "object",
			"properties": {
				"backgroundElementId": {
					"type": "string",
					"format": "int64"
				},
				"bgOrderPos": {
					"type": "string",
					"format": "int64"
				},
				"comments": {
					"type": ["string",
					"null"]
				},
				"function": {
					"type": ["string",
					"null"]
				},
				"lastModifiedDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"level": {
					"type": ["string",
					"null"]
				},
				"timeframe": {
					"type": ["string",
					"null"]
				},
				"title": {
					"type": "string"
				},
				"userId": {
					"type": "string"
				}
			},
			"title": "Background_PreferredNextMove"
		},
		"SFOData.BadgeTemplates": {
			"type": "object",
			"properties": {
				"badgeId": {
					"type": "integer",
					"format": "int32"
				},
				"badgeTitle": {
					"type": ["string",
					"null"]
				},
				"customBadge": {
					"type": ["boolean",
					"null"]
				},
				"photo": {
					"type": ["string",
					"null"],
					"format": "base64url"
				}
			},
			"title": "BadgeTemplates"
		},
		"SFOData.EPPublicProfile": {
			"type": "object",
			"properties": {
				"aboutMeVideoToken": {
					"type": ["string",
					"null"]
				},
				"aboutMeVideoUploadId": {
					"type": ["string",
					"null"]
				},
				"applicationId": {
					"type": ["string",
					"null"]
				},
				"hasAboutMeVideo": {
					"type": ["boolean",
					"null"]
				},
				"hasIntroduction": {
					"type": ["boolean",
					"null"]
				},
				"hasMyName": {
					"type": ["boolean",
					"null"]
				},
				"hasMyNameAudio": {
					"type": ["boolean",
					"null"]
				},
				"introduction": {
					"type": ["string",
					"null"]
				},
				"isAddBadgeAllowed": {
					"type": ["boolean",
					"null"]
				},
				"isBadgesSectionEnabled": {
					"type": ["boolean",
					"null"]
				},
				"isExpressiveMode": {
					"type": ["boolean",
					"null"]
				},
				"isExpressivePhotoEditable": {
					"type": ["boolean",
					"null"]
				},
				"mediaServiceBaseUrl": {
					"type": ["string",
					"null"]
				},
				"myNameAudioToken": {
					"type": ["string",
					"null"]
				},
				"myNameAudioUploadId": {
					"type": ["string",
					"null"]
				},
				"myNameText": {
					"type": ["string",
					"null"]
				},
				"liveProfilePhotoPermission": {
					"type": ["string",
					"null"]
				},
				"userId": {
					"type": "string"
				}
			},
			"title": "EPPublicProfile"
		},
		"SFOData.Background_Languages": {
			"type": "object",
			"properties": {
				"backgroundElementId": {
					"type": "string",
					"format": "int64"
				},
				"bgOrderPos": {
					"type": "string",
					"format": "int64"
				},
				"language": {
					"type": ["string",
					"null"]
				},
				"lastModifiedDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"readingProf": {
					"type": ["string",
					"null"]
				},
				"speakingProf": {
					"type": ["string",
					"null"]
				},
				"userId": {
					"type": "string"
				},
				"variant": {
					"type": ["string",
					"null"]
				},
				"writingProf": {
					"type": ["string",
					"null"]
				}
			},
			"title": "Background_Languages"
		},
		"SFOData.Background_SysScoreCardDevelopmentObjectivesPortlet": {
			"type": "object",
			"properties": {
				"backgroundElementId": {
					"type": "string",
					"format": "int64"
				},
				"bgOrderPos": {
					"type": "string",
					"format": "int64"
				},
				"lastModifiedDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"userId": {
					"type": "string"
				}
			},
			"title": "Background_SysScoreCardDevelopmentObjectivesPortlet"
		},
		"SFOData.Background_TalentPoolcorp": {
			"type": "object",
			"properties": {
				"backgroundElementId": {
					"type": "string",
					"format": "int64"
				},
				"bgOrderPos": {
					"type": "string",
					"format": "int64"
				},
				"lastModifiedDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"startDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"talentPoolComments": {
					"type": ["string",
					"null"]
				},
				"talentPoolStatus": {
					"type": ["string",
					"null"]
				},
				"talentPoolitemCorp": {
					"type": "string"
				},
				"userId": {
					"type": "string"
				}
			},
			"title": "Background_TalentPoolcorp"
		},
		"SFOData.EPCustomBackgroundPortlet": {
			"type": "object",
			"properties": {
				"backgroundElementId": {
					"type": "string"
				},
				"backgroundPropertyLists": {
					"$ref": "#/definitions/SFOData.EPCustomBackgroundPortletProperty"
				},
				"editable": {
					"type": ["boolean",
					"null"]
				},
				"userId": {
					"type": ["string",
					"null"]
				},
				"viewable": {
					"type": ["boolean",
					"null"]
				}
			},
			"title": "EPCustomBackgroundPortlet"
		},
		"SFOData.Background_SpecialAssign": {
			"type": "object",
			"properties": {
				"backgroundElementId": {
					"type": "string",
					"format": "int64"
				},
				"bgOrderPos": {
					"type": "string",
					"format": "int64"
				},
				"description": {
					"type": ["string",
					"null"]
				},
				"endDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"lastModifiedDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"project": {
					"type": "string"
				},
				"startDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"userId": {
					"type": "string"
				}
			},
			"title": "Background_SpecialAssign"
		},
		"SFOData.Background_Certificates": {
			"type": "object",
			"properties": {
				"backgroundElementId": {
					"type": "string",
					"format": "int64"
				},
				"bgOrderPos": {
					"type": "string",
					"format": "int64"
				},
				"custom1": {
					"type": ["integer",
					"null"],
					"format": "int32"
				},
				"description": {
					"type": ["string",
					"null"]
				},
				"endDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"institution": {
					"type": ["string",
					"null"]
				},
				"lastModifiedDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"licenseCountry": {
					"type": ["string",
					"null"]
				},
				"licenseName": {
					"type": ["string",
					"null"]
				},
				"licenseNumber": {
					"type": ["string",
					"null"]
				},
				"licenseState": {
					"type": ["string",
					"null"]
				},
				"name": {
					"type": "string"
				},
				"startDate": {
					"type": ["string",
					"null"],
					"example": "/Date(1492098664000)/"
				},
				"userId": {
					"type": "string"
				}
			},
			"title": "Background_Certificates"
		},
		"SFOData.Background_VarPayEmpHistDataECSource": {
			"type": "object",
			"properties": {
				"backgroundElementId": {
					"type": "string",
					"format": "int64"
				},
				"basis": {
					"type": ["number",
					"string",
					"null"],
					"format": "double",
					"example": 3.14
				},
				"country": {
					"type": ["string",
					"null"]
				},
				"currencyCode": {
					"type": ["string",
					"null"]
				},
				"department": {
					"type": ["string",
					"null"]
				},
				"division": {
					"type": ["string",
					"null"]
				},
				"endDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"jobCode": {
					"type": ["string",
					"null"]
				},
				"jobTitle": {
					"type": ["string",
					"null"]
				},
				"lastModifiedDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"location": {
					"type": ["string",
					"null"]
				},
				"payGrade": {
					"type": ["string",
					"null"]
				},
				"recordType": {
					"type": ["string",
					"null"]
				},
				"salary": {
					"type": ["number",
					"string",
					"null"],
					"format": "double",
					"example": 3.14
				},
				"startDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"tgtPct": {
					"type": ["number",
					"string",
					"null"],
					"format": "double",
					"example": 3.14
				},
				"userId": {
					"type": "string"
				},
				"varPayProgramName": {
					"type": "string"
				}
			},
			"title": "Background_VarPayEmpHistDataECSource"
		},
		"SFOData.Background_LeadExperience": {
			"type": "object",
			"properties": {
				"backgroundElementId": {
					"type": "string",
					"format": "int64"
				},
				"bgOrderPos": {
					"type": "string",
					"format": "int64"
				},
				"comments": {
					"type": ["string",
					"null"]
				},
				"dollars": {
					"type": ["integer",
					"null"],
					"format": "int32"
				},
				"experience": {
					"type": "string"
				},
				"lastModifiedDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"people": {
					"type": ["integer",
					"null"],
					"format": "int32"
				},
				"userId": {
					"type": "string"
				},
				"years": {
					"type": "integer",
					"format": "int32"
				}
			},
			"title": "Background_LeadExperience"
		},
		"SFOData.EPCustomBackgroundPortletProperty": {
			"type": "object",
			"properties": {
				"isPII": {
					"type": ["boolean",
					"null"]
				},
				"isPicklist": {
					"type": ["boolean",
					"null"]
				},
				"isUrlLink": {
					"type": ["boolean",
					"null"]
				},
				"label": {
					"type": ["string",
					"null"]
				},
				"parentFieldId": {
					"type": ["string",
					"null"]
				},
				"picklistId": {
					"type": ["string",
					"null"]
				},
				"propertyName": {
					"type": ["string",
					"null"]
				},
				"required": {
					"type": ["boolean",
					"null"]
				}
			},
			"title": "EPCustomBackgroundPortletProperty"
		},
		"SFOData.COSocialAccountBean": {
			"type": "object",
			"properties": {
				"domain": {
					"type": ["string",
					"null"]
				},
				"instantMessagingId": {
					"type": ["string",
					"null"]
				},
				"url": {
					"type": ["string",
					"null"]
				}
			},
			"title": "COSocialAccountBean"
		},
		"SFOData.PeopleProfileHeaderResponse": {
			"type": "object",
			"properties": {
				"aboutMeVideoDeleteUrl": {
					"type": ["string",
					"null"]
				},
				"aboutMeVideoEnabled": {
					"type": ["boolean",
					"null"]
				},
				"aboutMeVideoGetFileUrl": {
					"type": ["string",
					"null"]
				},
				"aboutMeVideoStatusUrl": {
					"type": ["string",
					"null"]
				},
				"aboutMeVideoToken": {
					"type": ["string",
					"null"]
				},
				"aboutMeVideoUploadId": {
					"type": ["string",
					"null"]
				},
				"aboutMeVideoUploadUrl": {
					"type": ["string",
					"null"]
				},
				"applicationId": {
					"type": ["string",
					"null"]
				},
				"businessPhone": {
					"type": ["string",
					"null"]
				},
				"cellPhone": {
					"type": ["string",
					"null"]
				},
				"dSTSavings": {
					"type": ["integer",
					"null"],
					"format": "int32"
				},
				"department": {
					"type": ["string",
					"null"]
				},
				"division": {
					"type": ["string",
					"null"]
				},
				"email": {
					"type": ["string",
					"null"]
				},
				"expressivePhotoMod": {
					"type": ["string",
					"null"]
				},
				"fullName": {
					"type": ["string",
					"null"]
				},
				"introduction": {
					"type": ["string",
					"null"]
				},
				"isAboutMeTextEnabled": {
					"type": ["boolean",
					"null"]
				},
				"isAllowUploadBGPhoto": {
					"type": ["boolean",
					"null"]
				},
				"isPercentCompleteEnabled": {
					"type": ["boolean",
					"null"]
				},
				"isShowAsOfDate": {
					"type": ["boolean",
					"null"]
				},
				"isShowEditLink": {
					"type": ["boolean",
					"null"]
				},
				"isTimeZoneInDaylightTime": {
					"type": ["boolean",
					"null"]
				},
				"liveProfileOriginalPhotoId": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"liveProfilePhotoId": {
					"type": ["string",
					"null"],
					"format": "int64"
				},
				"liveProfilePhotoMod": {
					"type": ["string",
					"null"]
				},
				"localTimeEnabled": {
					"type": ["boolean",
					"null"]
				},
				"location": {
					"type": ["string",
					"null"]
				},
				"mediaServiceBaseUrl": {
					"type": ["string",
					"null"]
				},
				"myNameAudioDeleteUrl": {
					"type": ["string",
					"null"]
				},
				"myNameAudioGetFileUrl": {
					"type": ["string",
					"null"]
				},
				"myNameAudioStatusUrl": {
					"type": ["string",
					"null"]
				},
				"myNameAudioUploadUrl": {
					"type": ["string",
					"null"]
				},
				"myNameEnabled": {
					"type": ["boolean",
					"null"]
				},
				"myNameText": {
					"type": ["string",
					"null"]
				},
				"myNameToken": {
					"type": ["string",
					"null"]
				},
				"myNameUploadId": {
					"type": ["string",
					"null"]
				},
				"showLiveProfilePhoto": {
					"type": ["boolean",
					"null"]
				},
				"socialAccounts": {
					"$ref": "#/definitions/SFOData.COSocialAccountBean"
				},
				"targetUserId": {
					"type": "string"
				},
				"timezone": {
					"type": ["string",
					"null"]
				},
				"title": {
					"type": ["string",
					"null"]
				},
				"userName": {
					"type": ["string",
					"null"]
				},
				"utcOffset": {
					"type": ["integer",
					"null"],
					"format": "int32"
				}
			},
			"title": "PeopleProfileHeaderResponse"
		},
		"SFOData.TrendData_SysOverallObjective": {
			"type": "object",
			"properties": {
				"description": {
					"type": [
						"string",
						"null"
					]
				},
				"endDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"id": {
					"type": "string",
					"format": "int64"
				},
				"label": {
					"type": [
						"string",
						"null"
					]
				},
				"lastModified": {
					"type": [
						"string",
						"null"
					],
					"example": "/Date(1492098664000)/"
				},
				"max": {
					"type": [
						"number",
						"string",
						"null"
					],
					"format": "double",
					"example": 3.14
				},
				"min": {
					"type": [
						"number",
						"string",
						"null"
					],
					"format": "double",
					"example": 3.14
				},
				"module": {
					"type": [
						"string",
						"null"
					]
				},
				"name": {
					"type": [
						"string",
						"null"
					]
				},
				"rating": {
					"type": [
						"number",
						"string"
					],
					"format": "double",
					"example": 3.14
				},
				"referenceId": {
					"type": "string",
					"format": "int64"
				},
				"source": {
					"type": [
						"string",
						"null"
					]
				},
				"startDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"userId": {
					"type": "string"
				}
			},
			"title": "TrendData_SysOverallObjective"
		},
		"SFOData.TrendData_SysOverallCompetency": {
			"type": "object",
			"properties": {
				"description": {
					"type": [
						"string",
						"null"
					]
				},
				"endDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"id": {
					"type": "string",
					"format": "int64"
				},
				"label": {
					"type": [
						"string",
						"null"
					]
				},
				"lastModified": {
					"type": [
						"string",
						"null"
					],
					"example": "/Date(1492098664000)/"
				},
				"max": {
					"type": [
						"number",
						"string",
						"null"
					],
					"format": "double",
					"example": 3.14
				},
				"min": {
					"type": [
						"number",
						"string",
						"null"
					],
					"format": "double",
					"example": 3.14
				},
				"module": {
					"type": [
						"string",
						"null"
					]
				},
				"name": {
					"type": [
						"string",
						"null"
					]
				},
				"rating": {
					"type": [
						"number",
						"string"
					],
					"format": "double",
					"example": 3.14
				},
				"referenceId": {
					"type": "string",
					"format": "int64"
				},
				"source": {
					"type": [
						"string",
						"null"
					]
				},
				"startDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"userId": {
					"type": "string"
				}
			},
			"title": "TrendData_SysOverallCompetency"
		},
		"SFOData.TrendData_SysOverallPotential": {
			"type": "object",
			"properties": {
				"description": {
					"type": [
						"string",
						"null"
					]
				},
				"endDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"id": {
					"type": "string",
					"format": "int64"
				},
				"label": {
					"type": [
						"string",
						"null"
					]
				},
				"lastModified": {
					"type": [
						"string",
						"null"
					],
					"example": "/Date(1492098664000)/"
				},
				"max": {
					"type": [
						"number",
						"string",
						"null"
					],
					"format": "double",
					"example": 3.14
				},
				"min": {
					"type": [
						"number",
						"string",
						"null"
					],
					"format": "double",
					"example": 3.14
				},
				"module": {
					"type": [
						"string",
						"null"
					]
				},
				"name": {
					"type": [
						"string",
						"null"
					]
				},
				"rating": {
					"type": [
						"number",
						"string"
					],
					"format": "double",
					"example": 3.14
				},
				"referenceId": {
					"type": "string",
					"format": "int64"
				},
				"source": {
					"type": [
						"string",
						"null"
					]
				},
				"startDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"userId": {
					"type": "string"
				}
			},
			"title": "TrendData_SysOverallPotential"
		},
		"SFOData.TrendData_SysOverallPerformance": {
			"type": "object",
			"properties": {
				"description": {
					"type": [
						"string",
						"null"
					]
				},
				"endDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"id": {
					"type": "string",
					"format": "int64"
				},
				"label": {
					"type": [
						"string",
						"null"
					]
				},
				"lastModified": {
					"type": [
						"string",
						"null"
					],
					"example": "/Date(1492098664000)/"
				},
				"max": {
					"type": [
						"number",
						"string",
						"null"
					],
					"format": "double",
					"example": 3.14
				},
				"min": {
					"type": [
						"number",
						"string",
						"null"
					],
					"format": "double",
					"example": 3.14
				},
				"module": {
					"type": [
						"string",
						"null"
					]
				},
				"name": {
					"type": [
						"string",
						"null"
					]
				},
				"rating": {
					"type": [
						"number",
						"string"
					],
					"format": "double",
					"example": 3.14
				},
				"referenceId": {
					"type": "string",
					"format": "int64"
				},
				"source": {
					"type": [
						"string",
						"null"
					]
				},
				"startDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"userId": {
					"type": "string"
				}
			},
			"title": "TrendData_SysOverallPerformance"
		},
		"SFOData.TrendData_SysOverallCustom1": {
			"type": "object",
			"properties": {
				"description": {
					"type": [
						"string",
						"null"
					]
				},
				"endDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"id": {
					"type": "string",
					"format": "int64"
				},
				"label": {
					"type": [
						"string",
						"null"
					]
				},
				"lastModified": {
					"type": [
						"string",
						"null"
					],
					"example": "/Date(1492098664000)/"
				},
				"max": {
					"type": [
						"number",
						"string",
						"null"
					],
					"format": "double",
					"example": 3.14
				},
				"min": {
					"type": [
						"number",
						"string",
						"null"
					],
					"format": "double",
					"example": 3.14
				},
				"module": {
					"type": [
						"string",
						"null"
					]
				},
				"name": {
					"type": [
						"string",
						"null"
					]
				},
				"rating": {
					"type": [
						"number",
						"string"
					],
					"format": "double",
					"example": 3.14
				},
				"referenceId": {
					"type": "string",
					"format": "int64"
				},
				"source": {
					"type": [
						"string",
						"null"
					]
				},
				"startDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"userId": {
					"type": "string"
				}
			},
			"title": "TrendData_SysOverallCustom1"
		},
		"SFOData.TrendData_SysOverallCustom2": {
			"type": "object",
			"properties": {
				"description": {
					"type": [
						"string",
						"null"
					]
				},
				"endDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"id": {
					"type": "string",
					"format": "int64"
				},
				"label": {
					"type": [
						"string",
						"null"
					]
				},
				"lastModified": {
					"type": [
						"string",
						"null"
					],
					"example": "/Date(1492098664000)/"
				},
				"max": {
					"type": [
						"number",
						"string",
						"null"
					],
					"format": "double",
					"example": 3.14
				},
				"min": {
					"type": [
						"number",
						"string",
						"null"
					],
					"format": "double",
					"example": 3.14
				},
				"module": {
					"type": [
						"string",
						"null"
					]
				},
				"name": {
					"type": [
						"string",
						"null"
					]
				},
				"rating": {
					"type": [
						"number",
						"string"
					],
					"format": "double",
					"example": 3.14
				},
				"referenceId": {
					"type": "string",
					"format": "int64"
				},
				"source": {
					"type": [
						"string",
						"null"
					]
				},
				"startDate": {
					"type": "string",
					"example": "/Date(1492098664000)/"
				},
				"userId": {
					"type": "string"
				}
			},
			"title": "TrendData_SysOverallCustom2"
		}
	},
	"paths": {
		"/Background_Community": {
			"get": {
				"summary": "Get entities from Background_Community",
				"tags": ["BackgroundCommunity"],
				"parameters": [{
					"$ref": "#/parameters/top"
				},
				{
					"$ref": "#/parameters/skip"
				},
				{
					"$ref": "#/parameters/search"
				},
				{
					"$ref": "#/parameters/filter"
				},
				{
					"$ref": "#/parameters/count"
				},
				{
					"name": "$orderby",
					"in": "query",
					"description": "Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["backgroundElementId",
						"backgroundElementId desc",
						"bgOrderPos",
						"bgOrderPos desc",
						"endDate",
						"endDate desc",
						"lastModifiedDate",
						"lastModifiedDate desc",
						"name",
						"name desc",
						"role",
						"role desc",
						"startDate",
						"startDate desc",
						"userId",
						"userId desc"]
					}
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["backgroundElementId",
						"bgOrderPos",
						"endDate",
						"lastModifiedDate",
						"name",
						"role",
						"startDate",
						"userId"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entities",
						"schema": {
							"type": "object",
							"title": "Wrapper",
							"properties": {
								"d": {
									"type": "object",
									"title": "Collection of Background_Community",
									"properties": {
										"results": {
											"type": "array",
											"items": {
												"$ref": "#/definitions/SFOData.Background_Community"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			},
			"post": {
				"summary": "Add new entity to Background_Community",
				"tags": ["BackgroundCommunity"],
				"parameters": [{
					"name": "Background_Community",
					"in": "body",
					"description": "New entity",
					"schema": {
						"$ref": "#/definitions/SFOData.Background_Community"
					}
				}],
				"responses": {
					"201": {
						"description": "Created entity",
						"schema": {
							"title": "Created Background_Community",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.Background_Community"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"schema": {
							"$ref": "#/definitions/odata.error"
						},
						"examples": {
							"application/json": {
								"error": {
									"code": "Bad Request Exception",
									"message": {
										"lang": "en-US",
										"value": "string"
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/Background_Community(backgroundElementId={backgroundElementId},userId='{userId}')": {
			"get": {
				"summary": "Get entity from Background_Community by key",
				"tags": ["BackgroundCommunity"],
				"parameters": [{
					"name": "backgroundElementId",
					"in": "path",
					"required": true,
					"description": "key: backgroundElementId",
					"type": "integer",
					"format": "int64"
				},
				{
					"name": "userId",
					"in": "path",
					"required": true,
					"description": "key: userId",
					"type": "string"
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["backgroundElementId",
						"bgOrderPos",
						"endDate",
						"lastModifiedDate",
						"name",
						"role",
						"startDate",
						"userId"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entity",
						"schema": {
							"title": "Background_Community",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.Background_Community"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			},
			"put": {
				"summary": "Update entity in Background_Community",
				"tags": ["BackgroundCommunity"],
				"parameters": [{
					"name": "backgroundElementId",
					"in": "path",
					"required": true,
					"description": "key: backgroundElementId",
					"type": "integer",
					"format": "int64"
				},
				{
					"name": "userId",
					"in": "path",
					"required": true,
					"description": "key: userId",
					"type": "string"
				},
				{
					"name": "Background_Community",
					"in": "body",
					"description": "New property values",
					"schema": {
						"title": "Modified Background_Community",
						"type": "object",
						"properties": {
							"d": {
								"$ref": "#/definitions/SFOData.Background_Community"
							}
						}
					}
				}],
				"responses": {
					"204": {
						"description": "Success"
					},
					"400": {
						"description": "Bad Request",
						"schema": {
							"$ref": "#/definitions/odata.error"
						},
						"examples": {
							"application/json": {
								"error": {
									"code": "Bad Request Exception",
									"message": {
										"lang": "en-US",
										"value": "string"
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			},
			"delete": {
				"summary": "Delete entity from Background_Community",
				"tags": ["BackgroundCommunity"],
				"parameters": [{
					"name": "backgroundElementId",
					"in": "path",
					"required": true,
					"description": "key: backgroundElementId",
					"type": "integer",
					"format": "int64"
				},
				{
					"name": "userId",
					"in": "path",
					"required": true,
					"description": "key: userId",
					"type": "string"
				},
				{
					"name": "If-Match",
					"in": "header",
					"description": "ETag",
					"type": "string"
				}],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/Background_Courses": {
			"get": {
				"summary": "Get entities from Background_Courses",
				"tags": ["BackgroundCourses"],
				"parameters": [{
					"$ref": "#/parameters/top"
				},
				{
					"$ref": "#/parameters/skip"
				},
				{
					"$ref": "#/parameters/search"
				},
				{
					"$ref": "#/parameters/filter"
				},
				{
					"$ref": "#/parameters/count"
				},
				{
					"name": "$orderby",
					"in": "query",
					"description": "Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["backgroundElementId",
						"backgroundElementId desc",
						"bgOrderPos",
						"bgOrderPos desc",
						"course",
						"course desc",
						"endDate",
						"endDate desc",
						"institution",
						"institution desc",
						"instructionType",
						"instructionType desc",
						"lastModifiedDate",
						"lastModifiedDate desc",
						"length",
						"length desc",
						"userId",
						"userId desc"]
					}
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["backgroundElementId",
						"bgOrderPos",
						"course",
						"endDate",
						"institution",
						"instructionType",
						"lastModifiedDate",
						"length",
						"userId"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entities",
						"schema": {
							"type": "object",
							"title": "Wrapper",
							"properties": {
								"d": {
									"type": "object",
									"title": "Collection of Background_Courses",
									"properties": {
										"results": {
											"type": "array",
											"items": {
												"$ref": "#/definitions/SFOData.Background_Courses"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			},
			"post": {
				"summary": "Add new entity to Background_Courses",
				"tags": ["BackgroundCourses"],
				"parameters": [{
					"name": "Background_Courses",
					"in": "body",
					"description": "New entity",
					"schema": {
						"$ref": "#/definitions/SFOData.Background_Courses"
					}
				}],
				"responses": {
					"201": {
						"description": "Created entity",
						"schema": {
							"title": "Created Background_Courses",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.Background_Courses"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"schema": {
							"$ref": "#/definitions/odata.error"
						},
						"examples": {
							"application/json": {
								"error": {
									"code": "Bad Request Exception",
									"message": {
										"lang": "en-US",
										"value": "string"
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/Background_Courses(backgroundElementId={backgroundElementId},userId='{userId}')": {
			"get": {
				"summary": "Get entity from Background_Courses by key",
				"tags": ["BackgroundCourses"],
				"parameters": [{
					"name": "backgroundElementId",
					"in": "path",
					"required": true,
					"description": "key: backgroundElementId",
					"type": "integer",
					"format": "int64"
				},
				{
					"name": "userId",
					"in": "path",
					"required": true,
					"description": "key: userId",
					"type": "string"
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["backgroundElementId",
						"bgOrderPos",
						"course",
						"endDate",
						"institution",
						"instructionType",
						"lastModifiedDate",
						"length",
						"userId"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entity",
						"schema": {
							"title": "Background_Courses",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.Background_Courses"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			},
			"put": {
				"summary": "Update entity in Background_Courses",
				"tags": ["BackgroundCourses"],
				"parameters": [{
					"name": "backgroundElementId",
					"in": "path",
					"required": true,
					"description": "key: backgroundElementId",
					"type": "integer",
					"format": "int64"
				},
				{
					"name": "userId",
					"in": "path",
					"required": true,
					"description": "key: userId",
					"type": "string"
				},
				{
					"name": "Background_Courses",
					"in": "body",
					"description": "New property values",
					"schema": {
						"title": "Modified Background_Courses",
						"type": "object",
						"properties": {
							"d": {
								"$ref": "#/definitions/SFOData.Background_Courses"
							}
						}
					}
				}],
				"responses": {
					"204": {
						"description": "Success"
					},
					"400": {
						"description": "Bad Request",
						"schema": {
							"$ref": "#/definitions/odata.error"
						},
						"examples": {
							"application/json": {
								"error": {
									"code": "Bad Request Exception",
									"message": {
										"lang": "en-US",
										"value": "string"
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			},
			"delete": {
				"summary": "Delete entity from Background_Courses",
				"tags": ["BackgroundCourses"],
				"parameters": [{
					"name": "backgroundElementId",
					"in": "path",
					"required": true,
					"description": "key: backgroundElementId",
					"type": "integer",
					"format": "int64"
				},
				{
					"name": "userId",
					"in": "path",
					"required": true,
					"description": "key: userId",
					"type": "string"
				},
				{
					"name": "If-Match",
					"in": "header",
					"description": "ETag",
					"type": "string"
				}],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/Background_Benefitselection": {
			"get": {
				"summary": "Get entities from Background_Benefitselection",
				"tags": ["BackgroundBenefitselection"],
				"parameters": [{
					"$ref": "#/parameters/top"
				},
				{
					"$ref": "#/parameters/skip"
				},
				{
					"$ref": "#/parameters/search"
				},
				{
					"$ref": "#/parameters/filter"
				},
				{
					"$ref": "#/parameters/count"
				},
				{
					"name": "$orderby",
					"in": "query",
					"description": "Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["backgroundElementId",
						"backgroundElementId desc",
						"bgOrderPos",
						"bgOrderPos desc",
						"dental",
						"dental desc",
						"depdisability",
						"depdisability desc",
						"depgender",
						"depgender desc",
						"depname",
						"depname desc",
						"depnationalid",
						"depnationalid desc",
						"depsmoke",
						"depsmoke desc",
						"depstudent",
						"depstudent desc",
						"endDate",
						"endDate desc",
						"health",
						"health desc",
						"lastModifiedDate",
						"lastModifiedDate desc",
						"relation",
						"relation desc",
						"userId",
						"userId desc"]
					}
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["backgroundElementId",
						"bgOrderPos",
						"dental",
						"depdisability",
						"depgender",
						"depname",
						"depnationalid",
						"depsmoke",
						"depstudent",
						"endDate",
						"health",
						"lastModifiedDate",
						"relation",
						"userId"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entities",
						"schema": {
							"type": "object",
							"title": "Wrapper",
							"properties": {
								"d": {
									"type": "object",
									"title": "Collection of Background_Benefitselection",
									"properties": {
										"results": {
											"type": "array",
											"items": {
												"$ref": "#/definitions/SFOData.Background_Benefitselection"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			},
			"post": {
				"summary": "Add new entity to Background_Benefitselection",
				"tags": ["BackgroundBenefitselection"],
				"parameters": [{
					"name": "Background_Benefitselection",
					"in": "body",
					"description": "New entity",
					"schema": {
						"$ref": "#/definitions/SFOData.Background_Benefitselection"
					}
				}],
				"responses": {
					"201": {
						"description": "Created entity",
						"schema": {
							"title": "Created Background_Benefitselection",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.Background_Benefitselection"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"schema": {
							"$ref": "#/definitions/odata.error"
						},
						"examples": {
							"application/json": {
								"error": {
									"code": "Bad Request Exception",
									"message": {
										"lang": "en-US",
										"value": "string"
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/Background_Benefitselection(backgroundElementId={backgroundElementId},userId='{userId}')": {
			"get": {
				"summary": "Get entity from Background_Benefitselection by key",
				"tags": ["BackgroundBenefitselection"],
				"parameters": [{
					"name": "backgroundElementId",
					"in": "path",
					"required": true,
					"description": "key: backgroundElementId",
					"type": "integer",
					"format": "int64"
				},
				{
					"name": "userId",
					"in": "path",
					"required": true,
					"description": "key: userId",
					"type": "string"
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["backgroundElementId",
						"bgOrderPos",
						"dental",
						"depdisability",
						"depgender",
						"depname",
						"depnationalid",
						"depsmoke",
						"depstudent",
						"endDate",
						"health",
						"lastModifiedDate",
						"relation",
						"userId"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entity",
						"schema": {
							"title": "BackgroundBenefitselection",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.Background_Benefitselection"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			},
			"put": {
				"summary": "Update entity in Background_Benefitselection",
				"tags": ["BackgroundBenefitselection"],
				"parameters": [{
					"name": "backgroundElementId",
					"in": "path",
					"required": true,
					"description": "key: backgroundElementId",
					"type": "integer",
					"format": "int64"
				},
				{
					"name": "userId",
					"in": "path",
					"required": true,
					"description": "key: userId",
					"type": "string"
				},
				{
					"name": "Background_Benefitselection",
					"in": "body",
					"description": "New property values",
					"schema": {
						"title": "Modified Background_Benefitselection",
						"type": "object",
						"properties": {
							"d": {
								"$ref": "#/definitions/SFOData.Background_Benefitselection"
							}
						}
					}
				}],
				"responses": {
					"204": {
						"description": "Success"
					},
					"400": {
						"description": "Bad Request",
						"schema": {
							"$ref": "#/definitions/odata.error"
						},
						"examples": {
							"application/json": {
								"error": {
									"code": "Bad Request Exception",
									"message": {
										"lang": "en-US",
										"value": "string"
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			},
			"delete": {
				"summary": "Delete entity from Background_Benefitselection",
				"tags": ["BackgroundBenefitselection"],
				"parameters": [{
					"name": "backgroundElementId",
					"in": "path",
					"required": true,
					"description": "key: backgroundElementId",
					"type": "integer",
					"format": "int64"
				},
				{
					"name": "userId",
					"in": "path",
					"required": true,
					"description": "key: userId",
					"type": "string"
				},
				{
					"name": "If-Match",
					"in": "header",
					"description": "ETag",
					"type": "string"
				}],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/Background_OutsideWorkExperience": {
			"get": {
				"summary": "Get entities from Background_OutsideWorkExperience",
				"tags": ["BackgroundOutsideWorkExperience"],
				"parameters": [{
					"$ref": "#/parameters/top"
				},
				{
					"$ref": "#/parameters/skip"
				},
				{
					"$ref": "#/parameters/search"
				},
				{
					"$ref": "#/parameters/filter"
				},
				{
					"$ref": "#/parameters/count"
				},
				{
					"name": "$orderby",
					"in": "query",
					"description": "Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["backgroundElementId",
						"backgroundElementId desc",
						"bgOrderPos",
						"bgOrderPos desc",
						"businessType",
						"businessType desc",
						"employer",
						"employer desc",
						"employerAddress",
						"employerAddress desc",
						"employerCity",
						"employerCity desc",
						"employerContact",
						"employerContact desc",
						"employerCountry",
						"employerCountry desc",
						"employerEmail",
						"employerEmail desc",
						"employerPhone",
						"employerPhone desc",
						"employerState",
						"employerState desc",
						"employerZip",
						"employerZip desc",
						"endDate",
						"endDate desc",
						"lastModifiedDate",
						"lastModifiedDate desc",
						"presentEmployer",
						"presentEmployer desc",
						"startDate",
						"startDate desc",
						"startTitle",
						"startTitle desc",
						"userId",
						"userId desc"]
					}
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["backgroundElementId",
						"bgOrderPos",
						"businessType",
						"employer",
						"employerAddress",
						"employerCity",
						"employerContact",
						"employerCountry",
						"employerEmail",
						"employerPhone",
						"employerState",
						"employerZip",
						"endDate",
						"lastModifiedDate",
						"presentEmployer",
						"startDate",
						"startTitle",
						"userId"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entities",
						"schema": {
							"type": "object",
							"title": "Wrapper",
							"properties": {
								"d": {
									"type": "object",
									"title": "Collection of Background_OutsideWorkExperience",
									"properties": {
										"results": {
											"type": "array",
											"items": {
												"$ref": "#/definitions/SFOData.Background_OutsideWorkExperience"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			},
			"post": {
				"summary": "Add new entity to Background_OutsideWorkExperience",
				"tags": ["BackgroundOutsideWorkExperience"],
				"parameters": [{
					"name": "Background_OutsideWorkExperience",
					"in": "body",
					"description": "New entity",
					"schema": {
						"$ref": "#/definitions/SFOData.Background_OutsideWorkExperience"
					}
				}],
				"responses": {
					"201": {
						"description": "Created entity",
						"schema": {
							"title": "Created Background_OutsideWorkExperience",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.Background_OutsideWorkExperience"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"schema": {
							"$ref": "#/definitions/odata.error"
						},
						"examples": {
							"application/json": {
								"error": {
									"code": "Bad Request Exception",
									"message": {
										"lang": "en-US",
										"value": "string"
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/Background_OutsideWorkExperience(backgroundElementId={backgroundElementId},userId='{userId}')": {
			"get": {
				"summary": "Get entity from Background_OutsideWorkExperience by key",
				"tags": ["BackgroundOutsideWorkExperience"],
				"parameters": [{
					"name": "backgroundElementId",
					"in": "path",
					"required": true,
					"description": "key: backgroundElementId",
					"type": "integer",
					"format": "int64"
				},
				{
					"name": "userId",
					"in": "path",
					"required": true,
					"description": "key: userId",
					"type": "string"
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["backgroundElementId",
						"bgOrderPos",
						"businessType",
						"employer",
						"employerAddress",
						"employerCity",
						"employerContact",
						"employerCountry",
						"employerEmail",
						"employerPhone",
						"employerState",
						"employerZip",
						"endDate",
						"lastModifiedDate",
						"presentEmployer",
						"startDate",
						"startTitle",
						"userId"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entity",
						"schema": {
							"title": "Background_OutsideWorkExperience",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.Background_OutsideWorkExperience"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			},
			"put": {
				"summary": "Update entity in Background_OutsideWorkExperience",
				"tags": ["BackgroundOutsideWorkExperience"],
				"parameters": [{
					"name": "backgroundElementId",
					"in": "path",
					"required": true,
					"description": "key: backgroundElementId",
					"type": "integer",
					"format": "int64"
				},
				{
					"name": "userId",
					"in": "path",
					"required": true,
					"description": "key: userId",
					"type": "string"
				},
				{
					"name": "Background_OutsideWorkExperience",
					"in": "body",
					"description": "New property values",
					"schema": {
						"title": "Modified Background_OutsideWorkExperience",
						"type": "object",
						"properties": {
							"d": {
								"$ref": "#/definitions/SFOData.Background_OutsideWorkExperience"
							}
						}
					}
				}],
				"responses": {
					"204": {
						"description": "Success"
					},
					"400": {
						"description": "Bad Request",
						"schema": {
							"$ref": "#/definitions/odata.error"
						},
						"examples": {
							"application/json": {
								"error": {
									"code": "Bad Request Exception",
									"message": {
										"lang": "en-US",
										"value": "string"
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			},
			"delete": {
				"summary": "Delete entity from Background_OutsideWorkExperience",
				"tags": ["BackgroundOutsideWorkExperience"],
				"parameters": [{
					"name": "backgroundElementId",
					"in": "path",
					"required": true,
					"description": "key: backgroundElementId",
					"type": "integer",
					"format": "int64"
				},
				{
					"name": "userId",
					"in": "path",
					"required": true,
					"description": "key: userId",
					"type": "string"
				},
				{
					"name": "If-Match",
					"in": "header",
					"description": "ETag",
					"type": "string"
				}],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/Background_Promotability": {
			"get": {
				"summary": "Get entities from Background_Promotability",
				"tags": ["BackgroundPromotability"],
				"parameters": [{
					"$ref": "#/parameters/top"
				},
				{
					"$ref": "#/parameters/skip"
				},
				{
					"$ref": "#/parameters/search"
				},
				{
					"$ref": "#/parameters/filter"
				},
				{
					"$ref": "#/parameters/count"
				},
				{
					"name": "$orderby",
					"in": "query",
					"description": "Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["backgroundElementId",
						"backgroundElementId desc",
						"bgOrderPos",
						"bgOrderPos desc",
						"comment",
						"comment desc",
						"function",
						"function desc",
						"lastModifiedDate",
						"lastModifiedDate desc",
						"level",
						"level desc",
						"timeframe",
						"timeframe desc",
						"userId",
						"userId desc"]
					}
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["backgroundElementId",
						"bgOrderPos",
						"comment",
						"function",
						"lastModifiedDate",
						"level",
						"timeframe",
						"userId"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entities",
						"schema": {
							"type": "object",
							"title": "Wrapper",
							"properties": {
								"d": {
									"type": "object",
									"title": "Collection of Background_Promotability",
									"properties": {
										"results": {
											"type": "array",
											"items": {
												"$ref": "#/definitions/SFOData.Background_Promotability"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			},
			"post": {
				"summary": "Add new entity to Background_Promotability",
				"tags": ["BackgroundPromotability"],
				"parameters": [{
					"name": "Background_Promotability",
					"in": "body",
					"description": "New entity",
					"schema": {
						"$ref": "#/definitions/SFOData.Background_Promotability"
					}
				}],
				"responses": {
					"201": {
						"description": "Created entity",
						"schema": {
							"title": "Created Background_Promotability",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.Background_Promotability"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"schema": {
							"$ref": "#/definitions/odata.error"
						},
						"examples": {
							"application/json": {
								"error": {
									"code": "Bad Request Exception",
									"message": {
										"lang": "en-US",
										"value": "string"
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/Background_Promotability(backgroundElementId={backgroundElementId},userId='{userId}')": {
			"get": {
				"summary": "Get entity from Background_Promotability by key",
				"tags": ["BackgroundPromotability"],
				"parameters": [{
					"name": "backgroundElementId",
					"in": "path",
					"required": true,
					"description": "key: backgroundElementId",
					"type": "integer",
					"format": "int64"
				},
				{
					"name": "userId",
					"in": "path",
					"required": true,
					"description": "key: userId",
					"type": "string"
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["backgroundElementId",
						"bgOrderPos",
						"comment",
						"function",
						"lastModifiedDate",
						"level",
						"timeframe",
						"userId"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entity",
						"schema": {
							"title": "Background_Promotability",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.Background_Promotability"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			},
			"put": {
				"summary": "Update entity in Background_Promotability",
				"tags": ["BackgroundPromotability"],
				"parameters": [{
					"name": "backgroundElementId",
					"in": "path",
					"required": true,
					"description": "key: backgroundElementId",
					"type": "integer",
					"format": "int64"
				},
				{
					"name": "userId",
					"in": "path",
					"required": true,
					"description": "key: userId",
					"type": "string"
				},
				{
					"name": "Background_Promotability",
					"in": "body",
					"description": "New property values",
					"schema": {
						"title": "Modified Background_Promotability",
						"type": "object",
						"properties": {
							"d": {
								"$ref": "#/definitions/SFOData.Background_Promotability"
							}
						}
					}
				}],
				"responses": {
					"204": {
						"description": "Success"
					},
					"400": {
						"description": "Bad Request",
						"schema": {
							"$ref": "#/definitions/odata.error"
						},
						"examples": {
							"application/json": {
								"error": {
									"code": "Bad Request Exception",
									"message": {
										"lang": "en-US",
										"value": "string"
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			},
			"delete": {
				"summary": "Delete entity from Background_Promotability",
				"tags": ["BackgroundPromotability"],
				"parameters": [{
					"name": "backgroundElementId",
					"in": "path",
					"required": true,
					"description": "key: backgroundElementId",
					"type": "integer",
					"format": "int64"
				},
				{
					"name": "userId",
					"in": "path",
					"required": true,
					"description": "key: userId",
					"type": "string"
				},
				{
					"name": "If-Match",
					"in": "header",
					"description": "ETag",
					"type": "string"
				}],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/Background_Fsaelection": {
			"get": {
				"summary": "Get entities from Background_Fsaelection",
				"tags": ["BackgroundFsaelection"],
				"parameters": [{
					"$ref": "#/parameters/top"
				},
				{
					"$ref": "#/parameters/skip"
				},
				{
					"$ref": "#/parameters/search"
				},
				{
					"$ref": "#/parameters/filter"
				},
				{
					"$ref": "#/parameters/count"
				},
				{
					"name": "$orderby",
					"in": "query",
					"description": "Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["backgroundElementId",
						"backgroundElementId desc",
						"bgOrderPos",
						"bgOrderPos desc",
						"fsabalance",
						"fsabalance desc",
						"fsacontributions",
						"fsacontributions desc",
						"fsaelectionamount",
						"fsaelectionamount desc",
						"fsafundsout",
						"fsafundsout desc",
						"fsaplan",
						"fsaplan desc",
						"fsarepayment",
						"fsarepayment desc",
						"lastModifiedDate",
						"lastModifiedDate desc",
						"userId",
						"userId desc"]
					}
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["backgroundElementId",
						"bgOrderPos",
						"fsabalance",
						"fsacontributions",
						"fsaelectionamount",
						"fsafundsout",
						"fsaplan",
						"fsarepayment",
						"lastModifiedDate",
						"userId"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entities",
						"schema": {
							"type": "object",
							"title": "Wrapper",
							"properties": {
								"d": {
									"type": "object",
									"title": "Collection of Background_Fsaelection",
									"properties": {
										"results": {
											"type": "array",
											"items": {
												"$ref": "#/definitions/SFOData.Background_Fsaelection"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			},
			"post": {
				"summary": "Add new entity to Background_Fsaelection",
				"tags": ["BackgroundFsaelection"],
				"parameters": [{
					"name": "Background_Fsaelection",
					"in": "body",
					"description": "New entity",
					"schema": {
						"$ref": "#/definitions/SFOData.Background_Fsaelection"
					}
				}],
				"responses": {
					"201": {
						"description": "Created entity",
						"schema": {
							"title": "Created Background_Fsaelection",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.Background_Fsaelection"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"schema": {
							"$ref": "#/definitions/odata.error"
						},
						"examples": {
							"application/json": {
								"error": {
									"code": "Bad Request Exception",
									"message": {
										"lang": "en-US",
										"value": "string"
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/Background_Fsaelection(backgroundElementId={backgroundElementId},userId='{userId}')": {
			"get": {
				"summary": "Get entity from Background_Fsaelection by key",
				"tags": ["BackgroundFsaelection"],
				"parameters": [{
					"name": "backgroundElementId",
					"in": "path",
					"required": true,
					"description": "key: backgroundElementId",
					"type": "integer",
					"format": "int64"
				},
				{
					"name": "userId",
					"in": "path",
					"required": true,
					"description": "key: userId",
					"type": "string"
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["backgroundElementId",
						"bgOrderPos",
						"fsabalance",
						"fsacontributions",
						"fsaelectionamount",
						"fsafundsout",
						"fsaplan",
						"fsarepayment",
						"lastModifiedDate",
						"userId"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entity",
						"schema": {
							"title": "Background_Fsaelection",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.Background_Fsaelection"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			},
			"put": {
				"summary": "Update entity in Background_Fsaelection",
				"tags": ["BackgroundFsaelection"],
				"parameters": [{
					"name": "backgroundElementId",
					"in": "path",
					"required": true,
					"description": "key: backgroundElementId",
					"type": "integer",
					"format": "int64"
				},
				{
					"name": "userId",
					"in": "path",
					"required": true,
					"description": "key: userId",
					"type": "string"
				},
				{
					"name": "Background_Fsaelection",
					"in": "body",
					"description": "New property values",
					"schema": {
						"title": "Modified Background_Fsaelection",
						"type": "object",
						"properties": {
							"d": {
								"$ref": "#/definitions/SFOData.Background_Fsaelection"
							}
						}
					}
				}],
				"responses": {
					"204": {
						"description": "Success"
					},
					"400": {
						"description": "Bad Request",
						"schema": {
							"$ref": "#/definitions/odata.error"
						},
						"examples": {
							"application/json": {
								"error": {
									"code": "Bad Request Exception",
									"message": {
										"lang": "en-US",
										"value": "string"
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			},
			"delete": {
				"summary": "Delete entity from Background_Fsaelection",
				"tags": ["BackgroundFsaelection"],
				"parameters": [{
					"name": "backgroundElementId",
					"in": "path",
					"required": true,
					"description": "key: backgroundElementId",
					"type": "integer",
					"format": "int64"
				},
				{
					"name": "userId",
					"in": "path",
					"required": true,
					"description": "key: userId",
					"type": "string"
				},
				{
					"name": "If-Match",
					"in": "header",
					"description": "ETag",
					"type": "string"
				}],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/Background_Compensation": {
			"get": {
				"summary": "Get entities from Background_Compensation",
				"tags": ["BackgroundCompensation"],
				"parameters": [{
					"$ref": "#/parameters/top"
				},
				{
					"$ref": "#/parameters/skip"
				},
				{
					"$ref": "#/parameters/search"
				},
				{
					"$ref": "#/parameters/filter"
				},
				{
					"$ref": "#/parameters/count"
				},
				{
					"name": "$orderby",
					"in": "query",
					"description": "Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["backgroundElementId",
						"backgroundElementId desc",
						"bgOrderPos",
						"bgOrderPos desc",
						"compaRatio",
						"compaRatio desc",
						"curSalary",
						"curSalary desc",
						"finSalary",
						"finSalary desc",
						"jobTitle",
						"jobTitle desc",
						"lastModifiedDate",
						"lastModifiedDate desc",
						"lumpSum",
						"lumpSum desc",
						"merit",
						"merit desc",
						"options",
						"options desc",
						"pmRating",
						"pmRating desc",
						"stock",
						"stock desc",
						"sysCompTemplateName",
						"sysCompTemplateName desc",
						"sysReviewEndDate",
						"sysReviewEndDate desc",
						"sysReviewStartDate",
						"sysReviewStartDate desc",
						"totalComp",
						"totalComp desc",
						"userId",
						"userId desc"]
					}
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["backgroundElementId",
						"bgOrderPos",
						"compaRatio",
						"curSalary",
						"finSalary",
						"jobTitle",
						"lastModifiedDate",
						"lumpSum",
						"merit",
						"options",
						"pmRating",
						"stock",
						"sysCompTemplateName",
						"sysReviewEndDate",
						"sysReviewStartDate",
						"totalComp",
						"userId"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entities",
						"schema": {
							"type": "object",
							"title": "Wrapper",
							"properties": {
								"d": {
									"type": "object",
									"title": "Collection of Background_Compensation",
									"properties": {
										"results": {
											"type": "array",
											"items": {
												"$ref": "#/definitions/SFOData.Background_Compensation"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			},
			"post": {
				"summary": "Add new entity to Background_Compensation",
				"tags": ["BackgroundCompensation"],
				"parameters": [{
					"name": "Background_Compensation",
					"in": "body",
					"description": "New entity",
					"schema": {
						"$ref": "#/definitions/SFOData.Background_Compensation"
					}
				}],
				"responses": {
					"201": {
						"description": "Created entity",
						"schema": {
							"title": "Created Background_Compensation",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.Background_Compensation"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"schema": {
							"$ref": "#/definitions/odata.error"
						},
						"examples": {
							"application/json": {
								"error": {
									"code": "Bad Request Exception",
									"message": {
										"lang": "en-US",
										"value": "string"
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/Background_Compensation(backgroundElementId={backgroundElementId},userId='{userId}')": {
			"get": {
				"summary": "Get entity from Background_Compensation by key",
				"tags": ["BackgroundCompensation"],
				"parameters": [{
					"name": "backgroundElementId",
					"in": "path",
					"required": true,
					"description": "key: backgroundElementId",
					"type": "integer",
					"format": "int64"
				},
				{
					"name": "userId",
					"in": "path",
					"required": true,
					"description": "key: userId",
					"type": "string"
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["backgroundElementId",
						"bgOrderPos",
						"compaRatio",
						"curSalary",
						"finSalary",
						"jobTitle",
						"lastModifiedDate",
						"lumpSum",
						"merit",
						"options",
						"pmRating",
						"stock",
						"sysCompTemplateName",
						"sysReviewEndDate",
						"sysReviewStartDate",
						"totalComp",
						"userId"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entity",
						"schema": {
							"title": "Background_Compensation",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.Background_Compensation"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			},
			"put": {
				"summary": "Update entity in Background_Compensation",
				"tags": ["BackgroundCompensation"],
				"parameters": [{
					"name": "backgroundElementId",
					"in": "path",
					"required": true,
					"description": "key: backgroundElementId",
					"type": "integer",
					"format": "int64"
				},
				{
					"name": "userId",
					"in": "path",
					"required": true,
					"description": "key: userId",
					"type": "string"
				},
				{
					"name": "Background_Compensation",
					"in": "body",
					"description": "New property values",
					"schema": {
						"title": "Modified Background_Compensation",
						"type": "object",
						"properties": {
							"d": {
								"$ref": "#/definitions/SFOData.Background_Compensation"
							}
						}
					}
				}],
				"responses": {
					"204": {
						"description": "Success"
					},
					"400": {
						"description": "Bad Request",
						"schema": {
							"$ref": "#/definitions/odata.error"
						},
						"examples": {
							"application/json": {
								"error": {
									"code": "Bad Request Exception",
									"message": {
										"lang": "en-US",
										"value": "string"
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			},
			"delete": {
				"summary": "Delete entity from Background_Compensation",
				"tags": ["BackgroundCompensation"],
				"parameters": [{
					"name": "backgroundElementId",
					"in": "path",
					"required": true,
					"description": "key: backgroundElementId",
					"type": "integer",
					"format": "int64"
				},
				{
					"name": "userId",
					"in": "path",
					"required": true,
					"description": "key: userId",
					"type": "string"
				},
				{
					"name": "If-Match",
					"in": "header",
					"description": "ETag",
					"type": "string"
				}],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/Background_Memberships": {
			"get": {
				"summary": "Get entities from Background_Memberships",
				"tags": ["BackgroundMemberships"],
				"parameters": [{
					"$ref": "#/parameters/top"
				},
				{
					"$ref": "#/parameters/skip"
				},
				{
					"$ref": "#/parameters/search"
				},
				{
					"$ref": "#/parameters/filter"
				},
				{
					"$ref": "#/parameters/count"
				},
				{
					"name": "$orderby",
					"in": "query",
					"description": "Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["backgroundElementId",
						"backgroundElementId desc",
						"bgOrderPos",
						"bgOrderPos desc",
						"endDate",
						"endDate desc",
						"lastModifiedDate",
						"lastModifiedDate desc",
						"organization",
						"organization desc",
						"role",
						"role desc",
						"startDate",
						"startDate desc",
						"userId",
						"userId desc"]
					}
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["backgroundElementId",
						"bgOrderPos",
						"endDate",
						"lastModifiedDate",
						"organization",
						"role",
						"startDate",
						"userId"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entities",
						"schema": {
							"type": "object",
							"title": "Wrapper",
							"properties": {
								"d": {
									"type": "object",
									"title": "Collection of Background_Memberships",
									"properties": {
										"results": {
											"type": "array",
											"items": {
												"$ref": "#/definitions/SFOData.Background_Memberships"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			},
			"post": {
				"summary": "Add new entity to Background_Memberships",
				"tags": ["BackgroundMemberships"],
				"parameters": [{
					"name": "Background_Memberships",
					"in": "body",
					"description": "New entity",
					"schema": {
						"$ref": "#/definitions/SFOData.Background_Memberships"
					}
				}],
				"responses": {
					"201": {
						"description": "Created entity",
						"schema": {
							"title": "Created Background_Memberships",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.Background_Memberships"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"schema": {
							"$ref": "#/definitions/odata.error"
						},
						"examples": {
							"application/json": {
								"error": {
									"code": "Bad Request Exception",
									"message": {
										"lang": "en-US",
										"value": "string"
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/Background_Memberships(backgroundElementId={backgroundElementId},userId='{userId}')": {
			"get": {
				"summary": "Get entity from Background_Memberships by key",
				"tags": ["BackgroundMemberships"],
				"parameters": [{
					"name": "backgroundElementId",
					"in": "path",
					"required": true,
					"description": "key: backgroundElementId",
					"type": "integer",
					"format": "int64"
				},
				{
					"name": "userId",
					"in": "path",
					"required": true,
					"description": "key: userId",
					"type": "string"
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["backgroundElementId",
						"bgOrderPos",
						"endDate",
						"lastModifiedDate",
						"organization",
						"role",
						"startDate",
						"userId"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entity",
						"schema": {
							"title": "Background_Memberships",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.Background_Memberships"
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			},
			"put": {
				"summary": "Update entity in Background_Memberships",
				"tags": ["BackgroundMemberships"],
				"parameters": [{
					"name": "backgroundElementId",
					"in": "path",
					"required": true,
					"description": "key: backgroundElementId",
					"type": "integer",
					"format": "int64"
				},
				{
					"name": "userId",
					"in": "path",
					"required": true,
					"description": "key: userId",
					"type": "string"
				},
				{
					"name": "Background_Memberships",
					"in": "body",
					"description": "New property values",
					"schema": {
						"title": "Modified Background_Memberships",
						"type": "object",
						"properties": {
							"d": {
								"$ref": "#/definitions/SFOData.Background_Memberships"
							}
						}
					}
				}],
				"responses": {
					"204": {
						"description": "Success"
					},
					"400": {
						"description": "Bad Request",
						"schema": {
							"$ref": "#/definitions/odata.error"
						},
						"examples": {
							"application/json": {
								"error": {
									"code": "Bad Request Exception",
									"message": {
										"lang": "en-US",
										"value": "string"
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			},
			"delete": {
				"summary": "Delete entity from Background_Memberships",
				"tags": ["BackgroundMemberships"],
				"parameters": [{
					"name": "backgroundElementId",
					"in": "path",
					"required": true,
					"description": "key: backgroundElementId",
					"type": "integer",
					"format": "int64"
				},
				{
					"name": "userId",
					"in": "path",
					"required": true,
					"description": "key: userId",
					"type": "string"
				},
				{
					"name": "If-Match",
					"in": "header",
					"description": "ETag",
					"type": "string"
				}],
				"responses": {
					"204": {
						"description": "Success"
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/Background_Documents": {
			"get": {
				"summary": "Get entities from Background_Documents",
				"tags": ["BackgroundDocuments"],
				"parameters": [{
					"$ref": "#/parameters/top"
				},
				{
					"$ref": "#/parameters/skip"
				},
				{
					"$ref": "#/parameters/search"
				},
				{
					"$ref": "#/parameters/filter"
				},
				{
					"$ref": "#/parameters/count"
				},
				{
					"name": "$orderby",
					"in": "query",
					"description": "Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["DocName",
						"DocName desc",
						"attachment",
						"attachment desc",
						"backgroundElementId",
						"backgroundElementId desc",
						"bgOrderPos",
						"bgOrderPos desc",
						"lastModifiedDate",
						"lastModifiedDate desc",
						"userId",
						"userId desc"]
					}
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
					"type": "array",
					"uniqueItems": true,
					"items": {
						"type": "string",
						"enum": ["DocName",
						"attachment",
						"backgroundElementId",
						"bgOrderPos",
						"lastModifiedDate",
						"userId"]
					}
				}],
				"responses": {
					"200": {
						"description": "Retrieved entities",
						"schema": {
							"type": "object",
							"title": "Wrapper",
							"properties": {
								"d": {
									"type": "object",
									"title": "Collection of Background_Documents",
									"properties": {
										"results": {
											"type": "array",
											"items": {
												"$ref": "#/definitions/SFOData.Background_Documents"
											}
										}
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			},
			"post": {
				"summary": "Add new entity to Background_Documents",
				"tags": ["BackgroundDocuments"],
				"parameters": [{
					"name": "Background_Documents",
					"in": "body",
					"description": "New entity",
					"schema": {
						"$ref": "#/definitions/SFOData.Background_Documents"
					}
				}],
				"responses": {
					"201": {
						"description": "Created entity",
						"schema": {
							"title": "Created Background_Documents",
							"type": "object",
							"properties": {
								"d": {
									"$ref": "#/definitions/SFOData.Background_Documents"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"schema": {
							"$ref": "#/definitions/odata.error"
						},
						"examples": {
							"application/json": {
								"error": {
									"code": "Bad Request Exception",
									"message": {
										"lang": "en-US",
										"value": "string"
									}
								}
							}
						}
					},
					"default": {
						"$ref": "#/responses/error"
					}
				}
			}
		},
		"/Background_Documents(backgroundElementId={backgroundElementId},userId='{userId}')": {
			"get": {
				"summary": "Get entity from Background_Documents by key",
				"tags": ["BackgroundDocuments"],
				"parameters": [{
					"name": "backgroundElementId",
					"in": "path",
					"required": true,
					"description": "key: backgroundElementId",
					"type": "integer",
					"format": "int64"
				},
				{
					"name": "userId",
					"in": "path",
					"required": true,
					"description": "key: userId",
					"type": "string"
				},
				{
					"name": "$select",
					"in": "query",
					"description": "Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)",
					"type": "array",
					"uniqueItems": true,
					"items": {
[...]
