{"swagger":"2.0", "info":{"title":"Income Tax Declaration", "version":"1.0", "description":"You can use these APIs to record income tax declaration and submit tax declarations actuals. You can also use these APIs to categorize or group investment types, and configure the window period that controls the creation of actuals and proposals.\n\n You can find your company's API server in [List of API Servers in SAP SuccessFactors.](https:\/\/help.sap.com\/viewer\/d599f15995d348a1b45ba5603e2aba9b\/LATEST\/en-US\/af2b8d5437494b12be88fe374eba75b6.html)"}, "externalDocs":{"description":"Income Tax Declaration on SAP Help Portal", "url":"https://help.sap.com/docs/SAP_SUCCESSFACTORS_PLATFORM/d599f15995d348a1b45ba5603e2aba9b/07f0c0dffe53445db79c4568244eecf5.html"}, "x-sap-shortText":"API to access the income tax declaration records and submit tax declarations actuals", "schemes":["https"], "host":"sandbox.api.sap.com", "basePath":"/successfactors/odata/v2", "consumes":["application/json"], "produces":["application/json"], "x-servers":[{"url":"https://{api-server}/odata/v2", "description":"OData APIs for the SuccessFactors Data Centers", "templates":{"api-server":{"description":"SuccessFactors Data Center host", "default":"apisalesdemo8.successfactors.com"}}}, {"url":"https://sandbox.api.sap.com/successfactorsfoundation/odata/v2", "description":"Sandbox URL"}], "tags":[{"name":"DeclarationType"}, {"name":"FiscalYearVariant"}, {"name":"FiscalYearToCountryMap"}, {"name":"ItDeclarationTimeBound"}, {"name":"ItDeclInvestmentType"}, {"name":"ItDeclaration"}], "paths":{"/DeclarationType":{"get":{"operationId":"listDeclarationTypes", "summary":"Get entities from DeclarationType", "tags":["DeclarationType"], "parameters":[{"$ref":"#/parameters/top"}, {"$ref":"#/parameters/skip"}, {"$ref":"#/parameters/search"}, {"$ref":"#/parameters/filter"}, {"$ref":"#/parameters/count"}, {"name":"$orderby", "in":"query", "description":"Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["createdBy", "createdBy desc", "createdDateTime", "createdDateTime desc", "externalCode", "externalCode desc", "externalName", "externalName desc", "lastModifiedBy", "lastModifiedBy desc", "lastModifiedDateTime", "lastModifiedDateTime desc", "mdfSystemCreatedBy", "mdfSystemCreatedBy desc", "mdfSystemCreatedDate", "mdfSystemCreatedDate desc", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveEndDate desc", "mdfSystemEffectiveStartDate", "mdfSystemEffectiveStartDate desc", "mdfSystemEntityId", "mdfSystemEntityId desc", "mdfSystemLastModifiedBy", "mdfSystemLastModifiedBy desc", "mdfSystemLastModifiedDate", "mdfSystemLastModifiedDate desc", "mdfSystemLastModifiedDateWithTZ", "mdfSystemLastModifiedDateWithTZ desc", "mdfSystemObjectType", "mdfSystemObjectType desc", "mdfSystemRecordId", "mdfSystemRecordId desc", "mdfSystemRecordStatus", "mdfSystemRecordStatus desc", "mdfSystemStatus", "mdfSystemStatus desc", "mdfSystemTransactionSequence", "mdfSystemTransactionSequence desc", "mdfSystemVersionId", "mdfSystemVersionId desc", "remarks", "remarks desc"]}}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["createdBy", "createdDateTime", "externalCode", "externalName", "lastModifiedBy", "lastModifiedDateTime", "mdfSystemCreatedBy", "mdfSystemCreatedDate", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveStartDate", "mdfSystemEntityId", "mdfSystemLastModifiedBy", "mdfSystemLastModifiedDate", "mdfSystemLastModifiedDateWithTZ", "mdfSystemObjectType", "mdfSystemRecordId", "mdfSystemRecordStatus", "mdfSystemStatus", "mdfSystemTransactionSequence", "mdfSystemVersionId", "remarks"]}}], "responses":{"200":{"description":"Retrieved entities", "schema":{"type":"object", "title":"Wrapper", "properties":{"d":{"type":"object", "title":"Collection of DeclarationType", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.DeclarationType"}}}}}}}, "default":{"$ref":"#/responses/error"}}}}, "/DeclarationType('{externalCode}')":{"get":{"operationId":"getDeclarationType", "summary":"Get entity from DeclarationType by key", "tags":["DeclarationType"], "parameters":[{"name":"externalCode", "in":"path", "required":true, "description":"key: externalCode", "type":"string"}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["createdBy", "createdDateTime", "externalCode", "externalName", "lastModifiedBy", "lastModifiedDateTime", "mdfSystemCreatedBy", "mdfSystemCreatedDate", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveStartDate", "mdfSystemEntityId", "mdfSystemLastModifiedBy", "mdfSystemLastModifiedDate", "mdfSystemLastModifiedDateWithTZ", "mdfSystemObjectType", "mdfSystemRecordId", "mdfSystemRecordStatus", "mdfSystemStatus", "mdfSystemTransactionSequence", "mdfSystemVersionId", "remarks"]}}], "responses":{"200":{"description":"Retrieved entity", "schema":{"title":"DeclarationType", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.DeclarationType"}}}}, "default":{"$ref":"#/responses/error"}}}}, "/FiscalYearVariant":{"get":{"operationId":"listFiscalYearVariants", "summary":"Get entities from FiscalYearVariant", "tags":["FiscalYearVariant"], "parameters":[{"$ref":"#/parameters/top"}, {"$ref":"#/parameters/skip"}, {"$ref":"#/parameters/search"}, {"$ref":"#/parameters/filter"}, {"$ref":"#/parameters/count"}, {"name":"$orderby", "in":"query", "description":"Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["createdBy", "createdBy desc", "createdDateTime", "createdDateTime desc", "description", "description desc", "externalCode", "externalCode desc", "lastModifiedBy", "lastModifiedBy desc", "lastModifiedDateTime", "lastModifiedDateTime desc", "mdfSystemRecordStatus", "mdfSystemRecordStatus desc"]}}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["createdBy", "createdDateTime", "description", "externalCode", "lastModifiedBy", "lastModifiedDateTime", "mdfSystemRecordStatus"]}}], "responses":{"200":{"description":"Retrieved entities", "schema":{"type":"object", "title":"Wrapper", "properties":{"d":{"type":"object", "title":"Collection of FiscalYearVariant", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.FiscalYearVariant"}}}}}}}, "default":{"$ref":"#/responses/error"}}}}, "/FiscalYearVariant('{externalCode}')":{"get":{"operationId":"getFiscalYearVariant", "summary":"Get entity from FiscalYearVariant by key", "tags":["FiscalYearVariant"], "parameters":[{"name":"externalCode", "in":"path", "required":true, "description":"key: externalCode", "type":"string"}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["createdBy", "createdDateTime", "description", "externalCode", "lastModifiedBy", "lastModifiedDateTime", "mdfSystemRecordStatus"]}}], "responses":{"200":{"description":"Retrieved entity", "schema":{"title":"FiscalYearVariant", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.FiscalYearVariant"}}}}, "default":{"$ref":"#/responses/error"}}}}, "/FiscalYearToCountryMap":{"get":{"operationId":"listFiscalYearToCountryMaps", "summary":"Get entities from FiscalYearToCountryMap", "tags":["FiscalYearToCountryMap"], "parameters":[{"$ref":"#/parameters/top"}, {"$ref":"#/parameters/skip"}, {"$ref":"#/parameters/search"}, {"$ref":"#/parameters/filter"}, {"$ref":"#/parameters/count"}, {"name":"$orderby", "in":"query", "description":"Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["country", "country desc", "createdBy", "createdBy desc", "createdDateTime", "createdDateTime desc", "externalCode", "externalCode desc", "fiscalYearVariant", "fiscalYearVariant desc", "lastModifiedBy", "lastModifiedBy desc", "lastModifiedDateTime", "lastModifiedDateTime desc", "mdfSystemRecordStatus", "mdfSystemRecordStatus desc"]}}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["country", "createdBy", "createdDateTime", "externalCode", "fiscalYearVariant", "lastModifiedBy", "lastModifiedDateTime", "mdfSystemRecordStatus"]}}, {"name":"$expand", "in":"query", "description":"Expand related entities, see [OData Expand](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["*", "fiscalYearVariantNav"]}}], "responses":{"200":{"description":"Retrieved entities", "schema":{"type":"object", "title":"Wrapper", "properties":{"d":{"type":"object", "title":"Collection of FiscalYearToCountryMap", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.FiscalYearToCountryMap"}}}}}}}, "default":{"$ref":"#/responses/error"}}}}, "/FiscalYearToCountryMap('{externalCode}')":{"get":{"operationId":"getFiscalYearToCountryMap", "summary":"Get entity from FiscalYearToCountryMap by key", "tags":["FiscalYearToCountryMap"], "parameters":[{"name":"externalCode", "in":"path", "required":true, "description":"key: externalCode", "type":"string"}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["country", "createdBy", "createdDateTime", "externalCode", "fiscalYearVariant", "lastModifiedBy", "lastModifiedDateTime", "mdfSystemRecordStatus"]}}, {"name":"$expand", "in":"query", "description":"Expand related entities, see [OData Expand](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["*", "fiscalYearVariantNav"]}}], "responses":{"200":{"description":"Retrieved entity", "schema":{"title":"FiscalYearToCountryMap", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.FiscalYearToCountryMap"}}}}, "default":{"$ref":"#/responses/error"}}}}, "/ItDeclarationTimeBound":{"get":{"operationId":"listItDeclarationTimeBounds", "summary":"Get entities from ItDeclarationTimeBound", "tags":["ItDeclarationTimeBound"], "parameters":[{"$ref":"#/parameters/top"}, {"$ref":"#/parameters/skip"}, {"$ref":"#/parameters/search"}, {"$ref":"#/parameters/filter"}, {"$ref":"#/parameters/count"}, {"name":"$orderby", "in":"query", "description":"Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["createdBy", "createdBy desc", "createdDateTime", "createdDateTime desc", "endDay", "endDay desc", "endMonth", "endMonth desc", "externalCode", "externalCode desc", "lastModifiedBy", "lastModifiedBy desc", "lastModifiedDateTime", "lastModifiedDateTime desc", "mdfSystemCreatedBy", "mdfSystemCreatedBy desc", "mdfSystemCreatedDate", "mdfSystemCreatedDate desc", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveEndDate desc", "mdfSystemEffectiveStartDate", "mdfSystemEffectiveStartDate desc", "mdfSystemEntityId", "mdfSystemEntityId desc", "mdfSystemLastModifiedBy", "mdfSystemLastModifiedBy desc", "mdfSystemLastModifiedDate", "mdfSystemLastModifiedDate desc", "mdfSystemLastModifiedDateWithTZ", "mdfSystemLastModifiedDateWithTZ desc", "mdfSystemObjectType", "mdfSystemObjectType desc", "mdfSystemRecordId", "mdfSystemRecordId desc", "mdfSystemRecordStatus", "mdfSystemRecordStatus desc", "mdfSystemStatus", "mdfSystemStatus desc", "mdfSystemTransactionSequence", "mdfSystemTransactionSequence desc", "mdfSystemVersionId", "mdfSystemVersionId desc", "startDay", "startDay desc", "startMonth", "startMonth desc", "status", "status desc"]}}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["createdBy", "createdDateTime", "endDay", "endMonth", "externalCode", "lastModifiedBy", "lastModifiedDateTime", "mdfSystemCreatedBy", "mdfSystemCreatedDate", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveStartDate", "mdfSystemEntityId", "mdfSystemLastModifiedBy", "mdfSystemLastModifiedDate", "mdfSystemLastModifiedDateWithTZ", "mdfSystemObjectType", "mdfSystemRecordId", "mdfSystemRecordStatus", "mdfSystemStatus", "mdfSystemTransactionSequence", "mdfSystemVersionId", "startDay", "startMonth", "status"]}}], "responses":{"200":{"description":"Retrieved entities", "schema":{"type":"object", "title":"Wrapper", "properties":{"d":{"type":"object", "title":"Collection of ItDeclarationTimeBound", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.ItDeclarationTimeBound"}}}}}}}, "default":{"$ref":"#/responses/error"}}}}, "/ItDeclarationTimeBound('{externalCode}')":{"get":{"operationId":"getItDeclarationTimeBound", "summary":"Get entity from ItDeclarationTimeBound by key", "tags":["ItDeclarationTimeBound"], "parameters":[{"name":"externalCode", "in":"path", "required":true, "description":"key: externalCode", "type":"string"}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["createdBy", "createdDateTime", "endDay", "endMonth", "externalCode", "lastModifiedBy", "lastModifiedDateTime", "mdfSystemCreatedBy", "mdfSystemCreatedDate", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveStartDate", "mdfSystemEntityId", "mdfSystemLastModifiedBy", "mdfSystemLastModifiedDate", "mdfSystemLastModifiedDateWithTZ", "mdfSystemObjectType", "mdfSystemRecordId", "mdfSystemRecordStatus", "mdfSystemStatus", "mdfSystemTransactionSequence", "mdfSystemVersionId", "startDay", "startMonth", "status"]}}], "responses":{"200":{"description":"Retrieved entity", "schema":{"title":"ItDeclarationTimeBound", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.ItDeclarationTimeBound"}}}}, "default":{"$ref":"#/responses/error"}}}}, "/ItDeclInvestmentType":{"get":{"operationId":"listItDeclInvestmentTypes", "summary":"Get entities from ItDeclInvestmentType", "tags":["ItDeclInvestmentType"], "parameters":[{"$ref":"#/parameters/top"}, {"$ref":"#/parameters/skip"}, {"$ref":"#/parameters/search"}, {"$ref":"#/parameters/filter"}, {"$ref":"#/parameters/count"}, {"name":"$orderby", "in":"query", "description":"Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["category", "category desc", "country", "country desc", "createdBy", "createdBy desc", "createdDateTime", "createdDateTime desc", "declarationType", "declarationType desc", "effectiveEndDate", "effectiveEndDate desc", "effectiveStartDate", "effectiveStartDate desc", "externalCode", "externalCode desc", "externalName", "externalName desc", "investmentType", "investmentType desc", "lastModifiedBy", "lastModifiedBy desc", "lastModifiedDateTime", "lastModifiedDateTime desc", "mdfSystemCreatedBy", "mdfSystemCreatedBy desc", "mdfSystemCreatedDate", "mdfSystemCreatedDate desc", "mdfSystemEntityId", "mdfSystemEntityId desc", "mdfSystemLastModifiedBy", "mdfSystemLastModifiedBy desc", "mdfSystemLastModifiedDate", "mdfSystemLastModifiedDate desc", "mdfSystemLastModifiedDateWithTZ", "mdfSystemLastModifiedDateWithTZ desc", "mdfSystemObjectType", "mdfSystemObjectType desc", "mdfSystemRecordId", "mdfSystemRecordId desc", "mdfSystemRecordStatus", "mdfSystemRecordStatus desc", "mdfSystemTransactionSequence", "mdfSystemTransactionSequence desc", "mdfSystemVersionId", "mdfSystemVersionId desc", "status", "status desc", "useOnlyForActuals", "useOnlyForActuals desc", "wfProposal", "wfProposal desc"]}}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["category", "country", "createdBy", "createdDateTime", "declarationType", "effectiveEndDate", "effectiveStartDate", "externalCode", "externalName", "investmentType", "lastModifiedBy", "lastModifiedDateTime", "mdfSystemCreatedBy", "mdfSystemCreatedDate", "mdfSystemEntityId", "mdfSystemLastModifiedBy", "mdfSystemLastModifiedDate", "mdfSystemLastModifiedDateWithTZ", "mdfSystemObjectType", "mdfSystemRecordId", "mdfSystemRecordStatus", "mdfSystemTransactionSequence", "mdfSystemVersionId", "status", "useOnlyForActuals", "wfProposal"]}}, {"name":"$expand", "in":"query", "description":"Expand related entities, see [OData Expand](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["*", "declarationTypeNav"]}}], "responses":{"200":{"description":"Retrieved entities", "schema":{"type":"object", "title":"Wrapper", "properties":{"d":{"type":"object", "title":"Collection of ItDeclInvestmentType", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.ItDeclInvestmentType"}}}}}}}, "default":{"$ref":"#/responses/error"}}}}, "/ItDeclInvestmentType(effectiveStartDate={effectiveStartDate},externalCode='{externalCode}')":{"get":{"operationId":"getItDeclInvestmentType", "summary":"Get entity from ItDeclInvestmentType by key", "tags":["ItDeclInvestmentType"], "parameters":[{"name":"effectiveStartDate", "in":"path", "required":true, "description":"key: effectiveStartDate", "type":"string"}, {"name":"externalCode", "in":"path", "required":true, "description":"key: externalCode", "type":"string"}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["category", "country", "createdBy", "createdDateTime", "declarationType", "effectiveEndDate", "effectiveStartDate", "externalCode", "externalName", "investmentType", "lastModifiedBy", "lastModifiedDateTime", "mdfSystemCreatedBy", "mdfSystemCreatedDate", "mdfSystemEntityId", "mdfSystemLastModifiedBy", "mdfSystemLastModifiedDate", "mdfSystemLastModifiedDateWithTZ", "mdfSystemObjectType", "mdfSystemRecordId", "mdfSystemRecordStatus", "mdfSystemTransactionSequence", "mdfSystemVersionId", "status", "useOnlyForActuals", "wfProposal"]}}, {"name":"$expand", "in":"query", "description":"Expand related entities, see [OData Expand](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["*", "declarationTypeNav"]}}], "responses":{"200":{"description":"Retrieved entity", "schema":{"title":"ItDeclInvestmentType", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.ItDeclInvestmentType"}}}}, "default":{"$ref":"#/responses/error"}}}}, "/ItDeclaration":{"get":{"operationId":"listItDeclarations", "summary":"Get entities from ItDeclaration", "tags":["ItDeclaration"], "parameters":[{"$ref":"#/parameters/top"}, {"$ref":"#/parameters/skip"}, {"$ref":"#/parameters/search"}, {"$ref":"#/parameters/filter"}, {"$ref":"#/parameters/count"}, {"name":"$orderby", "in":"query", "description":"Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["amount", "amount desc", "approvalStatus", "approvalStatus desc", "category", "category desc", "createdBy", "createdBy desc", "createdDate", "createdDate desc", "createdDateTime", "createdDateTime desc", "currencyCode", "currencyCode desc", "declarationType", "declarationType desc", "effectiveStartDate", "effectiveStartDate desc", "externalCode", "externalCode desc", "externalName", "externalName desc", "fiscalYear", "fiscalYear desc", "itDeclInvestmentType", "itDeclInvestmentType desc", "lastModifiedBy", "lastModifiedBy desc", "lastModifiedDate", "lastModifiedDate desc", "lastModifiedDateTime", "lastModifiedDateTime desc", "lastModifiedDateWithTZ", "lastModifiedDateWithTZ desc", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveEndDate desc", "mdfSystemEntityId", "mdfSystemEntityId desc", "mdfSystemObjectType", "mdfSystemObjectType desc", "mdfSystemRecordId", "mdfSystemRecordId desc", "mdfSystemRecordStatus", "mdfSystemRecordStatus desc", "mdfSystemStatus", "mdfSystemStatus desc", "mdfSystemTransactionSequence", "mdfSystemTransactionSequence desc", "mdfSystemVersionId", "mdfSystemVersionId desc", "postingDate", "postingDate desc", "type", "type desc", "userSysId", "userSysId desc", "userSysIdCopy", "userSysIdCopy desc"]}}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["amount", "approvalStatus", "category", "createdBy", "createdDate", "createdDateTime", "currencyCode", "declarationType", "effectiveStartDate", "externalCode", "externalName", "fiscalYear", "itDeclInvestmentType", "lastModifiedBy", "lastModifiedDate", "lastModifiedDateTime", "lastModifiedDateWithTZ", "mdfSystemEffectiveEndDate", "mdfSystemEntityId", "mdfSystemObjectType", "mdfSystemRecordId", "mdfSystemRecordStatus", "mdfSystemStatus", "mdfSystemTransactionSequence", "mdfSystemVersionId", "postingDate", "type", "userSysId", "userSysIdCopy"]}}, {"name":"$expand", "in":"query", "description":"Expand related entities, see [OData Expand](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["*", "itDeclInvestmentTypeNav", "typeNav"]}}], "responses":{"200":{"description":"Retrieved entities", "schema":{"type":"object", "title":"Wrapper", "properties":{"d":{"type":"object", "title":"Collection of ItDeclaration", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.ItDeclaration"}}}}}}}, "default":{"$ref":"#/responses/error"}}}}, "/ItDeclaration(effectiveStartDate={effectiveStartDate},externalCode='{externalCode}')":{"get":{"operationId":"getItDeclaration", "summary":"Get entity from ItDeclaration by key", "tags":["ItDeclaration"], "parameters":[{"name":"effectiveStartDate", "in":"path", "required":true, "description":"key: effectiveStartDate", "type":"string"}, {"name":"externalCode", "in":"path", "required":true, "description":"key: externalCode", "type":"string"}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["amount", "approvalStatus", "category", "createdBy", "createdDate", "createdDateTime", "currencyCode", "declarationType", "effectiveStartDate", "externalCode", "externalName", "fiscalYear", "itDeclInvestmentType", "lastModifiedBy", "lastModifiedDate", "lastModifiedDateTime", "lastModifiedDateWithTZ", "mdfSystemEffectiveEndDate", "mdfSystemEntityId", "mdfSystemObjectType", "mdfSystemRecordId", "mdfSystemRecordStatus", "mdfSystemStatus", "mdfSystemTransactionSequence", "mdfSystemVersionId", "postingDate", "type", "userSysId", "userSysIdCopy"]}}, {"name":"$expand", "in":"query", "description":"Expand related entities, see [OData Expand](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["*", "itDeclInvestmentTypeNav", "typeNav"]}}], "responses":{"200":{"description":"Retrieved entity", "schema":{"title":"ItDeclaration", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.ItDeclaration"}}}}, "default":{"$ref":"#/responses/error"}}}}}, "security":[{"basicAuthentication":[]}], "securityDefinitions":{"basicAuthentication":{"type":"basic"}}, "responses":{"error":{"description":"Error", "schema":{"$ref":"#/definitions/odata.error"}}}, "definitions":{"odata.error":{"type":"object", "required":["error"], "properties":{"error":{"$ref":"#/definitions/odata.error.main"}}}, "odata.error.main":{"type":"object", "required":["code", "message"], "properties":{"code":{"type":"string"}, "message":{"type":"string"}, "target":{"type":"string"}, "details":{"type":"array", "items":{"$ref":"#/definitions/odata.error.detail"}}, "innererror":{"type":"object", "description":"The structure of this object is service-specific"}}}, "odata.error.detail":{"type":"object", "required":["code", "message"], "properties":{"code":{"type":"string"}, "message":{"type":"string"}, "target":{"type":"string"}}}, "SFOData.DeclarationType":{"type":"object", "properties":{"createdBy":{"type":["string", "null"], "maxLength":255}, "createdDateTime":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "externalCode":{"type":"string", "maxLength":128}, "externalName":{"type":["string", "null"], "maxLength":128}, "lastModifiedBy":{"type":["string", "null"], "maxLength":255}, "lastModifiedDateTime":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "mdfSystemCreatedBy":{"type":["string", "null"], "maxLength":255}, "mdfSystemCreatedDate":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "mdfSystemEffectiveEndDate":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "mdfSystemEffectiveStartDate":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "mdfSystemEntityId":{"type":["string", "null"], "maxLength":255}, "mdfSystemLastModifiedBy":{"type":["string", "null"], "maxLength":255}, "mdfSystemLastModifiedDate":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "mdfSystemLastModifiedDateWithTZ":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "mdfSystemObjectType":{"type":["string", "null"], "maxLength":255}, "mdfSystemRecordId":{"type":["string", "null"], "maxLength":255}, "mdfSystemRecordStatus":{"type":["string", "null"], "maxLength":255}, "mdfSystemStatus":{"type":["string", "null"], "maxLength":255}, "mdfSystemTransactionSequence":{"type":["string", "null"], "format":"int64"}, "mdfSystemVersionId":{"type":["string", "null"], "format":"int64"}, "remarks":{"type":["string", "null"], "maxLength":255}}, "title":"DeclarationType"}, "SFOData.FiscalYearVariant":{"type":"object", "properties":{"createdBy":{"type":["string", "null"], "maxLength":255}, "createdDateTime":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "description":{"type":["string", "null"], "maxLength":255}, "externalCode":{"type":"string", "maxLength":128}, "lastModifiedBy":{"type":["string", "null"], "maxLength":255}, "lastModifiedDateTime":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "mdfSystemRecordStatus":{"type":["string", "null"], "maxLength":255}}, "title":"FiscalYearVariant"}, "SFOData.FiscalYearToCountryMap":{"type":"object", "properties":{"country":{"type":["string", "null"], "maxLength":128}, "createdBy":{"type":["string", "null"], "maxLength":255}, "createdDateTime":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "externalCode":{"type":"string", "maxLength":128}, "fiscalYearVariant":{"type":["string", "null"], "maxLength":128}, "lastModifiedBy":{"type":["string", "null"], "maxLength":255}, "lastModifiedDateTime":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "mdfSystemRecordStatus":{"type":["string", "null"], "maxLength":255}, "fiscalYearVariantNav":{"$ref":"#/definitions/SFOData.FiscalYearVariant"}}, "title":"FiscalYearToCountryMap"}, "SFOData.ItDeclarationTimeBound":{"type":"object", "properties":{"createdBy":{"type":["string", "null"], "maxLength":255}, "createdDateTime":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "endDay":{"type":["string", "null"], "maxLength":255}, "endMonth":{"type":["string", "null"], "maxLength":255}, "externalCode":{"type":"string", "maxLength":128}, "lastModifiedBy":{"type":["string", "null"], "maxLength":255}, "lastModifiedDateTime":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "mdfSystemCreatedBy":{"type":["string", "null"], "maxLength":255}, "mdfSystemCreatedDate":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "mdfSystemEffectiveEndDate":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "mdfSystemEffectiveStartDate":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "mdfSystemEntityId":{"type":["string", "null"], "maxLength":255}, "mdfSystemLastModifiedBy":{"type":["string", "null"], "maxLength":255}, "mdfSystemLastModifiedDate":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "mdfSystemLastModifiedDateWithTZ":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "mdfSystemObjectType":{"type":["string", "null"], "maxLength":255}, "mdfSystemRecordId":{"type":["string", "null"], "maxLength":255}, "mdfSystemRecordStatus":{"type":["string", "null"], "maxLength":255}, "mdfSystemStatus":{"type":["string", "null"], "maxLength":255}, "mdfSystemTransactionSequence":{"type":["string", "null"], "format":"int64"}, "mdfSystemVersionId":{"type":["string", "null"], "format":"int64"}, "startDay":{"type":["string", "null"], "maxLength":255}, "startMonth":{"type":["string", "null"], "maxLength":255}, "status":{"type":["string", "null"], "maxLength":255}}, "title":"ItDeclarationTimeBound"}, "SFOData.ItDeclInvestmentType":{"type":"object", "properties":{"category":{"type":["string", "null"], "maxLength":255}, "country":{"type":["string", "null"], "maxLength":128}, "createdBy":{"type":["string", "null"], "maxLength":255}, "createdDateTime":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "declarationType":{"type":["string", "null"], "maxLength":128}, "effectiveEndDate":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "effectiveStartDate":{"type":"string", "example":"/Date(1492098664000)/"}, "externalCode":{"type":"string", "maxLength":128}, "externalName":{"type":["string", "null"], "maxLength":128}, "investmentType":{"type":["string", "null"], "maxLength":255}, "lastModifiedBy":{"type":["string", "null"], "maxLength":255}, "lastModifiedDateTime":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "mdfSystemCreatedBy":{"type":["string", "null"], "maxLength":255}, "mdfSystemCreatedDate":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "mdfSystemEntityId":{"type":["string", "null"], "maxLength":255}, "mdfSystemLastModifiedBy":{"type":["string", "null"], "maxLength":255}, "mdfSystemLastModifiedDate":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "mdfSystemLastModifiedDateWithTZ":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "mdfSystemObjectType":{"type":["string", "null"], "maxLength":255}, "mdfSystemRecordId":{"type":["string", "null"], "maxLength":255}, "mdfSystemRecordStatus":{"type":["string", "null"], "maxLength":255}, "mdfSystemTransactionSequence":{"type":["string", "null"], "format":"int64"}, "mdfSystemVersionId":{"type":["string", "null"], "format":"int64"}, "status":{"type":["string", "null"], "maxLength":255}, "useOnlyForActuals":{"type":["boolean", "null"]}, "wfProposal":{"type":["string", "null"], "maxLength":255}, "declarationTypeNav":{"$ref":"#/definitions/SFOData.DeclarationType"}}, "title":"ItDeclInvestmentType"}, "SFOData.ItDeclaration":{"type":"object", "properties":{"amount":{"type":["string", "null"], "format":"decimal", "multipleOf":1}, "approvalStatus":{"type":["string", "null"], "maxLength":255}, "category":{"type":["string", "null"], "maxLength":255}, "createdBy":{"type":["string", "null"], "maxLength":255}, "createdDate":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "createdDateTime":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "currencyCode":{"type":["string", "null"], "maxLength":255}, "declarationType":{"type":["string", "null"], "maxLength":255}, "effectiveStartDate":{"type":"string", "example":"/Date(1492098664000)/"}, "externalCode":{"type":"string", "maxLength":128}, "externalName":{"type":["string", "null"], "maxLength":128}, "fiscalYear":{"type":["string", "null"], "maxLength":255}, "itDeclInvestmentType":{"type":["string", "null"], "maxLength":128}, "lastModifiedBy":{"type":["string", "null"], "maxLength":255}, "lastModifiedDate":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "lastModifiedDateTime":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "lastModifiedDateWithTZ":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "mdfSystemEffectiveEndDate":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "mdfSystemEntityId":{"type":["string", "null"], "maxLength":255}, "mdfSystemObjectType":{"type":["string", "null"], "maxLength":255}, "mdfSystemRecordId":{"type":["string", "null"], "maxLength":255}, "mdfSystemRecordStatus":{"type":["string", "null"], "maxLength":255}, "mdfSystemStatus":{"type":["string", "null"], "maxLength":255}, "mdfSystemTransactionSequence":{"type":["string", "null"], "format":"int64"}, "mdfSystemVersionId":{"type":["string", "null"], "format":"int64"}, "postingDate":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "type":{"type":["string", "null"], "maxLength":128}, "userSysId":{"type":["string", "null"], "maxLength":100}, "userSysIdCopy":{"type":["string", "null"], "maxLength":100}, "itDeclInvestmentTypeNav":{"$ref":"#/definitions/SFOData.ItDeclInvestmentType"}, "typeNav":{"$ref":"#/definitions/SFOData.DeclarationType"}}, "title":"ItDeclaration"}}, "parameters":{"top":{"name":"$top", "in":"query", "description":"Show only the first n items, see [OData Paging - Top](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"integer", "default":20}, "skip":{"name":"$skip", "in":"query", "description":"Skip the first n items, see [OData Paging - Skip](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"integer"}, "count":{"name":"$count", "in":"query", "description":"Include count of items, see [OData Count](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"boolean"}, "filter":{"name":"$filter", "in":"query", "description":"Filter items by property values, see [OData Filtering](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"string"}, "search":{"name":"$search", "in":"query", "description":"Search items by search phrases, see [OData Searching](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"string"}}}