{
    "swagger": "2.0",
    "security": [
        {
            "basicAuthentication": []
        }
    ],
    "securityDefinitions": {
        "basicAuthentication": {
            "type": "basic"
        }
    },
    "x-sap-shortText":"API to access the information about the replication status of employee data",
    "x-servers": [{
        "url": "https://{api-server}/odata/v2",
        "description": "OData APIs for the SuccessFactors Data Centers",
        "templates": {
            "api-server": {
                "description": "SuccessFactors Data Center host",
                "default": "apisalesdemo8.successfactors.com"
            }
        }
    }],
    "info": {
        "title": "Master Data Replication Status",
        "version": "1.0",
        "description": "You can use these APIs to access the information about the replication status of employee data from Employee Central to payroll systems. The APIs are used in the standard integrations from SAP SuccessFactors Employee Central to SAP ERP, SAP S/4HANA and SAP SuccessFactors Employee Central Payroll.\n\n You can find your company's API server in [List of API Servers in SAP SuccessFactors.](https://help.sap.com/viewer/d599f15995d348a1b45ba5603e2aba9b/LATEST/en-US/af2b8d5437494b12be88fe374eba75b6.html)"
    },
    "externalDocs": {
        "description": "More information available on SAP Help Portal",
        "url": "https://help.sap.com/docs/SAP_SUCCESSFACTORS_PLATFORM/d599f15995d348a1b45ba5603e2aba9b/03e1fc3791684367a6a76a614a2916de.html"
    },
    "schemes": ["https"],
    "host": "sandbox.api.sap.com",
    "basePath": "/successfactors/odata/v2",
    "consumes": ["application/json"],
    "produces": ["application/json"],
    "tags": [{
        "name": "EmployeeDataReplicationElement"
    },
    {
        "name": "EmployeeDataReplicationNotification"
    },
    {
        "name": "EmployeeDataReplicationConfirmation"
    }],
    "definitions": {
        "odata.error": {
            "type": "object",
            "required": ["error"],
            "properties": {
                "error": {
                    "$ref": "#/definitions/odata.error.main"
                }
            }
        },
        "odata.error.main": {
            "type": "object",
            "required": ["code",
            "message"],
            "properties": {
                "code": {
                    "type": "string"
                },
                "message": {
                    "type": "string"
                },
                "target": {
                    "type": "string"
                },
                "details": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/odata.error.detail"
                    }
                },
                "innererror": {
                    "type": "object",
                    "description": "The structure of this object is service-specific"
                }
            }
        },
        "odata.error.detail": {
            "type": "object",
            "required": ["code",
            "message"],
            "properties": {
                "code": {
                    "type": "string"
                },
                "message": {
                    "type": "string"
                },
                "target": {
                    "type": "string"
                }
            }
        },
        "odata.error.400": {
            "type": "object",
            "required": ["code",
            "message"],
            "properties": {
                "code": {
                    "type": "string"
                },
                "message": {
                    "type": "string"
                },
                "target": {
                    "type": "string"
                }
            }
        },
         "entitySpecificError": {
            "type": "object",
            "properties": {
                "key": {
                    "type": "string"
                },
                "status": {
                    "type": "string"
                },
                "editStatus": {
                    "type": "string"
                },
                "message": {
                    "type": "string"
                },
                "index": {
                    "type": "string"
                },
                "httpCode": {
                    "type": "string"
                },
                "inlineResults": {
                    "type": "string"
                }
            },
            "title": "Entity Specific Error"
        },
        "SFOData.EmployeeDataReplicationConfirmationErrorMessage": {
            "type": "object",
            "properties": {
                "EmployeeDataReplicationConfirmation_externalCode": {
                    "type": "string",
                    "maxLength": 128
                },
                "createdBy": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "createdDate": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "createdDateTime": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "detailedSourceMessageURL": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalCode": {
                    "type": "string",
                    "maxLength": 128
                },
                "externalName_de_DE": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_defaultValue": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_en_GB": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_en_US": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_es_ES": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_fr_FR": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_ja_JP": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_ko_KR": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_localized": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_nl_NL": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_pt_BR": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_pt_PT": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_ru_RU": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_zh_CN": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_zh_TW": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "lastModifiedBy": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "lastModifiedDate": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "lastModifiedDateTime": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "lastModifiedDateWithTZ": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "mdfSystemEffectiveEndDate": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "mdfSystemEffectiveStartDate": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "mdfSystemEntityId": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "mdfSystemObjectType": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "mdfSystemRecordId": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "mdfSystemRecordStatus": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "mdfSystemStatus": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "mdfSystemTransactionSequence": {
                    "type": ["string",
                    "null"],
                    "format": "int64"
                },
                "mdfSystemVersionId": {
                    "type": ["string",
                    "null"],
                    "format": "int64"
                },
                "replicationMessageNodeType": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "sourceAttributeDescription": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "sourceAttributeId": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "sourceMessageSeverity": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "sourceMessageText": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "sourceMessageTypeId": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "sourceMessageVariable1": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "sourceMessageVariable2": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "sourceMessageVariable3": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "sourceMessageVariable4": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "sourceObjectTypeDescription": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "sourceObjectTypeId": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "sourcePersonIdentifier": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "sourceValidityPeriodEndDate": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "sourceValidityPeriodStartDate": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "technicalInformation": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "userSysId": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "workagreementId": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                }
            },
            "title": "EmployeeDataReplicationConfirmationErrorMessage"
        },
        "SFOData.EmployeeDataReplicationElement": {
            "type": "object",
            "properties": {
                "allowReplicationInCorrectionPhase": {
                    "type": ["boolean",
                    "null"]
                },
                "country": {
                    "type": ["string",
                    "null"],
                    "maxLength": 128
                },
                "createdBy": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "createdDate": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "createdDateTime": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "externalCode": {
                    "type": "string",
                    "maxLength": 128
                },
                "externalName_de_DE": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_defaultValue": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_en_GB": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_en_US": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_es_ES": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_fr_FR": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_ja_JP": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_ko_KR": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_localized": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_nl_NL": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_pt_BR": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_pt_PT": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_ru_RU": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_zh_CN": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_zh_TW": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "firstReplicationStartTimeSinceLastSuccess": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "isWaitingForConfirmation": {
                    "type": ["boolean",
                    "null"]
                },
                "lastConfirmation": {
                    "type": ["string",
                    "null"],
                    "maxLength": 128
                },
                "lastConfirmationWithSuccess": {
                    "type": ["string",
                    "null"],
                    "maxLength": 128
                },
                "lastModifiedBy": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "lastModifiedDate": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "lastModifiedDateTime": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "lastModifiedDateWithTZ": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "lastReplicationStartNotification": {
                    "type": ["string",
                    "null"],
                    "maxLength": 128
                },
                "lastReplicationStartTime": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "mdfSystemEffectiveEndDate": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "mdfSystemEffectiveStartDate": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "mdfSystemEntityId": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "mdfSystemObjectType": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "mdfSystemOptimisticLockUUID": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "mdfSystemRecordId": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "mdfSystemRecordStatus": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "mdfSystemStatus": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "mdfSystemTransactionSequence": {
                    "type": ["string",
                    "null"],
                    "format": "int64"
                },
                "mdfSystemVersionId": {
                    "type": ["string",
                    "null"],
                    "format": "int64"
                },
                "personId": {
                    "type": ["string",
                    "null"],
                    "format": "int64"
                },
                "replicationContentType": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "replicationProcessingTime": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "replicationTargetSystem": {
                    "type": ["string",
                    "null"],
                    "maxLength": 128
                },
                "replicationUpdateStatus": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "scheduledReplicationTime": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "searchFieldOverallStatus": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "searchFieldPersonId": {
                    "type": ["string",
                    "null"],
                    "format": "int64"
                },
                "searchFieldReplicationProcessingTime": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "usersSysId": {
                    "type": ["string",
                    "null"],
                    "maxLength": 100
                },
                "lastConfirmationNav": {
                    "$ref": "#/definitions/SFOData.EmployeeDataReplicationConfirmation"
                },
                "lastConfirmationWithSuccessNav": {
                    "$ref": "#/definitions/SFOData.EmployeeDataReplicationConfirmation"
                },
                "lastReplicationStartNotificationNav": {
                    "$ref": "#/definitions/SFOData.EmployeeDataReplicationNotification"
                }
            },
            "title": "EmployeeDataReplicationElement"
        },
        "SFOData.EmployeeDataReplicationNotification": {
            "type": "object",
            "properties": {
                "country": {
                    "type": ["string",
                    "null"],
                    "maxLength": 128
                },
                "createdBy": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "createdDate": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "createdDateTime": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "externalCode": {
                    "type": "string",
                    "maxLength": 128
                },
                "externalName_de_DE": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_defaultValue": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_en_GB": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_en_US": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_es_ES": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_fr_FR": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_ja_JP": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_ko_KR": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_localized": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_nl_NL": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_pt_BR": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_pt_PT": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_ru_RU": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_zh_CN": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_zh_TW": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "lastModifiedBy": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "lastModifiedDate": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "lastModifiedDateTime": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "lastModifiedDateWithTZ": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "mdfSystemEffectiveEndDate": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "mdfSystemEffectiveStartDate": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "mdfSystemEntityId": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "mdfSystemObjectType": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "mdfSystemRecordId": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "mdfSystemRecordStatus": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "mdfSystemStatus": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "mdfSystemTransactionSequence": {
                    "type": ["string",
                    "null"],
                    "format": "int64"
                },
                "mdfSystemVersionId": {
                    "type": ["string",
                    "null"],
                    "format": "int64"
                },
                "personId": {
                    "type": ["string",
                    "null"],
                    "format": "int64"
                },
                "replicationContentType": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "replicationEvent": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "replicationEventTime": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "replicationTargetSystem": {
                    "type": ["string",
                    "null"],
                    "maxLength": 128
                },
                "senderId": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "usersSysId": {
                    "type": ["string",
                    "null"],
                    "maxLength": 100
                }
            },
            "title": "EmployeeDataReplicationNotification"
        },
        "SFOData.EmployeeDataReplicationConfirmation": {
            "type": "object",
            "properties": {
                "additionalTimeInformation": {
                    "type": ["string",
                    "null"]
                },
                "country": {
                    "type": ["string",
                    "null"],
                    "maxLength": 128
                },
                "createdBy": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "createdDate": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "createdDateTime": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "externalCode": {
                    "type": "string",
                    "maxLength": 128
                },
                "externalName_de_DE": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_defaultValue": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_en_GB": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_en_US": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_es_ES": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_fr_FR": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_ja_JP": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_ko_KR": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_localized": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_nl_NL": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_pt_BR": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_pt_PT": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_ru_RU": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_zh_CN": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_zh_TW": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "lastModifiedBy": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "lastModifiedDate": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "lastModifiedDateTime": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "lastModifiedDateWithTZ": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "mdfSystemEffectiveEndDate": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "mdfSystemEffectiveStartDate": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "mdfSystemEntityId": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "mdfSystemObjectType": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "mdfSystemRecordId": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "mdfSystemRecordStatus": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "mdfSystemStatus": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "mdfSystemTransactionSequence": {
                    "type": ["string",
                    "null"],
                    "format": "int64"
                },
                "mdfSystemVersionId": {
                    "type": ["string",
                    "null"],
                    "format": "int64"
                },
                "personId": {
                    "type": ["string",
                    "null"],
                    "format": "int64"
                },
                "proxyExternalCodeList": {
                    "type": ["string",
                    "null"]
                },
                "replicationContentType": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "replicationProcessingTime": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "replicationStartTime": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "replicationTargetSystem": {
                    "type": ["string",
                    "null"],
                    "maxLength": 128
                },
                "replicationUpdateStatus": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "usersSysId": {
                    "type": ["string",
                    "null"],
                    "maxLength": 100
                },
                "employeeDataReplicationConfirmationErrorMessages": {
                    "title": "Related Collection(SFOData.EmployeeDataReplicationConfirmationErrorMessage)",
                    "type": "object",
                    "properties": {
                        "results": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SFOData.EmployeeDataReplicationConfirmationErrorMessage"
                            }
                        }
                    }
                }
            },
            "title": "EmployeeDataReplicationConfirmation"
        }
    },
    "paths": {
        "/EmployeeDataReplicationConfirmationErrorMessage": {
            "get": {
                "summary": "Get entities from EmployeeDataReplicationConfirmationErrorMessage",
                "tags": ["EmployeeDataReplicationConfirmationErrorMessage"],
                "parameters": [{
                    "$ref": "#/parameters/top"
                },
                {
                    "$ref": "#/parameters/skip"
                },
                {
                    "$ref": "#/parameters/search"
                },
                {
                    "$ref": "#/parameters/filter"
                },
                {
                    "$ref": "#/parameters/count"
                },
                {
                    "name": "$orderby",
                    "in": "query",
                    "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["EmployeeDataReplicationConfirmation_externalCode",
                        "EmployeeDataReplicationConfirmation_externalCode desc",
                        "createdBy",
                        "createdBy desc",
                        "createdDate",
                        "createdDate desc",
                        "createdDateTime",
                        "createdDateTime desc",
                        "detailedSourceMessageURL",
                        "detailedSourceMessageURL desc",
                        "externalCode",
                        "externalCode desc",
                        "externalName_de_DE",
                        "externalName_de_DE desc",
                        "externalName_defaultValue",
                        "externalName_defaultValue desc",
                        "externalName_en_GB",
                        "externalName_en_GB desc",
                        "externalName_en_US",
                        "externalName_en_US desc",
                        "externalName_es_ES",
                        "externalName_es_ES desc",
                        "externalName_fr_FR",
                        "externalName_fr_FR desc",
                        "externalName_ja_JP",
                        "externalName_ja_JP desc",
                        "externalName_ko_KR",
                        "externalName_ko_KR desc",
                        "externalName_localized",
                        "externalName_localized desc",
                        "externalName_nl_NL",
                        "externalName_nl_NL desc",
                        "externalName_pt_BR",
                        "externalName_pt_BR desc",
                        "externalName_pt_PT",
                        "externalName_pt_PT desc",
                        "externalName_ru_RU",
                        "externalName_ru_RU desc",
                        "externalName_zh_CN",
                        "externalName_zh_CN desc",
                        "externalName_zh_TW",
                        "externalName_zh_TW desc",
                        "lastModifiedBy",
                        "lastModifiedBy desc",
                        "lastModifiedDate",
                        "lastModifiedDate desc",
                        "lastModifiedDateTime",
                        "lastModifiedDateTime desc",
                        "lastModifiedDateWithTZ",
                        "lastModifiedDateWithTZ desc",
                        "mdfSystemEffectiveEndDate",
                        "mdfSystemEffectiveEndDate desc",
                        "mdfSystemEffectiveStartDate",
                        "mdfSystemEffectiveStartDate desc",
                        "mdfSystemEntityId",
                        "mdfSystemEntityId desc",
                        "mdfSystemObjectType",
                        "mdfSystemObjectType desc",
                        "mdfSystemRecordId",
                        "mdfSystemRecordId desc",
                        "mdfSystemRecordStatus",
                        "mdfSystemRecordStatus desc",
                        "mdfSystemStatus",
                        "mdfSystemStatus desc",
                        "mdfSystemTransactionSequence",
                        "mdfSystemTransactionSequence desc",
                        "mdfSystemVersionId",
                        "mdfSystemVersionId desc",
                        "replicationMessageNodeType",
                        "replicationMessageNodeType desc",
                        "sourceAttributeDescription",
                        "sourceAttributeDescription desc",
                        "sourceAttributeId",
                        "sourceAttributeId desc",
                        "sourceMessageSeverity",
                        "sourceMessageSeverity desc",
                        "sourceMessageText",
                        "sourceMessageText desc",
                        "sourceMessageTypeId",
                        "sourceMessageTypeId desc",
                        "sourceMessageVariable1",
                        "sourceMessageVariable1 desc",
                        "sourceMessageVariable2",
                        "sourceMessageVariable2 desc",
                        "sourceMessageVariable3",
                        "sourceMessageVariable3 desc",
                        "sourceMessageVariable4",
                        "sourceMessageVariable4 desc",
                        "sourceObjectTypeDescription",
                        "sourceObjectTypeDescription desc",
                        "sourceObjectTypeId",
                        "sourceObjectTypeId desc",
                        "sourcePersonIdentifier",
                        "sourcePersonIdentifier desc",
                        "sourceValidityPeriodEndDate",
                        "sourceValidityPeriodEndDate desc",
                        "sourceValidityPeriodStartDate",
                        "sourceValidityPeriodStartDate desc",
                        "technicalInformation",
                        "technicalInformation desc",
                        "userSysId",
                        "userSysId desc",
                        "workagreementId",
                        "workagreementId desc"]
                    }
                },
                {
                    "name": "$select",
                    "in": "query",
                    "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["EmployeeDataReplicationConfirmation_externalCode",
                        "createdBy",
                        "createdDate",
                        "createdDateTime",
                        "detailedSourceMessageURL",
                        "externalCode",
                        "externalName_de_DE",
                        "externalName_defaultValue",
                        "externalName_en_GB",
                        "externalName_en_US",
                        "externalName_es_ES",
                        "externalName_fr_FR",
                        "externalName_ja_JP",
                        "externalName_ko_KR",
                        "externalName_localized",
                        "externalName_nl_NL",
                        "externalName_pt_BR",
                        "externalName_pt_PT",
                        "externalName_ru_RU",
                        "externalName_zh_CN",
                        "externalName_zh_TW",
                        "lastModifiedBy",
                        "lastModifiedDate",
                        "lastModifiedDateTime",
                        "lastModifiedDateWithTZ",
                        "mdfSystemEffectiveEndDate",
                        "mdfSystemEffectiveStartDate",
                        "mdfSystemEntityId",
                        "mdfSystemObjectType",
                        "mdfSystemRecordId",
                        "mdfSystemRecordStatus",
                        "mdfSystemStatus",
                        "mdfSystemTransactionSequence",
                        "mdfSystemVersionId",
                        "replicationMessageNodeType",
                        "sourceAttributeDescription",
                        "sourceAttributeId",
                        "sourceMessageSeverity",
                        "sourceMessageText",
                        "sourceMessageTypeId",
                        "sourceMessageVariable1",
                        "sourceMessageVariable2",
                        "sourceMessageVariable3",
                        "sourceMessageVariable4",
                        "sourceObjectTypeDescription",
                        "sourceObjectTypeId",
                        "sourcePersonIdentifier",
                        "sourceValidityPeriodEndDate",
                        "sourceValidityPeriodStartDate",
                        "technicalInformation",
                        "userSysId",
                        "workagreementId"]
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Retrieved entities",
                        "schema": {
                            "type": "object",
                            "title": "Wrapper",
                            "properties": {
                                "d": {
                                    "type": "object",
                                    "title": "Collection of EmployeeDataReplicationConfirmationErrorMessage",
                                    "properties": {
                                        "results": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/SFOData.EmployeeDataReplicationConfirmationErrorMessage"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/responses/error"
                    }
                }
            },
            "post": {
                "summary": "Add new entity to EmployeeDataReplicationConfirmationErrorMessage",
                "tags": ["EmployeeDataReplicationConfirmationErrorMessage"],
                "parameters": [{
                    "name": "EmployeeDataReplicationConfirmationErrorMessage",
                    "in": "body",
                    "description": "New entity",
                    "schema": {
                        "$ref": "#/definitions/SFOData.EmployeeDataReplicationConfirmationErrorMessage"
                    }
                }],
                "responses": {
                    "201": {
                        "description": "Created entity",
                        "schema": {
                            "title": "Created EmployeeDataReplicationConfirmationErrorMessage",
                            "type": "object",
                            "properties": {
                                "d": {
                                    "$ref": "#/definitions/SFOData.EmployeeDataReplicationConfirmationErrorMessage"
                                }
                            }
                        }
                    },
                   "400": {
                        "description": "Bad request",
                        "schema": {
                            "$ref": "#/definitions/entitySpecificError"
                        },
                        "examples": {
                            "application/json": {
                                "d": [{
                                       "key": null,
                                       "status": "ERROR",
                                       "editStatus": null,
                                       "message": "Specific error message",
                                       "index": 0,
                                       "httpCode": 400,
                                       "inlineResults": null
                                }]
                            }
                        }
                      },
                   "500": {
                        "description": "Bad request",
                        "schema": {
                            "$ref": "#/definitions/entitySpecificError"
                        },
                        "examples": {
                            "application/json": {
                                "d": [{
                                       "key": null,
                                       "status": "ERROR",
                                       "editStatus": null,
                                       "message": "Specific error message",
                                       "index": 0,
                                       "httpCode": 500,
                                       "inlineResults": null
                                }]
                            }
                        }
                      },
                    "default": {
                        "$ref": "#/responses/error"
                    }
                }
            }
        },
        "/EmployeeDataReplicationConfirmationErrorMessage(EmployeeDataReplicationConfirmation_externalCode='{EmployeeDataReplicationConfirmation_externalCode}',externalCode='{externalCode}')": {
            "get": {
                "summary": "Get entity from EmployeeDataReplicationConfirmationErrorMessage by key",
                "tags": ["EmployeeDataReplicationConfirmationErrorMessage"],
                "parameters": [{
                    "name": "EmployeeDataReplicationConfirmation_externalCode",
                    "in": "path",
                    "required": true,
                    "description": "key: EmployeeDataReplicationConfirmation_externalCode",
                    "type": "string"
                },
                {
                    "name": "externalCode",
                    "in": "path",
                    "required": true,
                    "description": "key: externalCode",
                    "type": "string"
                },
                {
                    "name": "$select",
                    "in": "query",
                    "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["EmployeeDataReplicationConfirmation_externalCode",
                        "createdBy",
                        "createdDate",
                        "createdDateTime",
                        "detailedSourceMessageURL",
                        "externalCode",
                        "externalName_de_DE",
                        "externalName_defaultValue",
                        "externalName_en_GB",
                        "externalName_en_US",
                        "externalName_es_ES",
                        "externalName_fr_FR",
                        "externalName_ja_JP",
                        "externalName_ko_KR",
                        "externalName_localized",
                        "externalName_nl_NL",
                        "externalName_pt_BR",
                        "externalName_pt_PT",
                        "externalName_ru_RU",
                        "externalName_zh_CN",
                        "externalName_zh_TW",
                        "lastModifiedBy",
                        "lastModifiedDate",
                        "lastModifiedDateTime",
                        "lastModifiedDateWithTZ",
                        "mdfSystemEffectiveEndDate",
                        "mdfSystemEffectiveStartDate",
                        "mdfSystemEntityId",
                        "mdfSystemObjectType",
                        "mdfSystemRecordId",
                        "mdfSystemRecordStatus",
                        "mdfSystemStatus",
                        "mdfSystemTransactionSequence",
                        "mdfSystemVersionId",
                        "replicationMessageNodeType",
                        "sourceAttributeDescription",
                        "sourceAttributeId",
                        "sourceMessageSeverity",
                        "sourceMessageText",
                        "sourceMessageTypeId",
                        "sourceMessageVariable1",
                        "sourceMessageVariable2",
                        "sourceMessageVariable3",
                        "sourceMessageVariable4",
                        "sourceObjectTypeDescription",
                        "sourceObjectTypeId",
                        "sourcePersonIdentifier",
                        "sourceValidityPeriodEndDate",
                        "sourceValidityPeriodStartDate",
                        "technicalInformation",
                        "userSysId",
                        "workagreementId"]
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "schema": {
                            "title": "EmployeeDataReplicationConfirmationErrorMessage",
                            "type": "object",
                            "properties": {
                                "d": {
                                    "$ref": "#/definitions/SFOData.EmployeeDataReplicationConfirmationErrorMessage"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/responses/error"
                    }
                }
            }
        },
        "/EmployeeDataReplicationElement": {
            "get": {
                "summary": "Get entities from EmployeeDataReplicationElement",
                "tags": ["EmployeeDataReplicationElement"],
                "parameters": [{
                    "$ref": "#/parameters/top"
                },
                {
                    "$ref": "#/parameters/skip"
                },
                {
                    "$ref": "#/parameters/search"
                },
                {
                    "$ref": "#/parameters/filter"
                },
                {
                    "$ref": "#/parameters/count"
                },
                {
                    "name": "$orderby",
                    "in": "query",
                    "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["allowReplicationInCorrectionPhase",
                        "allowReplicationInCorrectionPhase desc",
                        "country",
                        "country desc",
                        "createdBy",
                        "createdBy desc",
                        "createdDate",
                        "createdDate desc",
                        "createdDateTime",
                        "createdDateTime desc",
                        "externalCode",
                        "externalCode desc",
                        "externalName_de_DE",
                        "externalName_de_DE desc",
                        "externalName_defaultValue",
                        "externalName_defaultValue desc",
                        "externalName_en_GB",
                        "externalName_en_GB desc",
                        "externalName_en_US",
                        "externalName_en_US desc",
                        "externalName_es_ES",
                        "externalName_es_ES desc",
                        "externalName_fr_FR",
                        "externalName_fr_FR desc",
                        "externalName_ja_JP",
                        "externalName_ja_JP desc",
                        "externalName_ko_KR",
                        "externalName_ko_KR desc",
                        "externalName_localized",
                        "externalName_localized desc",
                        "externalName_nl_NL",
                        "externalName_nl_NL desc",
                        "externalName_pt_BR",
                        "externalName_pt_BR desc",
                        "externalName_pt_PT",
                        "externalName_pt_PT desc",
                        "externalName_ru_RU",
                        "externalName_ru_RU desc",
                        "externalName_zh_CN",
                        "externalName_zh_CN desc",
                        "externalName_zh_TW",
                        "externalName_zh_TW desc",
                        "firstReplicationStartTimeSinceLastSuccess",
                        "firstReplicationStartTimeSinceLastSuccess desc",
                        "isWaitingForConfirmation",
                        "isWaitingForConfirmation desc",
                        "lastConfirmation",
                        "lastConfirmation desc",
                        "lastConfirmationWithSuccess",
                        "lastConfirmationWithSuccess desc",
                        "lastModifiedBy",
                        "lastModifiedBy desc",
                        "lastModifiedDate",
                        "lastModifiedDate desc",
                        "lastModifiedDateTime",
                        "lastModifiedDateTime desc",
                        "lastModifiedDateWithTZ",
                        "lastModifiedDateWithTZ desc",
                        "lastReplicationStartNotification",
                        "lastReplicationStartNotification desc",
                        "lastReplicationStartTime",
                        "lastReplicationStartTime desc",
                        "mdfSystemEffectiveEndDate",
                        "mdfSystemEffectiveEndDate desc",
                        "mdfSystemEffectiveStartDate",
                        "mdfSystemEffectiveStartDate desc",
                        "mdfSystemEntityId",
                        "mdfSystemEntityId desc",
                        "mdfSystemObjectType",
                        "mdfSystemObjectType desc",
                        "mdfSystemOptimisticLockUUID",
                        "mdfSystemOptimisticLockUUID desc",
                        "mdfSystemRecordId",
                        "mdfSystemRecordId desc",
                        "mdfSystemRecordStatus",
                        "mdfSystemRecordStatus desc",
                        "mdfSystemStatus",
                        "mdfSystemStatus desc",
                        "mdfSystemTransactionSequence",
                        "mdfSystemTransactionSequence desc",
                        "mdfSystemVersionId",
                        "mdfSystemVersionId desc",
                        "personId",
                        "personId desc",
                        "replicationContentType",
                        "replicationContentType desc",
                        "replicationProcessingTime",
                        "replicationProcessingTime desc",
                        "replicationTargetSystem",
                        "replicationTargetSystem desc",
                        "replicationUpdateStatus",
                        "replicationUpdateStatus desc",
                        "scheduledReplicationTime",
                        "scheduledReplicationTime desc",
                        "searchFieldOverallStatus",
                        "searchFieldOverallStatus desc",
                        "searchFieldPersonId",
                        "searchFieldPersonId desc",
                        "searchFieldReplicationProcessingTime",
                        "searchFieldReplicationProcessingTime desc",
                        "usersSysId",
                        "usersSysId desc"]
                    }
                },
                {
                    "name": "$select",
                    "in": "query",
                    "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["allowReplicationInCorrectionPhase",
                        "country",
                        "createdBy",
                        "createdDate",
                        "createdDateTime",
                        "externalCode",
                        "externalName_de_DE",
                        "externalName_defaultValue",
                        "externalName_en_GB",
                        "externalName_en_US",
                        "externalName_es_ES",
                        "externalName_fr_FR",
                        "externalName_ja_JP",
                        "externalName_ko_KR",
                        "externalName_localized",
                        "externalName_nl_NL",
                        "externalName_pt_BR",
                        "externalName_pt_PT",
                        "externalName_ru_RU",
                        "externalName_zh_CN",
                        "externalName_zh_TW",
                        "firstReplicationStartTimeSinceLastSuccess",
                        "isWaitingForConfirmation",
                        "lastConfirmation",
                        "lastConfirmationWithSuccess",
                        "lastModifiedBy",
                        "lastModifiedDate",
                        "lastModifiedDateTime",
                        "lastModifiedDateWithTZ",
                        "lastReplicationStartNotification",
                        "lastReplicationStartTime",
                        "mdfSystemEffectiveEndDate",
                        "mdfSystemEffectiveStartDate",
                        "mdfSystemEntityId",
                        "mdfSystemObjectType",
                        "mdfSystemOptimisticLockUUID",
                        "mdfSystemRecordId",
                        "mdfSystemRecordStatus",
                        "mdfSystemStatus",
                        "mdfSystemTransactionSequence",
                        "mdfSystemVersionId",
                        "personId",
                        "replicationContentType",
                        "replicationProcessingTime",
                        "replicationTargetSystem",
                        "replicationUpdateStatus",
                        "scheduledReplicationTime",
                        "searchFieldOverallStatus",
                        "searchFieldPersonId",
                        "searchFieldReplicationProcessingTime",
                        "usersSysId"]
                    }
                },
                {
                    "name": "$expand",
                    "in": "query",
                    "description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["*",
                        "lastConfirmationNav",
                        "lastConfirmationWithSuccessNav",
                        "lastReplicationStartNotificationNav"]
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Retrieved entities",
                        "schema": {
                            "type": "object",
                            "title": "Wrapper",
                            "properties": {
                                "d": {
                                    "type": "object",
                                    "title": "Collection of EmployeeDataReplicationElement",
                                    "properties": {
                                        "results": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/SFOData.EmployeeDataReplicationElement"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/responses/error"
                    }
                }
            }
        },
        "/EmployeeDataReplicationElement('{externalCode}')": {
            "get": {
                "summary": "Get entity from EmployeeDataReplicationElement by key",
                "tags": ["EmployeeDataReplicationElement"],
                "parameters": [{
                    "name": "externalCode",
                    "in": "path",
                    "required": true,
                    "description": "key: externalCode",
                    "type": "string"
                },
                {
                    "name": "$select",
                    "in": "query",
                    "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["allowReplicationInCorrectionPhase",
                        "country",
                        "createdBy",
                        "createdDate",
                        "createdDateTime",
                        "externalCode",
                        "externalName_de_DE",
                        "externalName_defaultValue",
                        "externalName_en_GB",
                        "externalName_en_US",
                        "externalName_es_ES",
                        "externalName_fr_FR",
                        "externalName_ja_JP",
                        "externalName_ko_KR",
                        "externalName_localized",
                        "externalName_nl_NL",
                        "externalName_pt_BR",
                        "externalName_pt_PT",
                        "externalName_ru_RU",
                        "externalName_zh_CN",
                        "externalName_zh_TW",
                        "firstReplicationStartTimeSinceLastSuccess",
                        "isWaitingForConfirmation",
                        "lastConfirmation",
                        "lastConfirmationWithSuccess",
                        "lastModifiedBy",
                        "lastModifiedDate",
                        "lastModifiedDateTime",
                        "lastModifiedDateWithTZ",
                        "lastReplicationStartNotification",
                        "lastReplicationStartTime",
                        "mdfSystemEffectiveEndDate",
                        "mdfSystemEffectiveStartDate",
                        "mdfSystemEntityId",
                        "mdfSystemObjectType",
                        "mdfSystemOptimisticLockUUID",
                        "mdfSystemRecordId",
                        "mdfSystemRecordStatus",
                        "mdfSystemStatus",
                        "mdfSystemTransactionSequence",
                        "mdfSystemVersionId",
                        "personId",
                        "replicationContentType",
                        "replicationProcessingTime",
                        "replicationTargetSystem",
                        "replicationUpdateStatus",
                        "scheduledReplicationTime",
                        "searchFieldOverallStatus",
                        "searchFieldPersonId",
                        "searchFieldReplicationProcessingTime",
                        "usersSysId"]
                    }
                },
                {
                    "name": "$expand",
                    "in": "query",
                    "description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["*",
                        "lastConfirmationNav",
                        "lastConfirmationWithSuccessNav",
                        "lastReplicationStartNotificationNav"]
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "schema": {
                            "title": "EmployeeDataReplicationElement",
                            "type": "object",
                            "properties": {
                                "d": {
                                    "$ref": "#/definitions/SFOData.EmployeeDataReplicationElement"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/responses/error"
                    }
                }
            },
            "delete": {
                "summary": "Delete entity from EmployeeDataReplicationElement",
                "tags": ["EmployeeDataReplicationElement"],
                "parameters": [{
                    "name": "externalCode",
                    "in": "path",
                    "required": true,
                    "description": "key: externalCode",
                    "type": "string"
                },
                {
                    "name": "If-Match",
                    "in": "header",
                    "description": "ETag",
                    "type": "string"
                }],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "default": {
                        "$ref": "#/responses/error"
                    }
                }
            }
        },
        "/EmployeeDataReplicationNotification": {
            "get": {
                "summary": "Get entities from EmployeeDataReplicationNotification",
                "tags": ["EmployeeDataReplicationNotification"],
                "parameters": [{
                    "$ref": "#/parameters/top"
                },
                {
                    "$ref": "#/parameters/skip"
                },
                {
                    "$ref": "#/parameters/search"
                },
                {
                    "$ref": "#/parameters/filter"
                },
                {
                    "$ref": "#/parameters/count"
                },
                {
                    "name": "$orderby",
                    "in": "query",
                    "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["country",
                        "country desc",
                        "createdBy",
                        "createdBy desc",
                        "createdDate",
                        "createdDate desc",
                        "createdDateTime",
                        "createdDateTime desc",
                        "externalCode",
                        "externalCode desc",
                        "externalName_de_DE",
                        "externalName_de_DE desc",
                        "externalName_defaultValue",
                        "externalName_defaultValue desc",
                        "externalName_en_GB",
                        "externalName_en_GB desc",
                        "externalName_en_US",
                        "externalName_en_US desc",
                        "externalName_es_ES",
                        "externalName_es_ES desc",
                        "externalName_fr_FR",
                        "externalName_fr_FR desc",
                        "externalName_ja_JP",
                        "externalName_ja_JP desc",
                        "externalName_ko_KR",
                        "externalName_ko_KR desc",
                        "externalName_localized",
                        "externalName_localized desc",
                        "externalName_nl_NL",
                        "externalName_nl_NL desc",
                        "externalName_pt_BR",
                        "externalName_pt_BR desc",
                        "externalName_pt_PT",
                        "externalName_pt_PT desc",
                        "externalName_ru_RU",
                        "externalName_ru_RU desc",
                        "externalName_zh_CN",
                        "externalName_zh_CN desc",
                        "externalName_zh_TW",
                        "externalName_zh_TW desc",
                        "lastModifiedBy",
                        "lastModifiedBy desc",
                        "lastModifiedDate",
                        "lastModifiedDate desc",
                        "lastModifiedDateTime",
                        "lastModifiedDateTime desc",
                        "lastModifiedDateWithTZ",
                        "lastModifiedDateWithTZ desc",
                        "mdfSystemEffectiveEndDate",
                        "mdfSystemEffectiveEndDate desc",
                        "mdfSystemEffectiveStartDate",
                        "mdfSystemEffectiveStartDate desc",
                        "mdfSystemEntityId",
                        "mdfSystemEntityId desc",
                        "mdfSystemObjectType",
                        "mdfSystemObjectType desc",
                        "mdfSystemRecordId",
                        "mdfSystemRecordId desc",
                        "mdfSystemRecordStatus",
                        "mdfSystemRecordStatus desc",
                        "mdfSystemStatus",
                        "mdfSystemStatus desc",
                        "mdfSystemTransactionSequence",
                        "mdfSystemTransactionSequence desc",
                        "mdfSystemVersionId",
                        "mdfSystemVersionId desc",
                        "personId",
                        "personId desc",
                        "replicationContentType",
                        "replicationContentType desc",
                        "replicationEvent",
                        "replicationEvent desc",
                        "replicationEventTime",
                        "replicationEventTime desc",
                        "replicationTargetSystem",
                        "replicationTargetSystem desc",
                        "senderId",
                        "senderId desc",
                        "usersSysId",
                        "usersSysId desc"]
                    }
                },
                {
                    "name": "$select",
                    "in": "query",
                    "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["country",
                        "createdBy",
                        "createdDate",
                        "createdDateTime",
                        "externalCode",
                        "externalName_de_DE",
                        "externalName_defaultValue",
                        "externalName_en_GB",
                        "externalName_en_US",
                        "externalName_es_ES",
                        "externalName_fr_FR",
                        "externalName_ja_JP",
                        "externalName_ko_KR",
                        "externalName_localized",
                        "externalName_nl_NL",
                        "externalName_pt_BR",
                        "externalName_pt_PT",
                        "externalName_ru_RU",
                        "externalName_zh_CN",
                        "externalName_zh_TW",
                        "lastModifiedBy",
                        "lastModifiedDate",
                        "lastModifiedDateTime",
                        "lastModifiedDateWithTZ",
                        "mdfSystemEffectiveEndDate",
                        "mdfSystemEffectiveStartDate",
                        "mdfSystemEntityId",
                        "mdfSystemObjectType",
                        "mdfSystemRecordId",
                        "mdfSystemRecordStatus",
                        "mdfSystemStatus",
                        "mdfSystemTransactionSequence",
                        "mdfSystemVersionId",
                        "personId",
                        "replicationContentType",
                        "replicationEvent",
                        "replicationEventTime",
                        "replicationTargetSystem",
                        "senderId",
                        "usersSysId"]
                    }
                },
                {
                    "name": "$expand",
                    "in": "query",
                    "description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["*"]
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Retrieved entities",
                        "schema": {
                            "type": "object",
                            "title": "Wrapper",
                            "properties": {
                                "d": {
                                    "type": "object",
                                    "title": "Collection of EmployeeDataReplicationNotification",
                                    "properties": {
                                        "results": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/SFOData.EmployeeDataReplicationNotification"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/responses/error"
                    }
                }
            },
            "post": {
                "summary": "Add new entity to EmployeeDataReplicationNotification",
                "tags": ["EmployeeDataReplicationNotification"],
                "parameters": [{
                    "name": "EmployeeDataReplicationNotification",
                    "in": "body",
                    "description": "New entity",
                    "schema": {
                        "$ref": "#/definitions/SFOData.EmployeeDataReplicationNotification"
                    }
                }],
                "responses": {
                    "201": {
                        "description": "Created entity",
                        "schema": {
                            "title": "Created EmployeeDataReplicationNotification",
                            "type": "object",
                            "properties": {
                                "d": {
                                    "$ref": "#/definitions/SFOData.EmployeeDataReplicationNotification"
                                }
                            }
                        }
                    },
                   "400": {
                        "description": "Bad request",
                        "schema": {
                            "$ref": "#/definitions/entitySpecificError"
                        },
                        "examples": {
                            "application/json": {
                                "d": [{
                                       "key": null,
                                       "status": "ERROR",
                                       "editStatus": null,
                                       "message": "Specific error message",
                                       "index": 0,
                                       "httpCode": 400,
                                       "inlineResults": null
                                }]
                            }
                        }
                      },
                   "500": {
                        "description": "Bad request",
                        "schema": {
                            "$ref": "#/definitions/entitySpecificError"
                        },
                        "examples": {
                            "application/json": {
                                "d": [{
                                       "key": null,
                                       "status": "ERROR",
                                       "editStatus": null,
                                       "message": "Specific error message",
                                       "index": 0,
                                       "httpCode": 500,
                                       "inlineResults": null
                                }]
                            }
                        }
                      },
                    "default": {
                        "$ref": "#/responses/error"
                    }
                }
            }
        },
        "/EmployeeDataReplicationNotification('{externalCode}')": {
            "get": {
                "summary": "Get entity from EmployeeDataReplicationNotification by key",
                "tags": ["EmployeeDataReplicationNotification"],
                "parameters": [{
                    "name": "externalCode",
                    "in": "path",
                    "required": true,
                    "description": "key: externalCode",
                    "type": "string"
                },
                {
                    "name": "$select",
                    "in": "query",
                    "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["country",
                        "createdBy",
                        "createdDate",
                        "createdDateTime",
                        "externalCode",
                        "externalName_de_DE",
                        "externalName_defaultValue",
                        "externalName_en_GB",
                        "externalName_en_US",
                        "externalName_es_ES",
                        "externalName_fr_FR",
                        "externalName_ja_JP",
                        "externalName_ko_KR",
                        "externalName_localized",
                        "externalName_nl_NL",
                        "externalName_pt_BR",
                        "externalName_pt_PT",
                        "externalName_ru_RU",
                        "externalName_zh_CN",
                        "externalName_zh_TW",
                        "lastModifiedBy",
                        "lastModifiedDate",
                        "lastModifiedDateTime",
                        "lastModifiedDateWithTZ",
                        "mdfSystemEffectiveEndDate",
                        "mdfSystemEffectiveStartDate",
                        "mdfSystemEntityId",
                        "mdfSystemObjectType",
                        "mdfSystemRecordId",
                        "mdfSystemRecordStatus",
                        "mdfSystemStatus",
                        "mdfSystemTransactionSequence",
                        "mdfSystemVersionId",
                        "personId",
                        "replicationContentType",
                        "replicationEvent",
                        "replicationEventTime",
                        "replicationTargetSystem",
                        "senderId",
                        "usersSysId"]
                    }
                },
                {
                    "name": "$expand",
                    "in": "query",
                    "description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["*"]
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "schema": {
                            "title": "EmployeeDataReplicationNotification",
                            "type": "object",
                            "properties": {
                                "d": {
                                    "$ref": "#/definitions/SFOData.EmployeeDataReplicationNotification"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/responses/error"
                    }
                }
            }
        },
        "/EmployeeDataReplicationConfirmation": {
            "get": {
                "summary": "Get entities from EmployeeDataReplicationConfirmation",
                "tags": ["EmployeeDataReplicationConfirmation"],
                "parameters": [{
                    "$ref": "#/parameters/top"
                },
                {
                    "$ref": "#/parameters/skip"
                },
                {
                    "$ref": "#/parameters/search"
                },
                {
                    "$ref": "#/parameters/filter"
                },
                {
                    "$ref": "#/parameters/count"
                },
                {
                    "name": "$orderby",
                    "in": "query",
                    "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["additionalTimeInformation",
                        "additionalTimeInformation desc",
                        "country",
                        "country desc",
                        "createdBy",
                        "createdBy desc",
                        "createdDate",
                        "createdDate desc",
                        "createdDateTime",
                        "createdDateTime desc",
                        "externalCode",
                        "externalCode desc",
                        "externalName_de_DE",
                        "externalName_de_DE desc",
                        "externalName_defaultValue",
                        "externalName_defaultValue desc",
                        "externalName_en_GB",
                        "externalName_en_GB desc",
                        "externalName_en_US",
                        "externalName_en_US desc",
                        "externalName_es_ES",
                        "externalName_es_ES desc",
                        "externalName_fr_FR",
                        "externalName_fr_FR desc",
                        "externalName_ja_JP",
                        "externalName_ja_JP desc",
                        "externalName_ko_KR",
                        "externalName_ko_KR desc",
                        "externalName_localized",
                        "externalName_localized desc",
                        "externalName_nl_NL",
                        "externalName_nl_NL desc",
                        "externalName_pt_BR",
                        "externalName_pt_BR desc",
                        "externalName_pt_PT",
                        "externalName_pt_PT desc",
                        "externalName_ru_RU",
                        "externalName_ru_RU desc",
                        "externalName_zh_CN",
                        "externalName_zh_CN desc",
                        "externalName_zh_TW",
                        "externalName_zh_TW desc",
                        "lastModifiedBy",
                        "lastModifiedBy desc",
                        "lastModifiedDate",
                        "lastModifiedDate desc",
                        "lastModifiedDateTime",
                        "lastModifiedDateTime desc",
                        "lastModifiedDateWithTZ",
                        "lastModifiedDateWithTZ desc",
                        "mdfSystemEffectiveEndDate",
                        "mdfSystemEffectiveEndDate desc",
                        "mdfSystemEffectiveStartDate",
                        "mdfSystemEffectiveStartDate desc",
                        "mdfSystemEntityId",
                        "mdfSystemEntityId desc",
                        "mdfSystemObjectType",
                        "mdfSystemObjectType desc",
                        "mdfSystemRecordId",
                        "mdfSystemRecordId desc",
                        "mdfSystemRecordStatus",
                        "mdfSystemRecordStatus desc",
                        "mdfSystemStatus",
                        "mdfSystemStatus desc",
                        "mdfSystemTransactionSequence",
                        "mdfSystemTransactionSequence desc",
                        "mdfSystemVersionId",
                        "mdfSystemVersionId desc",
                        "personId",
                        "personId desc",
                        "proxyExternalCodeList",
                        "proxyExternalCodeList desc",
                        "replicationContentType",
                        "replicationContentType desc",
                        "replicationProcessingTime",
                        "replicationProcessingTime desc",
                        "replicationStartTime",
                        "replicationStartTime desc",
                        "replicationTargetSystem",
                        "replicationTargetSystem desc",
                        "replicationUpdateStatus",
                        "replicationUpdateStatus desc",
                        "usersSysId",
                        "usersSysId desc"]
                    }
                },
                {
                    "name": "$select",
                    "in": "query",
                    "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["additionalTimeInformation",
                        "country",
                        "createdBy",
                        "createdDate",
                        "createdDateTime",
                        "externalCode",
                        "externalName_de_DE",
                        "externalName_defaultValue",
                        "externalName_en_GB",
                        "externalName_en_US",
                        "externalName_es_ES",
                        "externalName_fr_FR",
                        "externalName_ja_JP",
                        "externalName_ko_KR",
                        "externalName_localized",
                        "externalName_nl_NL",
                        "externalName_pt_BR",
                        "externalName_pt_PT",
                        "externalName_ru_RU",
                        "externalName_zh_CN",
                        "externalName_zh_TW",
                        "lastModifiedBy",
                        "lastModifiedDate",
                        "lastModifiedDateTime",
                        "lastModifiedDateWithTZ",
                        "mdfSystemEffectiveEndDate",
                        "mdfSystemEffectiveStartDate",
                        "mdfSystemEntityId",
                        "mdfSystemObjectType",
                        "mdfSystemRecordId",
                        "mdfSystemRecordStatus",
                        "mdfSystemStatus",
                        "mdfSystemTransactionSequence",
                        "mdfSystemVersionId",
                        "personId",
                        "proxyExternalCodeList",
                        "replicationContentType",
                        "replicationProcessingTime",
                        "replicationStartTime",
                        "replicationTargetSystem",
                        "replicationUpdateStatus",
                        "usersSysId"]
                    }
                },
                {
                    "name": "$expand",
                    "in": "query",
                    "description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                        "type": "string",
                        "enum": ["*",
                        "employeeDataReplicationConfirmationErrorMessages"]
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Retrieved entities",
                        "schema": {
                            "type": "object",
                            "title": "Wrapper",
                            "properties": {
                                "d": {
                                    "type": "object",
                                    "title": "Collection of EmployeeDataReplicationConfirmation",
                                    "properties": {
                                        "results": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/SFOData.EmployeeDataReplicationConfirmation"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/responses/error"
                    }
                }
            },
            "post": {
                "summary": "Add new entity to EmployeeDataReplicationConfirmation",
                "tags": ["EmployeeDataReplicationConfirmation"],
                "parameters": [{
                    "name": "EmployeeDataReplicationConfirmation",
                    "in": "body",
                    "description": "New entity",
                    "schema": {
                        "$ref": "#/definitions/SFOData.EmployeeDataReplicationConfirmation"
                    }
                }],
                "responses": {
                    "201": {
                        "description": "Created entity",
                        "schema": {
                            "title": "Created EmployeeDataReplicationConfirmation",
                            "type": "object",
                            "properties": {
                                "d": {
                                    "$ref": "#/definitions/SFOData.EmployeeDataReplicationConfirmation"
                                }
                            }
                        }
                    },
                   "400": {
                        "description": "Bad request",
                        "schema": {
                            "$ref": "#/definitions/entitySpecificError"
                        },
                        "examples": {
                            "application/json": {
                                "d": [{
                                       "key": null,
                                       "status": "ERROR",
                                       "editStatus": null,
                                       "message": "Specific error message",
                                       "index": 0,
                                       "httpCode": 400,
                                       "inlineResults": null
                                }]
                            }
                        }
                      },
                   "500": {
                        "description": "Bad request",
[...]
