{"swagger":"2.0", "info":{"title":"Payment Information", "version":"1.0", "description":"You can use these APIs to maintain the country-dependent fields of payment information details for specific countries.\n\n You can find your company's API server in [List of API Servers in SAP SuccessFactors.](https:\/\/help.sap.com\/viewer\/d599f15995d348a1b45ba5603e2aba9b\/LATEST\/en-US\/af2b8d5437494b12be88fe374eba75b6.html)"}, "externalDocs":{"description":"Payment Information on SAP Help Portal", "url":"https://help.sap.com/docs/SAP_SUCCESSFACTORS_PLATFORM/d599f15995d348a1b45ba5603e2aba9b/fb3d8aff79934730a8cd6934aec07392.html"}, "x-sap-shortText":"API to access and store the country-dependent fields of payment information", "schemes":["https"], "host":"sandbox.api.sap.com", "basePath":"/successfactors/odata/v2", "consumes":["application/json"], "produces":["application/json"], "x-servers":[{"url":"https://{api-server}/odata/v2", "description":"OData APIs for the SuccessFactors Data Centers", "templates":{"api-server":{"description":"SuccessFactors Data Center host", "default":"apisalesdemo8.successfactors.com"}}}, {"url":"https://sandbox.api.sap.com/successfactorsfoundation/odata/v2", "description":"Sandbox URL"}], "tags":[{"name":"PaymentInformationDetailV3KEN"}, {"name":"PaymentInformationDetailV3ISR"}, {"name":"Payment Information Detail V3(Paraguay)"}, {"name":"Payment Information Detail V3(Bolivia)"}, {"name":"PaymentInformationDetailV3"}, {"name":"PaymentInformationDetailV3ARG"}, {"name":"PaymentMethodV3"}, {"name":"CustomPayType"}, {"name":"CustomPayTypeAssignment"}, {"name":"Bank"}, {"name":"PaymentInformationDetailV3NGA"}, {"name":"PaymentInformationV3"}, {"name":"PaymentInformationDetailV3COL"}, {"name":"Payment Information Detail V3(Czech Republic)"}, {"name":"PaymentInformationDetailV3VEN"}, {"name":"PaymentInformationDetailV3NZL"}, {"name":"PaymentInformationDetailV3USA"}, {"name":"PaymentInformationDetailV3ECU"}, {"name":"PaymentInformationDetailV3GBR"}, {"name":"PaymentInformationDetailV3FRA"}, {"name":"PaymentMethodAssignmentV3"}, {"name":"PaymentInformationDetailV3JPN"}, {"name":"PaymentInformationDetailV3ZAF"}, {"name":"PaymentInformationDetailV3ITA"}, {"name":"PaymentInformationDetailV3MEX"}, {"name":"PaymentInformationDetailV3ESP"}, {"name":"PaymentInformationDetailV3BRA"}, {"name":"PaymentInformationDetailV3CHL"}, {"name":"PaymentInformationDetailV3BLR"}, {"name":"PaymentInformationDetailV3IRQ"}, {"name":"PaymentInformationDetailV3MMR"}, {"name":"PaymentInformationDetailV3MWI"}, {"name":"PaymentInformationDetailV3NAM"}, {"name":"PaymentInformationDetailV3PER"}, {"name":"PaymentInformationDetailV3ZWE"}, {"name":"PaymentInformationDetailV3SVN"}, {"name":"Payment Information Detail V3(Slovakia)"}, {"name":"Payment Information Detail V3(Tunisia)"}, {"name":"PaymentInformationDetailV3MKD"}, {"name":"PaymentInformationDetailV3MOZ"}, {"name":"PaymentInformationDetailV3GHA"}, {"name":"PaymentInformationDetailV3SUR"}], "paths":{"/PaymentInformationDetailV3KEN":{"get":{"operationId":"listPaymentInformationDetailV3KENs", "summary":"Get entities from PaymentInformationDetailV3KEN", "tags":["PaymentInformationDetailV3KEN"], "parameters":[{"$ref":"#/parameters/top"}, {"$ref":"#/parameters/skip"}, {"$ref":"#/parameters/search"}, {"$ref":"#/parameters/filter"}, {"$ref":"#/parameters/count"}, {"name":"$orderby", "in":"query", "description":"Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["PaymentInformationDetailV3_externalCode", "PaymentInformationDetailV3_externalCode desc", "PaymentInformationV3_effectiveStartDate", "PaymentInformationV3_effectiveStartDate desc", "PaymentInformationV3_worker", "PaymentInformationV3_worker desc", "accountType", "accountType desc", "createdBy", "createdBy desc", "createdDate", "createdDate desc", "createdDateTime", "createdDateTime desc", "externalCode", "externalCode desc", "lastModifiedBy", "lastModifiedBy desc", "lastModifiedDate", "lastModifiedDate desc", "lastModifiedDateTime", "lastModifiedDateTime desc", "lastModifiedDateWithTZ", "lastModifiedDateWithTZ desc", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveEndDate desc", "mdfSystemEffectiveStartDate", "mdfSystemEffectiveStartDate desc", "mdfSystemEntityId", "mdfSystemEntityId desc", "mdfSystemObjectType", "mdfSystemObjectType desc", "mdfSystemRecordId", "mdfSystemRecordId desc", "mdfSystemRecordStatus", "mdfSystemRecordStatus desc", "mdfSystemStatus", "mdfSystemStatus desc", "mdfSystemTransactionSequence", "mdfSystemTransactionSequence desc", "mdfSystemVersionId", "mdfSystemVersionId desc"]}}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["PaymentInformationDetailV3_externalCode", "PaymentInformationV3_effectiveStartDate", "PaymentInformationV3_worker", "accountType", "createdBy", "createdDate", "createdDateTime", "externalCode", "lastModifiedBy", "lastModifiedDate", "lastModifiedDateTime", "lastModifiedDateWithTZ", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveStartDate", "mdfSystemEntityId", "mdfSystemObjectType", "mdfSystemRecordId", "mdfSystemRecordStatus", "mdfSystemStatus", "mdfSystemTransactionSequence", "mdfSystemVersionId"]}}], "responses":{"200":{"description":"Retrieved entities", "schema":{"type":"object", "title":"Wrapper", "properties":{"d":{"type":"object", "title":"Collection of PaymentInformationDetailV3KEN", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.PaymentInformationDetailV3KEN"}}}}}}}, "default":{"$ref":"#/responses/error"}}}, "post":{"operationId":"createPaymentInformationDetailV3KEN", "summary":"Add new entity to PaymentInformationDetailV3KEN", "tags":["PaymentInformationDetailV3KEN"], "parameters":[{"name":"PaymentInformationDetailV3KEN", "in":"body", "description":"New entity", "schema":{"$ref":"#/definitions/SFOData.PaymentInformationDetailV3KEN"}}], "responses":{"201":{"description":"Created entity", "schema":{"title":"Created PaymentInformationDetailV3KEN", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.PaymentInformationDetailV3KEN"}}}}, "default":{"$ref":"#/responses/error"}}}}, "/PaymentInformationDetailV3KEN(PaymentInformationDetailV3_externalCode={PaymentInformationDetailV3_externalCode},PaymentInformationV3_effectiveStartDate={PaymentInformationV3_effectiveStartDate},PaymentInformationV3_worker='{PaymentInformationV3_worker}',externalCode={externalCode})":{"get":{"operationId":"getPaymentInformationDetailV3KEN", "summary":"Get entity from PaymentInformationDetailV3KEN by key", "tags":["PaymentInformationDetailV3KEN"], "parameters":[{"name":"PaymentInformationDetailV3_externalCode", "in":"path", "required":true, "description":"key: PaymentInformationDetailV3_externalCode", "type":"integer", "format":"int64"}, {"name":"PaymentInformationV3_effectiveStartDate", "in":"path", "required":true, "description":"key: PaymentInformationV3_effectiveStartDate", "type":"string"}, {"name":"PaymentInformationV3_worker", "in":"path", "required":true, "description":"key: PaymentInformationV3_worker", "type":"string"}, {"name":"externalCode", "in":"path", "required":true, "description":"key: externalCode", "type":"integer", "format":"int64"}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["PaymentInformationDetailV3_externalCode", "PaymentInformationV3_effectiveStartDate", "PaymentInformationV3_worker", "accountType", "createdBy", "createdDate", "createdDateTime", "externalCode", "lastModifiedBy", "lastModifiedDate", "lastModifiedDateTime", "lastModifiedDateWithTZ", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveStartDate", "mdfSystemEntityId", "mdfSystemObjectType", "mdfSystemRecordId", "mdfSystemRecordStatus", "mdfSystemStatus", "mdfSystemTransactionSequence", "mdfSystemVersionId"]}}], "responses":{"200":{"description":"Retrieved entity", "schema":{"title":"PaymentInformationDetailV3KEN", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.PaymentInformationDetailV3KEN"}}}}, "default":{"$ref":"#/responses/error"}}}, "put":{"operationId":"updatePaymentInformationDetailV3KEN", "summary":"Update entity in PaymentInformationDetailV3KEN", "tags":["PaymentInformationDetailV3KEN"], "parameters":[{"name":"PaymentInformationDetailV3_externalCode", "in":"path", "required":true, "description":"key: PaymentInformationDetailV3_externalCode", "type":"integer", "format":"int64"}, {"name":"PaymentInformationV3_effectiveStartDate", "in":"path", "required":true, "description":"key: PaymentInformationV3_effectiveStartDate", "type":"string"}, {"name":"PaymentInformationV3_worker", "in":"path", "required":true, "description":"key: PaymentInformationV3_worker", "type":"string"}, {"name":"externalCode", "in":"path", "required":true, "description":"key: externalCode", "type":"integer", "format":"int64"}, {"name":"PaymentInformationDetailV3KEN", "in":"body", "description":"New property values", "schema":{"title":"Modified PaymentInformationDetailV3KEN", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.PaymentInformationDetailV3KEN"}}}}], "responses":{"204":{"description":"Success"}, "default":{"$ref":"#/responses/error"}}}, "delete":{"operationId":"deletePaymentInformationDetailV3KEN", "summary":"Delete entity from PaymentInformationDetailV3KEN", "tags":["PaymentInformationDetailV3KEN"], "parameters":[{"name":"PaymentInformationDetailV3_externalCode", "in":"path", "required":true, "description":"key: PaymentInformationDetailV3_externalCode", "type":"integer", "format":"int64"}, {"name":"PaymentInformationV3_effectiveStartDate", "in":"path", "required":true, "description":"key: PaymentInformationV3_effectiveStartDate", "type":"string"}, {"name":"PaymentInformationV3_worker", "in":"path", "required":true, "description":"key: PaymentInformationV3_worker", "type":"string"}, {"name":"externalCode", "in":"path", "required":true, "description":"key: externalCode", "type":"integer", "format":"int64"}, {"name":"If-Match", "in":"header", "description":"ETag", "type":"string"}], "responses":{"204":{"description":"Success"}, "default":{"$ref":"#/responses/error"}}}}, "/PaymentInformationDetailV3ISR":{"get":{"operationId":"listPaymentInformationDetailV3ISRs", "summary":"Get entities from PaymentInformationDetailV3ISR", "tags":["PaymentInformationDetailV3ISR"], "parameters":[{"$ref":"#/parameters/top"}, {"$ref":"#/parameters/skip"}, {"$ref":"#/parameters/search"}, {"$ref":"#/parameters/filter"}, {"$ref":"#/parameters/count"}, {"name":"$orderby", "in":"query", "description":"Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["PaymentInformationDetailV3_externalCode", "PaymentInformationDetailV3_externalCode desc", "PaymentInformationV3_effectiveStartDate", "PaymentInformationV3_effectiveStartDate desc", "PaymentInformationV3_worker", "PaymentInformationV3_worker desc", "branchName", "branchName desc", "branchNumberCode", "branchNumberCode desc", "createdBy", "createdBy desc", "createdDate", "createdDate desc", "createdDateTime", "createdDateTime desc", "externalCode", "externalCode desc", "lastModifiedBy", "lastModifiedBy desc", "lastModifiedDate", "lastModifiedDate desc", "lastModifiedDateTime", "lastModifiedDateTime desc", "lastModifiedDateWithTZ", "lastModifiedDateWithTZ desc", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveEndDate desc", "mdfSystemEffectiveStartDate", "mdfSystemEffectiveStartDate desc", "mdfSystemEntityId", "mdfSystemEntityId desc", "mdfSystemObjectType", "mdfSystemObjectType desc", "mdfSystemRecordId", "mdfSystemRecordId desc", "mdfSystemRecordStatus", "mdfSystemRecordStatus desc", "mdfSystemStatus", "mdfSystemStatus desc", "mdfSystemTransactionSequence", "mdfSystemTransactionSequence desc", "mdfSystemVersionId", "mdfSystemVersionId desc"]}}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["PaymentInformationDetailV3_externalCode", "PaymentInformationV3_effectiveStartDate", "PaymentInformationV3_worker", "branchName", "branchNumberCode", "createdBy", "createdDate", "createdDateTime", "externalCode", "lastModifiedBy", "lastModifiedDate", "lastModifiedDateTime", "lastModifiedDateWithTZ", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveStartDate", "mdfSystemEntityId", "mdfSystemObjectType", "mdfSystemRecordId", "mdfSystemRecordStatus", "mdfSystemStatus", "mdfSystemTransactionSequence", "mdfSystemVersionId"]}}], "responses":{"200":{"description":"Retrieved entities", "schema":{"type":"object", "title":"Wrapper", "properties":{"d":{"type":"object", "title":"Collection of PaymentInformationDetailV3ISR", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.PaymentInformationDetailV3ISR"}}}}}}}, "default":{"$ref":"#/responses/error"}}}, "post":{"operationId":"createPaymentInformationDetailV3ISR", "summary":"Add new entity to PaymentInformationDetailV3ISR", "tags":["PaymentInformationDetailV3ISR"], "parameters":[{"name":"PaymentInformationDetailV3ISR", "in":"body", "description":"New entity", "schema":{"$ref":"#/definitions/SFOData.PaymentInformationDetailV3ISR"}}], "responses":{"201":{"description":"Created entity", "schema":{"title":"Created PaymentInformationDetailV3ISR", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.PaymentInformationDetailV3ISR"}}}}, "default":{"$ref":"#/responses/error"}}}}, "/PaymentInformationDetailV3ISR(PaymentInformationDetailV3_externalCode={PaymentInformationDetailV3_externalCode},PaymentInformationV3_effectiveStartDate={PaymentInformationV3_effectiveStartDate},PaymentInformationV3_worker='{PaymentInformationV3_worker}',externalCode={externalCode})":{"get":{"operationId":"getPaymentInformationDetailV3ISR", "summary":"Get entity from PaymentInformationDetailV3ISR by key", "tags":["PaymentInformationDetailV3ISR"], "parameters":[{"name":"PaymentInformationDetailV3_externalCode", "in":"path", "required":true, "description":"key: PaymentInformationDetailV3_externalCode", "type":"integer", "format":"int64"}, {"name":"PaymentInformationV3_effectiveStartDate", "in":"path", "required":true, "description":"key: PaymentInformationV3_effectiveStartDate", "type":"string"}, {"name":"PaymentInformationV3_worker", "in":"path", "required":true, "description":"key: PaymentInformationV3_worker", "type":"string"}, {"name":"externalCode", "in":"path", "required":true, "description":"key: externalCode", "type":"integer", "format":"int64"}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["PaymentInformationDetailV3_externalCode", "PaymentInformationV3_effectiveStartDate", "PaymentInformationV3_worker", "branchName", "branchNumberCode", "createdBy", "createdDate", "createdDateTime", "externalCode", "lastModifiedBy", "lastModifiedDate", "lastModifiedDateTime", "lastModifiedDateWithTZ", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveStartDate", "mdfSystemEntityId", "mdfSystemObjectType", "mdfSystemRecordId", "mdfSystemRecordStatus", "mdfSystemStatus", "mdfSystemTransactionSequence", "mdfSystemVersionId"]}}], "responses":{"200":{"description":"Retrieved entity", "schema":{"title":"PaymentInformationDetailV3ISR", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.PaymentInformationDetailV3ISR"}}}}, "default":{"$ref":"#/responses/error"}}}, "put":{"operationId":"updatePaymentInformationDetailV3ISR", "summary":"Update entity in PaymentInformationDetailV3ISR", "tags":["PaymentInformationDetailV3ISR"], "parameters":[{"name":"PaymentInformationDetailV3_externalCode", "in":"path", "required":true, "description":"key: PaymentInformationDetailV3_externalCode", "type":"integer", "format":"int64"}, {"name":"PaymentInformationV3_effectiveStartDate", "in":"path", "required":true, "description":"key: PaymentInformationV3_effectiveStartDate", "type":"string"}, {"name":"PaymentInformationV3_worker", "in":"path", "required":true, "description":"key: PaymentInformationV3_worker", "type":"string"}, {"name":"externalCode", "in":"path", "required":true, "description":"key: externalCode", "type":"integer", "format":"int64"}, {"name":"PaymentInformationDetailV3ISR", "in":"body", "description":"New property values", "schema":{"title":"Modified PaymentInformationDetailV3ISR", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.PaymentInformationDetailV3ISR"}}}}], "responses":{"204":{"description":"Success"}, "default":{"$ref":"#/responses/error"}}}, "delete":{"operationId":"deletePaymentInformationDetailV3ISR", "summary":"Delete entity from PaymentInformationDetailV3ISR", "tags":["PaymentInformationDetailV3ISR"], "parameters":[{"name":"PaymentInformationDetailV3_externalCode", "in":"path", "required":true, "description":"key: PaymentInformationDetailV3_externalCode", "type":"integer", "format":"int64"}, {"name":"PaymentInformationV3_effectiveStartDate", "in":"path", "required":true, "description":"key: PaymentInformationV3_effectiveStartDate", "type":"string"}, {"name":"PaymentInformationV3_worker", "in":"path", "required":true, "description":"key: PaymentInformationV3_worker", "type":"string"}, {"name":"externalCode", "in":"path", "required":true, "description":"key: externalCode", "type":"integer", "format":"int64"}, {"name":"If-Match", "in":"header", "description":"ETag", "type":"string"}], "responses":{"204":{"description":"Success"}, "default":{"$ref":"#/responses/error"}}}}, "/PaymentInformationDetailV3":{"get":{"operationId":"listPaymentInformationDetailV3s", "summary":"Get entities from PaymentInformationDetailV3", "tags":["PaymentInformationDetailV3"], "parameters":[{"$ref":"#/parameters/top"}, {"$ref":"#/parameters/skip"}, {"$ref":"#/parameters/search"}, {"$ref":"#/parameters/filter"}, {"$ref":"#/parameters/count"}, {"name":"$orderby", "in":"query", "description":"Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["PaymentInformationV3_effectiveStartDate", "PaymentInformationV3_effectiveStartDate desc", "PaymentInformationV3_worker", "PaymentInformationV3_worker desc", "accountNumber", "accountNumber desc", "accountOwner", "accountOwner desc", "amount", "amount desc", "bank", "bank desc", "bankCountry", "bankCountry desc", "businessIdentifierCode", "businessIdentifierCode desc", "createdBy", "createdBy desc", "createdDate", "createdDate desc", "createdDateTime", "createdDateTime desc", "currency", "currency desc", "customPayType", "customPayType desc", "externalCode", "externalCode desc", "iban", "iban desc", "lastModifiedBy", "lastModifiedBy desc", "lastModifiedDate", "lastModifiedDate desc", "lastModifiedDateTime", "lastModifiedDateTime desc", "lastModifiedDateWithTZ", "lastModifiedDateWithTZ desc", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveEndDate desc", "mdfSystemEffectiveStartDate", "mdfSystemEffectiveStartDate desc", "mdfSystemEntityId", "mdfSystemEntityId desc", "mdfSystemObjectType", "mdfSystemObjectType desc", "mdfSystemRecordId", "mdfSystemRecordId desc", "mdfSystemRecordStatus", "mdfSystemRecordStatus desc", "mdfSystemStatus", "mdfSystemStatus desc", "mdfSystemTransactionSequence", "mdfSystemTransactionSequence desc", "mdfSystemVersionId", "mdfSystemVersionId desc", "paySequence", "paySequence desc", "payType", "payType desc", "paymentMethod", "paymentMethod desc", "percent", "percent desc", "purpose", "purpose desc", "routingNumber", "routingNumber desc"]}}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["PaymentInformationV3_effectiveStartDate", "PaymentInformationV3_worker", "accountNumber", "accountOwner", "amount", "bank", "bankCountry", "businessIdentifierCode", "createdBy", "createdDate", "createdDateTime", "currency", "customPayType", "externalCode", "iban", "lastModifiedBy", "lastModifiedDate", "lastModifiedDateTime", "lastModifiedDateWithTZ", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveStartDate", "mdfSystemEntityId", "mdfSystemObjectType", "mdfSystemRecordId", "mdfSystemRecordStatus", "mdfSystemStatus", "mdfSystemTransactionSequence", "mdfSystemVersionId", "paySequence", "payType", "paymentMethod", "percent", "purpose", "routingNumber"]}}, {"name":"$expand", "in":"query", "description":"Expand related entities, see [OData Expand](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["*", "bankNav", "customPayTypeNav", "paymentMethodNav", "toPaymentInformationDetailV3ARG", "toPaymentInformationDetailV3BOL", "toPaymentInformationDetailV3PRY", "toPaymentInformationDetailV3BRA", "toPaymentInformationDetailV3CHL", "toPaymentInformationDetailV3COL", "toPaymentInformationDetailV3CZE", "toPaymentInformationDetailV3SVK", "toPaymentInformationDetailV3TUN", "toPaymentInformationDetailV3ECU", "toPaymentInformationDetailV3ESP", "toPaymentInformationDetailV3FRA", "toPaymentInformationDetailV3GBR", "toPaymentInformationDetailV3ISR", "toPaymentInformationDetailV3ITA", "toPaymentInformationDetailV3JPN", "toPaymentInformationDetailV3KEN", "toPaymentInformationDetailV3MEX", "toPaymentInformationDetailV3NGA", "toPaymentInformationDetailV3NZL", "toPaymentInformationDetailV3USA", "toPaymentInformationDetailV3VEN", "toPaymentInformationDetailV3ZAF"]}}], "responses":{"200":{"description":"Retrieved entities", "schema":{"type":"object", "title":"Wrapper", "properties":{"d":{"type":"object", "title":"Collection of PaymentInformationDetailV3", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.PaymentInformationDetailV3"}}}}}}}, "default":{"$ref":"#/responses/error"}}}, "post":{"operationId":"createPaymentInformationDetailV3", "summary":"Add new entity to PaymentInformationDetailV3", "tags":["PaymentInformationDetailV3"], "parameters":[{"name":"PaymentInformationDetailV3", "in":"body", "description":"New entity", "schema":{"$ref":"#/definitions/SFOData.PaymentInformationDetailV3"}}], "responses":{"201":{"description":"Created entity", "schema":{"title":"Created PaymentInformationDetailV3", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.PaymentInformationDetailV3"}}}}, "default":{"$ref":"#/responses/error"}}}}, "/PaymentInformationDetailV3(PaymentInformationV3_effectiveStartDate={PaymentInformationV3_effectiveStartDate},PaymentInformationV3_worker='{PaymentInformationV3_worker}',externalCode={externalCode})":{"get":{"operationId":"getPaymentInformationDetailV3", "summary":"Get entity from PaymentInformationDetailV3 by key", "tags":["PaymentInformationDetailV3"], "parameters":[{"name":"PaymentInformationV3_effectiveStartDate", "in":"path", "required":true, "description":"key: PaymentInformationV3_effectiveStartDate", "type":"string"}, {"name":"PaymentInformationV3_worker", "in":"path", "required":true, "description":"key: PaymentInformationV3_worker", "type":"string"}, {"name":"externalCode", "in":"path", "required":true, "description":"key: externalCode", "type":"integer", "format":"int64"}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["PaymentInformationV3_effectiveStartDate", "PaymentInformationV3_worker", "accountNumber", "accountOwner", "amount", "bank", "bankCountry", "businessIdentifierCode", "createdBy", "createdDate", "createdDateTime", "currency", "customPayType", "externalCode", "iban", "lastModifiedBy", "lastModifiedDate", "lastModifiedDateTime", "lastModifiedDateWithTZ", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveStartDate", "mdfSystemEntityId", "mdfSystemObjectType", "mdfSystemRecordId", "mdfSystemRecordStatus", "mdfSystemStatus", "mdfSystemTransactionSequence", "mdfSystemVersionId", "paySequence", "payType", "paymentMethod", "percent", "purpose", "routingNumber"]}}, {"name":"$expand", "in":"query", "description":"Expand related entities, see [OData Expand](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["*", "bankNav", "customPayTypeNav", "paymentMethodNav", "toPaymentInformationDetailV3ARG", "toPaymentInformationDetailV3BRA", "toPaymentInformationDetailV3BOL", "toPaymentInformationDetailV3PRY", "toPaymentInformationDetailV3CHL", "toPaymentInformationDetailV3CZE", "toPaymentInformationDetailV3SVK", "toPaymentInformationDetailV3TUN", "toPaymentInformationDetailV3COL", "toPaymentInformationDetailV3ECU", "toPaymentInformationDetailV3ESP", "toPaymentInformationDetailV3FRA", "toPaymentInformationDetailV3GBR", "toPaymentInformationDetailV3ISR", "toPaymentInformationDetailV3ITA", "toPaymentInformationDetailV3JPN", "toPaymentInformationDetailV3KEN", "toPaymentInformationDetailV3MEX", "toPaymentInformationDetailV3NGA", "toPaymentInformationDetailV3NZL", "toPaymentInformationDetailV3USA", "toPaymentInformationDetailV3VEN", "toPaymentInformationDetailV3ZAF"]}}], "responses":{"200":{"description":"Retrieved entity", "schema":{"title":"PaymentInformationDetailV3", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.PaymentInformationDetailV3"}}}}, "default":{"$ref":"#/responses/error"}}}, "put":{"operationId":"updatePaymentInformationDetailV3", "summary":"Update entity in PaymentInformationDetailV3", "tags":["PaymentInformationDetailV3"], "parameters":[{"name":"PaymentInformationV3_effectiveStartDate", "in":"path", "required":true, "description":"key: PaymentInformationV3_effectiveStartDate", "type":"string"}, {"name":"PaymentInformationV3_worker", "in":"path", "required":true, "description":"key: PaymentInformationV3_worker", "type":"string"}, {"name":"externalCode", "in":"path", "required":true, "description":"key: externalCode", "type":"integer", "format":"int64"}, {"name":"PaymentInformationDetailV3", "in":"body", "description":"New property values", "schema":{"title":"Modified PaymentInformationDetailV3", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.PaymentInformationDetailV3"}}}}], "responses":{"204":{"description":"Success"}, "default":{"$ref":"#/responses/error"}}}, "delete":{"operationId":"deletePaymentInformationDetailV3", "summary":"Delete entity from PaymentInformationDetailV3", "tags":["PaymentInformationDetailV3"], "parameters":[{"name":"PaymentInformationV3_effectiveStartDate", "in":"path", "required":true, "description":"key: PaymentInformationV3_effectiveStartDate", "type":"string"}, {"name":"PaymentInformationV3_worker", "in":"path", "required":true, "description":"key: PaymentInformationV3_worker", "type":"string"}, {"name":"externalCode", "in":"path", "required":true, "description":"key: externalCode", "type":"integer", "format":"int64"}, {"name":"If-Match", "in":"header", "description":"ETag", "type":"string"}], "responses":{"204":{"description":"Success"}, "default":{"$ref":"#/responses/error"}}}}, "/PaymentInformationDetailV3ARG":{"get":{"operationId":"listPaymentInformationDetailV3ARGs", "summary":"Get entities from PaymentInformationDetailV3ARG", "tags":["PaymentInformationDetailV3ARG"], "parameters":[{"$ref":"#/parameters/top"}, {"$ref":"#/parameters/skip"}, {"$ref":"#/parameters/search"}, {"$ref":"#/parameters/filter"}, {"$ref":"#/parameters/count"}, {"name":"$orderby", "in":"query", "description":"Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["PaymentInformationDetailV3_externalCode", "PaymentInformationDetailV3_externalCode desc", "PaymentInformationV3_effectiveStartDate", "PaymentInformationV3_effectiveStartDate desc", "PaymentInformationV3_worker", "PaymentInformationV3_worker desc", "accountType", "accountType desc", "createdBy", "createdBy desc", "createdDate", "createdDate desc", "createdDateTime", "createdDateTime desc", "externalCode", "externalCode desc", "lastModifiedBy", "lastModifiedBy desc", "lastModifiedDate", "lastModifiedDate desc", "lastModifiedDateTime", "lastModifiedDateTime desc", "lastModifiedDateWithTZ", "lastModifiedDateWithTZ desc", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveEndDate desc", "mdfSystemEffectiveStartDate", "mdfSystemEffectiveStartDate desc", "mdfSystemEntityId", "mdfSystemEntityId desc", "mdfSystemObjectType", "mdfSystemObjectType desc", "mdfSystemRecordId", "mdfSystemRecordId desc", "mdfSystemRecordStatus", "mdfSystemRecordStatus desc", "mdfSystemStatus", "mdfSystemStatus desc", "mdfSystemTransactionSequence", "mdfSystemTransactionSequence desc", "mdfSystemVersionId", "mdfSystemVersionId desc"]}}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["PaymentInformationDetailV3_externalCode", "PaymentInformationV3_effectiveStartDate", "PaymentInformationV3_worker", "accountType", "createdBy", "createdDate", "createdDateTime", "externalCode", "lastModifiedBy", "lastModifiedDate", "lastModifiedDateTime", "lastModifiedDateWithTZ", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveStartDate", "mdfSystemEntityId", "mdfSystemObjectType", "mdfSystemRecordId", "mdfSystemRecordStatus", "mdfSystemStatus", "mdfSystemTransactionSequence", "mdfSystemVersionId"]}}], "responses":{"200":{"description":"Retrieved entities", "schema":{"type":"object", "title":"Wrapper", "properties":{"d":{"type":"object", "title":"Collection of PaymentInformationDetailV3ARG", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.PaymentInformationDetailV3ARG"}}}}}}}, "default":{"$ref":"#/responses/error"}}}, "post":{"operationId":"createPaymentInformationDetailV3ARG", "summary":"Add new entity to PaymentInformationDetailV3ARG", "tags":["PaymentInformationDetailV3ARG"], "parameters":[{"name":"PaymentInformationDetailV3ARG", "in":"body", "description":"New entity", "schema":{"$ref":"#/definitions/SFOData.PaymentInformationDetailV3ARG"}}], "responses":{"201":{"description":"Created entity", "schema":{"title":"Created PaymentInformationDetailV3ARG", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.PaymentInformationDetailV3ARG"}}}}, "default":{"$ref":"#/responses/error"}}}}, "/PaymentInformationDetailV3ARG(PaymentInformationDetailV3_externalCode={PaymentInformationDetailV3_externalCode},PaymentInformationV3_effectiveStartDate={PaymentInformationV3_effectiveStartDate},PaymentInformationV3_worker='{PaymentInformationV3_worker}',externalCode={externalCode})":{"get":{"operationId":"getPaymentInformationDetailV3ARG", "summary":"Get entity from PaymentInformationDetailV3ARG by key", "tags":["PaymentInformationDetailV3ARG"], "parameters":[{"name":"PaymentInformationDetailV3_externalCode", "in":"path", "required":true, "description":"key: PaymentInformationDetailV3_externalCode", "type":"integer", "format":"int64"}, {"name":"PaymentInformationV3_effectiveStartDate", "in":"path", "required":true, "description":"key: PaymentInformationV3_effectiveStartDate", "type":"string"}, {"name":"PaymentInformationV3_worker", "in":"path", "required":true, "description":"key: PaymentInformationV3_worker", "type":"string"}, {"name":"externalCode", "in":"path", "required":true, "description":"key: externalCode", "type":"integer", "format":"int64"}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["PaymentInformationDetailV3_externalCode", "PaymentInformationV3_effectiveStartDate", "PaymentInformationV3_worker", "accountType", "createdBy", "createdDate", "createdDateTime", "externalCode", "lastModifiedBy", "lastModifiedDate", "lastModifiedDateTime", "lastModifiedDateWithTZ", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveStartDate", "mdfSystemEntityId", "mdfSystemObjectType", "mdfSystemRecordId", "mdfSystemRecordStatus", "mdfSystemStatus", "mdfSystemTransactionSequence", "mdfSystemVersionId"]}}], "responses":{"200":{"description":"Retrieved entity", "schema":{"title":"PaymentInformationDetailV3ARG", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.PaymentInformationDetailV3ARG"}}}}, "default":{"$ref":"#/responses/error"}}}, "put":{"operationId":"updatePaymentInformationDetailV3ARG", "summary":"Update entity in PaymentInformationDetailV3ARG", "tags":["PaymentInformationDetailV3ARG"], "parameters":[{"name":"PaymentInformationDetailV3_externalCode", "in":"path", "required":true, "description":"key: PaymentInformationDetailV3_externalCode", "type":"integer", "format":"int64"}, {"name":"PaymentInformationV3_effectiveStartDate", "in":"path", "required":true, "description":"key: PaymentInformationV3_effectiveStartDate", "type":"string"}, {"name":"PaymentInformationV3_worker", "in":"path", "required":true, "description":"key: PaymentInformationV3_worker", "type":"string"}, {"name":"externalCode", "in":"path", "required":true, "description":"key: externalCode", "type":"integer", "format":"int64"}, {"name":"PaymentInformationDetailV3ARG", "in":"body", "description":"New property values", "schema":{"title":"Modified PaymentInformationDetailV3ARG", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.PaymentInformationDetailV3ARG"}}}}], "responses":{"204":{"description":"Success"}, "default":{"$ref":"#/responses/error"}}}, "delete":{"operationId":"deletePaymentInformationDetailV3ARG", "summary":"Delete entity from PaymentInformationDetailV3ARG", "tags":["PaymentInformationDetailV3ARG"], "parameters":[{"name":"PaymentInformationDetailV3_externalCode", "in":"path", "required":true, "description":"key: PaymentInformationDetailV3_externalCode", "type":"integer", "format":"int64"}, {"name":"PaymentInformationV3_effectiveStartDate", "in":"path", "required":true, "description":"key: PaymentInformationV3_effectiveStartDate", "type":"string"}, {"name":"PaymentInformationV3_worker", "in":"path", "required":true, "description":"key: PaymentInformationV3_worker", "type":"string"}, {"name":"externalCode", "in":"path", "required":true, "description":"key: externalCode", "type":"integer", "format":"int64"}, {"name":"If-Match", "in":"header", "description":"ETag", "type":"string"}], "responses":{"204":{"description":"Success"}, "default":{"$ref":"#/responses/error"}}}}, "/PaymentMethodV3":{"get":{"operationId":"listPaymentMethodV3s", "summary":"Get entities from PaymentMethodV3", "tags":["PaymentMethodV3"], "parameters":[{"$ref":"#/parameters/top"}, {"$ref":"#/parameters/skip"}, {"$ref":"#/parameters/search"}, {"$ref":"#/parameters/filter"}, {"$ref":"#/parameters/count"}, {"name":"$orderby", "in":"query", "description":"Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["createdBy", "createdBy desc", "createdDate", "createdDate desc", "createdDateTime", "createdDateTime desc", "externalCode", "externalCode desc", "externalName_de_DE", "externalName_de_DE desc", "externalName_defaultValue", "externalName_defaultValue desc", "externalName_en_GB", "externalName_en_GB desc", "externalName_en_US", "externalName_en_US desc", "externalName_es_ES", "externalName_es_ES desc", "externalName_fr_FR", "externalName_fr_FR desc", "externalName_ja_JP", "externalName_ja_JP desc", "externalName_ko_KR", "externalName_ko_KR desc", "externalName_localized", "externalName_localized desc", "externalName_nl_NL", "externalName_nl_NL desc", "externalName_pt_BR", "externalName_pt_BR desc", "externalName_pt_PT", "externalName_pt_PT desc", "externalName_ru_RU", "externalName_ru_RU desc", "externalName_zh_CN", "externalName_zh_CN desc", "externalName_zh_TW", "externalName_zh_TW desc", "lastModifiedBy", "lastModifiedBy desc", "lastModifiedDate", "lastModifiedDate desc", "lastModifiedDateTime", "lastModifiedDateTime desc", "lastModifiedDateWithTZ", "lastModifiedDateWithTZ desc", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveEndDate desc", "mdfSystemEffectiveStartDate", "mdfSystemEffectiveStartDate desc", "mdfSystemEntityId", "mdfSystemEntityId desc", "mdfSystemObjectType", "mdfSystemObjectType desc", "mdfSystemRecordId", "mdfSystemRecordId desc", "mdfSystemRecordStatus", "mdfSystemRecordStatus desc", "mdfSystemStatus", "mdfSystemStatus desc", "mdfSystemTransactionSequence", "mdfSystemTransactionSequence desc", "mdfSystemVersionId", "mdfSystemVersionId desc"]}}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["createdBy", "createdDate", "createdDateTime", "externalCode", "externalName_de_DE", "externalName_defaultValue", "externalName_en_GB", "externalName_en_US", "externalName_es_ES", "externalName_fr_FR", "externalName_ja_JP", "externalName_ko_KR", "externalName_localized", "externalName_nl_NL", "externalName_pt_BR", "externalName_pt_PT", "externalName_ru_RU", "externalName_zh_CN", "externalName_zh_TW", "lastModifiedBy", "lastModifiedDate", "lastModifiedDateTime", "lastModifiedDateWithTZ", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveStartDate", "mdfSystemEntityId", "mdfSystemObjectType", "mdfSystemRecordId", "mdfSystemRecordStatus", "mdfSystemStatus", "mdfSystemTransactionSequence", "mdfSystemVersionId"]}}, {"name":"$expand", "in":"query", "description":"Expand related entities, see [OData Expand](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["*", "toPaymentMethodAssignmentV3"]}}], "responses":{"200":{"description":"Retrieved entities", "schema":{"type":"object", "title":"Wrapper", "properties":{"d":{"type":"object", "title":"Collection of PaymentMethodV3", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.PaymentMethodV3"}}}}}}}, "default":{"$ref":"#/responses/error"}}}, "post":{"operationId":"createPaymentMethodV3", "summary":"Add new entity to PaymentMethodV3", "tags":["PaymentMethodV3"], "parameters":[{"name":"PaymentMethodV3", "in":"body", "description":"New entity", "schema":{"$ref":"#/definitions/SFOData.PaymentMethodV3"}}], "responses":{"201":{"description":"Created entity", "schema":{"title":"Created PaymentMethodV3", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.PaymentMethodV3"}}}}, "default":{"$ref":"#/responses/error"}}}}, "/PaymentMethodV3('{externalCode}')":{"get":{"operationId":"getPaymentMethodV3", "summary":"Get entity from PaymentMethodV3 by key", "tags":["PaymentMethodV3"], "parameters":[{"name":"externalCode", "in":"path", "required":true, "description":"key: externalCode", "type":"string"}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["createdBy", "createdDate", "createdDateTime", "externalCode", "externalName_de_DE", "externalName_defaultValue", "externalName_en_GB", "externalName_en_US", "externalName_es_ES", "externalName_fr_FR", "externalName_ja_JP", "externalName_ko_KR", "externalName_localized", "externalName_nl_NL", "externalName_pt_BR", "externalName_pt_PT", "externalName_ru_RU", "externalName_zh_CN", "externalName_zh_TW", "lastModifiedBy", "lastModifiedDate", "lastModifiedDateTime", "lastModifiedDateWithTZ", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveStartDate", "mdfSystemEntityId", "mdfSystemObjectType", "mdfSystemRecordId", "mdfSystemRecordStatus", "mdfSystemStatus", "mdfSystemTransactionSequence", "mdfSystemVersionId"]}}, {"name":"$expand", "in":"query", "description":"Expand related entities, see [OData Expand](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["*", "toPaymentMethodAssignmentV3"]}}], "responses":{"200":{"description":"Retrieved entity", "schema":{"title":"PaymentMethodV3", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.PaymentMethodV3"}}}}, "default":{"$ref":"#/responses/error"}}}, "put":{"operationId":"updatePaymentMethodV3", "summary":"Update entity in PaymentMethodV3", "tags":["PaymentMethodV3"], "parameters":[{"name":"externalCode", "in":"path", "required":true, "description":"key: externalCode", "type":"string"}, {"name":"PaymentMethodV3", "in":"body", "description":"New property values", "schema":{"title":"Modified PaymentMethodV3", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.PaymentMethodV3"}}}}], "responses":{"204":{"description":"Success"}, "default":{"$ref":"#/responses/error"}}}, "delete":{"operationId":"deletePaymentMethodV3", "summary":"Delete entity from PaymentMethodV3", "tags":["PaymentMethodV3"], "parameters":[{"name":"externalCode", "in":"path", "required":true, "description":"key: externalCode", "type":"string"}, {"name":"If-Match", "in":"header", "description":"ETag", "type":"string"}], "responses":{"204":{"description":"Success"}, "default":{"$ref":"#/responses/error"}}}}, "/Bank":{"get":{"operationId":"listBanks", "summary":"Get entities from Bank", "tags":["Bank"], "parameters":[{"$ref":"#/parameters/top"}, {"$ref":"#/parameters/skip"}, {"$ref":"#/parameters/search"}, {"$ref":"#/parameters/filter"}, {"$ref":"#/parameters/count"}, {"name":"$orderby", "in":"query", "description":"Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["bankBranch", "bankBranch desc", "bankCountry", "bankCountry desc", "bankName", "bankName desc", "businessIdentifierCode", "businessIdentifierCode desc", "city", "city desc", "createdBy", "createdBy desc", "createdDateTime", "createdDateTime desc", "effectiveStatus", "effectiveStatus desc", "externalCode", "externalCode desc", "lastModifiedBy", "lastModifiedBy desc", "lastModifiedDateTime", "lastModifiedDateTime desc", "mdfSystemRecordStatus", "mdfSystemRecordStatus desc", "postalCode", "postalCode desc", "routingNumber", "routingNumber desc", "street", "street desc"]}}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["bankBranch", "bankCountry", "bankName", "businessIdentifierCode", "city", "createdBy", "createdDateTime", "effectiveStatus", "externalCode", "lastModifiedBy", "lastModifiedDateTime", "mdfSystemRecordStatus", "postalCode", "routingNumber", "street"]}}], "responses":{"200":{"description":"Retrieved entities", "schema":{"type":"object", "title":"Wrapper", "properties":{"d":{"type":"object", "title":"Collection of Bank", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.Bank"}}}}}}}, "default":{"$ref":"#/responses/error"}}}, "post":{"operationId":"createBank", "summary":"Add new entity to Bank", "tags":["Bank"], "parameters":[{"name":"Bank", "in":"body", "description":"New entity", "schema":{"$ref":"#/definitions/SFOData.Bank"}}], "responses":{"201":{"description":"Created entity", "schema":{"title":"Created Bank", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.Bank"}}}}, "default":{"$ref":"#/responses/error"}}}}, "/Bank('{externalCode}')":{"get":{"operationId":"getBank", "summary":"Get entity from Bank by key", "tags":["Bank"], "parameters":[{"name":"externalCode", "in":"path", "required":true, "description":"key: externalCode", "type":"string"}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["bankBranch", "bankCountry", "bankName", "businessIdentifierCode", "city", "createdBy", "createdDateTime", "effectiveStatus", "externalCode", "lastModifiedBy", "lastModifiedDateTime", "mdfSystemRecordStatus", "postalCode", "routingNumber", "street"]}}], "responses":{"200":{"description":"Retrieved entity", "schema":{"title":"Bank", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.Bank"}}}}, "default":{"$ref":"#/responses/error"}}}, "put":{"operationId":"updateBank", "summary":"Update entity in Bank", "tags":["Bank"], "parameters":[{"name":"externalCode", "in":"path", "required":true, "description":"key: externalCode", "type":"string"}, {"name":"Bank", "in":"body", "description":"New property values", "schema":{"title":"Modified Bank", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.Bank"}}}}], "responses":{"204":{"description":"Success"}, "default":{"$ref":"#/responses/error"}}}, "delete":{"operationId":"deleteBank", "summary":"Delete entity from Bank", "tags":["Bank"], "parameters":[{"name":"externalCode", "in":"path", "required":true, "description":"key: externalCode", "type":"string"}, {"name":"If-Match", "in":"header", "description":"ETag", "type":"string"}], "responses":{"204":{"description":"Success"}, "default":{"$ref":"#/responses/error"}}}}, "/CustomPayTypeAssignment":{"get":{"operationId":"listCustomPayTypeAssignments", "summary":"Get entities from CustomPayTypeAssignment", "tags":["Custom Pay Type Assignment"], "parameters":[{"$ref":"#/parameters/top"}, {"$ref":"#/parameters/skip"}, {"$ref":"#/parameters/search"}, {"$ref":"#/parameters/filter"}, {"$ref":"#/parameters/count"}, {"name":"$orderby", "in":"query", "description":"Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["CustomPayType_externalCode", "CustomPayType_externalCode desc", "country", "country desc", "createdBy", "createdBy desc", "createdDateTime", "createdDateTime desc", "externalCode", "externalCode desc", "lastModifiedBy", "lastModifiedBy desc", "lastModifiedDateTime", "lastModifiedDateTime desc", "mdfSystemRecordStatus", "mdfSystemRecordStatus desc"]}}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["CustomPayType_externalCode", "country", "createdBy", "createdDateTime", "externalCode", "lastModifiedBy", "lastModifiedDateTime", "mdfSystemRecordStatus"]}}], "responses":{"200":{"description":"Retrieved entities", "schema":{"type":"object", "title":"Wrapper", "properties":{"d":{"type":"object", "title":"Collection of CustomPayTypeAssignment", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.CustomPayTypeAssignment"}}}}}}}, "400":{"$ref":"#/responses/error"}}}, "post":{"operationId":"createCustomPayTypeAssignment", "summary":"Add new entity to CustomPayTypeAssignment", "tags":["Custom Pay Type Assignment"], "parameters":[{"name":"CustomPayTypeAssignment", "in":"body", "description":"New entity", "schema":{"$ref":"#/definitions/SFOData.CustomPayTypeAssignment"}}], "responses":{"201":{"description":"Created entity", "schema":{"title":"Created CustomPayTypeAssignment", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.CustomPayTypeAssignment"}}}}, "400":{"$ref":"#/responses/error"}}}}, "/CustomPayTypeAssignment(CustomPayType_externalCode='{CustomPayType_externalCode}',externalCode={externalCode})":{"get":{"operationId":"getCustomPayTypeAssignment", "summary":"Get entity from CustomPayTypeAssignment by key", "tags":["Custom Pay Type Assignment"], "parameters":[{"name":"CustomPayType_externalCode", "in":"path", "required":true, "description":"key: CustomPayType_externalCode", "type":"string"}, {"name":"externalCode", "in":"path", "required":true, "description":"key: externalCode", "type":"integer", "format":"int64"}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["CustomPayType_externalCode", "country", "createdBy", "createdDateTime", "externalCode", "lastModifiedBy", "lastModifiedDateTime", "mdfSystemRecordStatus"]}}], "responses":{"200":{"description":"Retrieved entity", "schema":{"title":"CustomPayTypeAssignment", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.CustomPayTypeAssignment"}}}}, "400":{"$ref":"#/responses/error"}}}, "put":{"operationId":"updateCustomPayTypeAssignment", "summary":"Update entity in CustomPayTypeAssignment", "tags":["Custom Pay Type Assignment"], "parameters":[{"name":"CustomPayType_externalCode", "in":"path", "required":true, "description":"key: CustomPayType_externalCode", "type":"string"}, {"name":"externalCode", "in":"path", "required":true, "description":"key: externalCode", "type":"integer", "format":"int64"}, {"name":"CustomPayTypeAssignment", "in":"body", "description":"New property values", "schema":{"title":"Modified CustomPayTypeAssignment", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.CustomPayTypeAssignment"}}}}], "responses":{"204":{"description":"Success"}, "400":{"$ref":"#/responses/error"}}}, "delete":{"operationId":"deleteCustomPayTypeAssignment", "summary":"Delete entity from CustomPayTypeAssignment", "tags":["Custom Pay Type Assignment"], "parameters":[{"name":"CustomPayType_externalCode", "in":"path", "required":true, "description":"key: CustomPayType_externalCode", "type":"string"}, {"name":"externalCode", "in":"path", "required":true, "description":"key: externalCode", "type":"integer", "format":"int64"}, {"name":"If-Match", "in":"header", "description":"ETag", "type":"string"}], "responses":{"204":{"description":"Success"}, "400":{"$ref":"#/responses/error"}}}}, "/CustomPayType":{"get":{"operationId":"listCustomPayTypes", "summary":"Get entities from CustomPayType", "tags":["Custom Pay Type"], "parameters":[{"$ref":"#/parameters/top"}, {"$ref":"#/parameters/skip"}, {"$ref":"#/parameters/search"}, {"$ref":"#/parameters/filter"}, {"$ref":"#/parameters/count"}, {"name":"$orderby", "in":"query", "description":"Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["createdBy", "createdBy desc", "createdDateTime", "createdDateTime desc", "externalCode", "externalCode desc", "externalName_de_DE", "externalName_de_DE desc", "externalName_defaultValue", "externalName_defaultValue desc", "externalName_en_DEBUG", "externalName_en_DEBUG desc", "externalName_en_GB", "externalName_en_GB desc", "externalName_en_US", "externalName_en_US desc", "externalName_es_ES", "externalName_es_ES desc", "externalName_fr_FR", "externalName_fr_FR desc", "externalName_ja_JP", "externalName_ja_JP desc", "externalName_ko_KR", "externalName_ko_KR desc", "externalName_localized", "externalName_localized desc", "externalName_nl_NL", "externalName_nl_NL desc", "externalName_pt_BR", "externalName_pt_BR desc", "externalName_pt_PT", "externalName_pt_PT desc", "externalName_ru_RU", "externalName_ru_RU desc", "externalName_zh_CN", "externalName_zh_CN desc", "externalName_zh_TW", "externalName_zh_TW desc", "lastModifiedBy", "lastModifiedBy desc", "lastModifiedDateTime", "lastModifiedDateTime desc", "mdfSystemRecordStatus", "mdfSystemRecordStatus desc", "standardPayType", "standardPayType desc"]}}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["createdBy", "createdDateTime", "externalCode", "externalName_de_DE", "externalName_defaultValue", "externalName_en_DEBUG", "externalName_en_GB", "externalName_en_US", "externalName_es_ES", "externalName_fr_FR", "externalName_ja_JP", "externalName_ko_KR", "externalName_localized", "externalName_nl_NL", "externalName_pt_BR", "externalName_pt_PT", "externalName_ru_RU", "externalName_zh_CN", "externalName_zh_TW", "lastModifiedBy", "lastModifiedDateTime", "mdfSystemRecordStatus", "standardPayType"]}}, {"name":"$expand", "in":"query", "description":"Expand related entities, see [OData Expand](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["*", "toCustomPayTypeAssignment"]}}], "responses":{"200":{"description":"Retrieved entities", "schema":{"type":"object", "title":"Wrapper", "properties":{"d":{"type":"object", "title":"Collection of CustomPayType", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.CustomPayType"}}}}}}}, "400":{"$ref":"#/responses/error"}}}, "post":{"operationId":"createCustomPayType", "summary":"Add new entity to CustomPayType", "tags":["Custom Pay Type"], "parameters":[{"name":"CustomPayType", "in":"body", "description":"New entity", "schema":{"$ref":"#/definitions/SFOData.CustomPayType"}}], "responses":{"201":{"description":"Created entity", "schema":{"title":"Created CustomPayType", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.CustomPayType"}}}}, "400":{"$ref":"#/responses/error"}}}}, "/CustomPayType('{externalCode}')":{"get":{"operationId":"getCustomPayType", "summary":"Get entity from CustomPayType by key", "tags":["Custom Pay Type"], "parameters":[{"name":"externalCode", "in":"path", "required":true, "description":"key: externalCode", "type":"string"}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["createdBy", "createdDateTime", "externalCode", "externalName_de_DE", "externalName_defaultValue", "externalName_en_DEBUG", "externalName_en_GB", "externalName_en_US", "externalName_es_ES", "externalName_fr_FR", "externalName_ja_JP", "externalName_ko_KR", "externalName_localized", "externalName_nl_NL", "externalName_pt_BR", "externalName_pt_PT", "externalName_ru_RU", "externalName_zh_CN", "externalName_zh_TW", "lastModifiedBy", "lastModifiedDateTime", "mdfSystemRecordStatus", "standardPayType"]}}, {"name":"$expand", "in":"query", "description":"Expand related entities, see [OData Expand](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["*", "toCustomPayTypeAssignment"]}}], "responses":{"200":{"description":"Retrieved entity", "schema":{"title":"CustomPayType", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.CustomPayType"}}}}, "400":{"$ref":"#/responses/error"}}}, "put":{"operationId":"updateCustomPayType", "summary":"Update entity in CustomPayType", "tags":["Custom Pay Type"], "parameters":[{"name":"externalCode", "in":"path", "required":true, "description":"key: externalCode", "type":"string"}, {"name":"CustomPayType", "in":"body", "description":"New property values", "schema":{"title":"Modified CustomPayType", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.CustomPayType"}}}}], "responses":{"204":{"description":"Success"}, "400":{"$ref":"#/responses/error"}}}, "delete":{"operationId":"deleteCustomPayType", "summary":"Delete entity from CustomPayType", "tags":["Custom Pay Type"], "parameters":[{"name":"externalCode", "in":"path", "required":true, "description":"key: externalCode", "type":"string"}, {"name":"If-Match", "in":"header", "description":"ETag", "type":"string"}], "responses":{"204":{"description":"Success"}, "400":{"$ref":"#/responses/error"}}}}, "/PaymentInformationDetailV3NGA":{"get":{"operationId":"listPaymentInformationDetailV3NGAs", "summary":"Get entities from PaymentInformationDetailV3NGA", "tags":["PaymentInformationDetailV3NGA"], "parameters":[{"$ref":"#/parameters/top"}, {"$ref":"#/parameters/skip"}, {"$ref":"#/parameters/search"}, {"$ref":"#/parameters/filter"}, {"$ref":"#/parameters/count"}, {"name":"$orderby", "in":"query", "description":"Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["PaymentInformationDetailV3_externalCode", "PaymentInformationDetailV3_externalCode desc", "PaymentInformationV3_effectiveStartDate", "PaymentInformationV3_effectiveStartDate desc", "PaymentInformationV3_worker", "PaymentInformationV3_worker desc", "accountType", "accountType desc", "createdBy", "createdBy desc", "createdDate", "createdDate desc", "createdDateTime", "createdDateTime desc", "externalCode", "externalCode desc", "lastModifiedBy", "lastModifiedBy desc", "lastModifiedDate", "lastModifiedDate desc", "lastModifiedDateTime", "lastModifiedDateTime desc", "lastModifiedDateWithTZ", "lastModifiedDateWithTZ desc", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveEndDate desc", "mdfSystemEffectiveStartDate", "mdfSystemEffectiveStartDate desc", "mdfSystemEntityId", "mdfSystemEntityId desc", "mdfSystemObjectType", "mdfSystemObjectType desc", "mdfSystemRecordId", "mdfSystemRecordId desc", "mdfSystemRecordStatus", "mdfSystemRecordStatus desc", "mdfSystemStatus", "mdfSystemStatus desc", "mdfSystemTransactionSequence", "mdfSystemTransactionSequence desc", "mdfSystemVersionId", "mdfSystemVersionId desc"]}}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["PaymentInformationDetailV3_externalCode", "PaymentInformationV3_effectiveStartDate", "PaymentInformationV3_worker", "accountType", "createdBy", "createdDate", "createdDateTime", "externalCode", "lastModifiedBy", "lastModifiedDate", "lastModifiedDateTime", "lastModifiedDateWithTZ", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveStartDate", "mdfSystemEntityId", "mdfSystemObjectType", "mdfSystemRecordId", "mdfSystemRecordStatus", "mdfSystemStatus", "mdfSystemTransactionSequence", "mdfSystemVersionId"]}}], "responses":{"200":{"description":"Retrieved entities", "schema":{"type":"object", "title":"Wrapper", "properties":{"d":{"type":"object", "title":"Collection of PaymentInformationDetailV3NGA", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.PaymentInformationDetailV3NGA"}}}}}}}, "default":{"$ref":"#/responses/error"}}}, "post":{"operationId":"createPaymentInformationDetailV3NGA", "summary":"Add new entity to PaymentInformationDetailV3NGA", "tags":["PaymentInformationDetailV3NGA"], "parameters":[{"name":"PaymentInformationDetailV3NGA", "in":"body", "description":"New entity", "schema":{"$ref":"#/definitions/SFOData.PaymentInformationDetailV3NGA"}}], "responses":{"201":{"description":"Created entity", "schema":{"title":"Created PaymentInformationDetailV3NGA", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.PaymentInformationDetailV3NGA"}}}}, "default":{"$ref":"#/responses/error"}}}}, "/PaymentInformationDetailV3NGA(PaymentInformationDetailV3_externalCode={PaymentInformationDetailV3_externalCode},PaymentInformationV3_effectiveStartDate={PaymentInformationV3_effectiveStartDate},PaymentInformationV3_worker='{PaymentInformationV3_worker}',externalCode={externalCode})":{"get":{"operationId":"getPaymentInformationDetailV3NGA", "summary":"Get entity from PaymentInformationDetailV3NGA by key", "tags":["PaymentInformationDetailV3NGA"], "parameters":[{"name":"PaymentInformationDetailV3_externalCode", "in":"path", "required":true, "description":"key: PaymentInformationDetailV3_externalCode", "type":"integer", "format":"int64"}, {"name":"PaymentInformationV3_effectiveStartDate", "in":"path", "required":true, "description":"key: PaymentInformationV3_effectiveStartDate", "type":"string"}, {"name":"PaymentInformationV3_worker", "in":"path", "required":true, "description":"key: PaymentInformationV3_worker", "type":"string"}, {"name":"externalCode", "in":"path", "required":true, "description":"key: externalCode", "type":"integer", "format":"int64"}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["PaymentInformationDetailV3_externalCode", "PaymentInformationV3_effectiveStartDate", "PaymentInformationV3_worker", "accountType", "createdBy", "createdDate", "createdDateTime", "externalCode", "lastModifiedBy", "lastModifiedDate", "lastModifiedDateTime", "lastModifiedDateWithTZ", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveStartDate", "mdfSystemEntityId", "mdfSystemObjectType", "mdfSystemRecordId", "mdfSystemRecordStatus", "mdfSystemStatus", "mdfSystemTransactionSequence", "mdfSystemVersionId"]}}], "responses":{"200":{"description":"Retrieved entity", "schema":{"title":"PaymentInformationDetailV3NGA", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.PaymentInformationDetailV3NGA"}}}}, "default":{"$ref":"#/responses/error"}}}, "put":{"operationId":"updatePaymentInformationDetailV3NGA", "summary":"Update entity in PaymentInformationDetailV3NGA", "tags":["PaymentInformationDetailV3NGA"], "parameters":[{"name":"PaymentInformationDetailV3_externalCode", "in":"path", "required":true, "description":"key: PaymentInformationDetailV3_externalCode", "type":"integer", "format":"int64"}, {"name":"PaymentInformationV3_effectiveStartDate", "in":"path", "required":true, "description":"key: PaymentInformationV3_effectiveStartDate", "type":"string"}, {"name":"PaymentInformationV3_worker", "in":"path", "required":true, "description":"key: PaymentInformationV3_worker", "type":"string"}, {"name":"externalCode", "in":"path", "required":true, "description":"key: externalCode", "type":"integer", "format":"int64"}, {"name":"PaymentInformationDetailV3NGA", "in":"body", "description":"New property values", "schema":{"title":"Modified PaymentInformationDetailV3NGA", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.PaymentInformationDetailV3NGA"}}}}], "responses":{"204":{"description":"Success"}, "default":{"$ref":"#/responses/error"}}}, "delete":{"operationId":"deletePaymentInformationDetailV3NGA", "summary":"Delete entity from PaymentInformationDetailV3NGA", "tags":["PaymentInformationDetailV3NGA"], "parameters":[{"name":"PaymentInformationDetailV3_externalCode", "in":"path", "required":true, "description":"key: PaymentInformationDetailV3_externalCode", "type":"integer", "format":"int64"}, {"name":"PaymentInformationV3_effectiveStartDate", "in":"path", "required":true, "description":"key: PaymentInformationV3_effectiveStartDate", "type":"string"}, {"name":"PaymentInformationV3_worker", "in":"path", "required":true, "description":"key: PaymentInformationV3_worker", "type":"string"}, {"name":"externalCode", "in":"path", "required":true, "description":"key: externalCode", "type":"integer", "format":"int64"}, {"name":"If-Match", "in":"header", "description":"ETag", "type":"string"}], "responses":{"204":{"description":"Success"}, "default":{"$ref":"#/responses/error"}}}}, "/PaymentInformationDetailV3CZE":{"get":{"operationId":"listPaymentInformationDetailV3CZEs", "summary":"Get payment Information detail entities for CZE", "tags":["Payment Information Detail V3(Czech Republic)"], "parameters":[{"$ref":"#/parameters/top"}, {"$ref":"#/parameters/skip"}, {"$ref":"#/parameters/search"}, {"$ref":"#/parameters/filter"}, {"$ref":"#/parameters/count"}, {"name":"$orderby", "in":"query", "description":"Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["PaymentInformationDetailV3_externalCode", "PaymentInformationDetailV3_externalCode desc", "PaymentInformationV3_effectiveStartDate", "PaymentInformationV3_effectiveStartDate desc", "PaymentInformationV3_worker", "PaymentInformationV3_worker desc", "createdBy", "createdBy desc", "createdDateTime", "createdDateTime desc", "externalCode", "externalCode desc", "lastModifiedBy", "lastModifiedBy desc", "lastModifiedDateTime", "lastModifiedDateTime desc", "mdfSystemRecordStatus", "mdfSystemRecordStatus desc", "specificSymbol", "specificSymbol desc"]}}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["PaymentInformationDetailV3_externalCode", "PaymentInformationV3_effectiveStartDate", "PaymentInformationV3_worker", "createdBy", "createdDateTime", "externalCode", "lastModifiedBy", "lastModifiedDateTime", "mdfSystemRecordStatus", "specificSymbol"]}}], "responses":{"200":{"description":"Retrieved entities", "schema":{"type":"object", "title":"Wrapper", "properties":{"d":{"type":"object", "title":"Collection of PaymentInformationDetailV3CZE", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.PaymentInformationDetailV3CZE"}}}}}}}, "400":{"$ref":"#/responses/error"}}}, "post":{"operationId":"createPaymentInformationDetailV3CZE", "summary":"Add new entity to PaymentInformationDetailV3CZE", "tags":["Payment Information Detail V3(Czech Republic)"], "parameters":[{"name":"PaymentInformationDetailV3CZE", "in":"body", "description":"New entity", "schema":{"$ref":"#/definitions/SFOData.PaymentInformationDetailV3CZE"}}], "responses":{"201":{"description":"Created entity", "schema":{"title":"Created PaymentInformationDetailV3CZE", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.PaymentInformationDetailV3CZE"}}}}, "400":{"$ref":"#/responses/error"}}}}, "/PaymentInformationDetailV3CZE(PaymentInformationDetailV3_externalCode={PaymentInformationDetailV3_externalCode},PaymentInformationV3_effectiveStartDate={PaymentInformationV3_effectiveStartDate},PaymentInformationV3_worker='{PaymentInformationV3_worker}',externalCode={externalCode})":{"get":{"operationId":"getPaymentInformationDetailV3CZE", "summary":"Get entity from PaymentInformationDetailV3CZE by key", "tags":["Payment Information Detail V3(Czech Republic)"], "parameters":[{"name":"PaymentInformationDetailV3_externalCode", "in":"path", "required":true, "description":"the externalCode of entity PaymentInformationDetailV3 of the associated entity PaymentInformation", "type":"integer", "format":"int64", "default":564321321}, {"name":"PaymentInformationV3_effectiveStartDate", "in":"path", "required":true, "description":"the effectiveStartDate of entity PaymentInformationV3", "type":"string", "default":"datetime'2015-01-21T00:00:00'"}, {"name":"PaymentInformationV3_worker", "in":"path", "required":true, "description":"the worker of the entity PaymentInformationV3_", "type":"string", "default":"82096"}, {"name":"externalCode", "in":"path", "required":true, "description":"the externalCode of PaymentInformationDetailV3CZE", "type":"integer", "format":"int64", "default":564}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["PaymentInformationDetailV3_externalCode", "PaymentInformationV3_effectiveStartDate", "PaymentInformationV3_worker", "createdBy", "createdDateTime", "externalCode", "lastModifiedBy", "lastModifiedDateTime", "mdfSystemRecordStatus", "specificSymbol"]}}], "responses":{"200":{"description":"Retrieved entity", "schema":{"title":"PaymentInformationDetailV3CZE", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.PaymentInformationDetailV3CZE"}}}}, "400":{"$ref":"#/responses/error"}}}, "put":{"operationId":"updatePaymentInformationDetailV3CZE", "summary":"Update entity in PaymentInformationDetailV3CZE", "tags":["Payment Information Detail V3(Czech Republic)"], "parameters":[{"name":"PaymentInformationDetailV3_externalCode", "in":"path", "required":true, "description":"the externalCode of entity PaymentInformationDetailV3 of the associated entity PaymentInformation", "type":"integer", "format":"int64", "default":564321321}, {"name":"PaymentInformationV3_effectiveStartDate", "in":"path", "required":true, "description":"The effectiveStartDate of entity PaymentInformationV3", "type":"string", "default":"datetime'2015-01-21T00:00:00'"}, {"name":"PaymentInformationV3_worker", "in":"path", "required":true, "description":"The worker of entity PaymentInformationV3", "type":"string", "default":"82096"}, {"name":"externalCode", "in":"path", "required":true, "description":"The externalCode of entity PaymentInformationDetailV3CZE", "type":"integer", "format":"int64", "default":564}, {"name":"PaymentInformationDetailV3CZE", "in":"body", "description":"New property values", "schema":{"title":"Modified PaymentInformationDetailV3CZE", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.PaymentInformationDetailV3CZE"}}}}], "responses":{"204":{"description":"Success"}, "400":{"$ref":"#/responses/error"}}}, "delete":{"operationId":"deletePaymentInformationDetailV3CZE", "summary":"Delete entity from PaymentInformationDetailV3CZE", "tags":["Payment Information Detail V3(Czech Republic)"], "parameters":[{"name":"PaymentInformationDetailV3_externalCode", "in":"path", "required":true, "description":"the externalCode of entity PaymentInformationDetailV3 of of the associated entity PaymentInformation", "type":"integer", "format":"int64", "default":564321321}, {"name":"PaymentInformationV3_effectiveStartDate", "in":"path", "required":true, "description":"the effectiveStartDate of entity PaymentInformationV3", "type":"string", "default":"datetime'2015-01-21T00:00:00'"}, {"name":"PaymentInformationV3_worker", "in":"path", "required":true, "description":"the worker of entity PaymentInformationV3", "type":"string", "default":"82096"}, {"name":"externalCode", "in":"path", "required":true, "description":"the externalCode of entity PaymentInformationDetailV3CZE", "type":"integer", "format":"int64", "default":564}, {"name":"If-Match", "in":"header", "description":"ETag", "type":"string"}], "responses":{"204":{"description":"Success"}, "400":{"$ref":"#/responses/error"}}}}, "/PaymentInformationV3":{"get":{"operationId":"listPaymentInformationV3s", "summary":"Get entities from PaymentInformationV3", "tags":["PaymentInformationV3"], "parameters":[{"$ref":"#/parameters/top"}, {"$ref":"#/parameters/skip"}, {"$ref":"#/parameters/search"}, {"$ref":"#/parameters/filter"}, {"$ref":"#/parameters/count"}, {"name":"$orderby", "in":"query", "description":"Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["createdBy", "createdBy desc", "createdDate", "createdDate desc", "createdDateTime", "createdDateTime desc", "effectiveEndDate", "effectiveEndDate desc", "effectiveStartDate", "effectiveStartDate desc", "jobCountry", "jobCountry desc", "lastModifiedBy", "lastModifiedBy desc", "lastModifiedDate", "lastModifiedDate desc", "lastModifiedDateTime", "lastModifiedDateTime desc", "lastModifiedDateWithTZ", "lastModifiedDateWithTZ desc", "mdfSystemEntityId", "mdfSystemEntityId desc", "mdfSystemObjectType", "mdfSystemObjectType desc", "mdfSystemRecordId", "mdfSystemRecordId desc", "mdfSystemRecordStatus", "mdfSystemRecordStatus desc", "mdfSystemStatus", "mdfSystemStatus desc", "mdfSystemTransactionSequence", "mdfSystemTransactionSequence desc", "mdfSystemVersionId", "mdfSystemVersionId desc", "worker", "worker desc"]}}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["createdBy", "createdDate", "createdDateTime", "effectiveEndDate", "effectiveStartDate", "jobCountry", "lastModifiedBy", "lastModifiedDate", "lastModifiedDateTime", "lastModifiedDateWithTZ", "mdfSystemEntityId", "mdfSystemObjectType", "mdfSystemRecordId", "mdfSystemRecordStatus", "mdfSystemStatus", "mdfSystemTransactionSequence", "mdfSystemVersionId", "worker"]}}, {"name":"$expand", "in":"query", "description":"Expand related entities, see [OData Expand](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["*", "toPaymentInformationDetailV3"]}}], "responses":{"200":{"description":"Retrieved entities", "schema":{"type":"object", "title":"Wrapper", "properties":{"d":{"type":"object", "title":"Collection of PaymentInformationV3", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.PaymentInformationV3"}}}}}}}, "default":{"$ref":"#/responses/error"}}}, "post":{"operationId":"createPaymentInformationV3", "summary":"Add new entity to PaymentInformationV3", "tags":["PaymentInformationV3"], "parameters":[{"name":"PaymentInformationV3", "in":"body", "description":"New entity", "schema":{"$ref":"#/definitions/SFOData.PaymentInformationV3"}}], "responses":{"201":{"description":"Created entity", "schema":{"title":"Created PaymentInformationV3", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.PaymentInformationV3"}}}}, "default":{"$ref":"#/responses/error"}}}}, "/PaymentInformationV3(effectiveStartDate={effectiveStartDate},worker='{worker}')":{"get":{"operationId":"getPaymentInformationV3", "summary":"Get entity from PaymentInformationV3 by key", "tags":["PaymentInformationV3"], "parameters":[{"name":"effectiveStartDate", "in":"path", "required":true, "description":"key: effectiveStartDate", "type":"string"}, {"name":"worker", "in":"path", "required":true, "description":"key: worker", "type":"string"}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["createdBy", "createdDate", "createdDateTime", "effectiveEndDate", "effectiveStartDate", "jobCountry", "lastModifiedBy", "lastModifiedDate", "lastModifiedDateTime", "lastModifiedDateWithTZ", "mdfSystemEntityId", "mdfSystemObjectType", "mdfSystemRecordId", "mdfSystemRecordStatus", "mdfSystemStatus", "mdfSystemTransactionSequence", "mdfSystemVersionId", "worker"]}}, {"name":"$expand", "in":"query", "description":"Expand related entities, see [OData Expand](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["*", "toPaymentInformationDetailV3"]}}], "responses":{"200":{"description":"Retrieved entity", "schema":{"title":"PaymentInformationV3", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.PaymentInformationV3"}}}}, "default":{"$ref":"#/responses/error"}}}, "put":{"operationId":"updatePaymentInformationV3", "summary":"Update entity in PaymentInformationV3", "tags":["PaymentInformationV3"], "parameters":[{"name":"effectiveStartDate", "in":"path", "required":true, "description":"key: effectiveStartDate", "type":"string"}, {"name":"worker", "in":"path", "required":true, "description":"key: worker", "type":"string"}, {"name":"PaymentInformationV3", "in":"body", "description":"New property values", "schema":{"title":"Modified PaymentInformationV3", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.PaymentInformationV3"}}}}], "responses":{"204":{"description":"Success"}, "default":{"$ref":"#/responses/error"}}}, "delete":{"operationId":"deletePaymentInformationV3", "summary":"Delete entity from PaymentInformationV3", "tags":["PaymentInformationV3"], "parameters":[{"name":"effectiveStartDate", "in":"path", "required":true, "description":"key: effectiveStartDate", "type":"string"}, {"name":"worker", "in":"path", "required":true, "description":"key: worker", "type":"string"}, {"name":"If-Match", "in":"header", "description":"ETag", "type":"string"}], "responses":{"204":{"description":"Success"}, "default":{"$ref":"#/responses/error"}}}}, "/PaymentInformationDetailV3COL":{"get":{"operationId":"listPaymentInformationDetailV3COLs", "summary":"Get entities from PaymentInformationDetailV3COL", "tags":["PaymentInformationDetailV3COL"], "parameters":[{"$ref":"#/parameters/top"}, {"$ref":"#/parameters/skip"}, {"$ref":"#/parameters/search"}, {"$ref":"#/parameters/filter"}, {"$ref":"#/parameters/count"}, {"name":"$orderby", "in":"query", "description":"Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["PaymentInformationDetailV3_externalCode", "PaymentInformationDetailV3_externalCode desc", "PaymentInformationV3_effectiveStartDate", "PaymentInformationV3_effectiveStartDate desc", "PaymentInformationV3_worker", "PaymentInformationV3_worker desc", "accountType", "accountType desc", "createdBy", "createdBy desc", "createdDate", "createdDate desc", "createdDateTime", "createdDateTime desc", "externalCode", "externalCode desc", "lastModifiedBy", "lastModifiedBy desc", "lastModifiedDate", "lastModifiedDate desc", "lastModifiedDateTime", "lastModifiedDateTime desc", "lastModifiedDateWithTZ", "lastModifiedDateWithTZ desc", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveEndDate desc", "mdfSystemEffectiveStartDate", "mdfSystemEffectiveStartDate desc", "mdfSystemEntityId", "mdfSystemEntityId desc", "mdfSystemObjectType", "mdfSystemObjectType desc", "mdfSystemRecordId", "mdfSystemRecordId desc", "mdfSystemRecordStatus", "mdfSystemRecordStatus desc", "mdfSystemStatus", "mdfSystemStatus desc", "mdfSystemTransactionSequence", "mdfSystemTransactionSequence desc", "mdfSystemVersionId", "mdfSystemVersionId desc", "newAccountIdType", "newAccountIdType desc"]}}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["PaymentInformationDetailV3_externalCode", "PaymentInformationV3_effectiveStartDate", "PaymentInformationV3_worker", "accountType", "createdBy", "createdDate", "createdDateTime", "externalCode", "lastModifiedBy", "lastModifiedDate", "lastModifiedDateTime", "lastModifiedDateWithTZ", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveStartDate", "mdfSystemEntityId", "mdfSystemObjectType", "mdfSystemRecordId", "mdfSystemRecordStatus", "mdfSystemStatus", "mdfSystemTransactionSequence", "mdfSystemVersionId", "newAccountIdType"]}}], "responses":{"200":{"description":"Retrieved entities", "schema":{"type":"object", "title":"Wrapper", "properties":{"d":{"type":"object", "title":"Collection of PaymentInformationDetailV3COL", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.PaymentInformationDetailV3COL"}}}}}}}, "default":{"$ref":"#/responses/error"}}}, "post":{"operationId":"createPaymentInformationDetailV3COL", "summary":"Add new entity to PaymentInformationDetailV3COL", "tags":["PaymentInformationDetailV3COL"], "parameters":[{"name":"PaymentInformationDetailV3COL", "in":"body", "description":"New entity", "schema":{"$ref":"#/definitions/SFOData.PaymentInformationDetailV3COL"}}], "responses":{"201":{"description":"Created entity", "schema":{"title":"Created PaymentInformationDetailV3COL", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.PaymentInformationDetailV3COL"}}}}, "default":{"$ref":"#/responses/error"}}}}, "/PaymentInformationDetailV3COL(PaymentInformationDetailV3_externalCode={PaymentInformationDetailV3_externalCode},PaymentInformationV3_effectiveStartDate={PaymentInformationV3_effectiveStartDate},PaymentInformationV3_worker='{PaymentInformationV3_worker}',externalCode={externalCode})":{"get":{"operationId":"getPaymentInformationDetailV3COL", "summary":"Get entity from PaymentInformationDetailV3COL by key", "tags":["PaymentInformationDetailV3COL"], "parameters":[{"name":"PaymentInformationDetailV3_externalCode", "in":"path", "required":true, "description":"key: PaymentInformationDetailV3_externalCode", "type":"integer", "format":"int64"}, {"name":"PaymentInformationV3_effectiveStartDate", "in":"path", "required":true, "description":"key: PaymentInformationV3_effectiveStartDate", "type":"string"}, {"name":"PaymentInformationV3_worker", "in":"path", "required":true, "description":"key: PaymentInformationV3_worker", "type":"string"}, {"name":"externalCode", "in":"path", "required":true, "description":"key: externalCode", "type":"integer", "format":"int64"}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["PaymentInformationDetailV3_externalCode", "PaymentInformationV3_effectiveStartDate", "PaymentInformationV3_worker", "accountType", "createdBy", "createdDate", "createdDateTime", "externalCode", "lastModifiedBy", "lastModifiedDate", "lastModifiedDateTime", "lastModifiedDateWithTZ", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveStartDate", "mdfSystemEntityId", "mdfSystemObjectType", "mdfSystemRecordId", "mdfSystemRecordStatus", "mdfSystemStatus", "mdfSystemTransactionSequence", "mdfSystemVersionId", "newAccountIdType"]}}], "responses":{"200":{"description":"Retrieved entity", "schema":{"title":"PaymentInformationDetailV3COL", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.PaymentInformationDetailV3COL"}}}}, "default":{"$ref":"#/responses/error"}}}, "put":{"operationId":"updatePaymentInformationDetailV3COL", "summary":"Update entity in PaymentInformationDetailV3COL", "tags":["PaymentInformationDetailV3COL"], "parameters":[{"name":"PaymentInformationDetailV3_externalCode", "in":"path", "required":true, "description":"key: PaymentInformationDetailV3_externalCode", "type":"integer", "format":"int64"}, {"name":"PaymentInformationV3_effectiveStartDate", "in":"path", "required":true, "description":"key: PaymentInformationV3_effectiveStartDate", "type":"string"}, {"name":"PaymentInformationV3_worker", "in":"path", "required":true, "description":"key: PaymentInformationV3_worker", "type":"string"}, {"name":"externalCode", "in":"path", "required":true, "description":"key: externalCode", "type":"integer", "format":"int64"}, {"name":"PaymentInformationDetailV3COL", "in":"body", "description":"New property values", "schema":{"title":"Modified PaymentInformationDetailV3COL", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.PaymentInformationDetailV3COL"}}}}], "responses":{"204":{"description":"Success"}, "default":{"$ref":"#/responses/error"}}}, "delete":{"operationId":"deletePaymentInformationDetailV3COL", "summary":"Delete entity from PaymentInformationDetailV3COL", "tags":["PaymentInformationDetailV3COL"], "parameters":[{"name":"PaymentInformationDetailV3_externalCode", "in":"path", "required":true, "description":"key: PaymentInformationDetailV3_externalCode", "type":"integer", "format":"int64"}, {"name":"PaymentInformationV3_effectiveStartDate", "in":"path", "required":true, "description":"key: PaymentInformationV3_effectiveStartDate", "type":"string"}, {"name":"PaymentInformationV3_worker", "in":"path", "required":true, "description":"key: PaymentInformationV3_worker", "type":"string"}, {"name":"externalCode", "in":"path", "required":true, "description":"key: externalCode", "type":"integer", "format":"int64"}, {"name":"If-Match", "in":"header", "description":"ETag", "type":"string"}], "responses":{"204":{"description":"Success"}, "default":{"$ref":"#/responses/error"}}}}, "/PaymentInformationDetailV3VEN":{"get":{"operationId":"listPaymentInformationDetailV3VENs", "summary":"Get entities from PaymentInformationDetailV3VEN", "tags":["PaymentInformationDetailV3VEN"], "parameters":[{"$ref":"#/parameters/top"}, {"$ref":"#/parameters/skip"}, {"$ref":"#/parameters/search"}, {"$ref":"#/parameters/filter"}, {"$ref":"#/parameters/count"}, {"name":"$orderby", "in":"query", "description":"Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["PaymentInformationDetailV3_externalCode", "PaymentInformationDetailV3_externalCode desc", "PaymentInformationV3_effectiveStartDate", "PaymentInformationV3_effectiveStartDate desc", "PaymentInformationV3_worker", "PaymentInformationV3_worker desc", "accountType", "accountType desc", "createdBy", "createdBy desc", "createdDate", "createdDate desc", "createdDateTime", "createdDateTime desc", "externalCode", "externalCode desc", "lastModifiedBy", "lastModifiedBy desc", "lastModifiedDate", "lastModifiedDate desc", "lastModifiedDateTime", "lastModifiedDateTime desc", "lastModifiedDateWithTZ", "lastModifiedDateWithTZ desc", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveEndDate desc", "mdfSystemEffectiveStartDate", "mdfSystemEffectiveStartDate desc", "mdfSystemEntityId", "mdfSystemEntityId desc", "mdfSystemObjectType", "mdfSystemObjectType desc", "mdfSystemRecordId", "mdfSystemRecordId desc", "mdfSystemRecordStatus", "mdfSystemRecordStatus desc", "mdfSystemStatus", "mdfSystemStatus desc", "mdfSystemTransactionSequence", "mdfSystemTransactionSequence desc", "mdfSystemVersionId", "mdfSystemVersionId desc", "paymentReference", "paymentReference desc"]}}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["PaymentInformationDetailV3_externalCode", "PaymentInformationV3_effectiveStartDate", "PaymentInformationV3_worker", "accountType", "createdBy", "createdDate", "createdDateTime", "externalCode", "lastModifiedBy", "lastModifiedDate", "lastModifiedDateTime", "lastModifiedDateWithTZ", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveStartDate", "mdfSystemEntityId", "mdfSystemObjectType", "mdfSystemRecordId", "mdfSystemRecordStatus", "mdfSystemStatus", "mdfSystemTransactionSequence", "mdfSystemVersionId", "paymentReference"]}}], "responses":{"200":{"description":"Retrieved entities", "schema":{"type":"object", "title":"Wrapper", "properties":{"d":{"type":"object", "title":"Collection of PaymentInformationDetailV3VEN", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.PaymentInformationDetailV3VEN"}}}}}}}, "default":{"$ref":"#/responses/error"}}}, "post":{"operationId":"createPaymentInformationDetailV3VEN", "summary":"Add new entity to PaymentInformationDetailV3VEN", "tags":["PaymentInformationDetailV3VEN"], "parameters":[{"name":"PaymentInformationDetailV3VEN", "in":"body", "description":"New entity", "schema":{"$ref":"#/definitions/SFOData.PaymentInformationDetailV3VEN"}}], "responses":{"201":{"description":"Created entity", "schema":{"title":"Created PaymentInformationDetailV3VEN", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.PaymentInformationDetailV3VEN"}}}}, "default":{"$ref":"#/responses/error"}}}}, "/PaymentInformationDetailV3VEN(PaymentInformationDetailV3_externalCode={PaymentInformationDetailV3_externalCode},PaymentInformationV3_effectiveStartDate={PaymentInformationV3_effectiveStartDate},PaymentInformationV3_worker='{PaymentInformationV3_worker}',externalCode={externalCode})":{"get":{"operationId":"getPaymentInformationDetailV3VEN", "summary":"Get entity from PaymentInformationDetailV3VEN by key", "tags":["PaymentInformationDetailV3VEN"], "parameters":[{"name":"PaymentInformationDetailV3_externalCode", "in":"path", "required":true, "description":"key: PaymentInformationDetailV3_externalCode", "type":"integer", "format":"int64"}, {"name":"PaymentInformationV3_effectiveStartDate", "in":"path", "required":true, "description":"key: PaymentInformationV3_effectiveStartDate", "type":"string"}, {"name":"PaymentInformationV3_worker", "in":"path", "required":true, "description":"key: PaymentInformationV3_worker", "type":"string"}, {"name":"externalCode", "in":"path", "required":true, "description":"key: externalCode", "type":"integer", "format":"int64"}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["PaymentInformationDetailV3_externalCode", "PaymentInformationV3_effectiveStartDate", "PaymentInformationV3_worker", "accountType", "createdBy", "createdDate", "createdDateTime", "externalCode", "lastModifiedBy", "lastModifiedDate", "lastModifiedDateTime", "lastModifiedDateWithTZ", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveStartDate", "mdfSystemEntityId", "mdfSystemObjectType", "mdfSystemRecordId", "mdfSystemRecordStatus", "mdfSystemStatus", "mdfSystemTransactionSequence", "mdfSystemVersionId", "paymentReference"]}}], "responses":{"200":{"description":"Retrieved entity", "schema":{"title":"PaymentInformationDetailV3VEN", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.PaymentInformationDetailV3VEN"}}}}, "default":{"$ref":"#/responses/error"}}}, "put":{"operationId":"updatePaymentInformationDetailV3VEN", "summary":"Update entity in PaymentInformationDetailV3VEN", "tags":["PaymentInformationDetailV3VEN"], "parameters":[{"name":"PaymentInformationDetailV3_externalCode", "in":"path", "required":true, "description":"key: PaymentInformationDetailV3_externalCode", "type":"integer", "format":"int64"}, {"name":"PaymentInformationV3_effectiveStartDate", "in":"path", "required":true, "description":"key: PaymentInformationV3_effectiveStartDate", "type":"string"}, {"name":"PaymentInformationV3_worker", "in":"path", "required":true, "description":"key: PaymentInformationV3_worker", "type":"string"}, {"name":"externalCode", "in":"path", "required":true, "description":"key: externalCode", "type":"integer", "format":"int64"}, {"name":"PaymentInformationDetailV3VEN", "in":"body", "description":"New property values", "schema":{"title":"Modified PaymentInformationDetailV3VEN", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.PaymentInformationDetailV3VEN"}}}}], "responses":{"204":{"description":"Success"}, "default":{"$ref":"#/responses/error"}}}, "delete":{"operationId":"deletePaymentInformationDetailV3VEN", "summary":"Delete entity from PaymentInformationDetailV3VEN", "tags":["PaymentInformationDetailV3VEN"], "parameters":[{"name":"PaymentInformationDetailV3_externalCode", "in":"path", "required":true, "description":"key: PaymentInformationDetailV3_externalCode", "type":"integer", "format":"int64"}, {"name":"PaymentInformationV3_effectiveStartDate", "in":"path", "required":true, "description":"key: PaymentInformationV3_effectiveStartDate", "type":"string"}, {"name":"PaymentInformationV3_worker", "in":"path", "required":true, "description":"key: PaymentInformationV3_worker", "type":"string"}, {"name":"externalCode", "in":"path", "required":true, "description":"key: externalCode", "type":"integer", "format":"int64"}, {"name":"If-Match", "in":"header", "description":"ETag", "type":"string"}], "responses":{"204":{"description":"Success"}, "default":{"$ref":"#/responses/error"}}}}, "/PaymentInformationDetailV3NZL":{"get":{"operationId":"listPaymentInformationDetailV3NZLs", "summary":"Get entities from PaymentInformationDetailV3NZL", "tags":["PaymentInformationDetailV3NZL"], "parameters":[{"$ref":"#/parameters/top"}, {"$ref":"#/parameters/skip"}, {"$ref":"#/parameters/search"}, {"$ref":"#/parameters/filter"}, {"$ref":"#/parameters/count"}, {"name":"$orderby", "in":"query", "description":"Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["PaymentInformationDetailV3_externalCode", "PaymentInformationDetailV3_externalCode desc", "PaymentInformationV3_effectiveStartDate", "PaymentInformationV3_effectiveStartDate desc", "PaymentInformationV3_worker", "PaymentInformationV3_worker desc", "createdBy", "createdBy desc", "createdDate", "createdDate desc", "createdDateTime", "createdDateTime desc", "externalCode", "externalCode desc", "lastModifiedBy", "lastModifiedBy desc", "lastModifiedDate", "lastModifiedDate desc", "lastModifiedDateTime", "lastModifiedDateTime desc", "lastModifiedDateWithTZ", "lastModifiedDateWithTZ desc", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveEndDate desc", "mdfSystemEffectiveStartDate", "mdfSystemEffectiveStartDate desc", "mdfSystemEntityId", "mdfSystemEntityId desc", "mdfSystemObjectType", "mdfSystemObjectType desc", "mdfSystemRecordId", "mdfSystemRecordId desc", "mdfSystemRecordStatus", "mdfSystemRecordStatus desc", "mdfSystemStatus", "mdfSystemStatus desc", "mdfSystemTransactionSequence", "mdfSystemTransactionSequence desc", "mdfSystemVersionId", "mdfSystemVersionId desc", "paymentReference", "paymentReference desc"]}}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["PaymentInformationDetailV3_externalCode", "PaymentInformationV3_effectiveStartDate", "PaymentInformationV3_worker", "createdBy", "createdDate", "createdDateTime", "externalCode", "lastModifiedBy", "lastModifiedDate", "lastModifiedDateTime", "lastModifiedDateWithTZ", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveStartDate", "mdfSystemEntityId", "mdfSystemObjectType", "mdfSystemRecordId", "mdfSystemRecordStatus", "mdfSystemStatus", "mdfSystemTransactionSequence", "mdfSystemVersionId", "paymentReference"]}}], "responses":{"200":{"description":"Retrieved entities", "schema":{"type":"object", "title":"Wrapper", "properties":{"d":{"type":"object", "title":"Collection of PaymentInformationDetailV3NZL", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.PaymentInformationDetailV3NZL"}}}}}}}, "default":{"$ref":"#/responses/error"}}}, "post":{"operationId":"createPaymentInformationDetailV3NZL", "summary":"Add new entity to PaymentInformationDetailV3NZL", "tags":["PaymentInformationDetailV3NZL"], "parameters":[{"name":"PaymentInformationDetailV3NZL", "in":"body", "description":"New entity", "schema":{"$ref":"#/definitions/SFOData.PaymentInformationDetailV3NZL"}}], "responses":{"201":{"description":"Created entity", "schema":{"title":"Created PaymentInformationDetailV3NZL", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.PaymentInformationDetailV3NZL"}}}}, "default":{"$ref":"#/responses/error"}}}}, "/PaymentInformationDetailV3NZL(PaymentInformationDetailV3_externalCode={PaymentInformationDetailV3_externalCode},PaymentInformationV3_effectiveStartDate={PaymentInformationV3_effectiveStartDate},PaymentInformationV3_worker='{PaymentInformationV3_worker}',externalCode={externalCode})":{"get":{"operationId":"getPaymentInformationDetailV3NZL", "summary":"Get entity from PaymentInformationDetailV3NZL by key", "tags":["PaymentInformationDetailV3NZL"], "parameters":[{"name":"PaymentInformationDetailV3_externalCode", "in":"path", "required":true, "description":"key: PaymentInformationDetailV3_externalCode", "type":"integer", "format":"int64"}, {"name":"PaymentInformationV3_effectiveStartDate", "in":"path", "required":true, "description":"key: PaymentInformationV3_effectiveStartDate", "type":"string"}, {"name":"PaymentInformationV3_worker", "in":"path", "required":true, "description":"key: PaymentInformationV3_worker", "type":"string"}, {"name":"externalCode", "in":"path", "required":true, "description":"key: externalCode", "type":"integer", "format":"int64"}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["PaymentInformationDetailV3_externalCode", "PaymentInformationV3_effectiveStartDate", "PaymentInformationV3_worker", "createdBy", "createdDate", "createdDateTime", "externalCode", "lastModifiedBy", "lastModifiedDate", "lastModifiedDateTime", "lastModifiedDateWithTZ", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveStartDate", "mdfSystemEntityId", "mdfSystemObjectType", "mdfSystemRecordId", "mdfSystemRecordStatus", "mdfSystemStatus", "mdfSystemTransactionSequence", "mdfSystemVersionId", "paymentReference"]}}], "responses":{"200":{"description":"Retrieved entity", "schema":{"title":"PaymentInformationDetailV3NZL", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.PaymentInformationDetailV3NZL"}}}}, "default":{"$ref":"#/responses/error"}}}, "put":{"operationId":"updatePaymentInformationDetailV3NZL", "summary":"Update entity in PaymentInformationDetailV3NZL", "tags":["PaymentInformationDetailV3NZL"], "parameters":[{"name":"PaymentInformationDetailV3_externalCode", "in":"path", "required":true, "description":"key: PaymentInformationDetailV3_externalCode", "type":"integer", "format":"int64"}, {"name":"PaymentInformationV3_effectiveStartDate", "in":"path", "required":true, "description":"key: PaymentInformationV3_effectiveStartDate", "type":"string"}, {"name":"PaymentInformationV3_worker", "in":"path", "required":true, "description":"key: PaymentInformationV3_worker", "type":"string"}, {"name":"externalCode", "in":"path", "required":true, "description":"key: externalCode", "type":"integer", "format":"int64"}, {"name":"PaymentInformationDetailV3NZL", "in":"body", "description":"New property values", "schema":{"title":"Modified PaymentInformationDetailV3NZL", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.PaymentInformationDetailV3NZL"}}}}], "responses":{"204":{"description":"Success"}, "default":{"$ref":"#/responses/error"}}}, "delete":{"operationId":"deletePaymentInformationDetailV3NZL", "summary":"Delete entity from PaymentInformationDetailV3NZL", "tags":["PaymentInformationDet
[...]
