{
    "swagger": "2.0",
    "security": [
        {
            "basicAuthentication": []
        }
    ],
    "securityDefinitions": {
        "basicAuthentication": {
            "type": "basic",
            "description": "Basic Authentication"
        }
    },
    "x-sap-shortText": "API to record employee attendances and overtime for payroll purpose",
    "x-servers": [
        {
            "url": "https://{api-server}/odata/v2",
            "description": "OData APIs for the SuccessFactors Data Centers",
            "templates": {
                "api-server": {
                    "description": "SuccessFactors Data Center host",
                    "default": "apisalesdemo8.successfactors.com"
                }
            }
        }
    ],
    "info": {
        "title": "Payroll Time Sheet",
        "version": "1.0",
        "description": "API to record employee attendances, overtime, on-call times, and allowances \n\n You can find your company's API server in [List of API Servers in SAP SuccessFactors.](https://help.sap.com/viewer/d599f15995d348a1b45ba5603e2aba9b/LATEST/en-US/af2b8d5437494b12be88fe374eba75b6.html)"
    },
    "externalDocs": {
        "description": "More Information available in help.sap.com",
        "url": "https://help.sap.com/viewer/b2b06831c2cb4d5facd1dfde49a7aab5/latest"
    },
    "schemes": [
        "https"
    ],
    "host": "sandbox.api.sap.com",
    "basePath": "/successfactors/odata/v2",
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "tags": [
        {
            "name": "EmployeeTimeSheet"
        },
        {
            "name": "ExternalAllowance"
        },
        {
            "name": "TimeCollector"
        },
        {
            "name": "ExternalTimeRecord"
        },
        {
            "name": "ExternalTimeData"
        },
        {
            "name": "DataReplicationProxy"
        },
        {
            "name": "EmployeeTimeSheetEntry"
        },
        {
            "name": "EmployeeTimeValuationResult"
        },
        {
            "name": "AllowanceRecording"
        },
        {
            "name": "AvailableAllowanceType"
        },
        {
            "name": "ExternalTimeSegment"
        },
        {
            "name": "TimeRecording"
        },
        {
            "name": "Allowance"
        }
    ],
    "definitions": {
        "odata.error": {
            "type": "object",
            "required": [
                "error"
            ],
            "properties": {
                "error": {
                    "$ref": "#/definitions/odata.error.main"
                }
            }
        },
        "odata.error.main": {
            "type": "object",
            "required": [
                "code",
                "message"
            ],
            "properties": {
                "code": {
                    "type": "string"
                },
                "message": {
                    "type": "string"
                },
                "target": {
                    "type": "string"
                },
                "details": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/odata.error.detail"
                    }
                },
                "innererror": {
                    "type": "object",
                    "description": "The structure of this object is service-specific"
                }
            }
        },
        "odata.error.detail": {
            "type": "object",
            "required": [
                "code",
                "message"
            ],
            "properties": {
                "code": {
                    "type": "string"
                },
                "message": {
                    "type": "string"
                },
                "target": {
                    "type": "string"
                }
            }
        },
        "SFOData.EmployeeTimeSheet": {
            "type": "object",
            "properties": {
                "absencesExist": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 1
                },
                "approvalStatus": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "comment": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 4000
                },
                "createdBy": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "createdDateTime": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "/Date(1492098664000)/"
                },
                "cust_hashstring": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "cust_test": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "editable": {
                    "type": [
                        "boolean",
                        "null"
                    ]
                },
                "endDate": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "/Date(1492098664000)/"
                },
                "entityUUID": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "externalCode": {
                    "type": "string",
                    "maxLength": 128
                },
                "externalTimesExist": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 1
                },
                "fullWorkscheduleCovered": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 1
                },
                "generatedEntriesExist": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 1
                },
                "lastModifiedBy": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "lastModifiedDateTime": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "/Date(1492098664000)/"
                },
                "manualEntriesExist": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 1
                },
                "mdfSystemRecordStatus": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "period": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "plannedHoursAndMinutes": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "plannedWorkingTime": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "format": "int64"
                },
                "plannedWorkingTimeInDays": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "format": "decimal",
                    "multipleOf": 1
                },
                "recordedHoursAndMinutes": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "recordedWorkingTime": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "format": "int64"
                },
                "recordedWorkingTimeInDays": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "format": "decimal",
                    "multipleOf": 1
                },
                "replacedBy": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "replaces": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "singleApprovalRecordsOnly": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "singleRecordApprovalMissing": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "startDate": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "/Date(1492098664000)/"
                },
                "timeRecordingMethod": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "timeRecordingStorage": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "timeSheetHash": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "userId": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 100
                },
                "workflowAction": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "workflowRequestId": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "format": "int64"
                },
                "workingTimeAccount": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "format": "int64"
                },
                "workingTimeAccountHoursAndMinutes": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "allowance": {
                    "title": "Related Collection(SFOData.Allowance)",
                    "type": "object",
                    "properties": {
                        "results": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SFOData.Allowance"
                            }
                        }
                    }
                },
                "employeeTimeSheetEntry": {
                    "title": "Related Collection(SFOData.EmployeeTimeSheetEntry)",
                    "type": "object",
                    "properties": {
                        "results": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SFOData.EmployeeTimeSheetEntry"
                            }
                        }
                    }
                },
                "employeeTimeValuationResult": {
                    "title": "Related Collection(SFOData.EmployeeTimeValuationResult)",
                    "type": "object",
                    "properties": {
                        "results": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SFOData.EmployeeTimeValuationResult"
                            }
                        }
                    }
                },
                "replacedByNav": {
                    "$ref": "#/definitions/SFOData.EmployeeTimeSheet"
                },
                "replacesNav": {
                    "$ref": "#/definitions/SFOData.EmployeeTimeSheet"
                }
            },
            "title": "EmployeeTimeSheet"
        },
        "SFOData.ExternalAllowance": {
            "type": "object",
            "properties": {
                "allowanceType": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "correctionScenario": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "costCenter": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "createdBy": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "createdDateTime": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "/Date(1492098664000)/"
                },
                "date": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "/Date(1492098664000)/"
                },
                "deleteExternalAllowance": {
                    "type": [
                        "boolean",
                        "null"
                    ]
                },
                "externalCode": {
                    "type": "string",
                    "maxLength": 128
                },
                "lastModifiedBy": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "lastModifiedDateTime": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "/Date(1492098664000)/"
                },
                "mdfSystemRecordStatus": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "status": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "userId": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 100
                },
                "value": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "format": "decimal",
                    "multipleOf": 1
                }
            },
            "title": "ExternalAllowance"
        },
        "SFOData.TimeCollector": {
            "type": "object",
            "properties": {
                "bookingDate": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "/Date(1492098664000)/"
                },
                "changeValue": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "format": "decimal",
                    "multipleOf": 1
                },
                "collectorValue": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "format": "decimal",
                    "multipleOf": 1
                },
                "createdBy": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "createdDateTime": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "/Date(1492098664000)/"
                },
                "endDate": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "/Date(1492098664000)/"
                },
                "entityUUID": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "externalCode": {
                    "type": "string",
                    "maxLength": 128
                },
                "lastModifiedBy": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "lastModifiedDateTime": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "/Date(1492098664000)/"
                },
                "mdfSystemRecordStatus": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "startDate": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "/Date(1492098664000)/"
                },
                "timeCollectorType": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "userId": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 100
                }
            },
            "title": "TimeCollector"
        },
        "SFOData.ExternalTimeRecord": {
            "type": "object",
            "properties": {
                "createdBy": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "createdDateTime": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "/Date(1492098664000)/"
                },
                "date": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "/Date(1492098664000)/"
                },
                "deleteExternalTime": {
                    "type": [
                        "boolean",
                        "null"
                    ]
                },
                "externalCode": {
                    "type": "string",
                    "maxLength": 128
                },
                "lastModifiedBy": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "lastModifiedDateTime": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "/Date(1492098664000)/"
                },
                "mdfSystemRecordStatus": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "status": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "userId": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 100
                },
                "externalTimeSegments": {
                    "title": "Related Collection(SFOData.ExternalTimeSegment)",
                    "type": "object",
                    "properties": {
                        "results": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SFOData.ExternalTimeSegment"
                            }
                        }
                    }
                }
            },
            "title": "ExternalTimeRecord"
        },
        "SFOData.ExternalTimeData": {
            "type": "object",
            "properties": {
                "category": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "correctionScenario": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "costCenter": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "createdBy": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "createdDateTime": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "/Date(1492098664000)/"
                },
                "deleteExternalTime": {
                    "type": [
                        "boolean",
                        "null"
                    ]
                },
                "endDate": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "/Date(1492098664000)/"
                },
                "endTime": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "PT15H51M04S"
                },
                "externalCode": {
                    "type": "string",
                    "maxLength": 128
                },
                "hours": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "format": "decimal",
                    "multipleOf": 1
                },
                "lastModifiedBy": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "lastModifiedDateTime": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "/Date(1492098664000)/"
                },
                "logicalDate": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "/Date(1492098664000)/"
                },
                "mdfSystemRecordStatus": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "startDate": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "/Date(1492098664000)/"
                },
                "startTime": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "PT15H51M04S"
                },
                "status": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "timeType": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "userId": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 100
                }
            },
            "title": "ExternalTimeData"
        },
        "SFOData.DataReplicationProxy": {
            "type": "object",
            "properties": {
                "allowReplicationInCorrectionPhase": {
                    "type": [
                        "boolean",
                        "null"
                    ]
                },
                "confirmationDateTime": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "/Date(1492098664000)/"
                },
                "createdBy": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 100
                },
                "createdDateTime": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "/Date(1492098664000)/"
                },
                "dataReplicationProxyStatus": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "earliestReplicationDateTime": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "/Date(1492098664000)/"
                },
                "effectiveStatus": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "employeeTime": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "employeeTimeValuationResult": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "employeeTimeWithAccountDetail": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "externalCode": {
                    "type": "string",
                    "maxLength": 128
                },
                "isSubsequentChange": {
                    "type": [
                        "boolean",
                        "null"
                    ]
                },
                "lastModifiedBy": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 100
                },
                "lastModifiedDateTime": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "/Date(1492098664000)/"
                },
                "legalEntity": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "mdfSystemRecordStatus": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "plannedWorkingTimeEndDate": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "/Date(1492098664000)/"
                },
                "plannedWorkingTimeStartDate": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "/Date(1492098664000)/"
                },
                "replicationContentType": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "replicationScenarioObject": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "replicationTargetSystem": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "sourceGenericObjectExternalCode": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "sourceGenericObjectInternalId": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "timeAccount": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "timeAccountPayout": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "timeAccountSnapshot": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "timeContainer": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "useCostCenterExternalObjectId": {
                    "type": [
                        "boolean",
                        "null"
                    ]
                },
                "userId": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 100
                },
                "employeeTimeValuationResultNav": {
                    "$ref": "#/definitions/SFOData.EmployeeTimeValuationResult"
                }
            },
            "title": "DataReplicationProxy"
        },
        "SFOData.EmployeeTimeSheetEntry": {
            "type": "object",
            "properties": {
                "EmployeeTimeSheet_externalCode": {
                    "type": "string",
                    "maxLength": 128
                },
                "approvalStatus": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "attendanceRequest": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "correctionScenario": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "costCenter": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "createdBy": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "createdDateTime": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "/Date(1492098664000)/"
                },
                "cust_CC_name": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "cust_Project": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "cust_comment": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 4000
                },
                "cust_doYouWantCoffee": {
                    "type": [
                        "boolean",
                        "null"
                    ]
                },
                "cust_doYouWantItWithMilk": {
                    "type": [
                        "boolean",
                        "null"
                    ]
                },
                "cust_go_condition_timeTypeCategory": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "cust_location": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 32
                },
                "cust_picklist": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "cust_string_condition_timeTypeExternalCode": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "durationInDays": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "format": "decimal",
                    "multipleOf": 1
                },
                "employeeTime": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "endTime": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "PT15H51M04S"
                },
                "entityUUID": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "externalCode": {
                    "type": "string",
                    "maxLength": 128
                },
                "externalTimeCode": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "lastModifiedBy": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "lastModifiedDateTime": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "/Date(1492098664000)/"
                },
                "mdfSystemRecordStatus": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "originalEndTime": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "PT15H51M04S"
                },
                "originalPhysicalEndDate": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "/Date(1492098664000)/"
                },
                "originalPhysicalStartDate": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "/Date(1492098664000)/"
                },
                "originalStartTime": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "PT15H51M04S"
                },
                "physicalEndDate": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "/Date(1492098664000)/"
                },
                "physicalStartDate": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "/Date(1492098664000)/"
                },
                "quantityInHours": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "format": "decimal",
                    "multipleOf": 1
                },
                "quantityInHoursAndMinutes": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "startDate": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "/Date(1492098664000)/"
                },
                "startTime": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "PT15H51M04S"
                },
                "timeRecordOrigin": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "timeType": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "timeTypeName": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                }
            },
            "title": "EmployeeTimeSheetEntry"
        },
        "SFOData.EmployeeTimeValuationResult": {
            "type": "object",
            "properties": {
                "EmployeeTimeSheet_externalCode": {
                    "type": "string",
                    "maxLength": 128
                },
                "allowanceType": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "approvalStatus": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "bookingDate": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "/Date(1492098664000)/"
                },
                "costCenter": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "createdBy": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "createdDateTime": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "/Date(1492098664000)/"
                },
                "entityUUID": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "externalCode": {
                    "type": "string",
                    "maxLength": 128
                },
                "hours": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "format": "decimal",
                    "multipleOf": 1
                },
                "hoursAndMinutes": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "lastModifiedBy": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "lastModifiedDateTime": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "/Date(1492098664000)/"
                },
                "mdfSystemRecordStatus": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "payTypeExternalName": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "payTypeName": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "postingTarget": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "timeTypeGroup": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                }
            },
            "title": "EmployeeTimeValuationResult"
        },
        "SFOData.AllowanceRecording": {
            "type": "object",
            "properties": {
                "allowanceType": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "approvalPeriodStatus": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "correctionScenario": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "costCenter": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "createdBy": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "createdDateTime": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "/Date(1492098664000)/"
                },
                "date": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "/Date(1492098664000)/"
                },
                "entityUUID": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 32
                },
                "externalAllowanceCode": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "externalCode": {
                    "type": "string",
                    "maxLength": 128
                },
                "lastModifiedBy": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "lastModifiedDateTime": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "/Date(1492098664000)/"
                },
                "mdfSystemRecordStatus": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "pendingCancellation": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "userId": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 100
                },
                "value": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "format": "decimal",
                    "multipleOf": 1
                }
            },
            "title": "AllowanceRecording"
        },
        "SFOData.AvailableAllowanceType": {
            "type": "object",
            "properties": {
                "TimeTypeProfile_externalCode": {
                    "type": "string",
                    "maxLength": 128
                },
                "TimeTypeProfile_mdfSystemEffectiveStartDate": {
                    "type": "string",
                    "example": "/Date(1492098664000)/"
                },
                "allowanceType": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "allowanceTypeFilterRule": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "copyableInTimesheet": {
                    "type": [
                        "boolean",
                        "null"
                    ]
                },
                "createdBy": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "createdDateTime": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "/Date(1492098664000)/"
                },
                "enabledInEssScenario": {
                    "type": [
                        "boolean",
                        "null"
                    ]
                },
                "entityUUID": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "externalCode": {
                    "type": "string",
                    "maxLength": 128
                },
                "lastModifiedBy": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "lastModifiedDateTime": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "/Date(1492098664000)/"
                },
                "mdfSystemRecordStatus": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                }
            },
            "title": "AvailableAllowanceType"
        },
        "SFOData.ExternalTimeSegment": {
            "type": "object",
            "properties": {
                "ExternalTimeRecord_externalCode": {
                    "type": "string",
                    "maxLength": 128
                },
                "createdBy": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "createdDateTime": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "/Date(1492098664000)/"
                },
                "externalCode": {
                    "type": "string",
                    "maxLength": 128
                },
                "hours": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "format": "decimal",
                    "multipleOf": 1
                },
                "lastModifiedBy": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "lastModifiedDateTime": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "/Date(1492098664000)/"
                },
                "mdfSystemRecordStatus": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                }
            },
            "title": "ExternalTimeSegment"
        },
        "SFOData.TimeRecording": {
            "type": "object",
            "properties": {
                "approvalPeriodStatus": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "attendanceRequest": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "attendanceRequestApprovalStatus": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "correctionScenario": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "costCenter": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "createdBy": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "createdDateTime": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "/Date(1492098664000)/"
                },
                "date": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "/Date(1492098664000)/"
                },
                "durationInDays": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "format": "decimal",
                    "multipleOf": 1
                },
                "durationInMinutes": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "format": "int64"
                },
                "endTime": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "PT15H51M04S"
                },
                "entityUUID": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 32
                },
                "externalCode": {
                    "type": "string",
                    "maxLength": 128
                },
                "externalTimeCode": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "lastModifiedBy": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "lastModifiedDateTime": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "/Date(1492098664000)/"
                },
                "mdfSystemRecordStatus": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "originalEndTime": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "PT15H51M04S"
                },
                "originalPhysicalEndDate": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "/Date(1492098664000)/"
                },
                "originalPhysicalStartDate": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "/Date(1492098664000)/"
                },
                "originalStartTime": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "PT15H51M04S"
                },
                "pendingCancellation": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "physicalEndDate": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "/Date(1492098664000)/"
                },
                "physicalStartDate": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "/Date(1492098664000)/"
                },
                "startTime": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "PT15H51M04S"
                },
                "timeRecordOrigin": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "timeType": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "userId": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 100
                }
            },
            "title": "TimeRecording"
        },
        "SFOData.Allowance": {
            "type": "object",
            "properties": {
                "EmployeeTimeSheet_externalCode": {
                    "type": "string",
                    "maxLength": 128
                },
                "allowanceType": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "correctionScenario": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "costCenter": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "createdBy": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "createdDateTime": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "/Date(1492098664000)/"
                },
                "cust_BusinessUnit": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "cust_FoundationObject": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 32
                },
                "cust_Project": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "cust_comment": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "cust_legalEntity": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "cust_picklist": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "date": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "/Date(1492098664000)/"
                },
                "entityUUID": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "externalAllowanceCode": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 128
                },
                "externalCode": {
                    "type": "string",
                    "maxLength": 128
                },
                "lastModifiedBy": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "lastModifiedDateTime": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "example": "/Date(1492098664000)/"
                },
                "mdfSystemRecordStatus": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "maxLength": 255
                },
                "value": {
                    "type": [
                        "string",
                        "null"
                    ],
                    "format": "decimal",
                    "multipleOf": 1
                }
            },
            "title": "Allowance"
        }
    },
    "paths": {
        "/EmployeeTimeSheet": {
            "get": {
                "summary": "Get entities from EmployeeTimeSheet",
                "tags": [
                    "EmployeeTimeSheet"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/top"
                    },
                    {
                        "$ref": "#/parameters/skip"
                    },
                    {
                        "$ref": "#/parameters/search"
                    },
                    {
                        "$ref": "#/parameters/filter"
                    },
                    {
                        "$ref": "#/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
                        "type": "array",
                        "uniqueItems": true,
                        "items": {
                            "type": "string",
                            "enum": [
                                "absencesExist",
                                "absencesExist desc",
                                "approvalStatus",
                                "approvalStatus desc",
                                "comment",
                                "comment desc",
                                "createdBy",
                                "createdBy desc",
                                "createdDateTime",
                                "createdDateTime desc",
                                "cust_hashstring",
                                "cust_hashstring desc",
                                "cust_test",
                                "cust_test desc",
                                "editable",
                                "editable desc",
                                "endDate",
                                "endDate desc",
                                "entityUUID",
                                "entityUUID desc",
                                "externalCode",
                                "externalCode desc",
                                "externalTimesExist",
                                "externalTimesExist desc",
                                "fullWorkscheduleCovered",
                                "fullWorkscheduleCovered desc",
                                "generatedEntriesExist",
                                "generatedEntriesExist desc",
                                "lastModifiedBy",
                                "lastModifiedBy desc",
                                "lastModifiedDateTime",
                                "lastModifiedDateTime desc",
                                "manualEntriesExist",
                                "manualEntriesExist desc",
                                "mdfSystemRecordStatus",
                                "mdfSystemRecordStatus desc",
                                "period",
                                "period desc",
                                "plannedHoursAndMinutes",
                                "plannedHoursAndMinutes desc",
                                "plannedWorkingTime",
                                "plannedWorkingTime desc",
                                "plannedWorkingTimeInDays",
                                "plannedWorkingTimeInDays desc",
                                "recordedHoursAndMinutes",
                                "recordedHoursAndMinutes desc",
                                "recordedWorkingTime",
                                "recordedWorkingTime desc",
                                "recordedWorkingTimeInDays",
                                "recordedWorkingTimeInDays desc",
                                "replacedBy",
                                "replacedBy desc",
                                "replaces",
                                "replaces desc",
                                "singleApprovalRecordsOnly",
                                "singleApprovalRecordsOnly desc",
                                "singleRecordApprovalMissing",
                                "singleRecordApprovalMissing desc",
                                "startDate",
                                "startDate desc",
                                "timeRecordingMethod",
                                "timeRecordingMethod desc",
                                "timeRecordingStorage",
                                "timeRecordingStorage desc",
                                "timeSheetHash",
                                "timeSheetHash desc",
                                "userId",
                                "userId desc",
                                "workflowAction",
                                "workflowAction desc",
                                "workflowRequestId",
                                "workflowRequestId desc",
                                "workingTimeAccount",
                                "workingTimeAccount desc",
                                "workingTimeAccountHoursAndMinutes",
                                "workingTimeAccountHoursAndMinutes desc"
                            ]
                        }
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
                        "type": "array",
                        "uniqueItems": true,
                        "items": {
                            "type": "string",
                            "enum": [
                                "absencesExist",
                                "approvalStatus",
                                "comment",
                                "createdBy",
                                "createdDateTime",
                                "cust_hashstring",
                                "cust_test",
                                "editable",
                                "endDate",
                                "entityUUID",
                                "externalCode",
                                "externalTimesExist",
                                "fullWorkscheduleCovered",
                                "generatedEntriesExist",
                                "lastModifiedBy",
                                "lastModifiedDateTime",
                                "manualEntriesExist",
                                "mdfSystemRecordStatus",
                                "period",
                                "plannedHoursAndMinutes",
                                "plannedWorkingTime",
                                "plannedWorkingTimeInDays",
                                "recordedHoursAndMinutes",
                                "recordedWorkingTime",
                                "recordedWorkingTimeInDays",
                                "replacedBy",
                                "replaces",
                                "singleApprovalRecordsOnly",
                                "singleRecordApprovalMissing",
                                "startDate",
                                "timeRecordingMethod",
                                "timeRecordingStorage",
                                "timeSheetHash",
                                "userId",
                                "workflowAction",
                                "workflowRequestId",
                                "workingTimeAccount",
                                "workingTimeAccountHoursAndMinutes"
                            ]
                        }
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
                        "type": "array",
                        "uniqueItems": true,
                        "items": {
                            "type": "string",
                            "enum": [
                                "*",
                                "allowance",
                                "employeeTimeSheetEntry",
                                "employeeTimeValuationResult",
                                "replacedByNav",
                                "replacesNav"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entities",
                        "schema": {
                            "type": "object",
                            "title": "Wrapper",
                            "properties": {
                                "d": {
                                    "type": "object",
                                    "title": "Collection of EmployeeTimeSheet",
                                    "properties": {
                                        "results": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/SFOData.EmployeeTimeSheet"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/responses/error"
                    }
                }
            }
        },
        "/EmployeeTimeSheet('{externalCode}')": {
            "get": {
                "summary": "Get entity from EmployeeTimeSheet by key",
                "tags": [
                    "EmployeeTimeSheet"
                ],
                "parameters": [
                    {
                        "name": "externalCode",
                        "in": "path",
                        "required": true,
                        "description": "key: externalCode",
                        "type": "string"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
                        "type": "array",
                        "uniqueItems": true,
                        "items": {
                            "type": "string",
                            "enum": [
                                "absencesExist",
                                "approvalStatus",
                                "comment",
                                "createdBy",
                                "createdDateTime",
                                "cust_hashstring",
                                "cust_test",
                                "editable",
                                "endDate",
                                "entityUUID",
                                "externalCode",
                                "externalTimesExist",
                                "fullWorkscheduleCovered",
                                "generatedEntriesExist",
                                "lastModifiedBy",
                                "lastModifiedDateTime",
                                "manualEntriesExist",
                                "mdfSystemRecordStatus",
                                "period",
                                "plannedHoursAndMinutes",
                                "plannedWorkingTime",
                                "plannedWorkingTimeInDays",
                                "recordedHoursAndMinutes",
                                "recordedWorkingTime",
                                "recordedWorkingTimeInDays",
                                "replacedBy",
                                "replaces",
                                "singleApprovalRecordsOnly",
                                "singleRecordApprovalMissing",
                                "startDate",
                                "timeRecordingMethod",
                                "timeRecordingStorage",
                                "timeSheetHash",
                                "userId",
                                "workflowAction",
                                "workflowRequestId",
                                "workingTimeAccount",
                                "workingTimeAccountHoursAndMinutes"
                            ]
                        }
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
                        "type": "array",
                        "uniqueItems": true,
                        "items": {
                            "type": "string",
                            "enum": [
                                "*",
                                "allowance",
                                "employeeTimeSheetEntry",
                                "employeeTimeValuationResult",
                                "replacedByNav",
                                "replacesNav"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "schema": {
                            "title": "EmployeeTimeSheet",
                            "type": "object",
                            "properties": {
                                "d": {
                                    "$ref": "#/definitions/SFOData.EmployeeTimeSheet"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/responses/error"
                    }
                }
            }
        },
        "/ExternalAllowance": {
            "get": {
                "summary": "Get entities from ExternalAllowance",
                "tags": [
                    "ExternalAllowance"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/top"
                    },
                    {
                        "$ref": "#/parameters/skip"
                    },
                    {
                        "$ref": "#/parameters/search"
                    },
                    {
                        "$ref": "#/parameters/filter"
                    },
                    {
                        "$ref": "#/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
                        "type": "array",
                        "uniqueItems": true,
                        "items": {
                            "type": "string",
                            "enum": [
                                "allowanceType",
                                "allowanceType desc",
                                "correctionScenario",
                                "correctionScenario desc",
                                "costCenter",
                                "costCenter desc",
                                "createdBy",
                                "createdBy desc",
                                "createdDateTime",
                                "createdDateTime desc",
                                "date",
                                "date desc",
                                "deleteExternalAllowance",
                                "deleteExternalAllowance desc",
                                "externalCode",
                                "externalCode desc",
                                "lastModifiedBy",
                                "lastModifiedBy desc",
                                "lastModifiedDateTime",
                                "lastModifiedDateTime desc",
                                "mdfSystemRecordStatus",
                                "mdfSystemRecordStatus desc",
                                "status",
                                "status desc",
                                "userId",
                                "userId desc",
                                "value",
                                "value desc"
                            ]
                        }
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
                        "type": "array",
                        "uniqueItems": true,
                        "items": {
                            "type": "string",
                            "enum": [
                                "allowanceType",
                                "correctionScenario",
                                "costCenter",
                                "createdBy",
                                "createdDateTime",
                                "date",
                                "deleteExternalAllowance",
                                "externalCode",
                                "lastModifiedBy",
                                "lastModifiedDateTime",
                                "mdfSystemRecordStatus",
                                "status",
                                "userId",
                                "value"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entities",
                        "schema": {
                            "type": "object",
                            "title": "Wrapper",
                            "properties": {
                                "d": {
                                    "type": "object",
                                    "title": "Collection of ExternalAllowance",
                                    "properties": {
                                        "results": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/SFOData.ExternalAllowance"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/responses/error"
                    }
                }
            },
            "post": {
                "summary": "Add new entity to ExternalAllowance",
                "tags": [
                    "ExternalAllowance"
                ],
                "parameters": [
                    {
                        "name": "ExternalAllowance",
                        "in": "body",
                        "description": "New entity",
                        "schema": {
                            "$ref": "#/definitions/SFOData.ExternalAllowance"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created entity",
                        "schema": {
                            "title": "Created ExternalAllowance",
                            "type": "object",
                            "properties": {
                                "d": {
                                    "$ref": "#/definitions/SFOData.ExternalAllowance"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    },
                    "default": {
                        "$ref": "#/responses/error"
                    }
                }
            }
        },
        "/ExternalAllowance('{externalCode}')": {
            "get": {
                "summary": "Get entity from ExternalAllowance by key",
                "tags": [
                    "ExternalAllowance"
                ],
                "parameters": [
                    {
                        "name": "externalCode",
                        "in": "path",
                        "required": true,
                        "description": "key: externalCode",
                        "type": "string"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
                        "type": "array",
                        "uniqueItems": true,
                        "items": {
                            "type": "string",
                            "enum": [
                                "allowanceType",
                                "correctionScenario",
                                "costCenter",
                                "createdBy",
                                "createdDateTime",
                                "date",
                                "deleteExternalAllowance",
                                "externalCode",
                                "lastModifiedBy",
                                "lastModifiedDateTime",
                                "mdfSystemRecordStatus",
                                "status",
                                "userId",
                                "value"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "schema": {
                            "title": "ExternalAllowance",
                            "type": "object",
                            "properties": {
                                "d": {
                                    "$ref": "#/definitions/SFOData.ExternalAllowance"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/responses/error"
                    }
                }
            },
            "put": {
                "summary": "Update entity in ExternalAllowance",
                "tags": [
                    "ExternalAllowance"
                ],
                "parameters": [
                    {
                        "name": "externalCode",
                        "in": "path",
                        "required": true,
                        "description": "key: externalCode",
                        "type": "string"
                    },
                    {
                        "name": "ExternalAllowance",
                        "in": "body",
                        "description": "New property values",
                        "schema": {
                            "title": "Modified ExternalAllowance",
                            "type": "object",
                            "properties": {
                                "d": {
                                    "$ref": "#/definitions/SFOData.ExternalAllowance"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    },
                    "default": {
                        "$ref": "#/responses/error"
                    }
                }
            },
            "delete": {
                "summary": "Delete entity from ExternalAllowance",
                "tags": [
                    "ExternalAllowance"
                ],
                "parameters": [
                    {
                        "name": "externalCode",
                        "in": "path",
                        "required": true,
                        "description": "key: externalCode",
                        "type": "string"
                    },
                    {
                        "name": "If-Match",
                        "in": "header",
                        "description": "ETag",
                        "type": "string"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    },
                    "default": {
                        "$ref": "#/responses/error"
                    }
                }
            }
        },
        "/TimeCollector": {
            "get": {
                "summary": "Get entities from TimeCollector",
                "tags": [
                    "TimeCollector"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/top"
                    },
                    {
                        "$ref": "#/parameters/skip"
                    },
                    {
                        "$ref": "#/parameters/search"
                    },
                    {
                        "$ref": "#/parameters/filter"
                    },
                    {
                        "$ref": "#/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
                        "type": "array",
                        "uniqueItems": true,
                        "items": {
                            "type": "string",
                            "enum": [
                                "bookingDate",
                                "bookingDate desc",
                                "changeValue",
                                "changeValue desc",
                                "collectorValue",
                                "collectorValue desc",
                                "createdBy",
                                "createdBy desc",
                                "createdDateTime",
                                "createdDateTime desc",
                                "endDate",
                                "endDate desc",
                                "entityUUID",
                                "entityUUID desc",
                                "externalCode",
                                "externalCode desc",
                                "lastModifiedBy",
                                "lastModifiedBy desc",
                                "lastModifiedDateTime",
                                "lastModifiedDateTime desc",
                                "mdfSystemRecordStatus",
                                "mdfSystemRecordStatus desc",
                                "startDate",
                                "startDate desc",
                                "timeCollectorType",
                                "timeCollectorType desc",
                                "userId",
                                "userId desc"
                            ]
                        }
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
                        "type": "array",
                        "uniqueItems": true,
                        "items": {
                            "type": "string",
                            "enum": [
                                "bookingDate",
                                "changeValue",
                                "collectorValue",
                                "createdBy",
                                "createdDateTime",
                                "endDate",
                                "entityUUID",
                                "externalCode",
                                "lastModifiedBy",
                                "lastModifiedDateTime",
                                "mdfSystemRecordStatus",
                                "startDate",
                                "timeCollectorType",
                                "userId"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entities",
                        "schema": {
                            "type": "object",
                            "title": "Wrapper",
                            "properties": {
                                "d": {
                                    "type": "object",
                                    "title": "Collection of TimeCollector",
                                    "properties": {
                                        "results": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/SFOData.TimeCollector"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/responses/error"
                    }
                }
            }
        },
        "/TimeCollector('{externalCode}')": {
            "get": {
                "summary": "Get entity from TimeCollector by key",
                "tags": [
                    "TimeCollector"
                ],
                "parameters": [
                    {
                        "name": "externalCode",
                        "in": "path",
                        "required": true,
                        "description": "key: externalCode",
                        "type": "string"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
                        "type": "array",
                        "uniqueItems": true,
                        "items": {
                            "type": "string",
                            "enum": [
                                "bookingDate",
                                "changeValue",
                                "collectorValue",
                                "createdBy",
                                "createdDateTime",
                                "endDate",
                                "entityUUID",
                                "externalCode",
                                "lastModifiedBy",
                                "lastModifiedDateTime",
                                "mdfSystemRecordStatus",
                                "startDate",
                                "timeCollectorType",
                                "userId"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "schema": {
                            "title": "TimeCollector",
                            "type": "object",
                            "properties": {
                                "d": {
                                    "$ref": "#/definitions/SFOData.TimeCollector"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/responses/error"
                    }
                }
            }
        },
        "/ExternalTimeRecord": {
            "get": {
                "summary": "Get entities from ExternalTimeRecord",
                "tags": [
                    "ExternalTimeRecord"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/top"
                    },
                    {
                        "$ref": "#/parameters/skip"
                    },
                    {
                        "$ref": "#/parameters/search"
                    },
                    {
                        "$ref": "#/parameters/filter"
                    },
                    {
                        "$ref": "#/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
                        "type": "array",
                        "uniqueItems": true,
                        "items": {
                            "type": "string",
                            "enum": [
                                "createdBy",
                                "createdBy desc",
                                "createdDateTime",
                                "createdDateTime desc",
                                "date",
                                "date desc",
                                "deleteExternalTime",
                                "deleteExternalTime desc",
                                "externalCode",
                                "externalCode desc",
                                "lastModifiedBy",
                                "lastModifiedBy desc",
[...]
