{"swagger":"2.0", "info":{"title":"Personal Information", "version":"1.0", "description":"You can use these APIs to access the personal information of an employee including emergency contact information, social media accounts, email address, and non-effective-dated biographical information such as date of birth, country of birth and national identification card information.\n\n You can find your company's API server in [List of API Servers in SAP SuccessFactors.](https:\/\/help.sap.com\/viewer\/d599f15995d348a1b45ba5603e2aba9b\/LATEST\/en-US\/af2b8d5437494b12be88fe374eba75b6.html)"}, "externalDocs":{"description":"Personal Information on SAP Help Portal", "url":"https://help.sap.com/docs/SAP_SUCCESSFACTORS_PLATFORM/d599f15995d348a1b45ba5603e2aba9b/78b1d8aac783455684a7de7a8a5b0c04.html"}, "x-sap-shortText":"API to access personal information for an employee.", "schemes":["https"], "host":"sandbox.api.sap.com", "basePath":"/successfactors/odata/v2", "consumes":["application/json"], "produces":["application/json"], "x-servers":[{"url":"https://{api-server}/odata/v2", "description":"OData APIs for the SuccessFactors Data Centers", "templates":{"api-server":{"description":"SuccessFactors Data Center host", "default":"apisalesdemo8.successfactors.com"}}}, {"url":"https://sandbox.api.sap.com/successfactorsfoundation/odata/v2", "description":"Sandbox URL"}], "tags":[{"name":"PerEmergencyContacts"}, {"name":"PerPhone"}, {"name":"PersonKey"}, {"name":"PerPersonal"}, {"name":"PerSocialAccount"}, {"name":"PerPerson"}, {"name":"PerPersonRelationship"}, {"name":"PerEmail"}, {"name":"HrisEmergencyContactAddressDEFLT"}, {"name":"PerNationalId"}, {"name":"PerNationalIdWithValidityPeriod"}, {"name":"PerAddressDEFLT"}, {"name":"NameFormatGO"}, {"name":"NameElementGO"}, {"name":"Localized Biographical Information(Brazil)"}, {"name":"Localized Biographical Information(Chile)"}, {"name":"Localized Biographical Information(France)"}, {"name":"Localized Biographical Information(Italy)"}, {"name":"Localized Biographical Information(Venezuela)"}], "paths":{"/PerEmergencyContacts":{"get":{"operationId":"listPerEmergencyContactss", "summary":"Get entities from PerEmergencyContacts", "tags":["PerEmergencyContacts"], "parameters":[{"$ref":"#/parameters/top"}, {"$ref":"#/parameters/skip"}, {"$ref":"#/parameters/search"}, {"$ref":"#/parameters/filter"}, {"$ref":"#/parameters/count"}, {"name":"$orderby", "in":"query", "description":"Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["addressAddress1", "addressAddress1 desc", "addressAddress2", "addressAddress2 desc", "addressAddress3", "addressAddress3 desc", "addressCity", "addressCity desc", "addressCountry", "addressCountry desc", "addressCounty", "addressCounty desc", "addressProvince", "addressProvince desc", "addressState", "addressState desc", "addressZipCode", "addressZipCode desc", "createdBy", "createdBy desc", "createdDateTime", "createdDateTime desc", "createdOn", "createdOn desc", "email", "email desc", "isAddSameAsEmployee", "isAddSameAsEmployee desc", "lastModifiedBy", "lastModifiedBy desc", "lastModifiedDateTime", "lastModifiedDateTime desc", "lastModifiedOn", "lastModifiedOn desc", "name", "name desc", "operation", "operation desc", "personIdExternal", "personIdExternal desc", "phone", "phone desc", "primaryFlag", "primaryFlag desc", "relationship", "relationship desc", "secondPhone", "secondPhone desc"]}}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["addressAddress1", "addressAddress2", "addressAddress3", "addressCity", "addressCountry", "addressCounty", "addressProvince", "addressState", "addressZipCode", "createdBy", "createdDateTime", "createdOn", "email", "isAddSameAsEmployee", "lastModifiedBy", "lastModifiedDateTime", "lastModifiedOn", "name", "operation", "personIdExternal", "phone", "primaryFlag", "relationship", "secondPhone"]}}, {"name":"$expand", "in":"query", "description":"Expand related entities, see [OData Expand](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["*", "addressNavDEFLT", "personNav"]}}], "responses":{"200":{"description":"Retrieved entities", "schema":{"type":"object", "title":"Wrapper", "properties":{"d":{"type":"object", "title":"Collection of PerEmergencyContacts", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.PerEmergencyContacts"}}}}}}}, "default":{"$ref":"#/responses/error"}}}}, "/PerEmergencyContacts(name='{name}',personIdExternal='{personIdExternal}',relationship='{relationship}')":{"get":{"operationId":"getPerEmergencyContacts", "summary":"Get entity from PerEmergencyContacts by key", "tags":["PerEmergencyContacts"], "parameters":[{"name":"name", "in":"path", "required":true, "description":"key: name", "type":"string"}, {"name":"personIdExternal", "in":"path", "required":true, "description":"key: personIdExternal", "type":"string"}, {"name":"relationship", "in":"path", "required":true, "description":"key: relationship", "type":"string"}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["addressAddress1", "addressAddress2", "addressAddress3", "addressCity", "addressCountry", "addressCounty", "addressProvince", "addressState", "addressZipCode", "createdBy", "createdDateTime", "createdOn", "email", "isAddSameAsEmployee", "lastModifiedBy", "lastModifiedDateTime", "lastModifiedOn", "name", "operation", "personIdExternal", "phone", "primaryFlag", "relationship", "secondPhone"]}}, {"name":"$expand", "in":"query", "description":"Expand related entities, see [OData Expand](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["*", "addressNavDEFLT", "personNav"]}}], "responses":{"200":{"description":"Retrieved entity", "schema":{"title":"PerEmergencyContacts", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.PerEmergencyContacts"}}}}, "default":{"$ref":"#/responses/error"}}}}, "/PerPhone":{"get":{"operationId":"listPerPhones", "summary":"Get entities from PerPhone", "tags":["PerPhone"], "parameters":[{"$ref":"#/parameters/top"}, {"$ref":"#/parameters/skip"}, {"$ref":"#/parameters/search"}, {"$ref":"#/parameters/filter"}, {"$ref":"#/parameters/count"}, {"name":"$orderby", "in":"query", "description":"Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["areaCode", "areaCode desc", "countryCode", "countryCode desc", "createdBy", "createdBy desc", "createdDateTime", "createdDateTime desc", "createdOn", "createdOn desc", "extension", "extension desc", "includeAllRecords", "includeAllRecords desc", "isPrimary", "isPrimary desc", "lastModifiedBy", "lastModifiedBy desc", "lastModifiedDateTime", "lastModifiedDateTime desc", "lastModifiedOn", "lastModifiedOn desc", "operation", "operation desc", "personIdExternal", "personIdExternal desc", "phoneNumber", "phoneNumber desc", "phoneType", "phoneType desc"]}}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["areaCode", "countryCode", "createdBy", "createdDateTime", "createdOn", "extension", "includeAllRecords", "isPrimary", "lastModifiedBy", "lastModifiedDateTime", "lastModifiedOn", "operation", "personIdExternal", "phoneNumber", "phoneType"]}}, {"name":"$expand", "in":"query", "description":"Expand related entities, see [OData Expand](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["*", "personNav"]}}], "responses":{"200":{"description":"Retrieved entities", "schema":{"type":"object", "title":"Wrapper", "properties":{"d":{"type":"object", "title":"Collection of PerPhone", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.PerPhone"}}}}}}}, "default":{"$ref":"#/responses/error"}}}}, "/PerPhone(personIdExternal='{personIdExternal}',phoneType='{phoneType}')":{"get":{"operationId":"getPerPhone", "summary":"Get entity from PerPhone by key", "tags":["PerPhone"], "parameters":[{"name":"personIdExternal", "in":"path", "required":true, "description":"key: personIdExternal", "type":"string"}, {"name":"phoneType", "in":"path", "required":true, "description":"key: phoneType", "type":"string"}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["areaCode", "countryCode", "createdBy", "createdDateTime", "createdOn", "extension", "includeAllRecords", "isPrimary", "lastModifiedBy", "lastModifiedDateTime", "lastModifiedOn", "operation", "personIdExternal", "phoneNumber", "phoneType"]}}, {"name":"$expand", "in":"query", "description":"Expand related entities, see [OData Expand](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["*", "personNav"]}}], "responses":{"200":{"description":"Retrieved entity", "schema":{"title":"PerPhone", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.PerPhone"}}}}, "default":{"$ref":"#/responses/error"}}}}, "/PersonKey":{"get":{"operationId":"listPersonKeys", "summary":"Get entities from PersonKey", "tags":["PersonKey"], "parameters":[{"$ref":"#/parameters/top"}, {"$ref":"#/parameters/skip"}, {"$ref":"#/parameters/search"}, {"$ref":"#/parameters/filter"}, {"$ref":"#/parameters/count"}, {"name":"$orderby", "in":"query", "description":"Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["perPersonUuid", "perPersonUuid desc", "personId", "personId desc", "personIdExternal", "personIdExternal desc"]}}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["perPersonUuid", "personId", "personIdExternal"]}}], "responses":{"200":{"description":"Retrieved entities", "schema":{"type":"object", "title":"Wrapper", "properties":{"d":{"type":"object", "title":"Collection of PersonKey", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.PersonKey"}}}}}}}, "default":{"$ref":"#/responses/error"}}}}, "/PersonKey('{personIdExternal}')":{"get":{"operationId":"getPersonKey", "summary":"Get entity from PersonKey by key", "tags":["PersonKey"], "parameters":[{"name":"personIdExternal", "in":"path", "required":true, "description":"key: personIdExternal", "type":"string"}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["perPersonUuid", "personId", "personIdExternal"]}}], "responses":{"200":{"description":"Retrieved entity", "schema":{"title":"PersonKey", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.PersonKey"}}}}, "default":{"$ref":"#/responses/error"}}}}, "/PerPersonal":{"get":{"operationId":"listPerPersonals", "summary":"Get entities from PerPersonal", "tags":["PerPersonal"], "parameters":[{"$ref":"#/parameters/top"}, {"$ref":"#/parameters/skip"}, {"$ref":"#/parameters/search"}, {"$ref":"#/parameters/filter"}, {"$ref":"#/parameters/count"}, {"name":"$orderby", "in":"query", "description":"Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["attachmentId", "attachmentId desc", "businessFirstName", "businessFirstName desc", "businessLastName", "businessLastName desc", "createdBy", "createdBy desc", "createdDateTime", "createdDateTime desc", "createdOn", "createdOn desc", "displayName", "displayName desc", "endDate", "endDate desc", "firstName", "firstName desc", "gender", "gender desc", "includeAllRecords", "includeAllRecords desc", "initials", "initials desc", "lastModifiedBy", "lastModifiedBy desc", "lastModifiedDateTime", "lastModifiedDateTime desc", "lastModifiedOn", "lastModifiedOn desc", "lastName", "lastName desc", "maritalStatus", "maritalStatus desc", "middleName", "middleName desc", "nationality", "nationality desc", "nativePreferredLang", "nativePreferredLang desc", "operation", "operation desc", "personIdExternal", "personIdExternal desc", "preferredName", "preferredName desc", "salutation", "salutation desc", "script", "script desc", "startDate", "startDate desc", "title", "title desc"]}}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["attachmentId", "businessFirstName", "businessLastName", "createdBy", "createdDateTime", "createdOn", "displayName", "endDate", "firstName", "gender", "includeAllRecords", "initials", "lastModifiedBy", "lastModifiedDateTime", "lastModifiedOn", "lastName", "maritalStatus", "middleName", "nationality", "nativePreferredLang", "operation", "personIdExternal", "preferredName", "salutation", "script", "startDate", "title"]}}, {"name":"$expand", "in":"query", "description":"Expand related entities, see [OData Expand](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["*", "personNav"]}}], "responses":{"200":{"description":"Retrieved entities", "schema":{"type":"object", "title":"Wrapper", "properties":{"d":{"type":"object", "title":"Collection of PerPersonal", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.PerPersonal"}}}}}}}, "default":{"$ref":"#/responses/error"}}}}, "/PerPersonal(personIdExternal='{personIdExternal}',startDate={startDate})":{"get":{"operationId":"getPerPersonal", "summary":"Get entity from PerPersonal by key", "tags":["PerPersonal"], "parameters":[{"name":"personIdExternal", "in":"path", "required":true, "description":"key: personIdExternal", "type":"string"}, {"name":"startDate", "in":"path", "required":true, "description":"key: startDate", "type":"string"}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["attachmentId", "businessFirstName", "businessLastName", "createdBy", "createdDateTime", "createdOn", "displayName", "endDate", "firstName", "gender", "includeAllRecords", "initials", "lastModifiedBy", "lastModifiedDateTime", "lastModifiedOn", "lastName", "maritalStatus", "middleName", "nationality", "nativePreferredLang", "operation", "personIdExternal", "preferredName", "salutation", "script", "startDate", "title"]}}, {"name":"$expand", "in":"query", "description":"Expand related entities, see [OData Expand](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["*", "personNav"]}}], "responses":{"200":{"description":"Retrieved entity", "schema":{"title":"PerPersonal", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.PerPersonal"}}}}, "default":{"$ref":"#/responses/error"}}}}, "/PerSocialAccount":{"get":{"operationId":"listPerSocialAccounts", "summary":"Get entities from PerSocialAccount", "tags":["PerSocialAccount"], "parameters":[{"$ref":"#/parameters/top"}, {"$ref":"#/parameters/skip"}, {"$ref":"#/parameters/search"}, {"$ref":"#/parameters/filter"}, {"$ref":"#/parameters/count"}, {"name":"$orderby", "in":"query", "description":"Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["createdBy", "createdBy desc", "createdDateTime", "createdDateTime desc", "createdOn", "createdOn desc", "domain", "domain desc", "imId", "imId desc", "lastModifiedBy", "lastModifiedBy desc", "lastModifiedDateTime", "lastModifiedDateTime desc", "lastModifiedOn", "lastModifiedOn desc", "operation", "operation desc", "personIdExternal", "personIdExternal desc", "url", "url desc"]}}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["createdBy", "createdDateTime", "createdOn", "domain", "imId", "lastModifiedBy", "lastModifiedDateTime", "lastModifiedOn", "operation", "personIdExternal", "url"]}}, {"name":"$expand", "in":"query", "description":"Expand related entities, see [OData Expand](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["*", "personNav"]}}], "responses":{"200":{"description":"Retrieved entities", "schema":{"type":"object", "title":"Wrapper", "properties":{"d":{"type":"object", "title":"Collection of PerSocialAccount", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.PerSocialAccount"}}}}}}}, "default":{"$ref":"#/responses/error"}}}}, "/PerSocialAccount(domain='{domain}',personIdExternal='{personIdExternal}')":{"get":{"operationId":"getPerSocialAccount", "summary":"Get entity from PerSocialAccount by key", "tags":["PerSocialAccount"], "parameters":[{"name":"domain", "in":"path", "required":true, "description":"key: domain", "type":"string"}, {"name":"personIdExternal", "in":"path", "required":true, "description":"key: personIdExternal", "type":"string"}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["createdBy", "createdDateTime", "createdOn", "domain", "imId", "lastModifiedBy", "lastModifiedDateTime", "lastModifiedOn", "operation", "personIdExternal", "url"]}}, {"name":"$expand", "in":"query", "description":"Expand related entities, see [OData Expand](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["*", "personNav"]}}], "responses":{"200":{"description":"Retrieved entity", "schema":{"title":"PerSocialAccount", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.PerSocialAccount"}}}}, "default":{"$ref":"#/responses/error"}}}}, "/PerPerson":{"get":{"operationId":"listPerPersons", "summary":"Get entities from PerPerson", "tags":["PerPerson"], "parameters":[{"$ref":"#/parameters/top"}, {"$ref":"#/parameters/skip"}, {"$ref":"#/parameters/search"}, {"$ref":"#/parameters/filter"}, {"$ref":"#/parameters/count"}, {"name":"$orderby", "in":"query", "description":"Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["birthName", "birthName desc", "countryOfBirth", "countryOfBirth desc", "createdBy", "createdBy desc", "createdDateTime", "createdDateTime desc", "createdOn", "createdOn desc", "dateOfBirth", "dateOfBirth desc", "includeAllRecords", "includeAllRecords desc", "lastModifiedBy", "lastModifiedBy desc", "lastModifiedDateTime", "lastModifiedDateTime desc", "lastModifiedOn", "lastModifiedOn desc", "perPersonUuid", "perPersonUuid desc", "personId", "personId desc", "personIdExternal", "personIdExternal desc", "regionOfBirth", "regionOfBirth desc", "userId", "userId desc"]}}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["birthName", "countryOfBirth", "createdBy", "createdDateTime", "createdOn", "dateOfBirth", "includeAllRecords", "lastModifiedBy", "lastModifiedDateTime", "lastModifiedOn", "perPersonUuid", "personId", "personIdExternal", "regionOfBirth", "userId"]}}, {"name":"$expand", "in":"query", "description":"Expand related entities, see [OData Expand](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["*", "emailNav", "emergencyContactNav", "homeAddressNavDEFLT", "nationalIdNav", "personRerlationshipNav", "personalInfoNav", "phoneNav", "socialAccountNav"]}}], "responses":{"200":{"description":"Retrieved entities", "schema":{"type":"object", "title":"Wrapper", "properties":{"d":{"type":"object", "title":"Collection of PerPerson", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.PerPerson"}}}}}}}, "default":{"$ref":"#/responses/error"}}}}, "/PerPerson('{personIdExternal}')":{"get":{"operationId":"getPerPerson", "summary":"Get entity from PerPerson by key", "tags":["PerPerson"], "parameters":[{"name":"personIdExternal", "in":"path", "required":true, "description":"key: personIdExternal", "type":"string"}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["birthName", "countryOfBirth", "createdBy", "createdDateTime", "createdOn", "dateOfBirth", "includeAllRecords", "lastModifiedBy", "lastModifiedDateTime", "lastModifiedOn", "perPersonUuid", "personId", "personIdExternal", "regionOfBirth", "userId"]}}, {"name":"$expand", "in":"query", "description":"Expand related entities, see [OData Expand](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["*", "emailNav", "emergencyContactNav", "homeAddressNavDEFLT", "nationalIdNav", "personRerlationshipNav", "personalInfoNav", "phoneNav", "socialAccountNav"]}}], "responses":{"200":{"description":"Retrieved entity", "schema":{"title":"PerPerson", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.PerPerson"}}}}, "default":{"$ref":"#/responses/error"}}}}, "/PerPersonRelationship":{"get":{"operationId":"listPerPersonRelationships", "summary":"Get entities from PerPersonRelationship", "tags":["PerPersonRelationship"], "parameters":[{"$ref":"#/parameters/top"}, {"$ref":"#/parameters/skip"}, {"$ref":"#/parameters/search"}, {"$ref":"#/parameters/filter"}, {"$ref":"#/parameters/count"}, {"name":"$orderby", "in":"query", "description":"Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["addressAddress1", "addressAddress1 desc", "addressAddress2", "addressAddress2 desc", "addressAddress3", "addressAddress3 desc", "addressCity", "addressCity desc", "addressCountry", "addressCountry desc", "addressCounty", "addressCounty desc", "addressProvince", "addressProvince desc", "addressState", "addressState desc", "addressZipCode", "addressZipCode desc", "attachmentId", "attachmentId desc", "createdBy", "createdBy desc", "createdDateTime", "createdDateTime desc", "createdOn", "createdOn desc", "endDate", "endDate desc", "firstName", "firstName desc", "isAccompanyingDependent", "isAccompanyingDependent desc", "isAddressSameAsPerson", "isAddressSameAsPerson desc", "isBeneficiary", "isBeneficiary desc", "lastModifiedBy", "lastModifiedBy desc", "lastModifiedDateTime", "lastModifiedDateTime desc", "lastModifiedOn", "lastModifiedOn desc", "lastName", "lastName desc", "operation", "operation desc", "personIdExternal", "personIdExternal desc", "relatedPersonIdExternal", "relatedPersonIdExternal desc", "relationshipType", "relationshipType desc", "startDate", "startDate desc"]}}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["addressAddress1", "addressAddress2", "addressAddress3", "addressCity", "addressCountry", "addressCounty", "addressProvince", "addressState", "addressZipCode", "attachmentId", "createdBy", "createdDateTime", "createdOn", "endDate", "firstName", "isAccompanyingDependent", "isAddressSameAsPerson", "isBeneficiary", "lastModifiedBy", "lastModifiedDateTime", "lastModifiedOn", "lastName", "operation", "personIdExternal", "relatedPersonIdExternal", "relationshipType", "startDate"]}}, {"name":"$expand", "in":"query", "description":"Expand related entities, see [OData Expand](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["*", "personNav", "relNationalIdNav", "relPersonNav", "relPersonalNav"]}}], "responses":{"200":{"description":"Retrieved entities", "schema":{"type":"object", "title":"Wrapper", "properties":{"d":{"type":"object", "title":"Collection of PerPersonRelationship", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.PerPersonRelationship"}}}}}}}, "default":{"$ref":"#/responses/error"}}}}, "/PerPersonRelationship(personIdExternal='{personIdExternal}',relatedPersonIdExternal='{relatedPersonIdExternal}',startDate={startDate})":{"get":{"operationId":"getPerPersonRelationship", "summary":"Get entity from PerPersonRelationship by key", "tags":["PerPersonRelationship"], "parameters":[{"name":"personIdExternal", "in":"path", "required":true, "description":"key: personIdExternal", "type":"string"}, {"name":"relatedPersonIdExternal", "in":"path", "required":true, "description":"key: relatedPersonIdExternal", "type":"string"}, {"name":"startDate", "in":"path", "required":true, "description":"key: startDate", "type":"string"}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["addressAddress1", "addressAddress2", "addressAddress3", "addressCity", "addressCountry", "addressCounty", "addressProvince", "addressState", "addressZipCode", "attachmentId", "createdBy", "createdDateTime", "createdOn", "endDate", "firstName", "isAccompanyingDependent", "isAddressSameAsPerson", "isBeneficiary", "lastModifiedBy", "lastModifiedDateTime", "lastModifiedOn", "lastName", "operation", "personIdExternal", "relatedPersonIdExternal", "relationshipType", "startDate"]}}, {"name":"$expand", "in":"query", "description":"Expand related entities, see [OData Expand](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["*", "personNav", "relNationalIdNav", "relPersonNav", "relPersonalNav"]}}], "responses":{"200":{"description":"Retrieved entity", "schema":{"title":"PerPersonRelationship", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.PerPersonRelationship"}}}}, "default":{"$ref":"#/responses/error"}}}}, "/PerEmail":{"get":{"operationId":"listPerEmails", "summary":"Get entities from PerEmail", "tags":["PerEmail"], "parameters":[{"$ref":"#/parameters/top"}, {"$ref":"#/parameters/skip"}, {"$ref":"#/parameters/search"}, {"$ref":"#/parameters/filter"}, {"$ref":"#/parameters/count"}, {"name":"$orderby", "in":"query", "description":"Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["createdBy", "createdBy desc", "createdDateTime", "createdDateTime desc", "createdOn", "createdOn desc", "emailAddress", "emailAddress desc", "emailType", "emailType desc", "includeAllRecords", "includeAllRecords desc", "isPrimary", "isPrimary desc", "lastModifiedBy", "lastModifiedBy desc", "lastModifiedDateTime", "lastModifiedDateTime desc", "lastModifiedOn", "lastModifiedOn desc", "operation", "operation desc", "personIdExternal", "personIdExternal desc"]}}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["createdBy", "createdDateTime", "createdOn", "emailAddress", "emailType", "includeAllRecords", "isPrimary", "lastModifiedBy", "lastModifiedDateTime", "lastModifiedOn", "operation", "personIdExternal"]}}, {"name":"$expand", "in":"query", "description":"Expand related entities, see [OData Expand](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["*", "personNav"]}}], "responses":{"200":{"description":"Retrieved entities", "schema":{"type":"object", "title":"Wrapper", "properties":{"d":{"type":"object", "title":"Collection of PerEmail", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.PerEmail"}}}}}}}, "default":{"$ref":"#/responses/error"}}}}, "/PerEmail(emailType='{emailType}',personIdExternal='{personIdExternal}')":{"get":{"operationId":"getPerEmail", "summary":"Get entity from PerEmail by key", "tags":["PerEmail"], "parameters":[{"name":"emailType", "in":"path", "required":true, "description":"key: emailType", "type":"string"}, {"name":"personIdExternal", "in":"path", "required":true, "description":"key: personIdExternal", "type":"string"}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["createdBy", "createdDateTime", "createdOn", "emailAddress", "emailType", "includeAllRecords", "isPrimary", "lastModifiedBy", "lastModifiedDateTime", "lastModifiedOn", "operation", "personIdExternal"]}}, {"name":"$expand", "in":"query", "description":"Expand related entities, see [OData Expand](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["*", "personNav"]}}], "responses":{"200":{"description":"Retrieved entity", "schema":{"title":"PerEmail", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.PerEmail"}}}}, "default":{"$ref":"#/responses/error"}}}}, "/HrisEmergencyContactAddressDEFLT":{"get":{"operationId":"listHrisEmergencyContactAddressDEFLTs", "summary":"Get entities from HrisEmergencyContactAddressDEFLT", "tags":["HrisEmergencyContactAddressDEFLT"], "parameters":[{"$ref":"#/parameters/top"}, {"$ref":"#/parameters/skip"}, {"$ref":"#/parameters/search"}, {"$ref":"#/parameters/filter"}, {"$ref":"#/parameters/count"}, {"name":"$orderby", "in":"query", "description":"Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["address1", "address1 desc", "address2", "address2 desc", "address3", "address3 desc", "address4", "address4 desc", "address5", "address5 desc", "addressId", "addressId desc", "addressType", "addressType desc", "city", "city desc", "country", "country desc", "county", "county desc", "createdBy", "createdBy desc", "createdDateTime", "createdDateTime desc", "createdOn", "createdOn desc", "endDate", "endDate desc", "lastModifiedBy", "lastModifiedBy desc", "lastModifiedDateTime", "lastModifiedDateTime desc", "lastModifiedOn", "lastModifiedOn desc", "notes", "notes desc", "province", "province desc", "startDate", "startDate desc", "state", "state desc", "zipCode", "zipCode desc"]}}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["address1", "address2", "address3", "address4", "address5", "addressId", "addressType", "city", "country", "county", "createdBy", "createdDateTime", "createdOn", "endDate", "lastModifiedBy", "lastModifiedDateTime", "lastModifiedOn", "notes", "province", "startDate", "state", "zipCode"]}}], "responses":{"200":{"description":"Retrieved entities", "schema":{"type":"object", "title":"Wrapper", "properties":{"d":{"type":"object", "title":"Collection of HrisEmergencyContactAddressDEFLT", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.HrisEmergencyContactAddressDEFLT"}}}}}}}, "default":{"$ref":"#/responses/error"}}}}, "/HrisEmergencyContactAddressDEFLT('{addressId}')":{"get":{"operationId":"getHrisEmergencyContactAddressDEFLT", "summary":"Get entity from HrisEmergencyContactAddressDEFLT by key", "tags":["HrisEmergencyContactAddressDEFLT"], "parameters":[{"name":"addressId", "in":"path", "required":true, "description":"key: addressId", "type":"string"}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["address1", "address2", "address3", "address4", "address5", "addressId", "addressType", "city", "country", "county", "createdBy", "createdDateTime", "createdOn", "endDate", "lastModifiedBy", "lastModifiedDateTime", "lastModifiedOn", "notes", "province", "startDate", "state", "zipCode"]}}], "responses":{"200":{"description":"Retrieved entity", "schema":{"title":"HrisEmergencyContactAddressDEFLT", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.HrisEmergencyContactAddressDEFLT"}}}}, "default":{"$ref":"#/responses/error"}}}}, "/PerNationalId":{"get":{"operationId":"listPerNationalIds", "summary":"Get entities from PerNationalId", "tags":["PerNationalId"], "parameters":[{"$ref":"#/parameters/top"}, {"$ref":"#/parameters/skip"}, {"$ref":"#/parameters/search"}, {"$ref":"#/parameters/filter"}, {"$ref":"#/parameters/count"}, {"name":"$orderby", "in":"query", "description":"Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["cardType", "cardType desc", "country", "country desc", "createdBy", "createdBy desc", "createdDateTime", "createdDateTime desc", "createdOn", "createdOn desc", "isPrimary", "isPrimary desc", "lastModifiedBy", "lastModifiedBy desc", "lastModifiedDateTime", "lastModifiedDateTime desc", "lastModifiedOn", "lastModifiedOn desc", "nationalId", "nationalId desc", "notes", "notes desc", "operation", "operation desc", "personIdExternal", "personIdExternal desc"]}}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["cardType", "country", "createdBy", "createdDateTime", "createdOn", "isPrimary", "lastModifiedBy", "lastModifiedDateTime", "lastModifiedOn", "nationalId", "notes", "operation", "personIdExternal"]}}, {"name":"$expand", "in":"query", "description":"Expand related entities, see [OData Expand](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["*", "personNav"]}}], "responses":{"200":{"description":"Retrieved entities", "schema":{"type":"object", "title":"Wrapper", "properties":{"d":{"type":"object", "title":"Collection of PerNationalId", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.PerNationalId"}}}}}}}, "default":{"$ref":"#/responses/error"}}}}, "/PerNationalId(cardType='{cardType}',country='{country}',personIdExternal='{personIdExternal}')":{"get":{"operationId":"getPerNationalId", "summary":"Get entity from PerNationalId by key", "tags":["PerNationalId"], "parameters":[{"name":"cardType", "in":"path", "required":true, "description":"key: cardType", "type":"string"}, {"name":"country", "in":"path", "required":true, "description":"key: country", "type":"string"}, {"name":"personIdExternal", "in":"path", "required":true, "description":"key: personIdExternal", "type":"string"}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["cardType", "country", "createdBy", "createdDateTime", "createdOn", "isPrimary", "lastModifiedBy", "lastModifiedDateTime", "lastModifiedOn", "nationalId", "notes", "operation", "personIdExternal"]}}, {"name":"$expand", "in":"query", "description":"Expand related entities, see [OData Expand](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["*", "personNav"]}}], "responses":{"200":{"description":"Retrieved entity", "schema":{"title":"PerNationalId", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.PerNationalId"}}}}, "default":{"$ref":"#/responses/error"}}}}, "/PerNationalIdWithValidityPeriod":{"get":{"operationId":"listPerNationalIdWithValidityPeriods", "summary":"Get entities from PerNationalIdWithValidityPeriod", "tags":["PerNationalIdWithValidityPeriod"], "parameters":[{"$ref":"#/parameters/top"}, {"$ref":"#/parameters/skip"}, {"$ref":"#/parameters/search"}, {"$ref":"#/parameters/filter"}, {"$ref":"#/parameters/count"}, {"name":"$orderby", "in":"query", "description":"Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["cardType", "cardType desc", "country", "country desc", "createdBy", "createdBy desc", "createdDateTime", "createdDateTime desc", "createdOn", "createdOn desc", "isPrimary", "isPrimary desc", "lastModifiedBy", "lastModifiedBy desc", "lastModifiedDateTime", "lastModifiedDateTime desc", "lastModifiedOn", "lastModifiedOn desc", "nationalId", "nationalId desc", "personIdExternal", "personIdExternal desc"]}}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["cardType", "country", "createdBy", "createdDateTime", "createdOn", "isPrimary", "lastModifiedBy", "lastModifiedDateTime", "lastModifiedOn", "nationalId", "notes", "personIdExternal"]}}, {"name":"$expand", "in":"query", "description":"Expand related entities, see [OData Expand](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["*", "personNav"]}}], "responses":{"200":{"description":"Retrieved entities", "schema":{"type":"object", "title":"Wrapper", "properties":{"d":{"type":"object", "title":"Collection of PerNationalIdWithValidityPeriod", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.PerNationalIdWithValidityPeriod"}}}}}}}, "default":{"$ref":"#/responses/error"}}}}, "/PerNationalIdWithValidityPeriod(recordId='{recordId}',personIdExternal='{personIdExternal}')":{"get":{"operationId":"getPerNationalIdWithValidityPeriod", "summary":"Get entity from PerNationalIdWithValidityPeriod by key", "tags":["PerNationalIdWithValidityPeriod"], "parameters":[{"name":"recordId", "in":"path", "required":true, "description":"key: recordId", "type":"string"}, {"name":"personIdExternal", "in":"path", "required":true, "description":"key: personIdExternal", "type":"string"}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["cardType", "country", "createdBy", "createdDateTime", "createdOn", "isPrimary", "lastModifiedBy", "lastModifiedDateTime", "lastModifiedOn", "nationalId", "notes", "personIdExternal"]}}, {"name":"$expand", "in":"query", "description":"Expand related entities, see [OData Expand](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["*", "personNav"]}}], "responses":{"200":{"description":"Retrieved entity", "schema":{"title":"PerNationalIdWithValidityPeriod", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.PerNationalIdWithValidityPeriod"}}}}, "default":{"$ref":"#/responses/error"}}}}, "/PerAddressDEFLT":{"get":{"operationId":"listPerAddressDEFLTs", "summary":"Get entities from PerAddressDEFLT", "tags":["PerAddressDEFLT"], "parameters":[{"$ref":"#/parameters/top"}, {"$ref":"#/parameters/skip"}, {"$ref":"#/parameters/search"}, {"$ref":"#/parameters/filter"}, {"$ref":"#/parameters/count"}, {"name":"$orderby", "in":"query", "description":"Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["address1", "address1 desc", "address2", "address2 desc", "address3", "address3 desc", "address4", "address4 desc", "address5", "address5 desc", "addressType", "addressType desc", "city", "city desc", "country", "country desc", "county", "county desc", "createdBy", "createdBy desc", "createdDateTime", "createdDateTime desc", "createdOn", "createdOn desc", "empUsersSysId", "empUsersSysId desc", "endDate", "endDate desc", "includeAllRecords", "includeAllRecords desc", "lastModifiedBy", "lastModifiedBy desc", "lastModifiedDateTime", "lastModifiedDateTime desc", "lastModifiedOn", "lastModifiedOn desc", "notes", "notes desc", "operation", "operation desc", "personIdExternal", "personIdExternal desc", "province", "province desc", "startDate", "startDate desc", "state", "state desc", "zipCode", "zipCode desc"]}}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["address1", "address2", "address3", "address4", "address5", "addressType", "city", "country", "county", "createdBy", "createdDateTime", "createdOn", "empUsersSysId", "endDate", "includeAllRecords", "lastModifiedBy", "lastModifiedDateTime", "lastModifiedOn", "notes", "operation", "personIdExternal", "province", "startDate", "state", "zipCode"]}}, {"name":"$expand", "in":"query", "description":"Expand related entities, see [OData Expand](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["*", "personNav"]}}], "responses":{"200":{"description":"Retrieved entities", "schema":{"type":"object", "title":"Wrapper", "properties":{"d":{"type":"object", "title":"Collection of PerAddressDEFLT", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.PerAddressDEFLT"}}}}}}}, "default":{"$ref":"#/responses/error"}}}}, "/PerAddressDEFLT(addressType='{addressType}',personIdExternal='{personIdExternal}',startDate={startDate})":{"get":{"operationId":"getPerAddressDEFLT", "summary":"Get entity from PerAddressDEFLT by key", "tags":["PerAddressDEFLT"], "parameters":[{"name":"addressType", "in":"path", "required":true, "description":"key: addressType", "type":"string"}, {"name":"personIdExternal", "in":"path", "required":true, "description":"key: personIdExternal", "type":"string"}, {"name":"startDate", "in":"path", "required":true, "description":"key: startDate", "type":"string"}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["address1", "address2", "address3", "address4", "address5", "addressType", "city", "country", "county", "createdBy", "createdDateTime", "createdOn", "empUsersSysId", "endDate", "includeAllRecords", "lastModifiedBy", "lastModifiedDateTime", "lastModifiedOn", "notes", "operation", "personIdExternal", "province", "startDate", "state", "zipCode"]}}, {"name":"$expand", "in":"query", "description":"Expand related entities, see [OData Expand](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["*", "personNav"]}}], "responses":{"200":{"description":"Retrieved entity", "schema":{"title":"PerAddressDEFLT", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.PerAddressDEFLT"}}}}, "default":{"$ref":"#/responses/error"}}}}, "/generateNextPersonID":{"post":{"operationId":"creategenerateNextPersonID", "summary":"Invoke action generateNextPersonID", "tags":["Service Operations"], "parameters":[], "responses":{"200":{"description":"Success", "schema":{"title":"Result", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.GenerateNextPersonIDResponse"}}}}, "default":{"$ref":"#/responses/error"}}}}, "/NameFormatGO":{"get":{"operationId":"listNameFormatGOs", "summary":"Get entities from NameFormatGO", "tags":["NameFormatGO"], "parameters":[{"$ref":"#/parameters/top"}, {"$ref":"#/parameters/skip"}, {"$ref":"#/parameters/search"}, {"$ref":"#/parameters/filter"}, {"$ref":"#/parameters/count"}, {"name":"$orderby", "in":"query", "description":"Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["createdBy", "createdBy desc", "createdDateTime", "createdDateTime desc", "externalCode", "externalCode desc", "externalName", "externalName desc", "lastModifiedBy", "lastModifiedBy desc", "lastModifiedDateTime", "lastModifiedDateTime desc", "mdfSystemCreatedBy", "mdfSystemCreatedBy desc", "mdfSystemCreatedDate", "mdfSystemCreatedDate desc", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveEndDate desc", "mdfSystemEffectiveStartDate", "mdfSystemEffectiveStartDate desc", "mdfSystemEntityId", "mdfSystemEntityId desc", "mdfSystemLastModifiedBy", "mdfSystemLastModifiedBy desc", "mdfSystemLastModifiedDate", "mdfSystemLastModifiedDate desc", "mdfSystemLastModifiedDateWithTZ", "mdfSystemLastModifiedDateWithTZ desc", "mdfSystemObjectType", "mdfSystemObjectType desc", "mdfSystemRecordId", "mdfSystemRecordId desc", "mdfSystemRecordStatus", "mdfSystemRecordStatus desc", "mdfSystemStatus", "mdfSystemStatus desc", "mdfSystemTransactionSequence", "mdfSystemTransactionSequence desc", "mdfSystemVersionId", "mdfSystemVersionId desc", "sample", "sample desc"]}}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["createdBy", "createdDateTime", "externalCode", "externalName", "lastModifiedBy", "lastModifiedDateTime", "mdfSystemCreatedBy", "mdfSystemCreatedDate", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveStartDate", "mdfSystemEntityId", "mdfSystemLastModifiedBy", "mdfSystemLastModifiedDate", "mdfSystemLastModifiedDateWithTZ", "mdfSystemObjectType", "mdfSystemRecordId", "mdfSystemRecordStatus", "mdfSystemStatus", "mdfSystemTransactionSequence", "mdfSystemVersionId", "sample"]}}, {"name":"$expand", "in":"query", "description":"Expand related entities, see [OData Expand](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["*", "nameElements"]}}], "responses":{"200":{"description":"Retrieved entities", "schema":{"type":"object", "title":"Wrapper", "properties":{"d":{"type":"object", "title":"Collection of NameFormatGO", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.NameFormatGO"}}}}}}}, "default":{"$ref":"#/responses/error"}}}}, "/NameFormatGO('{externalCode}')":{"get":{"operationId":"getNameFormatGO", "summary":"Get entity from NameFormatGO by key", "tags":["NameFormatGO"], "parameters":[{"name":"externalCode", "in":"path", "required":true, "description":"key: externalCode", "type":"string"}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["createdBy", "createdDateTime", "externalCode", "externalName", "lastModifiedBy", "lastModifiedDateTime", "mdfSystemCreatedBy", "mdfSystemCreatedDate", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveStartDate", "mdfSystemEntityId", "mdfSystemLastModifiedBy", "mdfSystemLastModifiedDate", "mdfSystemLastModifiedDateWithTZ", "mdfSystemObjectType", "mdfSystemRecordId", "mdfSystemRecordStatus", "mdfSystemStatus", "mdfSystemTransactionSequence", "mdfSystemVersionId", "sample"]}}, {"name":"$expand", "in":"query", "description":"Expand related entities, see [OData Expand](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["*", "nameElements"]}}], "responses":{"200":{"description":"Retrieved entity", "schema":{"title":"NameFormatGO", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.NameFormatGO"}}}}, "default":{"$ref":"#/responses/error"}}}}, "/NameElementGO":{"get":{"operationId":"listNameElementGOs", "summary":"Get entities from NameElementGO", "tags":["NameElementGO"], "parameters":[{"$ref":"#/parameters/top"}, {"$ref":"#/parameters/skip"}, {"$ref":"#/parameters/search"}, {"$ref":"#/parameters/filter"}, {"$ref":"#/parameters/count"}, {"name":"$orderby", "in":"query", "description":"Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["NameFormatGO_externalCode", "NameFormatGO_externalCode desc", "createdBy", "createdBy desc", "createdDate", "createdDate desc", "createdDateTime", "createdDateTime desc", "externalCode", "externalCode desc", "lastModifiedBy", "lastModifiedBy desc", "lastModifiedDate", "lastModifiedDate desc", "lastModifiedDateTime", "lastModifiedDateTime desc", "lastModifiedDateWithTZ", "lastModifiedDateWithTZ desc", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveEndDate desc", "mdfSystemEffectiveStartDate", "mdfSystemEffectiveStartDate desc", "mdfSystemEntityId", "mdfSystemEntityId desc", "mdfSystemObjectType", "mdfSystemObjectType desc", "mdfSystemRecordId", "mdfSystemRecordId desc", "mdfSystemRecordStatus", "mdfSystemRecordStatus desc", "mdfSystemStatus", "mdfSystemStatus desc", "mdfSystemTransactionSequence", "mdfSystemTransactionSequence desc", "mdfSystemVersionId", "mdfSystemVersionId desc", "nameArtifactEnum", "nameArtifactEnum desc", "sampleData", "sampleData desc", "separator", "separator desc"]}}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["NameFormatGO_externalCode", "createdBy", "createdDate", "createdDateTime", "externalCode", "lastModifiedBy", "lastModifiedDate", "lastModifiedDateTime", "lastModifiedDateWithTZ", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveStartDate", "mdfSystemEntityId", "mdfSystemObjectType", "mdfSystemRecordId", "mdfSystemRecordStatus", "mdfSystemStatus", "mdfSystemTransactionSequence", "mdfSystemVersionId", "nameArtifactEnum", "sampleData", "separator"]}}], "responses":{"200":{"description":"Retrieved entities", "schema":{"type":"object", "title":"Wrapper", "properties":{"d":{"type":"object", "title":"Collection of NameElementGO", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.NameElementGO"}}}}}}}, "default":{"$ref":"#/responses/error"}}}}, "/NameElementGO(NameFormatGO_externalCode='{NameFormatGO_externalCode}',externalCode='{externalCode}')":{"get":{"operationId":"getNameElementGO", "summary":"Get entity from NameElementGO by key", "tags":["NameElementGO"], "parameters":[{"name":"NameFormatGO_externalCode", "in":"path", "required":true, "description":"key: NameFormatGO_externalCode", "type":"string"}, {"name":"externalCode", "in":"path", "required":true, "description":"key: externalCode", "type":"string"}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["NameFormatGO_externalCode", "createdBy", "createdDate", "createdDateTime", "externalCode", "lastModifiedBy", "lastModifiedDate", "lastModifiedDateTime", "lastModifiedDateWithTZ", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveStartDate", "mdfSystemEntityId", "mdfSystemObjectType", "mdfSystemRecordId", "mdfSystemRecordStatus", "mdfSystemStatus", "mdfSystemTransactionSequence", "mdfSystemVersionId", "nameArtifactEnum", "sampleData", "separator"]}}], "responses":{"200":{"description":"Retrieved entity", "schema":{"title":"NameElementGO", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.NameElementGO"}}}}, "default":{"$ref":"#/responses/error"}}}}, "/PerBiographicalInfoLocBRA":{"get":{"operationId":"listPerBiographicalInfoLocBRAs", "summary":"Get entities from PerBiographicalInfoLocBRA", "description":"Get entities of localized biographical information for Brazil", "tags":["Localized Biographical Information(Brazil)"], "parameters":[{"$ref":"#/parameters/top"}, {"$ref":"#/parameters/skip"}, {"$ref":"#/parameters/search"}, {"$ref":"#/parameters/filter"}, {"$ref":"#/parameters/count"}, {"name":"$orderby", "in":"query", "description":"Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["country", "country desc", "createdBy", "createdBy desc", "createdDateTime", "createdDateTime desc", "createdOn", "createdOn desc", "customString1", "customString1 desc", "lastModifiedBy", "lastModifiedBy desc", "lastModifiedDateTime", "lastModifiedDateTime desc", "lastModifiedOn", "lastModifiedOn desc", "operation", "operation desc", "personIdExternal", "personIdExternal desc", "placeOfBirth", "placeOfBirth desc", "regionOfBirth", "regionOfBirth desc"]}}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["country", "createdBy", "createdDateTime", "createdOn", "customString1", "lastModifiedBy", "lastModifiedDateTime", "lastModifiedOn", "operation", "personIdExternal", "placeOfBirth", "regionOfBirth"]}}], "responses":{"200":{"description":"Retrieved entities", "schema":{"type":"object", "title":"Wrapper", "properties":{"d":{"type":"object", "title":"Collection of PerBiographicalInfoLocBRA", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.PerBiographicalInfoLocBRA"}}}}}}}, "400":{"$ref":"#/responses/error"}}}}, "/PerBiographicalInfoLocBRA(country='{country}',personIdExternal='{personIdExternal}')":{"get":{"operationId":"getPerBiographicalInfoLocBRA", "summary":"Get entity from PerBiographicalInfoLocBRA by key", "description":"Get entities of localized biographical information for Brazil by key", "tags":["Localized Biographical Information(Brazil)"], "parameters":[{"name":"country", "in":"path", "required":true, "description":"key: country", "type":"string"}, {"name":"personIdExternal", "in":"path", "required":true, "description":"key: personIdExternal", "type":"string"}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["country", "createdBy", "createdDateTime", "createdOn", "customString1", "lastModifiedBy", "lastModifiedDateTime", "lastModifiedOn", "operation", "personIdExternal", "placeOfBirth", "regionOfBirth"]}}], "responses":{"200":{"description":"Retrieved entity", "schema":{"title":"PerBiographicalInfoLocBRA", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.PerBiographicalInfoLocBRA"}}}}, "400":{"$ref":"#/responses/error"}}}}, "/PerBiographicalInfoLocCHL":{"get":{"operationId":"listPerBiographicalInfoLocCHLs", "summary":"Get entities from PerBiographicalInfoLocCHL", "description":"Get entities of localized biographical information for Chile", "tags":["Localized Biographical Information(Chile)"], "parameters":[{"$ref":"#/parameters/top"}, {"$ref":"#/parameters/skip"}, {"$ref":"#/parameters/search"}, {"$ref":"#/parameters/filter"}, {"$ref":"#/parameters/count"}, {"name":"$orderby", "in":"query", "description":"Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["country", "country desc", "createdBy", "createdBy desc", "createdDateTime", "createdDateTime desc", "createdOn", "createdOn desc", "customString1", "customString1 desc", "lastModifiedBy", "lastModifiedBy desc", "lastModifiedDateTime", "lastModifiedDateTime desc", "lastModifiedOn", "lastModifiedOn desc", "operation", "operation desc", "personIdExternal", "personIdExternal desc", "placeOfBirth", "placeOfBirth desc", "regionOfBirth", "regionOfBirth desc"]}}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["country", "createdBy", "createdDateTime", "createdOn", "customString1", "lastModifiedBy", "lastModifiedDateTime", "lastModifiedOn", "operation", "personIdExternal", "placeOfBirth", "regionOfBirth"]}}], "responses":{"200":{"description":"Retrieved entities", "schema":{"type":"object", "title":"Wrapper", "properties":{"d":{"type":"object", "title":"Collection of PerBiographicalInfoLocCHL", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.PerBiographicalInfoLocCHL"}}}}}}}, "400":{"$ref":"#/responses/error"}}}}, "/PerBiographicalInfoLocCHL(country='{country}',personIdExternal='{personIdExternal}')":{"get":{"operationId":"getPerBiographicalInfoLocCHL", "summary":"Get entity from PerBiographicalInfoLocCHL by key", "description":"Get entities of localized biographical information for Chile by key", "tags":["Localized Biographical Information(Chile)"], "parameters":[{"name":"country", "in":"path", "required":true, "description":"key: country", "type":"string"}, {"name":"personIdExternal", "in":"path", "required":true, "description":"key: personIdExternal", "type":"string"}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["country", "createdBy", "createdDateTime", "createdOn", "customString1", "lastModifiedBy", "lastModifiedDateTime", "lastModifiedOn", "operation", "personIdExternal", "placeOfBirth", "regionOfBirth"]}}], "responses":{"200":{"description":"Retrieved entity", "schema":{"title":"PerBiographicalInfoLocCHL", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.PerBiographicalInfoLocCHL"}}}}, "400":{"$ref":"#/responses/error"}}}}, "/PerBiographicalInfoLocFRA":{"get":{"operationId":"listPerBiographicalInfoLocFRAs", "summary":"Get entities from PerBiographicalInfoLocFRA", "description":"Get entities of localized biographical information for France", "tags":["Localized Biographical Information(France)"], "parameters":[{"$ref":"#/parameters/top"}, {"$ref":"#/parameters/skip"}, {"$ref":"#/parameters/search"}, {"$ref":"#/parameters/filter"}, {"$ref":"#/parameters/count"}, {"name":"$orderby", "in":"query", "description":"Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["country", "country desc", "createdBy", "createdBy desc", "createdDateTime", "createdDateTime desc", "createdOn", "createdOn desc", "customString1", "customString1 desc", "lastModifiedBy", "lastModifiedBy desc", "lastModifiedDateTime", "lastModifiedDateTime desc", "lastModifiedOn", "lastModifiedOn desc", "operation", "operation desc", "personIdExternal", "personIdExternal desc", "placeOfBirth", "placeOfBirth desc", "regionOfBirth", "regionOfBirth desc"]}}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["country", "createdBy", "createdDateTime", "createdOn", "customString1", "lastModifiedBy", "lastModifiedDateTime", "lastModifiedOn", "operation", "personIdExternal", "placeOfBirth", "regionOfBirth"]}}], "responses":{"200":{"description":"Retrieved entities", "schema":{"type":"object", "title":"Wrapper", "properties":{"d":{"type":"object", "title":"Collection of PerBiographicalInfoLocFRA", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.PerBiographicalInfoLocFRA"}}}}}}}, "400":{"$ref":"#/responses/error"}}}}, "/PerBiographicalInfoLocFRA(country='{country}',personIdExternal='{personIdExternal}')":{"get":{"operationId":"getPerBiographicalInfoLocFRA", "summary":"Get entity from PerBiographicalInfoLocFRA by key", "description":"Get entities of localized biographical information for France by key", "tags":["Localized Biographical Information(France)"], "parameters":[{"name":"country", "in":"path", "required":true, "description":"key: country", "type":"string"}, {"name":"personIdExternal", "in":"path", "required":true, "description":"key: personIdExternal", "type":"string"}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["country", "createdBy", "createdDateTime", "createdOn", "customString1", "lastModifiedBy", "lastModifiedDateTime", "lastModifiedOn", "operation", "personIdExternal", "placeOfBirth", "regionOfBirth"]}}], "responses":{"200":{"description":"Retrieved entity", "schema":{"title":"PerBiographicalInfoLocFRA", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.PerBiographicalInfoLocFRA"}}}}, "400":{"$ref":"#/responses/error"}}}}, "/PerBiographicalInfoLocITA":{"get":{"operationId":"listPerBiographicalInfoLocITAs", "summary":"Get entities from PerBiographicalInfoLocITA", "description":"Get entities of localized biographical information for Italy", "tags":["Localized Biographical Information(Italy)"], "parameters":[{"$ref":"#/parameters/top"}, {"$ref":"#/parameters/skip"}, {"$ref":"#/parameters/search"}, {"$ref":"#/parameters/filter"}, {"$ref":"#/parameters/count"}, {"name":"$orderby", "in":"query", "description":"Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["country", "country desc", "createdBy", "createdBy desc", "createdDateTime", "createdDateTime desc", "createdOn", "createdOn desc", "customString1", "customString1 desc", "lastModifiedBy", "lastModifiedBy desc", "lastModifiedDateTime", "lastModifiedDateTime desc", "lastModifiedOn", "lastModifiedOn desc", "operation", "operation desc", "personIdExternal", "personIdExternal desc", "placeOfBirth", "placeOfBirth desc", "regionOfBirth", "regionOfBirth desc"]}}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["country", "createdBy", "createdDateTime", "createdOn", "customString1", "lastModifiedBy", "lastModifiedDateTime", "lastModifiedOn", "operation", "personIdExternal", "placeOfBirth", "regionOfBirth"]}}], "responses":{"200":{"description":"Retrieved entities", "schema":{"type":"object", "title":"Wrapper", "properties":{"d":{"type":"object", "title":"Collection of PerBiographicalInfoLocITA", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.PerBiographicalInfoLocITA"}}}}}}}, "400":{"$ref":"#/responses/error"}}}}, "/PerBiographicalInfoLocITA(country='{country}',personIdExternal='{personIdExternal}')":{"get":{"operationId":"getPerBiographicalInfoLocITA", "summary":"Get entity from PerBiographicalInfoLocITA by key", "description":"Get entities of localized biographical information for Italy by key", "tags":["Localized Biographical Information(Italy)"], "parameters":[{"name":"country", "in":"path", "required":true, "description":"key: country", "type":"string"}, {"name":"personIdExternal", "in":"path", "required":true, "description":"key: personIdExternal", "type":"string"}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["country", "createdBy", "createdDateTime", "createdOn", "customString1", "lastModifiedBy", "lastModifiedDateTime", "lastModifiedOn", "operation", "personIdExternal", "placeOfBirth", "regionOfBirth"]}}], "responses":{"200":{"description":"Retrieved entity", "schema":{"title":"PerBiographicalInfoLocITA", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.PerBiographicalInfoLocITA"}}}}, "400":{"$ref":"#/responses/error"}}}}, "/PerBiographicalInfoLocVEN":{"get":{"operationId":"listPerBiographicalInfoLocVENs", "summary":"Get entities from PerBiographicalInfoLocVEN", "description":"Get entities of localized biographical information for Venezuela", "tags":["Localized Biographical Information(Venezuela)"], "parameters":[{"$ref":"#/parameters/top"}, {"$ref":"#/parameters/skip"}, {"$ref":"#/parameters/search"}, {"$ref":"#/parameters/filter"}, {"$ref":"#/parameters/count"}, {"name":"$orderby", "in":"query", "description":"Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["country", "country desc", "createdBy", "createdBy desc", "createdDateTime", "createdDateTime desc", "createdOn", "createdOn desc", "customString1", "customString1 desc", "lastModifiedBy", "lastModifiedBy desc", "lastModifiedDateTime", "lastModifiedDateTime desc", "lastModifiedOn", "lastModifiedOn desc", "operation", "operation desc", "personIdExternal", "personIdExternal desc", "placeOfBirth", "placeOfBirth desc", "regionOfBirth", "regionOfBirth desc"]}}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["country", "createdBy", "createdDateTime", "createdOn", "customString1", "lastModifiedBy", "lastModifiedDateTime", "lastModifiedOn", "operation", "personIdExternal", "placeOfBirth", "regionOfBirth"]}}], "responses":{"200":{"description":"Retrieved entities", "schema":{"type":"object", "title":"Wrapper", "properties":{"d":{"type":"object", "title":"Collection of PerBiographicalInfoLocVEN", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.PerBiographicalInfoLocVEN"}}}}}}}, "400":{"$ref":"#/responses/error"}}}}, "/PerBiographicalInfoLocVEN(country='{country}',personIdExternal='{personIdExternal}')":{"get":{"operationId":"getPerBiographicalInfoLocVEN", "summary":"Get entity from PerBiographicalInfoLocVEN by key", "description":"Get entities of localized biographical information for Venezuela by key", "tags":["Localized Biographical Information(Venezuela)"], "parameters":[{"name":"country", "in":"path", "required":true, "description":"key: country", "type":"string"}, {"name":"personIdExternal", "in":"path", "required":true, "description":"key: personIdExternal", "type":"string"}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["country", "createdBy", "createdDateTime", "createdOn", "customString1", "lastModifiedBy", "lastModifiedDateTime", "lastModifiedOn", "operation", "personIdExternal", "placeOfBirth", "regionOfBirth"]}}], "responses":{"200":{"description":"Retrieved entity", "schema":{"title":"PerBiographicalInfoLocVEN", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.PerBiographicalInfoLocVEN"}}}}, "400":{"$ref":"#/responses/error"}}}}}, "security":[{"basicAuthentication":[]}], "securityDefinitions":{"basicAuthentication":{"type":"basic"}}, "responses":{"error":{"description":"Error", "schema":{"$ref":"#/definitions/odata.error"}}}, "definitions":{"odata.error":{"type":"object", "required":["error"], "properties":{"error":{"$ref":"#/definitions/odata.error.main"}}}, "odata.error.main":{"type":"object", "required":["code", "message"], "properties":{"code":{"type":"string"}, "message":{"type":"string"}, "target":{"type":"string"}, "details":{"type":"array", "items":{"$ref":"#/definitions/odata.error.detail"}}, "innererror":{"type":"object", "description":"The structure of this object is service-specific"}}}, "odata.error.detail":{"type":"object", "required":["code", "message"], "properties":{"code":{"type":"string"}, "message":{"type":"string"}, "target":{"type":"string"}}}, "SFOData.PerEmergencyContacts":{"type":"object", "properties":{"addressAddress1":{"type":["string", "null"], "maxLength":256}, "addressAddress2":{"type":["string", "null"], "maxLength":256}, "addressAddress3":{"type":["string", "null"], "maxLength":256}, "addressCity":{"type":["string", "null"], "maxLength":256}, "addressCountry":{"type":["string", "null"], "maxLength":256}, "addressCounty":{"type":["string", "null"], "maxLength":256}, "addressProvince":{"type":["string", "null"], "maxLength":256}, "addressState":{"type":["string", "null"], "maxLength":256}, "addressZipCode":{"type":["string", "null"], "maxLength":256}, "createdBy":{"type":["string", "null"], "maxLength":100}, "createdDateTime":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "createdOn":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "email":{"type":["string", "null"], "maxLength":100}, "isAddSameAsEmployee":{"type":["boolean", "null"]}, "lastModifiedBy":{"type":["string", "null"], "maxLength":100}, "lastModifiedDateTime":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "lastModifiedOn":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "name":{"type":"string", "maxLength":256}, "operation":{"type":["string", "null"]}, "personIdExternal":{"type":"string", "maxLength":100}, "phone":{"type":["string", "null"], "maxLength":256}, "primaryFlag":{"type":["string", "null"], "maxLength":1}, "relationship":{"type":"string", "maxLength":50}, "secondPhone":{"type":["string", "null"], "maxLength":256}, "addressNavDEFLT":{"$ref":"#/definitions/SFOData.HrisEmergencyContactAddressDEFLT"}, "personNav":{"$ref":"#/definitions/SFOData.PerPerson"}}, "title":"PerEmergencyContacts"}, "SFOData.PerPhone":{"type":"object", "properties":{"areaCode":{"type":["string", "null"], "maxLength":32}, "countryCode":{"type":["string", "null"], "maxLength":32}, "createdBy":{"type":["string", "null"], "maxLength":100}, "createdDateTime":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "createdOn":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "extension":{"type":["string", "null"], "maxLength":32}, "includeAllRecords":{"type":["boolean", "null"]}, "isPrimary":{"type":["boolean", "null"]}, "lastModifiedBy":{"type":["string", "null"], "maxLength":100}, "lastModifiedDateTime":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "lastModifiedOn":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "operation":{"type":["string", "null"]}, "personIdExternal":{"type":"string", "maxLength":100}, "phoneNumber":{"type":["string", "null"], "maxLength":100}, "phoneType":{"type":"string", "maxLength":100}, "personNav":{"$ref":"#/definitions/SFOData.PerPerson"}}, "title":"PerPhone"}, "SFOData.PersonKey":{"type":"object", "properties":{"perPersonUuid":{"type":["string", "null"], "maxLength":32}, "personId":{"type":["string", "null"], "format":"int64"}, "personIdExternal":{"type":"string", "maxLength":32}}, "title":"PersonKey"}, "SFOData.PerPersonal":{"type":"object", "properties":{"attachmentId":{"type":["string", "null"]}, "businessFirstName":{"type":["string", "null"], "maxLength":128}, "businessLastName":{"type":["string", "null"], "maxLength":128}, "createdBy":{"type":["string", "null"], "maxLength":100}, "createdDateTime":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "createdOn":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "displayName":{"type":["string", "null"], "maxLength":128}, "endDate":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "firstName":{"type":["string", "null"], "maxLength":128}, "gender":{"type":["string", "null"], "maxLength":2}, "includeAllRecords":{"type":["boolean", "null"]}, "initials":{"type":["string", "null"], "maxLength":128}, "lastModifiedBy":{"type":["string", "null"], "maxLength":100}, "lastModifiedDateTime":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "lastModifiedOn":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "lastName":{"type":["string", "null"], "maxLength":128}, "maritalStatus":{"type":["string", "null"], "maxLength":50}, "middleName":{"type":["string", "null"], "maxLength":128}, "nationality":{"type":["string", "null"], "maxLength":128}, "nativePreferredLang":{"type":["string", "null"], "maxLength":256}, "operation":{"type":["string", "null"]}, "personIdExternal":{"type":"string", "maxLength":100}, "preferredName":{"type":["string", "null"], "maxLength":128}, "salutation":{"type":["string", "null"], "maxLength":128}, "script":{"type":["string", "null"], "maxLength":32}, "startDate":{"type":"string", "example":"/Date(1492098664000)/"}, "title":{"type":["string", "null"], "maxLength":128}, "personNav":{"$ref":"#/definitions/SFOData.PerPerson"}}, "title":"PerPersonal"}, "SFOData.PerSocialAccount":{"type":"object", "properties":{"createdBy":{"type":["string", "null"], "maxLength":100}, "createdDateTime":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "createdOn":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "domain":{"type":"string", "maxLength":100}, "imId":{"type":["string", "null"], "maxLength":100}, "lastModifiedBy":{"type":["string", "null"], "maxLength":100}, "lastModifiedDateTime":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "lastModifiedOn":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "operation":{"type":["string", "null"]}, "personIdExternal":{"type":"string", "maxLength":100}, "url":{"type":["string", "null"], "maxLength":256}, "personNav":{"$ref":"#/definitions/SFOData.PerPerson"}}, "title":"PerSocialAccount"}, "SFOData.PerPerson":{"type":"object", "properties":{"birthName":{"type":["string", "null"], "maxLength":128}, "countryOfBirth":{"type":["string", "null"], "maxLength":100}, "createdBy":{"type":["string", "null"], "maxLength":100}, "createdDateTime":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "createdOn":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "dateOfBirth":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "includeAllRecords":{"type":["boolean", "null"]}, "lastModifiedBy":{"type":["string", "null"], "maxLength":100}, "lastModifiedDateTime":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "lastModifiedOn":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "perPersonUuid":{"type":["string", "null"], "maxLength":32}, "personId":{"type":["string", "null"], "format":"int64"}, "personIdExternal":{"type":"string", "maxLength":32}, "regionOfBirth":{"type":["string", "null"], "maxLength":100}, "userId":{"type":["string", "null"], "maxLength":100}, "emailNav":{"title":"Related Collection(SFOData.PerEmail)", "type":"object", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.PerEmail"}}}}, "emergencyContactNav":{"title":"Related Collection(SFOData.PerEmergencyContacts)", "type":"object", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.PerEmergencyContacts"}}}}, "homeAddressNavDEFLT":{"title":"Related Collection(SFOData.PerAddressDEFLT)", "type":"object", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.PerAddressDEFLT"}}}}, "nationalIdNav":{"title":"Related Collection(SFOData.PerNationalId)", "type":"object", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.PerNationalId"}}}}, "personRerlationshipNav":{"title":"Related Collection(SFOData.PerPersonRelationship)", "type":"object", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.PerPersonRelationship"}}}}, "personalInfoNav":{"title":"Related Collection(SFOData.PerPersonal)", "type":"object", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.PerPersonal"}}}}, "phoneNav":{"title":"Related Collection(SFOData.PerPhone)", "type":"object", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.PerPhone"}}}}, "socialAccountNav":{"title":"Related Collection(SFOData.PerSocialAccount)", "type":"object", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.PerSocialAccount"}}}}}, "title":"PerPerson"}, "SFOData.PerPersonRelationship":{"type":"object", "properties":{"addressAddress1":{"type":["string", "null"], "maxLength":256}, "addressAddress2":{"type":["string", "null"], "maxLength":256}, "addressAddress3":{"type":["string", "null"], "maxLength":256}, "addressCity":{"type":["string", "null"], "maxLength":256}, "addressCountry":{"type":["string", "null"], "maxLength":256}, "addressCounty":{"type":["string", "null"], "maxLength":256}, "addressProvince":{"type":["string", "null"], "maxLength":256}, "addressState":{"type":["string", "null"], "maxLength":256}, "addressZipCode":{"type":["string", "null"], "maxLength":256}, "attachmentId":{"type":["string", "null"]}, "createdBy":{"type":["string", "null"], "maxLength":100}, "createdDateTime":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "createdOn":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "endDate":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "firstName":{"type":["string", "null"], "maxLength":128}, "isAccompanyingDependent":{"type":["boolean", "null"]}, "isAddressSameAsPerson":{"type":["boolean", "null"]}, "isBeneficiary":{"type":["boolean", "null"]}, "lastModifiedBy":{"type":["string", "null"], "maxLength":100}, "lastModifiedDateTime":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "lastModifiedOn":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "lastName":{"type":["string", "null"], "maxLength":128}, "operation":{"type":["string", "null"]}, "personIdExternal":{"type":"string", "maxLength":100}, "relatedPersonIdExternal":{"type":"string", "maxLength":100}, "relationshipType":{"type":["string", "null"], "maxLength":30}, "startDate":{"type":"string", "example":"/Date(1492098664000)/"}, "personNav":{"$ref":"#/definitions/SFOData.PerPerson"}, "relNationalIdNav":{"$ref":"#/definitions/SFOData.PerNationalId"}, "relPersonNav":{"$ref":"#/definitions/SFOData.PerPerson"}, "relPersonalNav":{"$ref":"#/definitions/SFOData.PerPersonal"}}, "title":"PerPersonRelationship"}, "SFOData.PerEmail":{"type":"object", "properties":{"createdBy":{"type":["string", "null"], "maxLength":100}, "createdDateTime":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "createdOn":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "emailAddress":{"type":["string", "null"], "maxLength":100}, "emailType":{"type":"string", "maxLength":38}, "includeAllRecords":{"type":["boolean", "null"]}, "isPrimary":{"type":["boolean", "null"]}, "lastModifiedBy":{"type":["string", "null"], "maxLength":100}, "lastModifiedDateTime":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "lastModifiedOn":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "operation":{"type":["string", "null"]}, "personIdExternal":{"type":"string", "maxLength":100}, "personNav":{"$ref":"#/definitions/SFOData.PerPerson"}}, "title":"PerEmail"}, "SFOData.HrisEmergencyContactAddressDEFLT":{"type":"object", "properties":{"address1":{"type":["string", "null"], "maxLength":256}, "address2":{"type":["string", "null"], "maxLength":256}, "address3":{"type":["string", "null"], "maxLength":256}, "address4":{"type":["string", "null"], "maxLength":256}, "address5":{"type":["string", "null"], "maxLength":256}, "addressId":{"type":"string", "format":"decimal", "multipleOf":1}, "addressType":{"type":["string", "null"], "maxLength":30}, "city":{"type":["string", "null"], "maxLength":256}, "country":{"type":["string", "null"], "maxLength":256}, "county":{"type":["string", "null"], "maxLength":256}, "createdBy":{"type":["string", "null"], "maxLength":100}, "createdDateTime":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "createdOn":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "endDate":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "lastModifiedBy":{"type":["string", "null"], "maxLength":100}, "lastModifiedDateTime":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "lastModifiedOn":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "notes":{"type":["string", "null"], "maxLength":4000}, "province":{"type":["string", "null"], "maxLength":256}, "startDate":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "state":{"type":["string", "null"], "maxLength":256}, "zipCode":{"type":["string", "null"], "maxLength":256}}, "title":"HrisEmergencyContactAddressDEFLT"}, "SFOData.PerNationalId":{"type":"object", "properties":{"cardType":{"type":"string", "maxLength":256}, "country":{"type":"string", "maxLength":100}, "createdBy":{"type":["string", "null"], "maxLength":100}, "createdDateTime":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "createdOn":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "isPrimary":{"type":["boolean", "null"]}, "lastModifiedBy":{"type":["string", "null"], "maxLength":100}, "lastModifiedDateTime":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "lastModifiedOn":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "nationalId":{"type":["string", "null"], "maxLength":256}, "notes":{"type":["string", "null"], "maxLength":4000}, "operation":{"type":["string", "null"]}, "personIdExternal":{"type":"string", "maxLength":100}, "personNav":{"$ref":"#/definitions/SFOData.PerPerson"}}, "title":"PerNationalId"}, "SFOData.PerNationalIdWithValidityPeriod":{"type":"object", "properties":{"recordId":{"type":"string", "maxLength":36}, "validFrom":{"type":"string", "example":"/Date(1492098664000)/"}, "validTo":{"type":"string", "example":"/Date(1492098664000)/"}, "cardType":{"type":"string", "maxLength":256}, "country":{"type":"string", "maxLength":100}, "createdBy":{"type":["string", "null"], "maxLength":100}, "createdDateTime":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "createdOn":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "isPrimary":{"type":["boolean", "null"]}, "lastModifiedBy":{"type":["string", "null"], "maxLength":100}, "lastModifiedDateTime":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "lastModifiedOn":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "nationalId":{"type":["string", "null"], "maxLength":256}, "notes":{"type":["string", "null"], "maxLength":4000}, "operation":{"type":["string", "null"]}, "personIdExternal":{"type":"string", "maxLength":100}, "personNav":{"$ref":"#/definitions/SFOData.PerPerson"}}, "title":"PerNationalIdWithValidityPeriod"}, "SFOData.PerAddressDEFLT":{"type":"object", "properties":{"address1":{"type":["string", "null"], "maxLength":256}, "address2":{"type":["string", "null"], "maxLength":256}, "address3":{"type":["string", "null"], "maxLength":256}, "address4":{"type":["string", "null"], "maxLength":256}, "address5":{"type":["string", "null"], "maxLength":256}, "addressType":{"type":"string", "maxLength":30}, "city":{"type":["string", "null"], "maxLength":256}, "country":{"type":["string", "null"], "maxLength":256}, "county":{"type":["string", "null"], "maxLength":256}, "createdBy":{"type":["string", "null"], "maxLength":100}, "createdDateTime":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "createdOn":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "empUsersSysId":{"type":["string", "null"], "maxLength":256}, "endDate":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "includeAllRecords":{"type":["boolean", "null"]}, "lastModifiedBy":{"type":["string", "null"], "maxLength":100}, "lastModifiedDateTime":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "lastModifiedOn":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "notes":{"type":["string", "null"], "maxLength":4000}, "operation":{"type":["string", "null"]}, "personIdExternal":{"type":"string", "maxLength":100}, "province":{"type":["string", "null"], "maxLength":256}, "startDate":{"type":"string", "example":"/Date(1492098664000)/"}, "state":{"type":["string", "null"], "maxLength":256}, "zipCode":{"type":["string", "null"], "maxLength":256}, "personNav":{"$ref":"#/definitions/SFOData.PerPerson"}}, "title":"PerAddressDEFLT"}, "SFOData.GenerateNextPersonIDResponse":{"type":"object", "properties":{"personID":{"type":["string", "null"]}}, "title":"GenerateNextPersonIDResponse"}, "SFOData.NameFormatGO":{"type":"object", "properties":{"createdBy":{"type":["string", "null"], "maxLength":255}, "createdDateTime":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "externalCode":{"type":"string", "maxLength":128}, "externalName":{"type":["string", "null"], "maxLength":128}, "lastModifiedBy":{"type":["string", "null"], "maxLength":255}, "lastModifiedDateTime":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "mdfSystemCreatedBy":{"type":["string", "null"], "maxLength":255}, "mdfSystemCreatedDate":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "mdfSystemEffectiveEndDate":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "mdfSystemEffectiveStartDate":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "mdfSystemEntityId":{"type":["string", "null"], "maxLength":255}, "mdfSystemLastModifiedBy":{"type":["string", "null"], "maxLength":255}, "mdfSystemLastModifiedDate":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "mdfSystemLastModifiedDateWithTZ":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "mdfSystemObjectType":{"type":["string", "null"], "maxLength":255}, "mdfSystemRecordId":{"type":["string", "null"], "maxLength":255}, "mdfSystemRecordStatus":{"type":["string", "null"], "maxLength":255}, "mdfSystemStatus":{"type":["string", "null"], "maxLength":255}, "mdfSystemTransactionSequence":{"type":["string", "null"], "format":"int64"}, "mdfSystemVersionId":{"type":["string", "null"], "format":"int64"}, "sample":{"type":["string", "null"], "maxLength":255}, "nameElements":{"title":"Related Collection(SFOData.NameElementGO)", "type":"object", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.NameElementGO"}}}}}, "title":"NameFormatGO"}, "SFOData.NameElementGO":{"type":"object", "properties":{"NameFormatGO_externalCode":{"type":"string", "maxLength":128}, "createdBy":{"type":["string", "null"], "maxLength":255}, "createdDate":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "createdDateTime":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "externalCode":{"type":"string", "maxLength":128}, "lastModifiedBy":{"type":["string", "null"], "maxLength":255}, "lastModifiedDate":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "lastModifiedDateTime":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "lastModifiedDateWithTZ":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "mdfSystemEffectiveEndDate":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "mdfSystemEffectiveStartDate":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "mdfSystemEntityId":{"type":["string", "null"], "maxLength":255}, "mdfSystemObjectType":{"type":["string", "null"], "maxLength":255}, "mdfSystemRecordId":{"type":["string", "null"], "maxLength":255}, "mdfSystemRecordStatus":{"type":["string", "null"], "maxLength":255}, "mdfSystemStatus":{"type":["string", "null"], "maxLength":255}, "mdfSystemTransactionSequence":{"type":["string", "null"], "format":"int64"}, "mdfSystemVersionId":{"type":["string", "null"], "format":"int64"}, "nameArtifactEnum":{"type":["string", "null"], "maxLength":255}, "sampleData":{"type":["string", "null"], "maxLength":255}, "separator":{"type":["string", "null"], "maxLength":255}}, "title":"NameElementGO"}, "SFOData.PerBiographicalInfoLocBRA":{"type":"object", "properties":{"country":{"type":"string"}, "createdBy":{"type":["string", "null"], "maxLength":100}, "createdDateTime":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "createdOn":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "customString1":{"type":["string", "null"], "maxLength":256}, "lastModifiedBy":{"type":["string", "null"], "maxLength":100}, "lastModifiedDateTime":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "lastModifiedOn":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "operation":{"type":["string", "null"]}, "personIdExternal":{"type":"string", "maxLength":100}, "placeOfBirth":{"type":["string", "null"], "maxLength":100}, "regionOfBirth":{"type":["string", "null"], "maxLength":100}}, "title":"PerBiographicalInfoLocBRA"}, "SFOData.PerBiographicalInfoLocCHL":{"type":"object", "properties":{"country":{"type":"string"}, "createdBy":{"type":["string", "null"], "maxLength":100}, "createdDateTime":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "createdOn":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "customString1":{"type":["string", "null"], "maxLength":256}, "lastModifiedBy":{"type":["string", "null"], "maxLength":100}, "lastModifiedDateTime":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "lastModifiedOn":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "operation":{"type":["string", "null"]}, "personIdExternal":{"type":"string", "maxLength":100}, "placeOfBirth":{"type":["string", "null"], "maxLength":100}, "regionOfBirth":{"type":["string", "null"], "maxLength":100}}, "title":"PerBiographicalInfoLocCHL"}, "SFOData.PerBiographicalInfoLocFRA":{"type":"object", "properties":{"country":{"type":"string"}, "createdBy":{"type":["string", "null"], "maxLength":100}, "createdDateTime":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "createdOn":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "customString1":{"type":["string", "null"], "maxLength":256}, "lastModifiedBy":{"type":["string", "null"], "maxLength":100}, "lastModifiedDateTime":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "lastModifiedOn":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "operation":{"type":["string", "null"]}, "personIdExternal":{"type":"string", "maxLength":100}, "placeOfBirth":{"type":["string", "null"], "maxLength":100}, "regionOfBirth":{"type":["string", "null"], "maxLength":100}}, "title":"PerBiographicalInfoLocFRA"}, "SFOData.PerBiographicalInfoLocITA":{"type":"object", "properties":{"country":{"type":"string"}, "createdBy":{"type":["string", "null"], "maxLength":100}, "createdDateTime":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "createdOn":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "customString1":{"type":["string", "null"], "maxLength":256}, "lastModifiedBy":{"type":["string", "null"], "maxLength":100}, "lastModifiedDateTime":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "lastModifiedOn":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "operation":{"type":["string", "null"]}, "personIdExternal":{"type":"string", "maxLength":100}, "placeOfBirth":{"type":["string", "null"], "maxLength":100}, "regionOfBirth":{"type":["string", "null"], "maxLength":100}}, "title":"PerBiographicalInfoLocITA"}, "SFOData.PerBiographicalInfoLocVEN":{"type":"object", "properties":{"country":{"type":"string"}, "createdBy":{"type":["string", "null"], "maxLength":100}, "createdDateTime":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "createdOn":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "customString1":{"type":["string", "null"], "maxLength":256}, "lastModifiedBy":{"type":["string", "null"], "maxLength":100}, "lastModifiedDateTime":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "lastModifiedOn":{"type":["string", "null"], "example":"/Date(1492098664000)/"}, "operation":{"type":["string", "null"]}, "personIdExternal":{"type":"string", "maxLength":100}, "placeOfBirth":{"type":["string", "null"], "maxLength":100}, "regionOfBirth":{"type":["string", "null"], "maxLength":100}}, "title":"PerBiographicalInfoLocVEN"}}, "parameters":{"top":{"name":"$top", "in":"query", "description":"Show only the first n items, see [OData Paging - Top](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"integer", "default":20}, "skip":{"name":"$skip", "in":"query", "description":"Skip the first n items, see [OData Paging - Skip](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"integer"}, "count":{"name":"$count", "in":"query", "description":"Include count of items, see [OData Count](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"boolean"}, "filter":{"name":"$filter", "in":"query", "description":"Filter items by property values, see [OData Filtering](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"string"}, "search":{"name":"$search", "in":"query", "description":"Search items by search phrases, see [OData Searching](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"string"}}}