{"swagger":"2.0", "info":{"title":"Time Off", "version":"1.0", "description":"API to manage absences such as vacation, sick leave, and paid time off \n\n You can find your company's API server in [List of API Servers in SAP SuccessFactors.](https:\/\/help.sap.com\/viewer\/d599f15995d348a1b45ba5603e2aba9b\/LATEST\/en-US\/af2b8d5437494b12be88fe374eba75b6.html)"}, "externalDocs":{"description":"Time Off on SAP Help Portal", "url":"https://help.sap.com/docs/SAP_SUCCESSFACTORS_PLATFORM/d599f15995d348a1b45ba5603e2aba9b/4819bbbbc8e54ef18e7fc4cde0ab9546.html"}, "x-sap-shortText":"API to manage the information about employee absences", "schemes":["https"], "host":"sandbox.api.sap.com", "basePath":"/successfactors/odata/v2", "consumes":["application/json"], "produces":["application/json"], "x-servers":[{"url":"https://{api-server}/odata/v2", "description":"OData APIs for the SuccessFactors Data Centers", "templates":{"api-server":{"description":"SuccessFactors Data Center host", "default":"apisalesdemo8.successfactors.com"}}}], "tags":[{"name":"Absence Counting Method"}, {"name":"Accrual Calculation Base"}, {"name":"Available Time Type"}, {"name":"Electronic Sickness Certificate Exclusion Reason (DEU)"}, {"name":"Employee Time"}, {"name":"Employee Time (AUS)"}, {"name":"Employee Time (CAN)"}, {"name":"Employee Time (COL)"}, {"name":"Employee Time (DEU)"}, {"name":"Employee Time (ESP)"}, {"name":"Employee Time (MEX)"}, {"name":"Employee Time (NLD)"}, {"name":"Employee Time (POL)"}, {"name":"Employee Time (USA)"}, {"name":"Employee Time (SWE)"}, {"name":"Employee Time (NOR)"}, {"name":"Employee Time (ITA)"}, {"name":"Employee Time Calendar"}, {"name":"Employee Time Group"}, {"name":"Employee Time Group Item"}, {"name":"Employee Time Account Balance"}, {"name":"Holiday"}, {"name":"Holiday Assignment"}, {"name":"Holiday Calendar"}, {"name":"Holiday Category"}, {"name":"Periodic Time Account Update Profile"}, {"name":"Recalculation Based Field"}, {"name":"Shift Classification"}, {"name":"Temporary Time Information"}, {"name":"Time Account"}, {"name":"Time Account Detail"}, {"name":"Time Account Payout"}, {"name":"Time Account Payout Profile"}, {"name":"Time Account Posting Rule"}, {"name":"Time Account Purchase Profile"}, {"name":"Time Account Purchase Profile Pay Component Assignment"}, {"name":"Time Account Snapshot"}, {"name":"Time Account Summary"}, {"name":"Time Account Type"}, {"name":"Time Account Type (AUS)"}, {"name":"Time Management Alert"}, {"name":"Time Management Alert Message"}, {"name":"Time Management Termination End Handling Configuration"}, {"name":"Time Management Termination End Handling Excluded Event Reason"}, {"name":"Time Management Termination End Handling Excluded Time Account Type"}, {"name":"Time Management Termination End Handling Exclusion"}, {"name":"Time Management Termination End Handling Legal Entity Configuration"}, {"name":"Time Type"}, {"name":"Time Type (AUS)"}, {"name":"Time Type (CAN)"}, {"name":"Time Type (DEU)"}, {"name":"Time Type (NLD)"}, {"name":"Time Type (USA)"}, {"name":"Time Type (NOR)"}, {"name":"Time Type (SWE)"}, {"name":"Time Type (ITA)"}, {"name":"Time Type Profile"}, {"name":"Work Schedule"}, {"name":"Work Schedule Day"}, {"name":"Work Schedule Day Model"}, {"name":"Work Schedule Day Model Assignment"}, {"name":"Work Schedule Day Model Assignment Segment"}, {"name":"Work Schedule Day Model Segment"}, {"name":"Work Schedule Day Model Variant Assignment"}, {"name":"Work Schedule Day Model Variant Identifier"}], "paths":{"/TimeAccountPostingRule":{"get":{"operationId":"listTimeAccountPostingRules", "summary":"Get entities from Time Account Posting Rule", "tags":["Time Account Posting Rule"], "parameters":[{"$ref":"#/parameters/top"}, {"$ref":"#/parameters/skip"}, {"$ref":"#/parameters/search"}, {"$ref":"#/parameters/filter"}, {"$ref":"#/parameters/count"}, {"name":"$orderby", "in":"query", "description":"Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["TimeType_externalCode", "TimeType_externalCode desc", "createdBy", "createdBy desc", "createdDate", "createdDate desc", "createdDateTime", "createdDateTime desc", "entityUUID", "entityUUID desc", "externalCode", "externalCode desc", "lastModifiedBy", "lastModifiedBy desc", "lastModifiedDate", "lastModifiedDate desc", "lastModifiedDateTime", "lastModifiedDateTime desc", "lastModifiedDateWithTZ", "lastModifiedDateWithTZ desc", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveEndDate desc", "mdfSystemEffectiveStartDate", "mdfSystemEffectiveStartDate desc", "mdfSystemEntityId", "mdfSystemEntityId desc", "mdfSystemObjectType", "mdfSystemObjectType desc", "mdfSystemRecordId", "mdfSystemRecordId desc", "mdfSystemRecordStatus", "mdfSystemRecordStatus desc", "mdfSystemStatus", "mdfSystemStatus desc", "mdfSystemTransactionSequence", "mdfSystemTransactionSequence desc", "mdfSystemVersionId", "mdfSystemVersionId desc", "timeAccountType", "timeAccountType desc"]}}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["TimeType_externalCode", "createdBy", "createdDate", "createdDateTime", "entityUUID", "externalCode", "lastModifiedBy", "lastModifiedDate", "lastModifiedDateTime", "lastModifiedDateWithTZ", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveStartDate", "mdfSystemEntityId", "mdfSystemObjectType", "mdfSystemRecordId", "mdfSystemRecordStatus", "mdfSystemStatus", "mdfSystemTransactionSequence", "mdfSystemVersionId", "timeAccountType"]}}, {"name":"$expand", "in":"query", "description":"Expand related entities, see [OData Expand](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["*", "timeAccountTypeNav"]}}], "responses":{"200":{"description":"Retrieved entities", "schema":{"type":"object", "title":"Wrapper", "properties":{"d":{"type":"object", "title":"Collection of Time Account Posting Rule", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.TimeAccountPostingRule"}}}}}}}, "default":{"$ref":"#/responses/error"}}}}, "/TimeAccountPostingRule(TimeType_externalCode='{TimeType_externalCode}',externalCode='{externalCode}')":{"get":{"operationId":"getTimeAccountPostingRule", "summary":"Get entity from Time Account Posting Rule by key", "tags":["Time Account Posting Rule"], "parameters":[{"name":"TimeType_externalCode", "in":"path", "required":true, "description":"key: TimeType_externalCode", "type":"string"}, {"name":"externalCode", "in":"path", "required":true, "description":"key: externalCode", "type":"string"}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["TimeType_externalCode", "createdBy", "createdDate", "createdDateTime", "entityUUID", "externalCode", "lastModifiedBy", "lastModifiedDate", "lastModifiedDateTime", "lastModifiedDateWithTZ", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveStartDate", "mdfSystemEntityId", "mdfSystemObjectType", "mdfSystemRecordId", "mdfSystemRecordStatus", "mdfSystemStatus", "mdfSystemTransactionSequence", "mdfSystemVersionId", "timeAccountType"]}}, {"name":"$expand", "in":"query", "description":"Expand related entities, see [OData Expand](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["*", "timeAccountTypeNav"]}}], "responses":{"200":{"description":"Retrieved entity", "schema":{"title":"Time Account Posting Rule", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.TimeAccountPostingRule"}}}}, "default":{"$ref":"#/responses/error"}}}}, "/WorkScheduleDayModelVariantAssignment":{"get":{"operationId":"listWorkScheduleDayModelVariantAssignments", "summary":"Get entities from Work Schedule Day Model Variant Assignment", "tags":["Work Schedule Day Model Variant Assignment"], "parameters":[{"$ref":"#/parameters/top"}, {"$ref":"#/parameters/skip"}, {"$ref":"#/parameters/search"}, {"$ref":"#/parameters/filter"}, {"$ref":"#/parameters/count"}, {"name":"$orderby", "in":"query", "description":"Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["WorkScheduleDayModel_externalCode", "WorkScheduleDayModel_externalCode desc", "createdBy", "createdBy desc", "createdDateTime", "createdDateTime desc", "entityUUID", "entityUUID desc", "externalCode", "externalCode desc", "lastModifiedBy", "lastModifiedBy desc", "lastModifiedDateTime", "lastModifiedDateTime desc", "mdfSystemRecordStatus", "mdfSystemRecordStatus desc", "variantDayModel", "variantDayModel desc", "variantIdentifier", "variantIdentifier desc"]}}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["WorkScheduleDayModel_externalCode", "createdBy", "createdDateTime", "entityUUID", "externalCode", "lastModifiedBy", "lastModifiedDateTime", "mdfSystemRecordStatus", "variantDayModel", "variantIdentifier"]}}, {"name":"$expand", "in":"query", "description":"Expand related entities, see [OData Expand](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["*", "variantDayModelNav", "variantIdentifierNav"]}}], "responses":{"200":{"description":"Retrieved entities", "schema":{"type":"object", "title":"Wrapper", "properties":{"d":{"type":"object", "title":"Collection of Work Schedule Day Model Variant Assignment", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.WorkScheduleDayModelVariantAssignment"}}}}}}}, "default":{"$ref":"#/responses/error"}}}}, "/WorkScheduleDayModelVariantAssignment(WorkScheduleDayModel_externalCode='{WorkScheduleDayModel_externalCode}',externalCode='{externalCode}')":{"get":{"operationId":"getWorkScheduleDayModelVariantAssignment", "summary":"Get entity from Work Schedule Day Model Variant Assignment by key", "tags":["Work Schedule Day Model Variant Assignment"], "parameters":[{"name":"WorkScheduleDayModel_externalCode", "in":"path", "required":true, "description":"key: WorkScheduleDayModel_externalCode", "type":"string"}, {"name":"externalCode", "in":"path", "required":true, "description":"key: externalCode", "type":"string"}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["WorkScheduleDayModel_externalCode", "createdBy", "createdDateTime", "entityUUID", "externalCode", "lastModifiedBy", "lastModifiedDateTime", "mdfSystemRecordStatus", "variantDayModel", "variantIdentifier"]}}, {"name":"$expand", "in":"query", "description":"Expand related entities, see [OData Expand](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["*", "variantDayModelNav", "variantIdentifierNav"]}}], "responses":{"200":{"description":"Retrieved entity", "schema":{"title":"Work Schedule Day Model Variant Assignment", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.WorkScheduleDayModelVariantAssignment"}}}}, "default":{"$ref":"#/responses/error"}}}}, "/HolidayAssignment":{"get":{"operationId":"listHolidayAssignments", "summary":"Get entities from Holiday Assignment", "tags":["Holiday Assignment"], "parameters":[{"$ref":"#/parameters/top"}, {"$ref":"#/parameters/skip"}, {"$ref":"#/parameters/search"}, {"$ref":"#/parameters/filter"}, {"$ref":"#/parameters/count"}, {"name":"$orderby", "in":"query", "description":"Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["HolidayCalendar_externalCode", "HolidayCalendar_externalCode desc", "createdBy", "createdBy desc", "createdDate", "createdDate desc", "createdDateTime", "createdDateTime desc", "cust_testHolidayAssignment", "cust_testHolidayAssignment desc", "date", "date desc", "entityUUID", "entityUUID desc", "holiday", "holiday desc", "holidayCategory", "holidayCategory desc", "holidayClass", "holidayClass desc", "lastModifiedBy", "lastModifiedBy desc", "lastModifiedDate", "lastModifiedDate desc", "lastModifiedDateTime", "lastModifiedDateTime desc", "lastModifiedDateWithTZ", "lastModifiedDateWithTZ desc", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveEndDate desc", "mdfSystemEffectiveStartDate", "mdfSystemEffectiveStartDate desc", "mdfSystemEntityId", "mdfSystemEntityId desc", "mdfSystemObjectType", "mdfSystemObjectType desc", "mdfSystemRecordId", "mdfSystemRecordId desc", "mdfSystemRecordStatus", "mdfSystemRecordStatus desc", "mdfSystemStatus", "mdfSystemStatus desc", "mdfSystemTransactionSequence", "mdfSystemTransactionSequence desc", "mdfSystemVersionId", "mdfSystemVersionId desc"]}}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["HolidayCalendar_externalCode", "createdBy", "createdDate", "createdDateTime", "cust_testHolidayAssignment", "date", "entityUUID", "holiday", "holidayCategory", "holidayClass", "lastModifiedBy", "lastModifiedDate", "lastModifiedDateTime", "lastModifiedDateWithTZ", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveStartDate", "mdfSystemEntityId", "mdfSystemObjectType", "mdfSystemRecordId", "mdfSystemRecordStatus", "mdfSystemStatus", "mdfSystemTransactionSequence", "mdfSystemVersionId"]}}, {"name":"$expand", "in":"query", "description":"Expand related entities, see [OData Expand](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["*", "holidayCategoryNav", "holidayNav"]}}], "responses":{"200":{"description":"Retrieved entities", "schema":{"type":"object", "title":"Wrapper", "properties":{"d":{"type":"object", "title":"Collection of Holiday Assignment", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.HolidayAssignment"}}}}}}}, "default":{"$ref":"#/responses/error"}}}}, "/HolidayAssignment(HolidayCalendar_externalCode='{HolidayCalendar_externalCode}',date={date})":{"get":{"operationId":"getHolidayAssignment", "summary":"Get entity from HolidayAssignment by key", "tags":["Holiday Assignment"], "parameters":[{"name":"HolidayCalendar_externalCode", "in":"path", "required":true, "description":"key: HolidayCalendar_externalCode", "type":"string"}, {"name":"date", "in":"path", "required":true, "description":"key: date", "type":"string"}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["HolidayCalendar_externalCode", "createdBy", "createdDate", "createdDateTime", "cust_testHolidayAssignment", "date", "entityUUID", "holiday", "holidayCategory", "holidayClass", "lastModifiedBy", "lastModifiedDate", "lastModifiedDateTime", "lastModifiedDateWithTZ", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveStartDate", "mdfSystemEntityId", "mdfSystemObjectType", "mdfSystemRecordId", "mdfSystemRecordStatus", "mdfSystemStatus", "mdfSystemTransactionSequence", "mdfSystemVersionId"]}}, {"name":"$expand", "in":"query", "description":"Expand related entities, see [OData Expand](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["*", "holidayCategoryNav", "holidayNav"]}}], "responses":{"200":{"description":"Retrieved entity", "schema":{"title":"Holiday Assignment", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.HolidayAssignment"}}}}, "default":{"$ref":"#/responses/error"}}}}, "/TimeAccountPurchaseProfile":{"get":{"operationId":"listTimeAccountPurchaseProfiles", "summary":"Get entities from Time Account Purchase Profile", "tags":["Time Account Purchase Profile"], "parameters":[{"$ref":"#/parameters/top"}, {"$ref":"#/parameters/skip"}, {"$ref":"#/parameters/search"}, {"$ref":"#/parameters/filter"}, {"$ref":"#/parameters/count"}, {"name":"$orderby", "in":"query", "description":"Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["allowDeductionStartDateSelection", "allowDeductionStartDateSelection desc", "country", "country desc", "createdBy", "createdBy desc", "createdDateTime", "createdDateTime desc", "deductionSchedule", "deductionSchedule desc", "deductionType", "deductionType desc", "entityUUID", "entityUUID desc", "equivalentUnits", "equivalentUnits desc", "externalCode", "externalCode desc", "externalName_ar_SA", "externalName_ar_SA desc", "externalName_cy_GB", "externalName_cy_GB desc", "externalName_de_DE", "externalName_de_DE desc", "externalName_defaultValue", "externalName_defaultValue desc", "externalName_en_DEBUG", "externalName_en_DEBUG desc", "externalName_en_DEBUG_APOS", "externalName_en_DEBUG_APOS desc", "externalName_en_DEBUG_APOS_RTL", "externalName_en_DEBUG_APOS_RTL desc", "externalName_en_GB", "externalName_en_GB desc", "externalName_en_RTL", "externalName_en_RTL desc", "externalName_en_US", "externalName_en_US desc", "externalName_es_ES", "externalName_es_ES desc", "externalName_es_MX", "externalName_es_MX desc", "externalName_fr_CA", "externalName_fr_CA desc", "externalName_fr_FR", "externalName_fr_FR desc", "externalName_hi_IN", "externalName_hi_IN desc", "externalName_iw_IL", "externalName_iw_IL desc", "externalName_ja_JP", "externalName_ja_JP desc", "externalName_ko_KR", "externalName_ko_KR desc", "externalName_localized", "externalName_localized desc", "externalName_nl_NL", "externalName_nl_NL desc", "externalName_pt_BR", "externalName_pt_BR desc", "externalName_th_TH", "externalName_th_TH desc", "externalName_zh_CN", "externalName_zh_CN desc", "helpText_ar_SA", "helpText_ar_SA desc", "helpText_cy_GB", "helpText_cy_GB desc", "helpText_de_DE", "helpText_de_DE desc", "helpText_defaultValue", "helpText_defaultValue desc", "helpText_en_DEBUG", "helpText_en_DEBUG desc", "helpText_en_DEBUG_APOS", "helpText_en_DEBUG_APOS desc", "helpText_en_DEBUG_APOS_RTL", "helpText_en_DEBUG_APOS_RTL desc", "helpText_en_GB", "helpText_en_GB desc", "helpText_en_RTL", "helpText_en_RTL desc", "helpText_en_US", "helpText_en_US desc", "helpText_es_ES", "helpText_es_ES desc", "helpText_es_MX", "helpText_es_MX desc", "helpText_fr_CA", "helpText_fr_CA desc", "helpText_fr_FR", "helpText_fr_FR desc", "helpText_hi_IN", "helpText_hi_IN desc", "helpText_iw_IL", "helpText_iw_IL desc", "helpText_ja_JP", "helpText_ja_JP desc", "helpText_ko_KR", "helpText_ko_KR desc", "helpText_localized", "helpText_localized desc", "helpText_nl_NL", "helpText_nl_NL desc", "helpText_pt_BR", "helpText_pt_BR desc", "helpText_th_TH", "helpText_th_TH desc", "helpText_zh_CN", "helpText_zh_CN desc", "lastModifiedBy", "lastModifiedBy desc", "lastModifiedDateTime", "lastModifiedDateTime desc", "mdfSystemRecordStatus", "mdfSystemRecordStatus desc", "workflowConfiguration", "workflowConfiguration desc"]}}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["allowDeductionStartDateSelection", "country", "createdBy", "createdDateTime", "deductionSchedule", "deductionType", "entityUUID", "equivalentUnits", "externalCode", "externalName_ar_SA", "externalName_cy_GB", "externalName_de_DE", "externalName_defaultValue", "externalName_en_DEBUG", "externalName_en_DEBUG_APOS", "externalName_en_DEBUG_APOS_RTL", "externalName_en_GB", "externalName_en_RTL", "externalName_en_US", "externalName_es_ES", "externalName_es_MX", "externalName_fr_CA", "externalName_fr_FR", "externalName_hi_IN", "externalName_iw_IL", "externalName_ja_JP", "externalName_ko_KR", "externalName_localized", "externalName_nl_NL", "externalName_pt_BR", "externalName_th_TH", "externalName_zh_CN", "helpText_ar_SA", "helpText_cy_GB", "helpText_de_DE", "helpText_defaultValue", "helpText_en_DEBUG", "helpText_en_DEBUG_APOS", "helpText_en_DEBUG_APOS_RTL", "helpText_en_GB", "helpText_en_RTL", "helpText_en_US", "helpText_es_ES", "helpText_es_MX", "helpText_fr_CA", "helpText_fr_FR", "helpText_hi_IN", "helpText_iw_IL", "helpText_ja_JP", "helpText_ko_KR", "helpText_localized", "helpText_nl_NL", "helpText_pt_BR", "helpText_th_TH", "helpText_zh_CN", "lastModifiedBy", "lastModifiedDateTime", "mdfSystemRecordStatus", "workflowConfiguration"]}}, {"name":"$expand", "in":"query", "description":"Expand related entities, see [OData Expand](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["*", "deductionPayComponents"]}}], "responses":{"200":{"description":"Retrieved entities", "schema":{"type":"object", "title":"Wrapper", "properties":{"d":{"type":"object", "title":"Collection of Time Account Purchase Profile", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.TimeAccountPurchaseProfile"}}}}}}}, "default":{"$ref":"#/responses/error"}}}}, "/TimeAccountPurchaseProfile('{externalCode}')":{"get":{"operationId":"getTimeAccountPurchaseProfile", "summary":"Get entity from Time Account Purchase Profile by key", "tags":["Time Account Purchase Profile"], "parameters":[{"name":"externalCode", "in":"path", "required":true, "description":"key: externalCode", "type":"string"}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["allowDeductionStartDateSelection", "country", "createdBy", "createdDateTime", "deductionSchedule", "deductionType", "entityUUID", "equivalentUnits", "externalCode", "externalName_ar_SA", "externalName_cy_GB", "externalName_de_DE", "externalName_defaultValue", "externalName_en_DEBUG", "externalName_en_DEBUG_APOS", "externalName_en_DEBUG_APOS_RTL", "externalName_en_GB", "externalName_en_RTL", "externalName_en_US", "externalName_es_ES", "externalName_es_MX", "externalName_fr_CA", "externalName_fr_FR", "externalName_hi_IN", "externalName_iw_IL", "externalName_ja_JP", "externalName_ko_KR", "externalName_localized", "externalName_nl_NL", "externalName_pt_BR", "externalName_th_TH", "externalName_zh_CN", "helpText_ar_SA", "helpText_cy_GB", "helpText_de_DE", "helpText_defaultValue", "helpText_en_DEBUG", "helpText_en_DEBUG_APOS", "helpText_en_DEBUG_APOS_RTL", "helpText_en_GB", "helpText_en_RTL", "helpText_en_US", "helpText_es_ES", "helpText_es_MX", "helpText_fr_CA", "helpText_fr_FR", "helpText_hi_IN", "helpText_iw_IL", "helpText_ja_JP", "helpText_ko_KR", "helpText_localized", "helpText_nl_NL", "helpText_pt_BR", "helpText_th_TH", "helpText_zh_CN", "lastModifiedBy", "lastModifiedDateTime", "mdfSystemRecordStatus", "workflowConfiguration"]}}, {"name":"$expand", "in":"query", "description":"Expand related entities, see [OData Expand](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["*", "deductionPayComponents"]}}], "responses":{"200":{"description":"Retrieved entity", "schema":{"title":"Time Account Purchase Profile", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.TimeAccountPurchaseProfile"}}}}, "default":{"$ref":"#/responses/error"}}}}, "/TimeTypeCAN":{"get":{"operationId":"listTimeTypeCANs", "summary":"Get entities from Time Type (CAN)", "tags":["Time Type (CAN)"], "parameters":[{"$ref":"#/parameters/top"}, {"$ref":"#/parameters/skip"}, {"$ref":"#/parameters/search"}, {"$ref":"#/parameters/filter"}, {"$ref":"#/parameters/count"}, {"name":"$orderby", "in":"query", "description":"Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["TimeType_externalCode", "TimeType_externalCode desc", "createdBy", "createdBy desc", "createdDateTime", "createdDateTime desc", "durationOfDisabilityPeriodOne", "durationOfDisabilityPeriodOne desc", "durationOfDisabilityPeriodThree", "durationOfDisabilityPeriodThree desc", "durationOfDisabilityPeriodTwo", "durationOfDisabilityPeriodTwo desc", "entityUUID", "entityUUID desc", "externalCode", "externalCode desc", "lastModifiedBy", "lastModifiedBy desc", "lastModifiedDateTime", "lastModifiedDateTime desc", "mdfSystemRecordStatus", "mdfSystemRecordStatus desc", "sicknessVariant", "sicknessVariant desc"]}}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["TimeType_externalCode", "createdBy", "createdDateTime", "durationOfDisabilityPeriodOne", "durationOfDisabilityPeriodThree", "durationOfDisabilityPeriodTwo", "entityUUID", "externalCode", "lastModifiedBy", "lastModifiedDateTime", "mdfSystemRecordStatus", "sicknessVariant"]}}], "responses":{"200":{"description":"Retrieved entities", "schema":{"type":"object", "title":"Wrapper", "properties":{"d":{"type":"object", "title":"Collection of Time Type (CAN)", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.TimeTypeCAN"}}}}}}}, "default":{"$ref":"#/responses/error"}}}}, "/TimeTypeCAN(TimeType_externalCode='{TimeType_externalCode}',externalCode='{externalCode}')":{"get":{"operationId":"getTimeTypeCAN", "summary":"Get entity from Time Type (CAN) by key", "tags":["Time Type (CAN)"], "parameters":[{"name":"TimeType_externalCode", "in":"path", "required":true, "description":"key: TimeType_externalCode", "type":"string"}, {"name":"externalCode", "in":"path", "required":true, "description":"key: externalCode", "type":"string"}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["TimeType_externalCode", "createdBy", "createdDateTime", "durationOfDisabilityPeriodOne", "durationOfDisabilityPeriodThree", "durationOfDisabilityPeriodTwo", "entityUUID", "externalCode", "lastModifiedBy", "lastModifiedDateTime", "mdfSystemRecordStatus", "sicknessVariant"]}}], "responses":{"200":{"description":"Retrieved entity", "schema":{"title":"Time Type (CAN)", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.TimeTypeCAN"}}}}, "default":{"$ref":"#/responses/error"}}}}, "/WorkScheduleDayModelVariantIdentifier":{"get":{"operationId":"listWorkScheduleDayModelVariantIdentifiers", "summary":"Get entities from Work Schedule Day Model Variant Identifier", "tags":["Work Schedule Day Model Variant Identifier"], "parameters":[{"$ref":"#/parameters/top"}, {"$ref":"#/parameters/skip"}, {"$ref":"#/parameters/search"}, {"$ref":"#/parameters/filter"}, {"$ref":"#/parameters/count"}, {"name":"$orderby", "in":"query", "description":"Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["createdBy", "createdBy desc", "createdDateTime", "createdDateTime desc", "description", "description desc", "entityUUID", "entityUUID desc", "externalCode", "externalCode desc", "externalName_ar_SA", "externalName_ar_SA desc", "externalName_cy_GB", "externalName_cy_GB desc", "externalName_de_DE", "externalName_de_DE desc", "externalName_defaultValue", "externalName_defaultValue desc", "externalName_en_DEBUG", "externalName_en_DEBUG desc", "externalName_en_DEBUG_APOS", "externalName_en_DEBUG_APOS desc", "externalName_en_DEBUG_APOS_RTL", "externalName_en_DEBUG_APOS_RTL desc", "externalName_en_GB", "externalName_en_GB desc", "externalName_en_RTL", "externalName_en_RTL desc", "externalName_en_US", "externalName_en_US desc", "externalName_es_ES", "externalName_es_ES desc", "externalName_es_MX", "externalName_es_MX desc", "externalName_fr_CA", "externalName_fr_CA desc", "externalName_fr_FR", "externalName_fr_FR desc", "externalName_hi_IN", "externalName_hi_IN desc", "externalName_iw_IL", "externalName_iw_IL desc", "externalName_ja_JP", "externalName_ja_JP desc", "externalName_ko_KR", "externalName_ko_KR desc", "externalName_localized", "externalName_localized desc", "externalName_nl_NL", "externalName_nl_NL desc", "externalName_pt_BR", "externalName_pt_BR desc", "externalName_th_TH", "externalName_th_TH desc", "externalName_zh_CN", "externalName_zh_CN desc", "lastModifiedBy", "lastModifiedBy desc", "lastModifiedDateTime", "lastModifiedDateTime desc", "mdfSystemRecordStatus", "mdfSystemRecordStatus desc"]}}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["createdBy", "createdDateTime", "description", "entityUUID", "externalCode", "externalName_ar_SA", "externalName_cy_GB", "externalName_de_DE", "externalName_defaultValue", "externalName_en_DEBUG", "externalName_en_DEBUG_APOS", "externalName_en_DEBUG_APOS_RTL", "externalName_en_GB", "externalName_en_RTL", "externalName_en_US", "externalName_es_ES", "externalName_es_MX", "externalName_fr_CA", "externalName_fr_FR", "externalName_hi_IN", "externalName_iw_IL", "externalName_ja_JP", "externalName_ko_KR", "externalName_localized", "externalName_nl_NL", "externalName_pt_BR", "externalName_th_TH", "externalName_zh_CN", "lastModifiedBy", "lastModifiedDateTime", "mdfSystemRecordStatus"]}}], "responses":{"200":{"description":"Retrieved entities", "schema":{"type":"object", "title":"Wrapper", "properties":{"d":{"type":"object", "title":"Collection of Work Schedule Day Model Variant Identifier", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.WorkScheduleDayModelVariantIdentifier"}}}}}}}, "default":{"$ref":"#/responses/error"}}}}, "/WorkScheduleDayModelVariantIdentifier('{externalCode}')":{"get":{"operationId":"getWorkScheduleDayModelVariantIdentifier", "summary":"Get entity from Work Schedule Day Model Variant Identifier by key", "tags":["Work Schedule Day Model Variant Identifier"], "parameters":[{"name":"externalCode", "in":"path", "required":true, "description":"key: externalCode", "type":"string"}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["createdBy", "createdDateTime", "description", "entityUUID", "externalCode", "externalName_ar_SA", "externalName_cy_GB", "externalName_de_DE", "externalName_defaultValue", "externalName_en_DEBUG", "externalName_en_DEBUG_APOS", "externalName_en_DEBUG_APOS_RTL", "externalName_en_GB", "externalName_en_RTL", "externalName_en_US", "externalName_es_ES", "externalName_es_MX", "externalName_fr_CA", "externalName_fr_FR", "externalName_hi_IN", "externalName_iw_IL", "externalName_ja_JP", "externalName_ko_KR", "externalName_localized", "externalName_nl_NL", "externalName_pt_BR", "externalName_th_TH", "externalName_zh_CN", "lastModifiedBy", "lastModifiedDateTime", "mdfSystemRecordStatus"]}}], "responses":{"200":{"description":"Retrieved entity", "schema":{"title":"Work Schedule Day Model Variant Identifier", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.WorkScheduleDayModelVariantIdentifier"}}}}, "default":{"$ref":"#/responses/error"}}}}, "/TimeManagementTerminationEndHandlingExcludedEventReason":{"get":{"operationId":"listTimeManagementTerminationEndHandlingExcludedEventReasons", "summary":"Get entities from Time Management Termination End Handling Excluded Event Reason", "tags":["Time Management Termination End Handling Excluded Event Reason"], "parameters":[{"$ref":"#/parameters/top"}, {"$ref":"#/parameters/skip"}, {"$ref":"#/parameters/search"}, {"$ref":"#/parameters/filter"}, {"$ref":"#/parameters/count"}, {"name":"$orderby", "in":"query", "description":"Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["TimeManagementTerminationEndHandlingExclusion_externalCode", "TimeManagementTerminationEndHandlingExclusion_externalCode desc", "createdBy", "createdBy desc", "createdDateTime", "createdDateTime desc", "entityUUID", "entityUUID desc", "eventReason", "eventReason desc", "externalCode", "externalCode desc", "lastModifiedBy", "lastModifiedBy desc", "lastModifiedDateTime", "lastModifiedDateTime desc", "mdfSystemRecordStatus", "mdfSystemRecordStatus desc"]}}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["TimeManagementTerminationEndHandlingExclusion_externalCode", "createdBy", "createdDateTime", "entityUUID", "eventReason", "externalCode", "lastModifiedBy", "lastModifiedDateTime", "mdfSystemRecordStatus"]}}], "responses":{"200":{"description":"Retrieved entities", "schema":{"type":"object", "title":"Wrapper", "properties":{"d":{"type":"object", "title":"Collection of Time Management Termination End Handling Excluded Event Reason", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.TimeManagementTerminationEndHandlingExcludedEventReason"}}}}}}}, "default":{"$ref":"#/responses/error"}}}}, "/TimeManagementTerminationEndHandlingExcludedEventReason(TimeManagementTerminationEndHandlingExclusion_externalCode='{TimeManagementTerminationEndHandlingExclusion_externalCode}',externalCode='{externalCode}')":{"get":{"operationId":"getTimeManagementTerminationEndHandlingExcludedEventReason", "summary":"Get entity from Time Management Termination End Handling Excluded Event Reason by key", "tags":["Time Management Termination End Handling Excluded Event Reason"], "parameters":[{"name":"TimeManagementTerminationEndHandlingExclusion_externalCode", "in":"path", "required":true, "description":"key: TimeManagementTerminationEndHandlingExclusion_externalCode", "type":"string"}, {"name":"externalCode", "in":"path", "required":true, "description":"key: externalCode", "type":"string"}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["TimeManagementTerminationEndHandlingExclusion_externalCode", "createdBy", "createdDateTime", "entityUUID", "eventReason", "externalCode", "lastModifiedBy", "lastModifiedDateTime", "mdfSystemRecordStatus"]}}], "responses":{"200":{"description":"Retrieved entity", "schema":{"title":"Time Management Termination End Handling Excluded Event Reason", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.TimeManagementTerminationEndHandlingExcludedEventReason"}}}}, "default":{"$ref":"#/responses/error"}}}}, "/TimeAccountPurchaseProfilePayComponentAssignment":{"get":{"operationId":"listTimeAccountPurchaseProfilePayComponentAssignments", "summary":"Get entities from Time Account Purchase Profile Pay Component Assignment", "tags":["Time Account Purchase Profile Pay Component Assignment"], "parameters":[{"$ref":"#/parameters/top"}, {"$ref":"#/parameters/skip"}, {"$ref":"#/parameters/search"}, {"$ref":"#/parameters/filter"}, {"$ref":"#/parameters/count"}, {"name":"$orderby", "in":"query", "description":"Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["TimeAccountPurchaseProfile_externalCode", "TimeAccountPurchaseProfile_externalCode desc", "createdBy", "createdBy desc", "createdDateTime", "createdDateTime desc", "lastModifiedBy", "lastModifiedBy desc", "lastModifiedDateTime", "lastModifiedDateTime desc", "mdfSystemRecordStatus", "mdfSystemRecordStatus desc", "payComponent", "payComponent desc"]}}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["TimeAccountPurchaseProfile_externalCode", "createdBy", "createdDateTime", "lastModifiedBy", "lastModifiedDateTime", "mdfSystemRecordStatus", "payComponent"]}}], "responses":{"200":{"description":"Retrieved entities", "schema":{"type":"object", "title":"Wrapper", "properties":{"d":{"type":"object", "title":"Collection of Time Account Purchase Profile Pay Component Assignment", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.TimeAccountPurchaseProfilePayComponentAssignment"}}}}}}}, "default":{"$ref":"#/responses/error"}}}}, "/TimeAccountPurchaseProfilePayComponentAssignment(TimeAccountPurchaseProfile_externalCode='{TimeAccountPurchaseProfile_externalCode}',payComponent='{payComponent}')":{"get":{"operationId":"getTimeAccountPurchaseProfilePayComponentAssignment", "summary":"Get entity from Time Account Purchase Profile Pay Component Assignment by key", "tags":["Time Account Purchase Profile Pay Component Assignment"], "parameters":[{"name":"TimeAccountPurchaseProfile_externalCode", "in":"path", "required":true, "description":"key: TimeAccountPurchaseProfile_externalCode", "type":"string"}, {"name":"payComponent", "in":"path", "required":true, "description":"key: payComponent", "type":"string"}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["TimeAccountPurchaseProfile_externalCode", "createdBy", "createdDateTime", "lastModifiedBy", "lastModifiedDateTime", "mdfSystemRecordStatus", "payComponent"]}}], "responses":{"200":{"description":"Retrieved entity", "schema":{"title":"Time Account Purchase Profile Pay Component Assignment", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.TimeAccountPurchaseProfilePayComponentAssignment"}}}}, "default":{"$ref":"#/responses/error"}}}}, "/EmployeeTimeGroupItem":{"get":{"operationId":"listEmployeeTimeGroupItems", "summary":"Get entities from Employee Time Group Item", "tags":["Employee Time Group Item"], "parameters":[{"$ref":"#/parameters/top"}, {"$ref":"#/parameters/skip"}, {"$ref":"#/parameters/search"}, {"$ref":"#/parameters/filter"}, {"$ref":"#/parameters/count"}, {"name":"$orderby", "in":"query", "description":"Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["EmployeeTimeGroup_externalCode", "EmployeeTimeGroup_externalCode desc", "comment", "comment desc", "createdBy", "createdBy desc", "createdDate", "createdDate desc", "createdDateTime", "createdDateTime desc", "employeeTime", "employeeTime desc", "entityUUID", "entityUUID desc", "externalCode", "externalCode desc", "lastModifiedBy", "lastModifiedBy desc", "lastModifiedDate", "lastModifiedDate desc", "lastModifiedDateTime", "lastModifiedDateTime desc", "lastModifiedDateWithTZ", "lastModifiedDateWithTZ desc", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveEndDate desc", "mdfSystemEffectiveStartDate", "mdfSystemEffectiveStartDate desc", "mdfSystemEntityId", "mdfSystemEntityId desc", "mdfSystemObjectType", "mdfSystemObjectType desc", "mdfSystemRecordId", "mdfSystemRecordId desc", "mdfSystemRecordStatus", "mdfSystemRecordStatus desc", "mdfSystemStatus", "mdfSystemStatus desc", "mdfSystemTransactionSequence", "mdfSystemTransactionSequence desc", "mdfSystemVersionId", "mdfSystemVersionId desc"]}}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["EmployeeTimeGroup_externalCode", "comment", "createdBy", "createdDate", "createdDateTime", "employeeTime", "entityUUID", "externalCode", "lastModifiedBy", "lastModifiedDate", "lastModifiedDateTime", "lastModifiedDateWithTZ", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveStartDate", "mdfSystemEntityId", "mdfSystemObjectType", "mdfSystemRecordId", "mdfSystemRecordStatus", "mdfSystemStatus", "mdfSystemTransactionSequence", "mdfSystemVersionId"]}}, {"name":"$expand", "in":"query", "description":"Expand related entities, see [OData Expand](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["*", "employeeTimeNav"]}}], "responses":{"200":{"description":"Retrieved entities", "schema":{"type":"object", "title":"Wrapper", "properties":{"d":{"type":"object", "title":"Collection of Employee Time Group Item", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.EmployeeTimeGroupItem"}}}}}}}, "default":{"$ref":"#/responses/error"}}}}, "/EmployeeTimeGroupItem(EmployeeTimeGroup_externalCode='{EmployeeTimeGroup_externalCode}',externalCode='{externalCode}')":{"get":{"operationId":"getEmployeeTimeGroupItem", "summary":"Get entity from EmployeeTimeGroupItem by key", "tags":["Employee Time Group Item"], "parameters":[{"name":"EmployeeTimeGroup_externalCode", "in":"path", "required":true, "description":"key: EmployeeTimeGroup_externalCode", "type":"string"}, {"name":"externalCode", "in":"path", "required":true, "description":"key: externalCode", "type":"string"}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["EmployeeTimeGroup_externalCode", "comment", "createdBy", "createdDate", "createdDateTime", "employeeTime", "entityUUID", "externalCode", "lastModifiedBy", "lastModifiedDate", "lastModifiedDateTime", "lastModifiedDateWithTZ", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveStartDate", "mdfSystemEntityId", "mdfSystemObjectType", "mdfSystemRecordId", "mdfSystemRecordStatus", "mdfSystemStatus", "mdfSystemTransactionSequence", "mdfSystemVersionId"]}}, {"name":"$expand", "in":"query", "description":"Expand related entities, see [OData Expand](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["*", "employeeTimeNav"]}}], "responses":{"200":{"description":"Retrieved entity", "schema":{"title":"Employee Time Group Item", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.EmployeeTimeGroupItem"}}}}, "default":{"$ref":"#/responses/error"}}}}, "/WorkScheduleDayModelAssignment":{"get":{"operationId":"listWorkScheduleDayModelAssignments", "summary":"Get entities from Work Schedule Day Model Assignment", "tags":["Work Schedule Day Model Assignment"], "parameters":[{"$ref":"#/parameters/top"}, {"$ref":"#/parameters/skip"}, {"$ref":"#/parameters/search"}, {"$ref":"#/parameters/filter"}, {"$ref":"#/parameters/count"}, {"name":"$orderby", "in":"query", "description":"Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["WorkSchedule_externalCode", "WorkSchedule_externalCode desc", "category", "category desc", "createdBy", "createdBy desc", "createdDate", "createdDate desc", "createdDateTime", "createdDateTime desc", "day", "day desc", "dayModel", "dayModel desc", "dayWorkingHours", "dayWorkingHours desc", "entityUUID", "entityUUID desc", "hoursAndMinutes", "hoursAndMinutes desc", "lastModifiedBy", "lastModifiedBy desc", "lastModifiedDate", "lastModifiedDate desc", "lastModifiedDateTime", "lastModifiedDateTime desc", "lastModifiedDateWithTZ", "lastModifiedDateWithTZ desc", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveEndDate desc", "mdfSystemEffectiveStartDate", "mdfSystemEffectiveStartDate desc", "mdfSystemEntityId", "mdfSystemEntityId desc", "mdfSystemObjectType", "mdfSystemObjectType desc", "mdfSystemRecordId", "mdfSystemRecordId desc", "mdfSystemRecordStatus", "mdfSystemRecordStatus desc", "mdfSystemStatus", "mdfSystemStatus desc", "mdfSystemTransactionSequence", "mdfSystemTransactionSequence desc", "mdfSystemVersionId", "mdfSystemVersionId desc", "roundingBasedOnWorkScheduleInformation", "roundingBasedOnWorkScheduleInformation desc"]}}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["WorkSchedule_externalCode", "category", "createdBy", "createdDate", "createdDateTime", "day", "dayModel", "dayWorkingHours", "entityUUID", "hoursAndMinutes", "lastModifiedBy", "lastModifiedDate", "lastModifiedDateTime", "lastModifiedDateWithTZ", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveStartDate", "mdfSystemEntityId", "mdfSystemObjectType", "mdfSystemRecordId", "mdfSystemRecordStatus", "mdfSystemStatus", "mdfSystemTransactionSequence", "mdfSystemVersionId", "roundingBasedOnWorkScheduleInformation"]}}, {"name":"$expand", "in":"query", "description":"Expand related entities, see [OData Expand](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["*", "dayModelNav", "segments"]}}], "responses":{"200":{"description":"Retrieved entities", "schema":{"type":"object", "title":"Wrapper", "properties":{"d":{"type":"object", "title":"Collection of Work Schedule Day Model Assignment", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.WorkScheduleDayModelAssignment"}}}}}}}, "default":{"$ref":"#/responses/error"}}}, "post":{"operationId":"createWorkScheduleDayModelAssignment", "summary":"Add new entity to Work Schedule Day Model Assignment", "tags":["Work Schedule Day Model Assignment"], "parameters":[{"name":"Work Schedule Day Model Assignment", "in":"body", "description":"New entity", "schema":{"$ref":"#/definitions/SFOData.WorkScheduleDayModelAssignment"}}], "responses":{"201":{"description":"Created entity", "schema":{"title":"Created Work Schedule Day Model Assignment", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.WorkScheduleDayModelAssignment"}}}}, "500":{"$ref":"#/responses/error"}, "default":{"$ref":"#/responses/error"}}}}, "/WorkScheduleDayModelAssignment(WorkSchedule_externalCode='{WorkSchedule_externalCode}',day={day})":{"get":{"operationId":"getWorkScheduleDayModelAssignment", "summary":"Get entity from Work Schedule Day Model Assignment by key", "tags":["Work Schedule Day Model Assignment"], "parameters":[{"name":"WorkSchedule_externalCode", "in":"path", "required":true, "description":"key: WorkSchedule_externalCode", "type":"string"}, {"name":"day", "in":"path", "required":true, "description":"key: day", "type":"integer", "format":"int64"}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["WorkSchedule_externalCode", "category", "createdBy", "createdDate", "createdDateTime", "day", "dayModel", "dayWorkingHours", "entityUUID", "hoursAndMinutes", "lastModifiedBy", "lastModifiedDate", "lastModifiedDateTime", "lastModifiedDateWithTZ", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveStartDate", "mdfSystemEntityId", "mdfSystemObjectType", "mdfSystemRecordId", "mdfSystemRecordStatus", "mdfSystemStatus", "mdfSystemTransactionSequence", "mdfSystemVersionId", "roundingBasedOnWorkScheduleInformation"]}}, {"name":"$expand", "in":"query", "description":"Expand related entities, see [OData Expand](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["*", "dayModelNav", "segments"]}}], "responses":{"200":{"description":"Retrieved entity", "schema":{"title":"Work Schedule Day Model Assignment", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.WorkScheduleDayModelAssignment"}}}}, "default":{"$ref":"#/responses/error"}}}, "put":{"operationId":"updateWorkScheduleDayModelAssignment", "summary":"Update entity in Work Schedule Day Model Assignment", "tags":["Work Schedule Day Model Assignment"], "parameters":[{"name":"WorkSchedule_externalCode", "in":"path", "required":true, "description":"key: WorkSchedule_externalCode", "type":"string"}, {"name":"day", "in":"path", "required":true, "description":"key: day", "type":"integer", "format":"int64"}, {"name":"Work Schedule Day Model Assignment", "in":"body", "description":"New property values", "schema":{"title":"Modified Work Schedule Day Model Assignment", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.WorkScheduleDayModelAssignment"}}}}], "responses":{"204":{"description":"Success"}, "500":{"$ref":"#/responses/error"}, "default":{"$ref":"#/responses/error"}}}, "delete":{"operationId":"deleteWorkScheduleDayModelAssignment", "summary":"Delete entity from Work Schedule Day Model Assignment", "tags":["Work Schedule Day Model Assignment"], "parameters":[{"name":"WorkSchedule_externalCode", "in":"path", "required":true, "description":"key: WorkSchedule_externalCode", "type":"string"}, {"name":"day", "in":"path", "required":true, "description":"key: day", "type":"integer", "format":"int64"}, {"name":"If-Match", "in":"header", "description":"ETag", "type":"string"}], "responses":{"204":{"description":"Success"}, "default":{"$ref":"#/responses/error"}}}}, "/TimeAccountDetail":{"get":{"operationId":"listTimeAccountDetails", "summary":"Get entities from Time Account Detail", "tags":["Time Account Detail"], "parameters":[{"$ref":"#/parameters/top"}, {"$ref":"#/parameters/skip"}, {"$ref":"#/parameters/search"}, {"$ref":"#/parameters/filter"}, {"$ref":"#/parameters/count"}, {"name":"$orderby", "in":"query", "description":"Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["TimeAccount_externalCode", "TimeAccount_externalCode desc", "accrualPeriodId", "accrualPeriodId desc", "advanced", "advanced desc", "bookingAmount", "bookingAmount desc", "bookingDate", "bookingDate desc", "bookingType", "bookingType desc", "bookingUnit", "bookingUnit desc", "calendarEntry", "calendarEntry desc", "changeCalendar", "changeCalendar desc", "comment", "comment desc", "createdBy", "createdBy desc", "createdDate", "createdDate desc", "createdDateTime", "createdDateTime desc", "employeeTime", "employeeTime desc", "entityUUID", "entityUUID desc", "externalCode", "externalCode desc", "lastModifiedBy", "lastModifiedBy desc", "lastModifiedDate", "lastModifiedDate desc", "lastModifiedDateTime", "lastModifiedDateTime desc", "lastModifiedDateWithTZ", "lastModifiedDateWithTZ desc", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveEndDate desc", "mdfSystemEffectiveStartDate", "mdfSystemEffectiveStartDate desc", "mdfSystemEntityId", "mdfSystemEntityId desc", "mdfSystemObjectType", "mdfSystemObjectType desc", "mdfSystemRecordId", "mdfSystemRecordId desc", "mdfSystemRecordStatus", "mdfSystemRecordStatus desc", "mdfSystemStatus", "mdfSystemStatus desc", "mdfSystemTransactionSequence", "mdfSystemTransactionSequence desc", "mdfSystemVersionId", "mdfSystemVersionId desc", "payoutAccrualSeparated", "payoutAccrualSeparated desc", "periodicUpdatePeriodId", "periodicUpdatePeriodId desc", "referenceObject", "referenceObject desc"]}}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["TimeAccount_externalCode", "accrualPeriodId", "advanced", "bookingAmount", "bookingDate", "bookingType", "bookingUnit", "calendarEntry", "changeCalendar", "comment", "createdBy", "createdDate", "createdDateTime", "employeeTime", "entityUUID", "externalCode", "lastModifiedBy", "lastModifiedDate", "lastModifiedDateTime", "lastModifiedDateWithTZ", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveStartDate", "mdfSystemEntityId", "mdfSystemObjectType", "mdfSystemRecordId", "mdfSystemRecordStatus", "mdfSystemStatus", "mdfSystemTransactionSequence", "mdfSystemVersionId", "payoutAccrualSeparated", "periodicUpdatePeriodId", "referenceObject"]}}, {"name":"$expand", "in":"query", "description":"Expand related entities, see [OData Expand](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["*", "calendarEntryNav", "employeeTimeNav"]}}], "responses":{"200":{"description":"Retrieved entities", "schema":{"type":"object", "title":"Wrapper", "properties":{"d":{"type":"object", "title":"Collection of Time Account Detail", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.TimeAccountDetail"}}}}}}}, "default":{"$ref":"#/responses/error"}}}, "post":{"operationId":"createTimeAccountDetail", "summary":"Add new entity to Time Account Detail", "tags":["Time Account Detail"], "parameters":[{"name":"Time Account Detail", "in":"body", "description":"New entity", "schema":{"$ref":"#/definitions/SFOData.TimeAccountDetail"}}], "responses":{"201":{"description":"Created entity", "schema":{"title":"Created Time Account Detail", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.TimeAccountDetail"}}}}, "500":{"$ref":"#/responses/error"}, "default":{"$ref":"#/responses/error"}}}}, "/TimeAccountDetail(TimeAccount_externalCode='{TimeAccount_externalCode}',externalCode='{externalCode}')":{"get":{"operationId":"getTimeAccountDetail", "summary":"Get entity from Time Account Detail by key", "tags":["Time Account Detail"], "parameters":[{"name":"TimeAccount_externalCode", "in":"path", "required":true, "description":"key: TimeAccount_externalCode", "type":"string"}, {"name":"externalCode", "in":"path", "required":true, "description":"key: externalCode", "type":"string"}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["TimeAccount_externalCode", "accrualPeriodId", "advanced", "bookingAmount", "bookingDate", "bookingType", "bookingUnit", "calendarEntry", "changeCalendar", "comment", "createdBy", "createdDate", "createdDateTime", "employeeTime", "entityUUID", "externalCode", "lastModifiedBy", "lastModifiedDate", "lastModifiedDateTime", "lastModifiedDateWithTZ", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveStartDate", "mdfSystemEntityId", "mdfSystemObjectType", "mdfSystemRecordId", "mdfSystemRecordStatus", "mdfSystemStatus", "mdfSystemTransactionSequence", "mdfSystemVersionId", "payoutAccrualSeparated", "periodicUpdatePeriodId", "referenceObject"]}}, {"name":"$expand", "in":"query", "description":"Expand related entities, see [OData Expand](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["*", "calendarEntryNav", "employeeTimeNav"]}}], "responses":{"200":{"description":"Retrieved entity", "schema":{"title":"Time Account Detail", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.TimeAccountDetail"}}}}, "default":{"$ref":"#/responses/error"}}}, "put":{"operationId":"updateTimeAccountDetail", "summary":"Update entity in Time Account Detail", "tags":["Time Account Detail"], "parameters":[{"name":"TimeAccount_externalCode", "in":"path", "required":true, "description":"key: TimeAccount_externalCode", "type":"string"}, {"name":"externalCode", "in":"path", "required":true, "description":"key: externalCode", "type":"string"}, {"name":"Time Account Detail", "in":"body", "description":"New property values", "schema":{"title":"Modified Time Account Detail", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.TimeAccountDetail"}}}}], "responses":{"204":{"description":"Success"}, "500":{"description":"Internal Server Error"}, "default":{"$ref":"#/responses/error"}}}, "delete":{"operationId":"deleteTimeAccountDetail", "summary":"Delete entity from Time Account Detail", "tags":["Time Account Detail"], "parameters":[{"name":"TimeAccount_externalCode", "in":"path", "required":true, "description":"key: TimeAccount_externalCode", "type":"string"}, {"name":"externalCode", "in":"path", "required":true, "description":"key: externalCode", "type":"string"}, {"name":"If-Match", "in":"header", "description":"ETag", "type":"string"}], "responses":{"204":{"description":"Success"}, "500":{"description":"Internal Server Error"}, "default":{"$ref":"#/responses/error"}}}}, "/TimeTypeNLD":{"get":{"operationId":"listTimeTypeNLDs", "summary":"Get entities from Time Type (NLD)", "tags":["Time Type (NLD)"], "parameters":[{"$ref":"#/parameters/top"}, {"$ref":"#/parameters/skip"}, {"$ref":"#/parameters/search"}, {"$ref":"#/parameters/filter"}, {"$ref":"#/parameters/count"}, {"name":"$orderby", "in":"query", "description":"Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["TimeType_externalCode", "TimeType_externalCode desc", "createdBy", "createdBy desc", "createdDateTime", "createdDateTime desc", "entityUUID", "entityUUID desc", "externalCode", "externalCode desc", "illnessRecoveryTracking", "illnessRecoveryTracking desc", "lastModifiedBy", "lastModifiedBy desc", "lastModifiedDateTime", "lastModifiedDateTime desc", "mdfSystemRecordStatus", "mdfSystemRecordStatus desc"]}}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["TimeType_externalCode", "createdBy", "createdDateTime", "entityUUID", "externalCode", "illnessRecoveryTracking", "lastModifiedBy", "lastModifiedDateTime", "mdfSystemRecordStatus"]}}], "responses":{"200":{"description":"Retrieved entities", "schema":{"type":"object", "title":"Wrapper", "properties":{"d":{"type":"object", "title":"Collection of Time Type (NLD)", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.TimeTypeNLD"}}}}}}}, "default":{"$ref":"#/responses/error"}}}}, "/TimeTypeNLD(TimeType_externalCode='{TimeType_externalCode}',externalCode='{externalCode}')":{"get":{"operationId":"getTimeTypeNLD", "summary":"Get entity from Time Type (NLD) by key", "tags":["Time Type (NLD)"], "parameters":[{"name":"TimeType_externalCode", "in":"path", "required":true, "description":"key: TimeType_externalCode", "type":"string"}, {"name":"externalCode", "in":"path", "required":true, "description":"key: externalCode", "type":"string"}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["TimeType_externalCode", "createdBy", "createdDateTime", "entityUUID", "externalCode", "illnessRecoveryTracking", "lastModifiedBy", "lastModifiedDateTime", "mdfSystemRecordStatus"]}}], "responses":{"200":{"description":"Retrieved entity", "schema":{"title":"Time Type (NLD)", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.TimeTypeNLD"}}}}, "default":{"$ref":"#/responses/error"}}}}, "/TimeTypeSWE":{"get":{"operationId":"listTimeTypeSWEs", "summary":"Get entities from Time Type (SWE)", "tags":["Time Type (SWE)"], "parameters":[{"$ref":"#/parameters/top"}, {"$ref":"#/parameters/skip"}, {"$ref":"#/parameters/search"}, {"$ref":"#/parameters/filter"}, {"$ref":"#/parameters/count"}, {"name":"$orderby", "in":"query", "description":"Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["TimeType_externalCode", "TimeType_externalCode desc", "createdBy", "createdBy desc", "createdDateTime", "createdDateTime desc", "entityUUID", "entityUUID desc", "externalCode", "externalCode desc", "lastModifiedBy", "lastModifiedBy desc", "lastModifiedDateTime", "lastModifiedDateTime desc", "mdfSystemRecordStatus", "mdfSystemRecordStatus desc", "workIncapacityPercentageESSView", "workIncapacityPercentageESSView desc", "workIncapacityPercentageMSSEnabled", "workIncapacityPercentageMSSEnabled desc"]}}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["TimeType_externalCode", "createdBy", "createdDateTime", "entityUUID", "externalCode", "lastModifiedBy", "lastModifiedDateTime", "mdfSystemRecordStatus", "workIncapacityPercentageESSView", "workIncapacityPercentageMSSEnabled"]}}], "responses":{"200":{"description":"Retrieved entities", "schema":{"type":"object", "title":"Wrapper", "properties":{"d":{"type":"object", "title":"Collection of Time Type (SWE)", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.TimeTypeSWE"}}}}}}}, "default":{"$ref":"#/responses/error"}}}}, "/TimeTypeSWE(TimeType_externalCode='{TimeType_externalCode}',externalCode='{externalCode}')":{"get":{"operationId":"getTimeTypeSWE", "summary":"Get entity from Time Type (SWE) by key", "tags":["Time Type (SWE)"], "parameters":[{"name":"TimeType_externalCode", "in":"path", "required":true, "description":"key: TimeType_externalCode", "type":"string"}, {"name":"externalCode", "in":"path", "required":true, "description":"key: externalCode", "type":"string"}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["TimeType_externalCode", "createdBy", "createdDateTime", "entityUUID", "externalCode", "lastModifiedBy", "lastModifiedDateTime", "mdfSystemRecordStatus", "workIncapacityPercentageESSView", "workIncapacityPercentageMSSEnabled"]}}], "responses":{"200":{"description":"Retrieved entity", "schema":{"title":"Time Type (SWE)", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.TimeTypeSWE"}}}}, "default":{"$ref":"#/responses/error"}}}}, "/TimeTypeNOR":{"get":{"operationId":"listTimeTypeNORs", "summary":"Get entities from Time Type (NOR)", "tags":["Time Type (NOR)"], "parameters":[{"$ref":"#/parameters/top"}, {"$ref":"#/parameters/skip"}, {"$ref":"#/parameters/search"}, {"$ref":"#/parameters/filter"}, {"$ref":"#/parameters/count"}, {"name":"$orderby", "in":"query", "description":"Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["TimeType_externalCode", "TimeType_externalCode desc", "createdBy", "createdBy desc", "createdDateTime", "createdDateTime desc", "entityUUID", "entityUUID desc", "externalCode", "externalCode desc", "lastModifiedBy", "lastModifiedBy desc", "lastModifiedDateTime", "lastModifiedDateTime desc", "mdfSystemRecordStatus", "mdfSystemRecordStatus desc", "workPercentageESSView", "workPercentageESSView desc", "workPercentageType", "workPercentageType desc"]}}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["TimeType_externalCode", "createdBy", "createdDateTime", "entityUUID", "externalCode", "lastModifiedBy", "lastModifiedDateTime", "mdfSystemRecordStatus", "workPercentageESSView", "workPercentageType"]}}], "responses":{"200":{"description":"Retrieved entities", "schema":{"type":"object", "title":"Wrapper", "properties":{"d":{"type":"object", "title":"Collection of Time Type (NOR)", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.TimeTypeNOR"}}}}}}}, "default":{"$ref":"#/responses/error"}}}}, "/TimeTypeNOR(TimeType_externalCode='{TimeType_externalCode}',externalCode='{externalCode}')":{"get":{"operationId":"getTimeTypeNOR", "summary":"Get entity from Time Type (NOR) by key", "tags":["Time Type (NOR)"], "parameters":[{"name":"TimeType_externalCode", "in":"path", "required":true, "description":"key: TimeType_externalCode", "type":"string"}, {"name":"externalCode", "in":"path", "required":true, "description":"key: externalCode", "type":"string"}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["TimeType_externalCode", "createdBy", "createdDateTime", "entityUUID", "externalCode", "lastModifiedBy", "lastModifiedDateTime", "mdfSystemRecordStatus", "workPercentageESSView", "workPercentageType"]}}], "responses":{"200":{"description":"Retrieved entity", "schema":{"title":"Time Type (NOR)", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.TimeTypeNOR"}}}}, "default":{"$ref":"#/responses/error"}}}}, "/TimeTypeITA":{"get":{"operationId":"listTimeTypeITAs", "summary":"Get entities from Time Type (ITA)", "tags":["Time Type (ITA)"], "parameters":[{"$ref":"#/parameters/top"}, {"$ref":"#/parameters/skip"}, {"$ref":"#/parameters/search"}, {"$ref":"#/parameters/filter"}, {"$ref":"#/parameters/count"}, {"name":"$orderby", "in":"query", "description":"Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["TimeType_externalCode", "TimeType_externalCode desc", "createdBy", "createdBy desc", "createdDateTime", "createdDateTime desc", "entityUUID", "entityUUID desc", "externalCode", "externalCode desc", "lastModifiedBy", "lastModifiedBy desc", "lastModifiedDateTime", "lastModifiedDateTime desc", "mdfSystemRecordStatus", "mdfSystemRecordStatus desc", "sicknessIdentifierEssVisibility", "sicknessIdentifierEssVisibility desc"]}}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["TimeType_externalCode", "createdBy", "createdDateTime", "entityUUID", "externalCode", "lastModifiedBy", "lastModifiedDateTime", "mdfSystemRecordStatus", "sicknessIdentifierEssVisibility"]}}], "responses":{"200":{"description":"Retrieved entities", "schema":{"type":"object", "title":"Wrapper", "properties":{"d":{"type":"object", "title":"Collection of Time Type (ITA)", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.TimeTypeITA"}}}}}}}, "default":{"$ref":"#/responses/error"}}}}, "/TimeTypeITA(TimeType_externalCode='{TimeType_externalCode}',externalCode='{externalCode}')":{"get":{"operationId":"getTimeTypeITA", "summary":"Get entity from Time Type (ITA) by key", "tags":["Time Type (ITA)"], "parameters":[{"name":"TimeType_externalCode", "in":"path", "required":true, "description":"key: TimeType_externalCode", "type":"string"}, {"name":"externalCode", "in":"path", "required":true, "description":"key: externalCode", "type":"string"}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["TimeType_externalCode", "createdBy", "createdDateTime", "entityUUID", "externalCode", "lastModifiedBy", "lastModifiedDateTime", "mdfSystemRecordStatus", "sicknessIdentifierEssVisibility"]}}], "responses":{"200":{"description":"Retrieved entity", "schema":{"title":"Time Type (ITA)", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.TimeTypeITA"}}}}, "default":{"$ref":"#/responses/error"}}}}, "/AbsenceCountingMethod":{"get":{"operationId":"listAbsenceCountingMethods", "summary":"Get entities from Absence Counting Method", "tags":["Absence Counting Method"], "parameters":[{"$ref":"#/parameters/top"}, {"$ref":"#/parameters/skip"}, {"$ref":"#/parameters/search"}, {"$ref":"#/parameters/filter"}, {"$ref":"#/parameters/count"}, {"name":"$orderby", "in":"query", "description":"Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["base", "base desc", "considerHolidays", "considerHolidays desc", "country", "country desc", "createdBy", "createdBy desc", "createdDate", "createdDate desc", "createdDateTime", "createdDateTime desc", "deductionFactor", "deductionFactor desc", "entityUUID", "entityUUID desc", "externalCode", "externalCode desc", "externalName_ar_SA", "externalName_ar_SA desc", "externalName_cy_GB", "externalName_cy_GB desc", "externalName_de_DE", "externalName_de_DE desc", "externalName_defaultValue", "externalName_defaultValue desc", "externalName_en_DEBUG", "externalName_en_DEBUG desc", "externalName_en_DEBUG_APOS", "externalName_en_DEBUG_APOS desc", "externalName_en_DEBUG_APOS_RTL", "externalName_en_DEBUG_APOS_RTL desc", "externalName_en_GB", "externalName_en_GB desc", "externalName_en_RTL", "externalName_en_RTL desc", "externalName_en_US", "externalName_en_US desc", "externalName_es_ES", "externalName_es_ES desc", "externalName_es_MX", "externalName_es_MX desc", "externalName_fr_CA", "externalName_fr_CA desc", "externalName_fr_FR", "externalName_fr_FR desc", "externalName_hi_IN", "externalName_hi_IN desc", "externalName_iw_IL", "externalName_iw_IL desc", "externalName_ja_JP", "externalName_ja_JP desc", "externalName_ko_KR", "externalName_ko_KR desc", "externalName_localized", "externalName_localized desc", "externalName_nl_NL", "externalName_nl_NL desc", "externalName_pt_BR", "externalName_pt_BR desc", "externalName_th_TH", "externalName_th_TH desc", "externalName_zh_CN", "externalName_zh_CN desc", "friday", "friday desc", "lastModifiedBy", "lastModifiedBy desc", "lastModifiedDate", "lastModifiedDate desc", "lastModifiedDateTime", "lastModifiedDateTime desc", "lastModifiedDateWithTZ", "lastModifiedDateWithTZ desc", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveEndDate desc", "mdfSystemEffectiveStartDate", "mdfSystemEffectiveStartDate desc", "mdfSystemEntityId", "mdfSystemEntityId desc", "mdfSystemObjectType", "mdfSystemObjectType desc", "mdfSystemRecordId", "mdfSystemRecordId desc", "mdfSystemRecordStatus", "mdfSystemRecordStatus desc", "mdfSystemStatus", "mdfSystemStatus desc", "mdfSystemTransactionSequence", "mdfSystemTransactionSequence desc", "mdfSystemVersionId", "mdfSystemVersionId desc", "monday", "monday desc", "saturday", "saturday desc", "sunday", "sunday desc", "thursday", "thursday desc", "tuesday", "tuesday desc", "wednesday", "wednesday desc"]}}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["base", "considerHolidays", "country", "createdBy", "createdDate", "createdDateTime", "deductionFactor", "entityUUID", "externalCode", "externalName_ar_SA", "externalName_cy_GB", "externalName_de_DE", "externalName_defaultValue", "externalName_en_DEBUG", "externalName_en_DEBUG_APOS", "externalName_en_DEBUG_APOS_RTL", "externalName_en_GB", "externalName_en_RTL", "externalName_en_US", "externalName_es_ES", "externalName_es_MX", "externalName_fr_CA", "externalName_fr_FR", "externalName_hi_IN", "externalName_iw_IL", "externalName_ja_JP", "externalName_ko_KR", "externalName_localized", "externalName_nl_NL", "externalName_pt_BR", "externalName_th_TH", "externalName_zh_CN", "friday", "lastModifiedBy", "lastModifiedDate", "lastModifiedDateTime", "lastModifiedDateWithTZ", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveStartDate", "mdfSystemEntityId", "mdfSystemObjectType", "mdfSystemRecordId", "mdfSystemRecordStatus", "mdfSystemStatus", "mdfSystemTransactionSequence", "mdfSystemVersionId", "monday", "saturday", "sunday", "thursday", "tuesday", "wednesday"]}}], "responses":{"200":{"description":"Retrieved entities", "schema":{"type":"object", "title":"Wrapper", "properties":{"d":{"type":"object", "title":"Collection of Absence Counting Method", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.AbsenceCountingMethod"}}}}}}}, "default":{"$ref":"#/responses/error"}}}}, "/AbsenceCountingMethod('{externalCode}')":{"get":{"operationId":"getAbsenceCountingMethod", "summary":"Get entity from AbsenceCountingMethod by key", "tags":["Absence Counting Method"], "parameters":[{"name":"externalCode", "in":"path", "required":true, "description":"key: externalCode", "type":"string"}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["base", "considerHolidays", "country", "createdBy", "createdDate", "createdDateTime", "deductionFactor", "entityUUID", "externalCode", "externalName_ar_SA", "externalName_cy_GB", "externalName_de_DE", "externalName_defaultValue", "externalName_en_DEBUG", "externalName_en_DEBUG_APOS", "externalName_en_DEBUG_APOS_RTL", "externalName_en_GB", "externalName_en_RTL", "externalName_en_US", "externalName_es_ES", "externalName_es_MX", "externalName_fr_CA", "externalName_fr_FR", "externalName_hi_IN", "externalName_iw_IL", "externalName_ja_JP", "externalName_ko_KR", "externalName_localized", "externalName_nl_NL", "externalName_pt_BR", "externalName_th_TH", "externalName_zh_CN", "friday", "lastModifiedBy", "lastModifiedDate", "lastModifiedDateTime", "lastModifiedDateWithTZ", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveStartDate", "mdfSystemEntityId", "mdfSystemObjectType", "mdfSystemRecordId", "mdfSystemRecordStatus", "mdfSystemStatus", "mdfSystemTransactionSequence", "mdfSystemVersionId", "monday", "saturday", "sunday", "thursday", "tuesday", "wednesday"]}}], "responses":{"200":{"description":"Retrieved entity", "schema":{"title":"Absence Counting Method", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.AbsenceCountingMethod"}}}}, "default":{"$ref":"#/responses/error"}}}}, "/ShiftClassification":{"get":{"operationId":"listShiftClassifications", "summary":"Get entities from Shift Classification", "tags":["Shift Classification"], "parameters":[{"$ref":"#/parameters/top"}, {"$ref":"#/parameters/skip"}, {"$ref":"#/parameters/search"}, {"$ref":"#/parameters/filter"}, {"$ref":"#/parameters/count"}, {"name":"$orderby", "in":"query", "description":"Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["country", "country desc", "createdBy", "createdBy desc", "createdDate", "createdDate desc", "createdDateTime", "createdDateTime desc", "entityUUID", "entityUUID desc", "externalCode", "externalCode desc", "externalName_ar_SA", "externalName_ar_SA desc", "externalName_cy_GB", "externalName_cy_GB desc", "externalName_de_DE", "externalName_de_DE desc", "externalName_defaultValue", "externalName_defaultValue desc", "externalName_en_DEBUG", "externalName_en_DEBUG desc", "externalName_en_DEBUG_APOS", "externalName_en_DEBUG_APOS desc", "externalName_en_DEBUG_APOS_RTL", "externalName_en_DEBUG_APOS_RTL desc", "externalName_en_GB", "externalName_en_GB desc", "externalName_en_RTL", "externalName_en_RTL desc", "externalName_en_US", "externalName_en_US desc", "externalName_es_ES", "externalName_es_ES desc", "externalName_es_MX", "externalName_es_MX desc", "externalName_fr_CA", "externalName_fr_CA desc", "externalName_fr_FR", "externalName_fr_FR desc", "externalName_hi_IN", "externalName_hi_IN desc", "externalName_iw_IL", "externalName_iw_IL desc", "externalName_ja_JP", "externalName_ja_JP desc", "externalName_ko_KR", "externalName_ko_KR desc", "externalName_localized", "externalName_localized desc", "externalName_nl_NL", "externalName_nl_NL desc", "externalName_pt_BR", "externalName_pt_BR desc", "externalName_th_TH", "externalName_th_TH desc", "externalName_zh_CN", "externalName_zh_CN desc", "lastModifiedBy", "lastModifiedBy desc", "lastModifiedDate", "lastModifiedDate desc", "lastModifiedDateTime", "lastModifiedDateTime desc", "lastModifiedDateWithTZ", "lastModifiedDateWithTZ desc", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveEndDate desc", "mdfSystemEffectiveStartDate", "mdfSystemEffectiveStartDate desc", "mdfSystemEntityId", "mdfSystemEntityId desc", "mdfSystemObjectType", "mdfSystemObjectType desc", "mdfSystemRecordId", "mdfSystemRecordId desc", "mdfSystemRecordStatus", "mdfSystemRecordStatus desc", "mdfSystemStatus", "mdfSystemStatus desc", "mdfSystemTransactionSequence", "mdfSystemTransactionSequence desc", "mdfSystemVersionId", "mdfSystemVersionId desc"]}}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["country", "createdBy", "createdDate", "createdDateTime", "entityUUID", "externalCode", "externalName_ar_SA", "externalName_cy_GB", "externalName_de_DE", "externalName_defaultValue", "externalName_en_DEBUG", "externalName_en_DEBUG_APOS", "externalName_en_DEBUG_APOS_RTL", "externalName_en_GB", "externalName_en_RTL", "externalName_en_US", "externalName_es_ES", "externalName_es_MX", "externalName_fr_CA", "externalName_fr_FR", "externalName_hi_IN", "externalName_iw_IL", "externalName_ja_JP", "externalName_ko_KR", "externalName_localized", "externalName_nl_NL", "externalName_pt_BR", "externalName_th_TH", "externalName_zh_CN", "lastModifiedBy", "lastModifiedDate", "lastModifiedDateTime", "lastModifiedDateWithTZ", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveStartDate", "mdfSystemEntityId", "mdfSystemObjectType", "mdfSystemRecordId", "mdfSystemRecordStatus", "mdfSystemStatus", "mdfSystemTransactionSequence", "mdfSystemVersionId"]}}], "responses":{"200":{"description":"Retrieved entities", "schema":{"type":"object", "title":"Wrapper", "properties":{"d":{"type":"object", "title":"Collection of Shift Classification", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.ShiftClassification"}}}}}}}, "default":{"$ref":"#/responses/error"}}}}, "/ShiftClassification('{externalCode}')":{"get":{"operationId":"getShiftClassification", "summary":"Get entity from Shift Classification by key", "tags":["Shift Classification"], "parameters":[{"name":"externalCode", "in":"path", "required":true, "description":"key: externalCode", "type":"string"}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["country", "createdBy", "createdDate", "createdDateTime", "entityUUID", "externalCode", "externalName_ar_SA", "externalName_cy_GB", "externalName_de_DE", "externalName_defaultValue", "externalName_en_DEBUG", "externalName_en_DEBUG_APOS", "externalName_en_DEBUG_APOS_RTL", "externalName_en_GB", "externalName_en_RTL", "externalName_en_US", "externalName_es_ES", "externalName_es_MX", "externalName_fr_CA", "externalName_fr_FR", "externalName_hi_IN", "externalName_iw_IL", "externalName_ja_JP", "externalName_ko_KR", "externalName_localized", "externalName_nl_NL", "externalName_pt_BR", "externalName_th_TH", "externalName_zh_CN", "lastModifiedBy", "lastModifiedDate", "lastModifiedDateTime", "lastModifiedDateWithTZ", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveStartDate", "mdfSystemEntityId", "mdfSystemObjectType", "mdfSystemRecordId", "mdfSystemRecordStatus", "mdfSystemStatus", "mdfSystemTransactionSequence", "mdfSystemVersionId"]}}], "responses":{"200":{"description":"Retrieved entity", "schema":{"title":"Shift Classification", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.ShiftClassification"}}}}, "default":{"$ref":"#/responses/error"}}}}, "/WorkScheduleDay":{"get":{"operationId":"listWorkScheduleDays", "summary":"Get entities from Work Schedule Day", "tags":["Work Schedule Day"], "parameters":[{"$ref":"#/parameters/top"}, {"$ref":"#/parameters/skip"}, {"$ref":"#/parameters/search"}, {"$ref":"#/parameters/filter"}, {"$ref":"#/parameters/count"}, {"name":"$orderby", "in":"query", "description":"Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["WorkSchedule_externalCode", "WorkSchedule_externalCode desc", "createdBy", "createdBy desc", "createdDate", "createdDate desc", "createdDateTime", "createdDateTime desc", "cust_testdata", "cust_testdata desc", "day", "day desc", "entityUUID", "entityUUID desc", "hoursAndMinutes", "hoursAndMinutes desc", "lastModifiedBy", "lastModifiedBy desc", "lastModifiedDate", "lastModifiedDate desc", "lastModifiedDateTime", "lastModifiedDateTime desc", "lastModifiedDateWithTZ", "lastModifiedDateWithTZ desc", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveEndDate desc", "mdfSystemEffectiveStartDate", "mdfSystemEffectiveStartDate desc", "mdfSystemEntityId", "mdfSystemEntityId desc", "mdfSystemObjectType", "mdfSystemObjectType desc", "mdfSystemRecordId", "mdfSystemRecordId desc", "mdfSystemRecordStatus", "mdfSystemRecordStatus desc", "mdfSystemStatus", "mdfSystemStatus desc", "mdfSystemTransactionSequence", "mdfSystemTransactionSequence desc", "mdfSystemVersionId", "mdfSystemVersionId desc", "workingHours", "workingHours desc"]}}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["WorkSchedule_externalCode", "createdBy", "createdDate", "createdDateTime", "cust_testdata", "day", "entityUUID", "hoursAndMinutes", "lastModifiedBy", "lastModifiedDate", "lastModifiedDateTime", "lastModifiedDateWithTZ", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveStartDate", "mdfSystemEntityId", "mdfSystemObjectType", "mdfSystemRecordId", "mdfSystemRecordStatus", "mdfSystemStatus", "mdfSystemTransactionSequence", "mdfSystemVersionId", "workingHours"]}}], "responses":{"200":{"description":"Retrieved entities", "schema":{"type":"object", "title":"Wrapper", "properties":{"d":{"type":"object", "title":"Collection of Work Schedule Day", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.WorkScheduleDay"}}}}}}}, "default":{"$ref":"#/responses/error"}}}, "post":{"operationId":"createWorkScheduleDay", "summary":"Add new entity to Work Schedule Day", "tags":["Work Schedule Day"], "parameters":[{"name":"Work Schedule Day", "in":"body", "description":"New entity", "schema":{"$ref":"#/definitions/SFOData.WorkScheduleDay"}}], "responses":{"201":{"description":"Created entity", "schema":{"title":"Created Work Schedule Day", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.WorkScheduleDay"}}}}, "500":{"description":"Internal Server Error"}, "default":{"$ref":"#/responses/error"}}}}, "/WorkScheduleDay(WorkSchedule_externalCode='{WorkSchedule_externalCode}',day={day})":{"get":{"operationId":"getWorkScheduleDay", "summary":"Get entity from Work Schedule Day by key", "tags":["Work Schedule Day"], "parameters":[{"name":"WorkSchedule_externalCode", "in":"path", "required":true, "description":"key: WorkSchedule_externalCode", "type":"string"}, {"name":"day", "in":"path", "required":true, "description":"key: day", "type":"integer", "format":"int64"}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["WorkSchedule_externalCode", "createdBy", "createdDate", "createdDateTime", "cust_testdata", "day", "entityUUID", "hoursAndMinutes", "lastModifiedBy", "lastModifiedDate", "lastModifiedDateTime", "lastModifiedDateWithTZ", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveStartDate", "mdfSystemEntityId", "mdfSystemObjectType", "mdfSystemRecordId", "mdfSystemRecordStatus", "mdfSystemStatus", "mdfSystemTransactionSequence", "mdfSystemVersionId", "workingHours"]}}], "responses":{"200":{"description":"Retrieved entity", "schema":{"title":"Work Schedule Day", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.WorkScheduleDay"}}}}, "default":{"$ref":"#/responses/error"}}}, "put":{"operationId":"updateWorkScheduleDay", "summary":"Update entity in Work Schedule Day", "tags":["Work Schedule Day"], "parameters":[{"name":"WorkSchedule_externalCode", "in":"path", "required":true, "description":"key: WorkSchedule_externalCode", "type":"string"}, {"name":"day", "in":"path", "required":true, "description":"key: day", "type":"integer", "format":"int64"}, {"name":"Work Schedule Day", "in":"body", "description":"New property values", "schema":{"title":"Modified Work Schedule Day", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.WorkScheduleDay"}}}}], "responses":{"204":{"description":"Success"}, "500":{"description":"Internal Server Error"}, "default":{"$ref":"#/responses/error"}}}, "delete":{"operationId":"deleteWorkScheduleDay", "summary":"Delete entity from Work Schedule Day", "tags":["Work Schedule Day"], "parameters":[{"name":"WorkSchedule_externalCode", "in":"path", "required":true, "description":"key: WorkSchedule_externalCode", "type":"string"}, {"name":"day", "in":"path", "required":true, "description":"key: day", "type":"integer", "format":"int64"}, {"name":"If-Match", "in":"header", "description":"ETag", "type":"string"}], "responses":{"204":{"description":"Success"}, "default":{"$ref":"#/responses/error"}}}}, "/HolidayCalendar":{"get":{"operationId":"listHolidayCalendars", "summary":"Get entities from Holiday Calendar", "tags":["Holiday Calendar"], "parameters":[{"$ref":"#/parameters/top"}, {"$ref":"#/parameters/skip"}, {"$ref":"#/parameters/search"}, {"$ref":"#/parameters/filter"}, {"$ref":"#/parameters/count"}, {"name":"$orderby", "in":"query", "description":"Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["country", "country desc", "createdBy", "createdBy desc", "createdDate", "createdDate desc", "createdDateTime", "createdDateTime desc", "entityUUID", "entityUUID desc", "externalCode", "externalCode desc", "lastModifiedBy", "lastModifiedBy desc", "lastModifiedDate", "lastModifiedDate desc", "lastModifiedDateTime", "lastModifiedDateTime desc", "lastModifiedDateWithTZ", "lastModifiedDateWithTZ desc", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveEndDate desc", "mdfSystemEffectiveStartDate", "mdfSystemEffectiveStartDate desc", "mdfSystemEntityId", "mdfSystemEntityId desc", "mdfSystemObjectType", "mdfSystemObjectType desc", "mdfSystemRecordId", "mdfSystemRecordId desc", "mdfSystemRecordStatus", "mdfSystemRecordStatus desc", "mdfSystemStatus", "mdfSystemStatus desc", "mdfSystemTransactionSequence", "mdfSystemTransactionSequence desc", "mdfSystemVersionId", "mdfSystemVersionId desc", "name_ar_SA", "name_ar_SA desc", "name_cy_GB", "name_cy_GB desc", "name_de_DE", "name_de_DE desc", "name_defaultValue", "name_defaultValue desc", "name_en_DEBUG", "name_en_DEBUG desc", "name_en_DEBUG_APOS", "name_en_DEBUG_APOS desc", "name_en_DEBUG_APOS_RTL", "name_en_DEBUG_APOS_RTL desc", "name_en_GB", "name_en_GB desc", "name_en_RTL", "name_en_RTL desc", "name_en_US", "name_en_US desc", "name_es_ES", "name_es_ES desc", "name_es_MX", "name_es_MX desc", "name_fr_CA", "name_fr_CA desc", "name_fr_FR", "name_fr_FR desc", "name_hi_IN", "name_hi_IN desc", "name_iw_IL", "name_iw_IL desc", "name_ja_JP", "name_ja_JP desc", "name_ko_KR", "name_ko_KR desc", "name_localized", "name_localized desc", "name_nl_NL", "name_nl_NL desc", "name_pt_BR", "name_pt_BR desc", "name_th_TH", "name_th_TH desc", "name_zh_CN", "name_zh_CN desc", "oldName", "oldName desc"]}}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["country", "createdBy", "createdDate", "createdDateTime", "entityUUID", "externalCode", "lastModifiedBy", "lastModifiedDate", "lastModifiedDateTime", "lastModifiedDateWithTZ", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveStartDate", "mdfSystemEntityId", "mdfSystemObjectType", "mdfSystemRecordId", "mdfSystemRecordStatus", "mdfSystemStatus", "mdfSystemTransactionSequence", "mdfSystemVersionId", "name_ar_SA", "name_cy_GB", "name_de_DE", "name_defaultValue", "name_en_DEBUG", "name_en_DEBUG_APOS", "name_en_DEBUG_APOS_RTL", "name_en_GB", "name_en_RTL", "name_en_US", "name_es_ES", "name_es_MX", "name_fr_CA", "name_fr_FR", "name_hi_IN", "name_iw_IL", "name_ja_JP", "name_ko_KR", "name_localized", "name_nl_NL", "name_pt_BR", "name_th_TH", "name_zh_CN", "oldName"]}}, {"name":"$expand", "in":"query", "description":"Expand related entities, see [OData Expand](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["*", "holidayAssignments"]}}], "responses":{"200":{"description":"Retrieved entities", "schema":{"type":"object", "title":"Wrapper", "properties":{"d":{"type":"object", "title":"Collection of Holiday Calendar", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.HolidayCalendar"}}}}}}}, "default":{"$ref":"#/responses/error"}}}}, "/HolidayCalendar('{externalCode}')":{"get":{"operationId":"getHolidayCalendar", "summary":"Get entity from HolidayCalendar by key", "tags":["Holiday Calendar"], "parameters":[{"name":"externalCode", "in":"path", "required":true, "description":"key: externalCode", "type":"string"}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["country", "createdBy", "createdDate", "createdDateTime", "entityUUID", "externalCode", "lastModifiedBy", "lastModifiedDate", "lastModifiedDateTime", "lastModifiedDateWithTZ", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveStartDate", "mdfSystemEntityId", "mdfSystemObjectType", "mdfSystemRecordId", "mdfSystemRecordStatus", "mdfSystemStatus", "mdfSystemTransactionSequence", "mdfSystemVersionId", "name_ar_SA", "name_cy_GB", "name_de_DE", "name_defaultValue", "name_en_DEBUG", "name_en_DEBUG_APOS", "name_en_DEBUG_APOS_RTL", "name_en_GB", "name_en_RTL", "name_en_US", "name_es_ES", "name_es_MX", "name_fr_CA", "name_fr_FR", "name_hi_IN", "name_iw_IL", "name_ja_JP", "name_ko_KR", "name_localized", "name_nl_NL", "name_pt_BR", "name_th_TH", "name_zh_CN", "oldName"]}}, {"name":"$expand", "in":"query", "description":"Expand related entities, see [OData Expand](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["*", "holidayAssignments"]}}], "responses":{"200":{"description":"Retrieved entity", "schema":{"title":"Holiday Calendar", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.HolidayCalendar"}}}}, "default":{"$ref":"#/responses/error"}}}}, "/TimeManagementTerminationEndHandlingExcludedTimeAccountType":{"get":{"operationId":"listTimeManagementTerminationEndHandlingExcludedTimeAccountTypes", "summary":"Get entities from Time Management Termination End Handling Excluded Time Account Type", "tags":["Time Management Termination End Handling Excluded Time Account Type"], "parameters":[{"$ref":"#/parameters/top"}, {"$ref":"#/parameters/skip"}, {"$ref":"#/parameters/search"}, {"$ref":"#/parameters/filter"}, {"$ref":"#/parameters/count"}, {"name":"$orderby", "in":"query", "description":"Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["TimeManagementTerminationEndHandlingExclusion_externalCode", "TimeManagementTerminationEndHandlingExclusion_externalCode desc", "createdBy", "createdBy desc", "createdDateTime", "createdDateTime desc", "entityUUID", "entityUUID desc", "externalCode", "externalCode desc", "lastModifiedBy", "lastModifiedBy desc", "lastModifiedDateTime", "lastModifiedDateTime desc", "mdfSystemRecordStatus", "mdfSystemRecordStatus desc", "timeAccountType", "timeAccountType desc"]}}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["TimeManagementTerminationEndHandlingExclusion_externalCode", "createdBy", "createdDateTime", "entityUUID", "externalCode", "lastModifiedBy", "lastModifiedDateTime", "mdfSystemRecordStatus", "timeAccountType"]}}, {"name":"$expand", "in":"query", "description":"Expand related entities, see [OData Expand](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["*", "timeAccountTypeNav"]}}], "responses":{"200":{"description":"Retrieved entities", "schema":{"type":"object", "title":"Wrapper", "properties":{"d":{"type":"object", "title":"Collection of Time Management Termination End Handling Excluded Time Account Type", "properties":{"results":{"type":"array", "items":{"$ref":"#/definitions/SFOData.TimeManagementTerminationEndHandlingExcludedTimeAccountType"}}}}}}}, "default":{"$ref":"#/responses/error"}}}}, "/TimeManagementTerminationEndHandlingExcludedTimeAccountType(TimeManagementTerminationEndHandlingExclusion_externalCode='{TimeManagementTerminationEndHandlingExclusion_externalCode}',externalCode='{externalCode}')":{"get":{"operationId":"getTimeManagementTerminationEndHandlingExcludedTimeAccountType", "summary":"Get entity from Time Management Termination End Handling Excluded Time Account Type by key", "tags":["Time Management Termination End Handling Excluded Time Account Type"], "parameters":[{"name":"TimeManagementTerminationEndHandlingExclusion_externalCode", "in":"path", "required":true, "description":"key: TimeManagementTerminationEndHandlingExclusion_externalCode", "type":"string"}, {"name":"externalCode", "in":"path", "required":true, "description":"key: externalCode", "type":"string"}, {"name":"$select", "in":"query", "description":"Select properties to be returned, see [OData Select](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["TimeManagementTerminationEndHandlingExclusion_externalCode", "createdBy", "createdDateTime", "entityUUID", "externalCode", "lastModifiedBy", "lastModifiedDateTime", "mdfSystemRecordStatus", "timeAccountType"]}}, {"name":"$expand", "in":"query", "description":"Expand related entities, see [OData Expand](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["*", "timeAccountTypeNav"]}}], "responses":{"200":{"description":"Retrieved entity", "schema":{"title":"Time Management Termination End Handling Excluded Time Account Type", "type":"object", "properties":{"d":{"$ref":"#/definitions/SFOData.TimeManagementTerminationEndHandlingExcludedTimeAccountType"}}}}, "default":{"$ref":"#/responses/error"}}}}, "/EmployeeTimeDEU":{"get":{"operationId":"listEmployeeTimeDEUs", "summary":"Get entities from Employee Time (DEU)", "tags":["Employee Time (DEU)"], "parameters":[{"$ref":"#/parameters/top"}, {"$ref":"#/parameters/skip"}, {"$ref":"#/parameters/search"}, {"$ref":"#/parameters/filter"}, {"$ref":"#/parameters/count"}, {"name":"$orderby", "in":"query", "description":"Order items by property values, see [OData Sorting](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)", "type":"array", "uniqueItems":true, "items":{"type":"string", "enum":["EmployeeTime_externalCode", "EmployeeTime_externalCode desc", "continuedPayCreditedDays", "continuedPayCreditedDays desc", "continuedPayEndDate", "continuedPayEndDate desc", "createdBy", "createdBy desc", "createdDate", "createdDate desc", "createdDateTime", "createdDateTime desc", "cust_mandat_test_string", "cust_mandat_test_string desc", "deviationFromSickPayPeriods", "deviationFromSickPayPeriods desc", "electronicSicknessCertificateExclusionReason", "electronicSicknessCertificateExclusionReason desc", "entityUUID", "entityUUID desc", "externalCode", "externalCode desc", "identicalSicknessGroup", "identicalSicknessGroup desc", "lastModifiedBy", "lastModifiedBy desc", "lastModifiedDate", "lastModifiedDate desc", "lastModifiedDateTime", "lastModifiedDateTime desc", "lastModifiedDateWithTZ", "lastModifiedDateWithTZ desc", "mdfSystemEffectiveEndDate", "mdfSystemEffectiveEndDate desc", "mdfSystemEffectiveStartDate", "mdfSystemEffectiveStartDate desc", "mdfSystemObjectType", "mdfSystemObjectType desc", "mdfSystemRecordId", "mdfSystemRecordId desc", "mdfSystemRecordStatus", "mdfSystemReco
[...]
