{
    "swagger": "2.0",
    "security": [
        {
            "basicAuthentication": []
        }
    ],
    "securityDefinitions": {
        "basicAuthentication": {
            "type": "basic"
        }
    },
    "x-sap-shortText": "API to access country specific global information of an employee",
    "x-servers": [{
        "url": "https://{api-server}/odata/v2",
        "description": "OData APIs for the SuccessFactors Data Centers",
        "templates": {
          "api-server": {
            "description": "SuccessFactors Data Center host",
            "default": "apisalesdemo8.successfactors.com"
          }
        }
    }],
    "info": {
        "title": "Employee Global Information",
        "version": "1.0",
        "description": "You can use these APIs to access the country specific global information of an employee.\n\n You can find your company's API server in [List of API Servers in SAP SuccessFactors.](https://help.sap.com/viewer/d599f15995d348a1b45ba5603e2aba9b/LATEST/en-US/af2b8d5437494b12be88fe374eba75b6.html)"
    },
    "externalDocs": {
        "description": "Employee Global Information on SAP Help Portal",
        "url": "https://help.sap.com/docs/SAP_SUCCESSFACTORS_PLATFORM/d599f15995d348a1b45ba5603e2aba9b/1ce7f02839014f088145f33f5426d31e.html"
    },
    "schemes": ["https"],
    "host": "sandbox.api.sap.com",
    "basePath": "/successfactors/odata/v2",
    "consumes": ["application/json"],
    "produces": ["application/json"],
    "tags": [{
        "name": "PerGlobalInfoCHN"
    },
    {
        "name": "EducationDegreeContent"
    },
    {
        "name": "CurrencyExchangeRate"
    },
    {
        "name": "NonRecurringPayment"
    },
    {
        "name": "EducationDegreeEntity"
    },
    {
        "name": "ServiceDeskContactSupportInformation"
    },
    {
        "name": "PerGlobalInfoBRA"
    },
    {
        "name": "PerGlobalInfoGBR"
    },
    {
        "name": "PerGlobalInfoAUS"
    },
    {
        "name": "EducationMajorEntity"
    },
    {
        "name": "PerGlobalInfoCAN"
    },
    {
        "name": "PerGlobalInfoUSA"
    },
    {
        "name": "ServiceDeskCountrySupportInformation"
    },
    {
        "name": "EducationMajorContent"
    },
    {
        "name": "PerGlobalInfoARE"
    },
    {
        "name": "PerGlobalInfoFRA"
    },
    {
        "name": "PerGlobalInfoDEU"
    },
    {
        "name": "PerGlobalInfoDNK"
    },
    {
        "name": "PerGlobalInfoCHE"
    },
    {
        "name": "PerGlobalInfoESP"
    },
    {
        "name": "PerGlobalInfoFIN"
    },
    {
        "name": "PerGlobalInfoITA"
    },
    {
        "name": "PerGlobalInfoPRT"
    },
    {
        "name": "PerGlobalInfoQAT"
    },
    {
        "name": "PerGlobalInfoSAU"
    },
    {
        "name": "PerGlobalInfoNLD"
    },
    {
        "name": "PerGlobalInfoZAF"
    }],
    "definitions": {
        "odata.error": {
            "type": "object",
            "required": ["error"],
            "properties": {
                "error": {
                    "$ref": "#/definitions/odata.error.main"
                }
            }
        },
        "odata.error.main": {
            "type": "object",
            "required": ["code",
            "message"],
            "properties": {
                "code": {
                    "type": "string"
                },
                "message": {
                    "type": "string"
                },
                "target": {
                    "type": "string"
                },
                "details": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/odata.error.detail"
                    }
                },
                "innererror": {
                    "type": "object",
                    "description": "The structure of this object is service-specific"
                }
            }
        },
        "odata.error.detail": {
            "type": "object",
            "required": ["code",
            "message"],
            "properties": {
                "code": {
                    "type": "string"
                },
                "message": {
                    "type": "string"
                },
                "target": {
                    "type": "string"
                }
            }
        },
        "SFOData.PerGlobalInfoARE": {
      "properties": {
        "country": {
          "type": "string"
        },
        "createdBy": {
          "maxLength": 100,
          "type": [
            "string",
            "null"
          ]
        },
        "createdDateTime": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "createdOn": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "endDate": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate1": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate10": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate2": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate3": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate4": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate5": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate6": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate7": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber1": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber10": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber11": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber12": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber13": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber14": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber15": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber16": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber2": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber3": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber4": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber5": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber6": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber7": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber8": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber9": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericString1": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString10": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString11": {
          "maxLength": 15,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString12": {
          "maxLength": 30,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString13": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString14": {
          "maxLength": 40,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString15": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString16": {
          "maxLength": 60,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString17": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString18": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString19": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString2": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString20": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString21": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString22": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString3": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString4": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString5": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString6": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString7": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString8": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString9": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "lastModifiedBy": {
          "maxLength": 100,
          "type": [
            "string",
            "null"
          ]
        },
        "lastModifiedDateTime": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "lastModifiedOn": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "operation": {
          "type": [
            "string",
            "null"
          ]
        },
        "personIdExternal": {
          "maxLength": 100,
          "type": "string"
        },
        "startDate": {
          "example": "/Date(1492098664000)/",
          "type": "string"
        }
      },
      "title": "PerGlobalInfoARE",
      "type": "object"
    },
    "SFOData.PerGlobalInfoCHE": {
      "properties": {
        "country": {
          "type": "string"
        },
        "createdBy": {
          "maxLength": 100,
          "type": [
            "string",
            "null"
          ]
        },
        "createdDateTime": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "createdOn": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "endDate": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate1": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate10": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate2": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate3": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate4": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate5": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate6": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate7": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber1": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber10": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber11": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber12": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber13": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber14": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber15": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber16": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber2": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber3": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber4": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber5": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber6": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber7": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber8": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber9": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericString1": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString10": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString11": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString12": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString13": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString14": {
          "maxLength": 40,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString15": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString16": {
          "maxLength": 60,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString17": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString18": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString19": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString2": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString20": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString21": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString22": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString3": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString4": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString5": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString6": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString7": {
          "maxLength": 15,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString8": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString9": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "lastModifiedBy": {
          "maxLength": 100,
          "type": [
            "string",
            "null"
          ]
        },
        "lastModifiedDateTime": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "lastModifiedOn": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "operation": {
          "type": [
            "string",
            "null"
          ]
        },
        "personIdExternal": {
          "maxLength": 100,
          "type": "string"
        },
        "startDate": {
          "example": "/Date(1492098664000)/",
          "type": "string"
        }
      },
      "title": "PerGlobalInfoCHE",
      "type": "object"
    },
    "SFOData.PerGlobalInfoCHN": {
      "properties": {
        "country": {
          "type": "string"
        },
        "createdBy": {
          "maxLength": 100,
          "type": [
            "string",
            "null"
          ]
        },
        "createdDateTime": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "createdOn": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "endDate": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate1": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate10": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate2": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate3": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate4": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate5": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate6": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate7": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber1": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber10": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber11": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber12": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber13": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber14": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber15": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber16": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber2": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber3": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber4": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber5": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber6": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber7": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber8": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber9": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericString1": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString10": {
          "maxLength": 15,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString11": {
          "maxLength": 15,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString12": {
          "maxLength": 30,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString13": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString14": {
          "maxLength": 40,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString15": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString16": {
          "maxLength": 60,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString17": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString18": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString19": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString2": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString20": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString21": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString22": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString3": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString4": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString5": {
          "maxLength": 8,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString6": {
          "maxLength": 2,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString7": {
          "maxLength": 2,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString8": {
          "maxLength": 15,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString9": {
          "maxLength": 15,
          "type": [
            "string",
            "null"
          ]
        },
        "lastModifiedBy": {
          "maxLength": 100,
          "type": [
            "string",
            "null"
          ]
        },
        "lastModifiedDateTime": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "lastModifiedOn": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "operation": {
          "type": [
            "string",
            "null"
          ]
        },
        "personIdExternal": {
          "maxLength": 100,
          "type": "string"
        },
        "startDate": {
          "example": "/Date(1492098664000)/",
          "type": "string"
        }
      },
      "title": "PerGlobalInfoCHN",
      "type": "object"
    },
        "SFOData.EducationDegreeContent": {
            "type": "object",
            "properties": {
                "JobProfile_externalCode": {
                    "type": "string",
                    "maxLength": 128
                },
                "createdBy": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "createdDate": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "createdDateTime": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "effectiveEndDate": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "effectiveStartDate": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "entity": {
                    "type": ["string",
                    "null"],
                    "maxLength": 128
                },
                "externalCode": {
                    "type": "string",
                    "maxLength": 128
                },
                "jobProfileId": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "lastModifiedBy": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "lastModifiedDate": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "lastModifiedDateTime": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "lastModifiedDateWithTZ": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "mdfSystemEntityId": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "mdfSystemObjectType": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "mdfSystemRecordId": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "mdfSystemRecordStatus": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "mdfSystemVersionId": {
                    "type": ["string",
                    "null"],
                    "format": "int64"
                },
                "order": {
                    "type": ["string",
                    "null"],
                    "format": "int64"
                },
                "sectionId": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "sectionType": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "status": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "subModule": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "transactionSequence": {
                    "type": ["string",
                    "null"],
                    "format": "int64"
                },
                "entityNav": {
                    "$ref": "#/definitions/SFOData.EducationDegreeEntity"
                }
            },
            "title": "EducationDegreeContent"
        },
        "SFOData.CurrencyExchangeRate": {
            "type": "object",
            "properties": {
                "createdBy": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "createdDateTime": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "currencyExchangeRateType": {
                    "type": ["string",
                    "null"],
                    "maxLength": 128
                },
                "effectiveEndDate": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "effectiveStartDate": {
                    "type": "string",
                    "example": "/Date(1492098664000)/"
                },
                "effectiveStatus": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "exchangeRate": {
                    "type": ["string",
                    "null"],
                    "format": "decimal",
                    "multipleOf": 1
                },
                "externalCode": {
                    "type": "string",
                    "maxLength": 128
                },
                "externalName_de_DE": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_defaultValue": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_en_GB": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_en_US": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_es_ES": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_fr_FR": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_ja_JP": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_ko_KR": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_localized": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_nl_NL": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_pt_BR": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_pt_PT": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_ru_RU": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_zh_CN": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "externalName_zh_TW": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "lastModifiedBy": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "lastModifiedDate": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "lastModifiedDateTime": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "lastModifiedDateWithTZ": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "mdfSystemCreatedBy": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "mdfSystemCreatedDate": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "mdfSystemEntityId": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "mdfSystemLastModifiedBy": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "mdfSystemObjectType": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "mdfSystemRecordId": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "mdfSystemRecordStatus": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "mdfSystemTransactionSequence": {
                    "type": ["string",
                    "null"],
                    "format": "int64"
                },
                "mdfSystemVersionId": {
                    "type": ["string",
                    "null"],
                    "format": "int64"
                },
                "sourceCurrency": {
                    "type": ["string",
                    "null"],
                    "maxLength": 128
                },
                "targetCurrency": {
                    "type": ["string",
                    "null"],
                    "maxLength": 128
                }
            },
            "title": "CurrencyExchangeRate"
        },
        "SFOData.NonRecurringPayment": {
            "type": "object",
            "properties": {
                "createdBy": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "createdDate": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "createdDateTime": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "currencyCode": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "currencyGO": {
                    "type": ["string",
                    "null"],
                    "maxLength": 128
                },
                "externalCode": {
                    "type": "string",
                    "maxLength": 128
                },
                "formId": {
                    "type": ["string",
                    "null"],
                    "format": "int64"
                },
                "lastModifiedBy": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "lastModifiedDate": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "lastModifiedDateTime": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "lastModifiedDateWithTZ": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "mdfSystemEffectiveEndDate": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "mdfSystemEffectiveStartDate": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "mdfSystemEntityId": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "mdfSystemObjectType": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "mdfSystemRecordId": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "mdfSystemStatus": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "mdfSystemTransactionSequence": {
                    "type": ["string",
                    "null"],
                    "format": "int64"
                },
                "mdfSystemVersionId": {
                    "type": ["string",
                    "null"],
                    "format": "int64"
                },
                "nonRecurringPayPeriodEndDate": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "nonRecurringPayPeriodStartDate": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "notes": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "payCompValue": {
                    "type": ["string",
                    "null"],
                    "format": "decimal",
                    "multipleOf": 1
                },
                "payComponentCode": {
                    "type": ["string",
                    "null"],
                    "maxLength": 32
                },
                "payComponentGroupId": {
                    "type": ["string",
                    "null"],
                    "format": "int64"
                },
                "payComponentType": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "payDate": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "recordStatus": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "sentToPayroll": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "taxTreatment": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "templateId": {
                    "type": ["string",
                    "null"],
                    "format": "int64"
                },
                "userSysId": {
                    "type": ["string",
                    "null"],
                    "maxLength": 100
                }
            },
            "title": "NonRecurringPayment"
        },
        "SFOData.EducationDegreeEntity": {
            "type": "object",
            "properties": {
                "createdBy": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "createdDate": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "createdDateTime": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "degree_de_DE": {
                    "type": ["string",
                    "null"],
                    "maxLength": 256
                },
                "degree_defaultValue": {
                    "type": ["string",
                    "null"],
                    "maxLength": 256
                },
                "degree_en_GB": {
                    "type": ["string",
                    "null"],
                    "maxLength": 256
                },
                "degree_en_US": {
                    "type": ["string",
                    "null"],
                    "maxLength": 256
                },
                "degree_es_ES": {
                    "type": ["string",
                    "null"],
                    "maxLength": 256
                },
                "degree_fr_FR": {
                    "type": ["string",
                    "null"],
                    "maxLength": 256
                },
                "degree_ja_JP": {
                    "type": ["string",
                    "null"],
                    "maxLength": 256
                },
                "degree_ko_KR": {
                    "type": ["string",
                    "null"],
                    "maxLength": 256
                },
                "degree_localized": {
                    "type": ["string",
                    "null"],
                    "maxLength": 256
                },
                "degree_nl_NL": {
                    "type": ["string",
                    "null"],
                    "maxLength": 256
                },
                "degree_pt_BR": {
                    "type": ["string",
                    "null"],
                    "maxLength": 256
                },
                "degree_pt_PT": {
                    "type": ["string",
                    "null"],
                    "maxLength": 256
                },
                "degree_ru_RU": {
                    "type": ["string",
                    "null"],
                    "maxLength": 256
                },
                "degree_zh_CN": {
                    "type": ["string",
                    "null"],
                    "maxLength": 256
                },
                "degree_zh_TW": {
                    "type": ["string",
                    "null"],
                    "maxLength": 256
                },
                "effectiveEndDate": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "effectiveStartDate": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "externalCode": {
                    "type": "string",
                    "maxLength": 128
                },
                "lastModifiedBy": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "lastModifiedDate": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "lastModifiedDateTime": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "lastModifiedDateWithTZ": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "mdfSystemEntityId": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "mdfSystemObjectType": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "mdfSystemRecordId": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "mdfSystemRecordStatus": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "mdfSystemVersionId": {
                    "type": ["string",
                    "null"],
                    "format": "int64"
                },
                "status": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "subModule": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "transactionSequence": {
                    "type": ["string",
                    "null"],
                    "format": "int64"
                }
            },
            "title": "EducationDegreeEntity"
        },
        "SFOData.ServiceDeskContactSupportInformation": {
            "type": "object",
            "properties": {
                "centralSupportMail": {
                    "type": ["string",
                    "null"],
                    "maxLength": 128
                },
                "createdBy": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "createdDateTime": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "externalCode": {
                    "type": "string",
                    "format": "int64"
                },
                "lastModifiedBy": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "lastModifiedDateTime": {
                    "type": ["string",
                    "null"],
                    "example": "/Date(1492098664000)/"
                },
                "mdfSystemRecordStatus": {
                    "type": ["string",
                    "null"],
                    "maxLength": 255
                },
                "serviceDeskCountrySupportInformation": {
                    "title": "Related Collection(SFOData.ServiceDeskCountrySupportInformation)",
                    "type": "object",
                    "properties": {
                        "results": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SFOData.ServiceDeskCountrySupportInformation"
                            }
                        }
                    }
                }
            },
            "title": "ServiceDeskContactSupportInformation"
        },
         "SFOData.PerGlobalInfoGBR": {
      "properties": {
        "country": {
          "type": "string"
        },
        "createdBy": {
          "maxLength": 100,
          "type": [
            "string",
            "null"
          ]
        },
        "createdDateTime": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "createdOn": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "endDate": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate1": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate10": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate2": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate3": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate4": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate5": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate6": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate7": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber1": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber10": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber11": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber12": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber13": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber14": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber15": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber16": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber2": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber3": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber4": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber5": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber6": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber7": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber8": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber9": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericString1": {
          "maxLength": 60,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString10": {
          "maxLength": 15,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString11": {
          "maxLength": 15,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString12": {
          "maxLength": 30,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString13": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString14": {
          "maxLength": 40,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString15": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString16": {
          "maxLength": 60,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString17": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString18": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString19": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString2": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString20": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString21": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString22": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString3": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString4": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString5": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString6": {
          "maxLength": 15,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString7": {
          "maxLength": 15,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString8": {
          "maxLength": 15,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString9": {
          "maxLength": 15,
          "type": [
            "string",
            "null"
          ]
        },
        "lastModifiedBy": {
          "maxLength": 100,
          "type": [
            "string",
            "null"
          ]
        },
        "lastModifiedDateTime": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "lastModifiedOn": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "operation": {
          "type": [
            "string",
            "null"
          ]
        },
        "personIdExternal": {
          "maxLength": 100,
          "type": "string"
        },
        "startDate": {
          "example": "/Date(1492098664000)/",
          "type": "string"
        }
      },
      "title": "PerGlobalInfoGBR",
      "type": "object"
    },
        "SFOData.PerGlobalInfoITA": {
      "properties": {
        "country": {
          "type": "string"
        },
        "createdBy": {
          "maxLength": 100,
          "type": [
            "string",
            "null"
          ]
        },
        "createdDateTime": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "createdOn": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "endDate": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate1": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate10": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate2": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate3": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate4": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate5": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate6": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate7": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber1": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber10": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber11": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber12": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber13": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber14": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber15": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber16": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber2": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber3": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber4": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber5": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber6": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber7": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber8": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber9": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericString1": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString10": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString11": {
          "maxLength": 15,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString12": {
          "maxLength": 30,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString13": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString14": {
          "maxLength": 40,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString15": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString16": {
          "maxLength": 60,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString17": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString18": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString19": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString2": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString20": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString21": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString22": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString3": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString4": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString5": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString6": {
          "maxLength": 15,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString7": {
          "maxLength": 5,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString8": {
          "maxLength": 5,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString9": {
          "maxLength": 5,
          "type": [
            "string",
            "null"
          ]
        },
        "lastModifiedBy": {
          "maxLength": 100,
          "type": [
            "string",
            "null"
          ]
        },
        "lastModifiedDateTime": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "lastModifiedOn": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "operation": {
          "type": [
            "string",
            "null"
          ]
        },
        "personIdExternal": {
          "maxLength": 100,
          "type": "string"
        },
        "startDate": {
          "example": "/Date(1492098664000)/",
          "type": "string"
        }
      },
      "title": "PerGlobalInfoITA",
      "type": "object"
    },
    "SFOData.PerGlobalInfoNLD": {
      "properties": {
        "country": {
          "type": "string"
        },
        "createdBy": {
          "maxLength": 100,
          "type": [
            "string",
            "null"
          ]
        },
        "createdDateTime": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "createdOn": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "endDate": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate1": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate10": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate2": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate3": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate4": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate5": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate6": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate7": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber1": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber10": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber11": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber12": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber13": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber14": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber15": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber16": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber2": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber3": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber4": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber5": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber6": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber7": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber8": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber9": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericString1": {
          "maxLength": 60,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString10": {
          "maxLength": 15,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString11": {
          "maxLength": 15,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString12": {
          "maxLength": 30,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString13": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString14": {
          "maxLength": 40,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString15": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString16": {
          "maxLength": 60,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString17": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString18": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString19": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString2": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString20": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString21": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString22": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString3": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString4": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString5": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString6": {
          "maxLength": 15,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString7": {
          "maxLength": 15,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString8": {
          "maxLength": 15,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString9": {
          "maxLength": 15,
          "type": [
            "string",
            "null"
          ]
        },
        "lastModifiedBy": {
          "maxLength": 100,
          "type": [
            "string",
            "null"
          ]
        },
        "lastModifiedDateTime": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "lastModifiedOn": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "operation": {
          "type": [
            "string",
            "null"
          ]
        },
        "personIdExternal": {
          "maxLength": 100,
          "type": "string"
        },
        "startDate": {
          "example": "/Date(1492098664000)/",
          "type": "string"
        }
      },
      "title": "PerGlobalInfoNLD",
      "type": "object"
    },
    "SFOData.PerGlobalInfoPRT": {
      "properties": {
        "country": {
          "type": "string"
        },
        "createdBy": {
          "maxLength": 100,
          "type": [
            "string",
            "null"
          ]
        },
        "createdDateTime": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "createdOn": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "endDate": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate1": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate10": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate2": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate3": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate4": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate5": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate6": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate7": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber1": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber10": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber11": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber12": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber13": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber14": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber15": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber16": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber2": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber3": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber4": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber5": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber6": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber7": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber8": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber9": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericString1": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString10": {
          "maxLength": 15,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString11": {
          "maxLength": 15,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString12": {
          "maxLength": 30,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString13": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString14": {
          "maxLength": 40,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString15": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString16": {
          "maxLength": 60,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString17": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString18": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString19": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString2": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString20": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString21": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString22": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString3": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString4": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString5": {
          "maxLength": 9,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString6": {
          "maxLength": 15,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString7": {
          "maxLength": 15,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString8": {
          "maxLength": 15,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString9": {
          "maxLength": 15,
          "type": [
            "string",
            "null"
          ]
        },
        "lastModifiedBy": {
          "maxLength": 100,
          "type": [
            "string",
            "null"
          ]
        },
        "lastModifiedDateTime": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "lastModifiedOn": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "operation": {
          "type": [
            "string",
            "null"
          ]
        },
        "personIdExternal": {
          "maxLength": 100,
          "type": "string"
        },
        "startDate": {
          "example": "/Date(1492098664000)/",
          "type": "string"
        }
      },
      "title": "PerGlobalInfoPRT",
      "type": "object"
    },
    "SFOData.PerGlobalInfoQAT": {
      "properties": {
        "country": {
          "type": "string"
        },
        "createdBy": {
          "maxLength": 100,
          "type": [
            "string",
            "null"
          ]
        },
        "createdDateTime": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "createdOn": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "endDate": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate1": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate10": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate2": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate3": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate4": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate5": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate6": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate7": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber1": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber10": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber11": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber12": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber13": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber14": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber15": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber16": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber2": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber3": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber4": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber5": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber6": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber7": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber8": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber9": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericString1": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString10": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString11": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString12": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString13": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString14": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString15": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString16": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString17": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString18": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString19": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString2": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString20": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString21": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString22": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString3": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString4": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString5": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString6": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString7": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString8": {
          "maxLength": 10,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString9": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "lastModifiedBy": {
          "maxLength": 100,
          "type": [
            "string",
            "null"
          ]
        },
        "lastModifiedDateTime": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "lastModifiedOn": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "operation": {
          "type": [
            "string",
            "null"
          ]
        },
        "personIdExternal": {
          "maxLength": 100,
          "type": "string"
        },
        "startDate": {
          "example": "/Date(1492098664000)/",
          "type": "string"
        }
      },
      "title": "PerGlobalInfoQAT",
      "type": "object"
    },
    "SFOData.PerGlobalInfoSAU": {
      "properties": {
        "country": {
          "type": "string"
        },
        "createdBy": {
          "maxLength": 100,
          "type": [
            "string",
            "null"
          ]
        },
        "createdDateTime": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "createdOn": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "endDate": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate1": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate10": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate2": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate3": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate4": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate5": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate6": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericDate7": {
          "example": "/Date(1492098664000)/",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber1": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber10": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber11": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber12": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber13": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber14": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber15": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber16": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber2": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber3": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber4": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber5": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber6": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber7": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber8": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericNumber9": {
          "format": "int64",
          "type": [
            "string",
            "null"
          ]
        },
        "genericString1": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString10": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString11": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString12": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString13": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString14": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString15": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString16": {
          "maxLength": 60,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString17": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString18": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString19": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString2": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString20": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString21": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString22": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString3": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString4": {
          "maxLength": 256,
          "type": [
            "string",
            "null"
          ]
        },
        "genericString5": {
          "maxLength": 256,
[...]
